﻿
@section scripts {
    @*    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    @Html.Partial("~/Areas/Core/Views/Invoice/Script/_Invoice.cshtml")
    @*<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>*@
}

<div id="InvoiceDetailModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.Partial("~/Areas/Core/Views/Invoice/Form/InvoiceDetail.cshtml")
        </div>
    </div>
</div>
@*<div id="BuktiTransferModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                @Html.Partial("~/Areas/Core/Views/Invoice/Form/BuktiTransferUpload.cshtml")
            </div>
        </div>
    </div>*@
<div id="TaxInvoiceModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div id="ScanInvoiceModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Invoice</span>
        </h1>
    </div>
</div>

<!--<a id="btnTest" class="btn btn-primary">Test Button</a>-->

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="InvoiceGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Business Unit</label>
                            <select id="business-unit" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "business_unit" }'>
                                <option value="Others">Others</option>
                                <option value="Motor Vehicle">Motor Vehicle</option>
                                <option value="Spare Part">Spare Part</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Transaction Type</label>
                            @*<input class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "transaction_type_id" }' />*@

                            @Html.DropDownList("DDLTransactionType", new SelectList(ViewBag.TransactionType, "transaction_type_id", "transaction_name"), new
                       {
                           @class = "select2local form-control select2-multiple",
                           @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"transaction_type_id\" }",
                           multiple = "multiple",
                           @id = "transcation-type"
                       })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>No Invoice</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_number" }' />
                            <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Date Range</label>
                            <div class="row">
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row filter-div" hidden="hidden">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>AR Status</label>
                            @Html.DropDownList("DDLARStatus", new SelectList(ViewBag.ARStatus, "config_value", "config_text"), new
                       {
                           @class = "select2local form-control select2-multiple",
                           @data_filter = "{ \"multiple\": true, \"operator\": \"contains\", \"field\": \"ar_status\" }",
                           multiple = "multiple"
                       })
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Document Status</label>
                            <select id="docstatus" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_tax_attc_available" }'>
                                <option value="1">Completed</option>
                                <option value="0">Not Completed</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Invoice QR Status</label>
                            <select id="inv" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_inv_available" }'>
                                <option value="1">Downloaded</option>
                                <option value="0">Not Downloaded</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Invoice Status</label>
                            <select id="invo" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_inv_scan_available" }'>
                                <option value="1">Downloaded</option>
                                <option value="0">Not Downloaded</option>
                            </select>
                        </div>
                    </div>
                    @if (ViewBag.Customer == null)
                    {
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Customer</label>
                                @Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName,"customer_group_id", "customer_group_name"), new
                           {
                               @class = "select2local form-control select2-multiple",
                               @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"customer_group\" }",
                               multiple = "multiple"
                           })
                            </div>
                        </div>
                    }
                    else
                    {
                        //
                    }
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/Invoice/Component/_InvoiceGrid.cshtml")
        <script>
            $(document).ready(function () {
                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))

                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy'
                    }).on('changeDate', function (date) {
                        var dateFrom = $("#dateFrom");
                        var dateTo = $("#dateTo");

                        if (dateFrom.val() != null && dateTo.val() != null) {

                            dateFrom = dateFrom.data('datepicker').dates.get();
                            dateTo = dateTo.data('datepicker').dates.get();

                            console.log("Date From: " + dateFrom);
                            console.log("Date To: " + dateTo);

                            if (dateFrom > dateTo) {
                                swal('Warning', 'Date To must be higher than Date From.', "error");
                            }
                        }
                    });

                //create AutoComplete UI component
                $("#transtipe").kendoAutoComplete({
                    dataSource: data,
                    dataTextField: "transaction_name",
                    dataValueField: "transaction_type_id",
                    // change: function () {
                    //  var tipe = this.value();
                    // console.log("selected tipe ", tipe);
                    // },
                    filter: "startswith",
                    placeholder: "Transaction Type",
                    //separator: " "
                });

                $("#business-unit").change(function () {
                    var $val = $(this).val();

                    if ($val != null) {
                        if ($val.indexOf('Spare Part') != -1) { // match
                            if ($("#transcation-type").val() == null) {
                                $("#transcation-type").val(2).trigger("change"); // sales sp value = 2
                            }
                        } else {
                            if ($("#transcation-type").val() != null) {
                                removeBussinessSparePart();
                            }
                        }
                    } else {
                        removeBussinessSparePart();
                    }
                });

                $('*[data-role="tagsinput"]').tagsinput({
                    delimiterRegex: ' '
                });
            });

            function removeBussinessSparePart() {
                if ($("#transcation-type").val() != null) {
                    var index = $("#transcation-type").val().indexOf('2'); // sales sp value = 2
                    var arrVal = $("#transcation-type").val();

                    if (index > -1) {
                        arrVal.splice(index, 1);
                        $("#transcation-type").val(arrVal).trigger("change");
                    }
                }
            }
        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>
