﻿@{
    string userType = ViewBag.UserType;
}
@(Html.Kendo().Grid<Tam.Ebilling.Domain.BuktiPotong>()
                    .Name("BuktiPotongGrid")
                    .Columns(columns =>
                    {
                        columns.Template(@<text></text>)
                            .ClientTemplate("<input type='checkbox' name='checkedRecords' #= IsSelected ? checked='checked':'' # class='invoices-number' value='#:invoice_number#' />")
                            .HeaderTemplate("<input id='select-all-invoices' type='checkbox' title='select all' class='checkbox_check'  />").Width(30)
                            .HtmlAttributes(new { style = "text-align:center" })
                            .HeaderHtmlAttributes(new
                                {
                                    style = "text-align:center"
                    });


columns.Bound(o => o.business_unit).Width(120).Title("<div style='text-align: center'>Business Unit</div>");
columns.Bound(o => o.nama_npwp).Width(200).Title("<div style='text-align: center'>Customer Name</div>");
columns.Bound(o => o.no_npwp).Width(200).Title("<div style='text-align: center'>NPWP</div>");
columns.Bound(o => o.invoice_number).Width(130).Title("<div style='text-align: center'>Invoice No</div>");
columns.Template(e => { }).ClientTemplate("<div style='text-align:center;'>#= kendo.toString(invoice_date, 'dd-MM-yyyy')#</div>").Title("<div style='text-align: center'>Invoice <br/> Date</div>").Width(80);
columns.Template(e => { }).ClientTemplate(@"#if(flag_potong_pajak == 'N/A'){#
                   <div style='text-align:center;'>#= kendo.toString('', 'n')#</div>
                    #} else {#
                   <div style='text-align:center;'>#= kendo.toString(flag_potong_pajak, 'n')#</div>
                    #}#") 
                        .Width(110).Title("<div style='text-align: center'>Withholding<br/> Tax Object (Y/N)</div>");

columns.Bound(o => o.wht_prepaid_status).Width(80)
.Template(@<text></text>)
.ClientTemplate("<div style='text-align:center;width:fit-content;margin: auto;'>" +
"<p style='margin:auto;min-width: 10px!important;padding: 5px;background-color:#= kendo.toString(wht_prepaid_status).split('|')[0] #;width:10px;min-height: 10px;' title='#= kendo.toString(wht_prepaid_status).split('|')[1] #'></p>" +
"</div>")
.Title("<div style='text-align: center'>WHT Dealer<br>Submission Status</div>").Width(120);

                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= materai_amount == 0 ? '' : kendo.toString(materai_amount, 'n')#</div>").Width(110).Title("Materai Amount");
                        columns.Template(e => { }).ClientTemplate("<div style='text-align:center;'>#= kendo.toString(tgl_payment, 'dd-MM-yyyy') == kendo.toString('01-01-0001', 'dd-MM-yyyy') ? '' : kendo.toString(tgl_payment, 'dd-MM-yyyy')#</div>").Title("<div style='text-align: center'>Payment <br/> Date</div>").Width(75);

                        columns.Bound(o => o.nomor_bukti_potong).Width(150).Title("Withholding Tax Number");
                        columns.Template(e => { }).ClientTemplate("<div style='text-align:center;'>#= kendo.toString(tanggal_bukti_potong, 'dd-MM-yyyy') == kendo.toString('01-01-0001', 'dd-MM-yyyy') ? '' : kendo.toString(tanggal_bukti_potong, 'dd-MM-yyyy')#</div>").Title("<div style='text-align: center'>Withholding <br/> Tax Date</div>").Width(100);

                        columns.Bound(o => o.masa_pajak).Width(100).Title("<div style='text-align: center'>Tax Period <br/> Month</div>");
                        columns.Template(e => { }).ClientTemplate("<div style='text-align:center;'>#= kendo.toString(tahun_pajak, 'n')#</div>").Width(100).Title("<div style='text-align: center'>Tax Period <br/> Year</div>");
                        //columns.Template(e => { }).ClientTemplate(@"if()").Width(100).Title("<div style='text-align: center'>Tax Period <br/> Year</div>");

                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= jumlah_dpp == 0 ? '' : kendo.toString(jumlah_dpp, 'n') #</div>").Width(100).Title("<div style='text-align: center'>WHT Based <br/> Amount</div>");
                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= tarif == 0 ? '' : kendo.toString(tarif, 'n') # #= tarif == '' ? '' : ' %'  # </div>").Width(100).Title("<div style='text-align: center'>WHT Tarif</div>");
                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= amount_wht == 0 ? '' : kendo.toString(amount_wht, 'n') #</div>").Width(100).Title("<div style='text-align: center'>WHT Amount</div>");
                        //columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(amount_wht, 'n')#</div>").Width(100).Title("WHT Amount");

                        columns.Bound(o => o.jenis_pajak).Width(100).Title("<div style='text-align: center'>Tax Transaction <br/> Code</div>");
                        columns.Bound(o => o.description).Width(300).Title("<div style='text-align: center'>Description of Transaction</div>");


                        columns.Template(e => { }).ClientTemplate(@"#if(wht_pdf_status == '1'){#
                    <div style='text-align:center;' data-toggle='#=kendo#' title='Exist'/>
                    <img src='../../Content/img/icon-pdf_resize.png'></img></div>
                    #} else {#
                    <div style='text-align:center;' data-toggle='#=kendo#' title='Not Exist'/></div>
                    #}#").Width(80).Title("<div style='text-align:center'>WHT PDF <br/> Status</div>");

                        //columns.Template(e => { }).ClientTemplate(@"#if(wht_pdf_22_status == '1'){#
                        //<div style='text-align:center;' data-toggle='#=kendo#' title='Exist'/><img src='../../Content/img/icon-pdf.png' width='50%' height='50%'></img></div>
                        //#} else {#
                        //<div style='text-align:center;' data-toggle='#=kendo#' title='Not Exist'/></div>
                        //#}#").Width(90).Title("<div style='text-align:center'>PDF<br>WHT PDF 22</div>");

                        //columns.Template(e => { }).ClientTemplate(@"#if(wht_pdf_23_status == '1'){#
                        //<div style='text-align:center;' data-toggle='#=kendo#' title='Exist'/><img src='../../Content/img/icon-pdf.png' width='50%' height='50%'></img></div>
                        //#} else {#
                        //<div style='text-align:center;' data-toggle='#=kendo#' title='Not Exist'/></div>
                        //#}#").Width(90).Title("<div style='text-align:center'>PDF<br>WHT PDF 23</div>");

                        //columns.Template(e => { }).ClientTemplate(@"#if(wht_pdf_42_status == '1'){#
                        //<div style='text-align:center;' data-toggle='#=kendo#' title='Exist'/><img src='../../Content/img/icon-pdf.png' width='50%' height='50%'></img></div>
                        //#} else {#
                        //<div style='text-align:center;' data-toggle='#=kendo#' title='Not Exist'/></div>
                        //#}#").Width(90).Title("<div style='text-align:center'>PDF<br>WHT PDF 4(2)</div>");

                        @*columns.Template(@<text></text>)
.ClientTemplate("#if(bukti_potong_uploaded == 1){#" +
"<div style='text-align:center'>" +
"<img src = '../../Content/img/ico-invoice.png' />" +
"</div>" +
"#}#")
.Title("<div style='text-align: center'>WHT Upload<br>Status</div>").Width(90);

columns.Bound(o => o.ref_no).Width(80)
.ClientTemplate("#if(bukti_potong_uploaded == 1 && CountRelatedInvoice > 1){#" + //CountRelatedInvoice > 1 <---- existing
"<div style='text-align:center'>" +
"<a class='show-list-upload-gabungan' data-upload-id='#:upload_id#'>Invoices</a>" +
"</div>" +
"#}#").Title("<div style='text-align: center'>Related <br>Invoices</div>");

columns.Template(@<text></text>)
.ClientTemplate("#if(is_active == 1){#" +
"<div style='text-align:center'>" +
"<i class='fa fa-check' aria-hidden='true'></i>" +
"</div>" +
"#}#")
.Title("<div style='text-align: center'>Worklist<br>Submitted?</div>").Width(80);*@

columns.Template(@<text></text>)
.ClientTemplate("#if('" + ViewBag.IsAllowedUpload + "' == 'True'){#" +
"<span style='float: center'> " +
"<a style='font-size:9px' class='btn btn-xs btn-primary blue upload-withholding-tax' data-loader='true' data-invoice_no='#:invoice_number#' title='Upload Bukti Potong' type='button' style='width:20px'>" +
"<i class='fa fa-upload'></i>Upload</span>" +
"#}#").Title("<center>Action</center>").Width(80);
})
.ToolBar(toolbar =>
{
toolbar.Template(@<text>
    <div class="toolbar">
        @if (ViewBag.UserType == "Internal")
                    {
            @*<div class='btn-group' style="margin-right: 15px">
                <button class='btn btn-xs btn-info' type='button' aria-expanded='false' id="btn-submit"> Submit</button>
            </div>*@
            <div class='btn-group' style="margin-right: 15px">
                <button class='btn btn-xs btn-danger' type='button' aria-expanded='false' id="btn-delete"> Delete</button>
            </div>
            <div class='btn-group' style="margin-right: 15px">
                <button class='btn btn-xs btn-info' type='button' aria-expanded='false' id="btn-view-tax-transaction-code"> View Tax Transaction Code</button>
            </div>
                    }
        @if (ViewBag.IsAllowedUploadGabungan)
        {
            <div class='btn-group pull-right' style="margin-right: 15px">
                <button class='btn btn-xs btn-info' type='button' aria-expanded='false' id="btn-upload-withholding-tax"> <i class='fa fa-upload'></i> Upload PDF WHT</button>
            </div>
             }
            <div class='btn-group pull-right' style="margin-right: 15px">
                @*@if (ViewBag.IsAllowedDownloadAll) {*@
                <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download All<i class='fa fa-angle-down'></i></button>
                @*}*@
                <ul class='dropdown-menu pull-right' role='menu'>
                    @*@if (ViewBag.IsAllowedDownloadWhtPdf) {*@
                    <li><a class="k-grid-downloadpdf" href='javascript:;'>Download WHT PDF</a></li>
                    @*}
                    @if (ViewBag.IsAllowedExportExcel) {*@
                    <li><a class="k-grid-exportexcel" href='javascript:;'>Export Data to Excel</a></li>
                    @*}*@
                </ul>
            </div>

    </div>
</text>);
})
.Reorderable(reorderable => reorderable.Columns(true))
.Resizable(resizable => resizable.Columns(true))
.Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
.Sortable()
.Pageable()
.Scrollable(scrollable => scrollable.Height("300"))
.HtmlAttributes(new { @class = "scrollable" })
.DataSource(dataSource => dataSource
.Ajax()
.Events(events=>events.Error("onError"))
.Read(read => read.Url(@Url.Action("Read", "BuktiPotong", new { area = "Core" }) + "?notifFilter=" + @ViewBag.NotifFilter))

.Sort(sort => sort.Add(field => field.tgl_payment).Descending())
.Sort(sort => sort.Add(field => field.upload_id))
.Filter(filter =>
{
    if (@ViewBag.NotifFilter != "")
    {
        var selectedDateObj = DateTime.Now;
        var startOfFilterDate = new DateTime(selectedDateObj.Year, selectedDateObj.Month, selectedDateObj.Day, 0, 0, 0).AddDays(int.Parse(@ViewBag.Notif_Days) * -1);
        var endOfFilterDate = new DateTime(selectedDateObj.Year, selectedDateObj.Month, selectedDateObj.Day, 23, 59, 59);
        filter.Add(fx => fx.invoice_date).IsGreaterThanOrEqualTo(startOfFilterDate).And().IsLessThanOrEqualTo(endOfFilterDate);
        filter.Add(fx => fx.wht_prepaid_status).Contains(@ViewBag.NotifFilter);
    }
    else if (@ViewBag.ID != "" && @ViewBag.ID != null)
    {
        filter.Add(fx => fx.invoice_number).Contains(ViewBag.ID);
    }
    else
    {
        var selectedDateObj = DateTime.Now;
        var startOfFilterDate = new DateTime(selectedDateObj.Year -1, selectedDateObj.Month, selectedDateObj.Day, 0, 0, 0);
        var endOfFilterDate = new DateTime(selectedDateObj.Year, selectedDateObj.Month, selectedDateObj.Day, 23, 59, 59);
        filter.Add(fx => fx.invoice_date).IsGreaterThanOrEqualTo(startOfFilterDate).And().IsLessThanOrEqualTo(endOfFilterDate);
        //filter.Add(field => field.bukti_potong_uploaded).IsEqualTo(false);
        //filter.Add(field => field.CountRelatedInvoice).IsEqualTo(1);
        //filter.Add(field => field.is_active).IsEqualTo(userType == "Internal" ? false : true);
    }
})
//filter.Add(field => field.bukti_potong_uploaded).IsEqualTo(false))
//.Filter(filter => filter.Add(field => field.is_active).IsEqualTo(userType == "Internal" ? false : true))
.PageSize(14))

//.Events(e => e.DataBound("onDataBound"))
)


<script type="text/javascript">
    function onError(e, status)
    {
        var checked = e.xhr.responseJSON.Message.includes("timeout");

        if (checked) {
            swal('Error', "Load too much data, please refine your filters", 'error')
        }
        else {
            swal('Error', e.xhr.responseJSON.Message, 'error')
        }
       
    }
    $(document).ready(function () {
        setInterval(RefreshNotification, 3000);

        $('[data-toggle="tooltip"]').tooltip()

        $("#showSelection").bind("click", function () {
            var checked = [];
            for (var i in checkedIds) {
                if (checkedIds[i]) {
                    checked.push(i);
                }
            }

            alert(checked);
        });

    });

    var checkedIds = {};

    $('#BuktiPotongGrid').on('click', '.invoices-number', function () {
        var checked = this.checked,
            row = $(this).closest("tr"),
            grid = $("#BuktiPotongGrid").data("kendoGrid"),
            dataItem = grid.dataItem(row);

        if (!checked) {
            $('#select-all-invoices').attr('checked', false); // Unchecks it
        }

        checkedIds[dataItem.DimAgentId] = checked;
        if (checked) {
            //-select the row
            row.addClass("k-state-selected");
        } else {
            //-remove selection
            row.removeClass("k-state-selected");
        }
    });

    function onDataBound(e) {
        var checkdata = true;

        if ($('input.checkbox_check').is(':checked'))
            checkdata = true;
        else
            checkdata = false;

        console.log("ondatabound");
        //console.log("e: " + e);
        //console.log(checkdata);
        var view = this.dataSource.view();
        if (checkdata == true) {
            for (var i = 0; i < view.length; i++) {
                //console.log("for");
                //console.log(i);
                if (checkedIds[view[i].DimAgentId]) {
                    //console.log(view[i].uid);
                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                        .addClass("k-state-selected")
                        .find(".invoices-number")
                        .attr("checked", "checked");
                }
            }
        }
    }
    function checkAll(ele) {
        console.log("cekall");
        var state = $(ele).is(':checked');
        var grid = $("#BuktiPotongGrid").data("kendoGrid");

        checkedIds = {};

        for (var i = 0; i < grid.dataSource.total(); i++) {
            var dataRow = $("#BuktiPotongGrid").data("kendoGrid").dataSource.data()[i];
            var elementRow = grid.table.find(".invoices-number")[i];
            if (elementRow != null) {
                var checked = elementRow.checked,
                    row = $(elementRow).closest("tr"),
                    dataItem = grid.dataItem(grid.tbody.find("tr").eq(i));

                if (state) {
                    checkedIds[dataItem.DimAgentId] = state;
                    //-select the row
                    elementRow.checked = true;
                    row.addClass("k-state-selected");
                    dataRow.IsSelected = true;
                } else {
                    //-remove selection
                    elementRow.checked = false;
                    row.removeClass("k-state-selected");
                    dataRow.IsSelected = false;
                }
            }

            //mark for paging
            if (dataRow != null) {
                if (state) {
                    dataRow.IsSelected = true;
                    //alert(dataRow.id);
                } else {
                    dataRow.IsSelected = false;
                }
            }
        };

        //var index = grid.dataSource.indexOf() + 1; // find where item is in data source
        var entityGrid = $("#BuktiPotongGrid").data("kendoGrid");
        var data = entityGrid.dataSource.data();
        var totalNumber = data.length;

        grid.dataSource.pageSize(totalNumber);
    }

    var exportFlag = false;
    function excelExport(e) {

        if (!exportFlag) {
            e.sender.showColumn(1);
            e.sender.showColumn(9);
            e.sender.showColumn(12);
            e.sender.showColumn(13);
            e.sender.showColumn(14);
            e.sender.showColumn(15);
            e.sender.showColumn(16);
            e.sender.showColumn(17);
            e.preventDefault();
            exportFlag = true;
            setTimeout(function () {
                e.sender.saveAsExcel();
            });
        } else {
            e.sender.hideColumn(1);
            e.sender.hideColumn(9);
            e.sender.hideColumn(12);
            e.sender.hideColumn(13);
            e.sender.hideColumn(14);
            e.sender.hideColumn(15);
            e.sender.hideColumn(16);
            e.sender.showColumn(17);
            exportFlag = false;
        }
    }

    function replaceString(value) {
        return value.replace("/", "-");
    }


</script> 