﻿
@{
    @Html.Partial("~/Areas/Core/Views/WHT/Script/_WHT.cshtml")
}


<div id="TaxNotaReturModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Dashboard Withholding Tax</span>
        </h1>
    </div>
</div>

<!--<a id="btnTest" class="btn btn-primary">Test Button</a>-->

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="WHTGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Tax Article</label>
                                @Html.DropDownList("ddlWHTTaxArticle", new SelectList(ViewBag.WHTTaxArticle, "config_value", "config_text"), new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": true, \"operator\": \"contains\", \"field\": \"tax_article\" }",
                                    multiple = "multiple"
                                })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Withholding Tax Number</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "wht_number" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Withholding Tax Date</label>
                                <div class="row">
                                    <div class="col-md-6" style="width:47% ;margin-left:5px">
                                        <div class="input-group">
                                            <input type="text" id="WHTTaxDateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "wht_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width:47%">
                                        <div class="input-group">
                                            <input type="text" id="WHTTaxDateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "wht_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Dealer Name</label>
                                <input type="text" data-role="tagsinputDealer" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "dealer_name" }' />
                                @*@Html.DropDownList("DDLDealerName", new SelectList(ViewBag.WHTDealerName, "dealer_name", "dealer_name"), new
                                    {
                                        @class = "select2local form-control select2-multiple",
                                        @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"dealer_name\" }",
                                        multiple = "multiple"
                                    })*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Original Dealer Name</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "original_dealer_name" }' />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>PDF Withholding Status</label>
                                <select class="select2local form-control select2" data-filter='{"multiple": true, "operator": "contains", "field": "pdf_wht_status" }'>
                                    <option></option>
                                    @*<option value="">N/A</option>*@
                                    <option value="1">Exist</option>
                                    <option value="0">Not Exist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row filter-div" hidden="hidden">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Dealer NPWP</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "dealer_npwp" }' />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Withholding Tax Based Amount</label>
                                <select id="ddlWHTTaxBasedAmnt" class="select2local form-control select2" onchange="basedop(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group" id="divBsdLike">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdLike" name="txtBsdLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "wht_based_amount" }' />
                            </div>
                            <div class="form-group" id="divBsdEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdEQ" name="txtBsdEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "wht_based_amount" }' />
                            </div>
                            <div class="form-group" id="divBsdLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdLT" name="txtBsdLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "wht_based_amount" }' />
                            </div>
                            <div class="form-group" id="divBsdLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdLTE" name="txtBsdLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "wht_based_amount" }' />
                            </div>
                            <div class="form-group" id="divBsdGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdGT" name="txtBsdGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "wht_based_amount" }' />
                            </div>
                            <div class="form-group" id="divBsdGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdGTE" name="txtBsdGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "wht_based_amount" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Withholding Tax Amount</label>
                                <select id="WHTTaxAmnt" class="select2local form-control select2" onchange="amtop(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group" id="divAmtLike">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "wht_amount" }' />
                            </div>
                            <div class="form-group" id="divAmtEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "wht_amount" }' />
                            </div>
                            <div class="form-group" id="divAmtLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "wht_amount" }' />
                            </div>
                            <div class="form-group" id="divAmtLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "wht_amount" }' />
                            </div>
                            <div class="form-group" id="divAmtGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "wht_amount" }' />
                            </div>
                            <div class="form-group" id="divAmtGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "wht_amount" }' />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Withholding Tax Tarif</label>
                                <select id="WHTTaxTarif" class="select2local form-control select2" onchange="tarifop(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group" id="divTrfLike">
                                <label>&nbsp;</label>
                                <input type="text" id="txtTrfLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "wht_tarif" }' />
                            </div>
                            <div class="form-group" id="divTrfEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtTrfEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "wht_tarif" }' />
                            </div>
                            <div class="form-group" id="divTrfLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtTrfLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "wht_tarif" }' />
                            </div>
                            <div class="form-group" id="divTrfLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtTrfLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "wht_tarif" }' />
                            </div>
                            <div class="form-group" id="divTrfGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtTrfGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "wht_tarif" }' />
                            </div>
                            <div class="form-group" id="divTrfGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtTrfGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "wht_tarif" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Invoice Number</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_number" }' />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Invoice Date</label>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" style="width:49% ;margin-left:5px">
                                        <div class="input-group">
                                            <input type="text" id="InvoiceDateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "invoice_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width:48%">
                                        <div class="input-group">
                                            <input type="text" id="InvoiceDateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "invoice_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Tax Period Year</label>
                                <select class="select2local form-control select2" id="selectElementId" data-filter='{"multiple": true, "operator": "contains", "field": "tax_period_year" }'>
                                    <option value=""></option>
                                    <option value="">(none)</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Tax Period Month</label>
                                <select class="select2local form-control select2" data-filter='{"multiple": true, "operator": "contains", "field": "tax_period_month" }'>
                                    <option value=""></option>
                                    <option value="">(none)</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>MAP Code</label>
                                @Html.DropDownList("ddlWHTMAPCode", new SelectList(ViewBag.WHTMAPCode, "config_value", "config_text"), new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": true, \"operator\": \"contains\", \"field\": \"map_code_tax_type\" }",
                                    multiple = "multiple"
                                })
                            </div>
                        </div>
                        @*ADD AD*@
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "wht_description" }' />
                            </div>
                        </div>
                        @*END*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group" style="margin-bottom: 0;">
                                    <div class="btn-group btn-group-justified">
                                        <a class="btn btn-default blue trigger" onclick="searchWHT()">
                                            <i class="fa fa-search"></i> <span class="hidden-xs">Search</span>
                                        </a>
                                        <a class="btn btn-default clear-trigger" style="background-color:#76dade; border-color:#76dade;color:white">
                                            <i class="fa fa-refresh"></i> <span class="hidden-xs">Clear</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/WHT/Component/_WHTGrid.cshtml")
        <script>
            $(document).ready(function () {
                var min = new Date().getFullYear(),
                    max = min + 20,
                    min = min - 20,
                    select = document.getElementById('selectElementId');

                for (var i = min; i <= max; i++) {
                    var opt = document.createElement('option');
                    opt.value = i;
                    opt.innerHTML = i;
                    select.appendChild(opt);
                }

                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))
                    
                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy',
                        orientation: 'bottom auto',
                        autoclose: true
                    }).on('changeDate', function (date) {
                        var WHTTaxDateFrom = $("#WHTTaxDateFrom");
                        var WHTTaxDateTo = $("#WHTTaxDateTo");
                        var InvoiceDateFrom = $("#InvoiceDateFrom");
                        var InvoiceDateTo = $("#InvoiceDateTo");

                        if (WHTTaxDateFrom.val() != null && WHTTaxDateTo.val() != null) {

                            WHTTaxDateFrom = WHTTaxDateFrom.data('datepicker').dates.get();
                            WHTTaxDateTo = WHTTaxDateTo.data('datepicker').dates.get();

                            console.log("WHT Tax Date From: " + WHTTaxDateFrom);
                            console.log("WHT Tax Date To: " + WHTTaxDateTo);

                            if (WHTTaxDateFrom > WHTTaxDateTo) {
                                swal('Warning', 'Withholding Tax Date To must be higher than Withholding Tax Date From.', "error");
                            }
                        }

                        if (InvoiceDateFrom.val() != null && InvoiceDateTo.val() != null) {

                            InvoiceDateFrom = InvoiceDateFrom.data('datepicker').dates.get();
                            InvoiceDateTo = InvoiceDateTo.data('datepicker').dates.get();

                            console.log("Invoice Date From: " + InvoiceDateFrom);
                            console.log("Invoice Date To: " + InvoiceDateTo);

                            if (InvoiceDateFrom > InvoiceDateTo) {
                                swal('Warning', 'Invoice Date To must be higher than Invoice Date From.', "error");
                            }
                        }
                        });
                $('*[data-role="tagsinput"]').tagsinput({
                    delimiterRegex: ' '
                });

                $('*[data-role="tagsinputDealer"]').tagsinput({
                    delimiterRegex: ','
                });

                //create AutoComplete UI component
                $("#transtipe").kendoAutoComplete({
                    dataSource: data,
                    dataTextField: "transaction_name",
                    dataValueField: "transaction_type_id",
                    // change: function () {
                    //  var tipe = this.value();
                    // console.log("selected tipe ", tipe);
                    // },
                    filter: "startswith",
                    placeholder: "Transaction Type",
                    //separator: " "
                });

                //set default date searching
                //var d = new Date(),
                //    month = '' + (d.getMonth() + 1),
                //    day = '' + d.getDate(),
                //    year = d.getFullYear();

                //$("#WHTTaxDateFrom").val(day + "/" + month + "/" + year);
                //$("#WHTTaxDateTo").val(day + "/" + month + "/" + year);
            });

        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>
