﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.Invoice>()
        .Name("KwitansiGrid")
        .Events(x => x.ExcelExport("excelExport"))
        .Columns(columns =>
        {
        columns.Template(e => { }).ClientTemplate("<a class='k-grid-detail' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#'  data-transactiontype='#:transaction_type#' data-pphno='#:pph_no#' data-totalamount='#:total_amount#' data-dpp='#:dpp#' data-tax='#:tax#' data-rate='#:rate#' data-amountpph='#:amount_pph#' data-currency='#:currency#' data-transactiontypeid='#:transaction_type_id#'>#:invoice_number#</a>").Width(115).Title("Invoice No");
        columns.Bound(o => o.invoice_number).Width(140).Hidden(true).Title("Invoice Number");
        columns.Bound(o => o.transaction_type).Width(140).Title("Transaction Type");
        columns.Bound(o => o.doc_date).Format("{0:dd-MM-yyyy}").Title("Doc. Date").Width(75);
        columns.Bound(o => o.due_date).Format("{0:dd-MM-yyyy}").Title("Due Date").Width(75);
        columns.Bound(o => o.currency).Width(60).Title("Curr.");
        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(total_amount, 'n')#</div>").Width(100).Title("Total Amount");
        columns.Template(e => { }).ClientTemplate(@"#if(ar_status=='InvStat01'){#
    <div style='text-align:center;' data-toggle='#=kendo#' title='Settlement'/><img src='#:ar_status_img_url#'</img></div>
    #} else if(ar_status=='InvStat02'){#
    <div style='text-align:center;' data-toggle='#=kendo#' title='Outstanding Overdue'/><img src='#:ar_status_img_url#'</img></div>
    #} else if(ar_status=='InvStat03'){#
    <div style='text-align:center;' data-toggle='#=kendo#' title='Outstanding Range'/><img src='#:ar_status_img_url#'</img></div>
    #}   else {#
    <div style='text-align:center;' data-toggle='#=kendo#' title='Due Date Now'/><img src='#:ar_status_img_url#'</img></div>
    #}#").Width(60).Title("<div style='text-align: center'>AR<br>Status</div>");
        columns.Template(e => { }).ClientTemplate("<a class='k-grid-tax' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#' data-tax_invoice='#:tax_invoice#'>#:tax_invoice#</a>").Width(130).Title("Tax Invoice");
        columns.Bound(o => o.pph_no).Title("PPH 22 No").Hidden(true).Width(78);
        columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
            </text>).ClientTemplate("#if(inv_downloaded == 1){#<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo.toString(downloaded_date,'yyyy-MM-dd')#' title='Last Downloaded on #= kendo.toString(downloaded_date,'dd-MM-yyyy')#, by #= downloaded_by# '') /></div>#}else{#<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo#' title='Not Downloaded' /></div>#}#")
                         .Title("<div style='text-align: center'>Invoice<br>Status</div>").Width(60);
                    columns.Template(@<text></text>).ClientTemplate("<div class='btn-group'>" +
                                "<button style='font-size:10px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                                "<ul class='dropdown-menu pull-right' role='menu'>" +
                                "<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
                                "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' href='javascript:;' onclick=download(\'#:da_code#\')>Attachment</li>" +
                                "</ul></div>").Title("<center>Action</center>").Width(100);
                            columns.Bound(o => o.dpp).Title("DPP").Hidden(true);
                            columns.Bound(o => o.tax).Title("Tax Amount").Hidden(true);
                            columns.Bound(o => o.total_amount).Title("Total Amount").Hidden(true);
                            columns.Bound(o => o.ar_status_name).Title("AR Status").Hidden(true);
                            columns.Bound(o => o.tax_invoice).Title("Tax Invoice").Hidden(true);
                            columns.Bound(o => o.amount_pph).Title("PPH 22 Amount").Hidden(true);
                            columns.Bound(o => o.da_code).Title("DA Code").Hidden(true);
                            columns.Bound(o => o.business_unit).Title("Business Unit").Hidden(true);
                        })
                        .ToolBar(toolbar =>
                        {
                            toolbar.Template(@<text>
<div class="toolbar">
    @*<a href="javascript:;" class="k-grid-excel btn btn-xs btn-info"><i class="fa fa-file-excel-o"></i> Export to Excel</a>*@
    <a class='k-grid-exportexcel btn btn-xs btn-info' href="javascript:;" type='button'><i class="fa fa-file-excel-o"></i>Export To Excel</a>
    <a class='k-grid-exportexcel btn btn-xs btn-info' href="javascript:;" type='button'><i class="fa fa-file-excel-o"></i>Print Kwitansi</a>
    <a class='k-grid-exportexcel btn btn-xs btn-info' href="javascript:;" type='button'><i class="fa fa-file-excel-o"></i>Download Kwitansi</a>
    @*<div class='btn-group pull-right' style="margin-right: 15px">
        <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download All<i class='fa fa-angle-down'></i></button>
        <ul class='dropdown-menu pull-right' role='menu'>
            <li><a class="k-grid-downloadallinvoice" href='javascript:;'>Invoice</a></li>
            <li><a class="k-grid-download-invoice" href='javascript:;'>Attachment</a></li>
            <li><a class="k-grid-downloadtax" href='javascript:;'>Tax Invoice</a></li>
        </ul>
    </div>*@
</div>
                            </text>);
                                    toolbar.Excel();
                                })
                                .Excel(excel => excel.FileName("Invoice.xlsx")
                                                    .Filterable(true)
                                                    .ProxyURL(Url.Action("Excel_Export_Save", "Kwitansi"))
                                                    .AllPages(true)
                                )
                                .Reorderable(reorderable => reorderable.Columns(true))
                                .Resizable(resizable => resizable.Columns(true))
                                .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
                                .Sortable()
                                .Pageable()
                                .Scrollable(scrollable => scrollable.Height("300"))
                                .HtmlAttributes(new { @class = "scrollable" })
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Url(@Url.Action("Read", "Kwitansi", new { area = "Core" })))
                                .Sort(sort => sort.Add(field => field.doc_date).Descending())
                                .PageSize(14))
)
<script type="text/javascript">
    var exportFlag = false;
    function excelExport(e) {

        if (!exportFlag) {
            e.sender.showColumn(1);
            e.sender.showColumn(9);
            e.sender.showColumn(12);
            e.sender.showColumn(13);
            e.sender.showColumn(14);
            e.sender.showColumn(15);
            e.sender.showColumn(16);
            e.sender.showColumn(17);
            e.preventDefault();
            exportFlag = true;
            setTimeout(function () {
                e.sender.saveAsExcel();
            });
        } else {
            e.sender.hideColumn(1);
            e.sender.hideColumn(9);
            e.sender.hideColumn(12);
            e.sender.hideColumn(13);
            e.sender.hideColumn(14);
            e.sender.hideColumn(15);
            e.sender.hideColumn(16);
            e.sender.showColumn(17);
            exportFlag = false;
        }
    }

</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>