<table width="30%">
<tr><td align="left"><strong style="font-size: 16pt">Invoice</strong></td></tr>
</table>
<table width="100%" border="1">
<tr><td align="center"><strong style="font-size: 12pt">Invoice No.</strong></td>
<td align="center"><strong style="font-size: 12pt">Curr</strong></td>
<td align="center"><strong style="font-size: 12pt">Invoice Amount</strong></td>
<td align="center"><strong style="font-size: 12pt">Invoice Tax No.</strong></td>
<td align="center"><strong style="font-size: 12pt">Invoice Tax Date</strong></td>
<td align="center"><strong style="font-size: 12pt">Invoice Tax Amount</strong></td></tr>
<!--@rows:-->
<tr><td align="left">
@INVOICE_NO 
</td><td align="center">
@CURRENCY 
</td><td align="right">
@val
</td><td align="left">
@TAX_NO
</td><td align="center">
@INVOICE_DATE
</td><td align="right">
@valTax
</td></tr>
<!--:@rows-->
</table>