﻿<link href="~/Content/theme/Metronic/global/css/open-sans.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/css/roboto.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/css/components-md.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/layout/css/layout.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/layout/css/custom.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Metronic/layout/css/themes/default.css" rel="stylesheet" type="text/css" />

<link href="~/Content/theme/Kendo/kendo.common-bootstrap.core.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Kendo/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/theme/Kendo/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="~/Content/custom.css?v=1.0.0.8" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo.css?v=1.0.0.5" rel="stylesheet" type="text/css" />
<link href="~/Content/kendo.custom.css?v=1.0.0.5" rel="stylesheet" type="text/css" />
<link href="~/Content/codemarvel.css?v=1.0.0.5" rel="stylesheet" type="text/css" />
<link href="~/Content/validator.css?v=1.0.0.5" rel="stylesheet" type="text/css" />
<style type="text/css">
    .k-grid td:first-child {
        overflow: visible;
    }

    body.modal-open {
        overflow: hidden !important;
    }

    #toast-container {
        bottom: 0;
        position: fixed;
        display: block;
        width: 100%;
    }

    .toast-error {
        padding: 10px;
        background-color: #bd362f;
        color: #fff;
        font-size: 14px;
    }

    .toast.toast-error .toast-message {
        padding-left: 25px;
    }

    .toast.toast-error .toast-message:after {
        position: absolute;
        float: left;
        content: "\f071";
        font: normal normal normal 14px/1 FontAwesome !important;
        margin-right: 10px;
        margin-top: 3px;
        left: 10px;
        top: 10px;
    }
</style>