﻿.page-header.navbar {
    background: #2391A3;
}

.form-control,
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-content {
    background: #f5f5f5;
}

.page-head {
    margin-bottom: 2px;
}

.page-head .page-title-caption {
    font-size: 25px;
    border-right: 1px solid #ccc;
    padding-right: 15px;
}
.k-dropzone {
    padding: 0;
    height: 30px
}
.k-nowrwaptext {
    white-space: nowrap;
    text-overflow: ellipsis
}
.btnUpload {
    background-color: #deae1c;
}
.k-upload {
    border: none !important;
    height: 50px;
}
.pnl-uploaddownload {
    height: 30px;
    text-align: right;
}
.page-head .page-title small {
    padding-left: 10px;
    font-size: 14px;
}
.grid-scroll-container {
    overflow: auto;
}

.page-content-wrapper .page-content {
    padding: 0 0 0 20px;
}

.page-head .page-title > h1 {
    color: #3f4047;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
