﻿<script type="text/javascript" src="~/Scripts/vendor/Kendo/kendo.all.min.js"></script>

<script type="text/javascript" src="~/Scripts/jquery.fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.NotaReturManagement = new NotaReturManagement();
        App.NotaReturManagement.InitManagement();

        modals = $("#NotaReturDetailModal");

        var url_string = window.location.href
        var url = new URL(url_string);
        var notifFilter = url.searchParams.get("notifFilter");
        var getid = url.searchParams.get("id");

        var dateObjFrom = new Date();
        dateObjFrom.setDate(dateObjFrom.getDate() - @ViewBag.Notif_Days);
        var monthFrom = dateObjFrom.getUTCMonth() + 1;
        var dayFrom = dateObjFrom.getUTCDate();
        var yearFrom = dateObjFrom.getUTCFullYear();
        var newdateFrom =  dayFrom + "/" + monthFrom + "/" + yearFrom;

        var dateObjTo = new Date();
        var monthTo = dateObjTo.getUTCMonth() + 1;
        var dayTo = dateObjTo.getUTCDate();
        var yearTo = dateObjTo.getUTCFullYear();
        var newdateTo = dayTo + "/" + monthTo + "/" + yearTo;

        console.log(newdateFrom)
        console.log(newdateTo)

        if (notifFilter) {
            //console.log('masuk notiffilter')
            $.helper.form.clear($(".NotaReturGrid"));

            $("#dateFrom").val(newdateFrom);
            $("#dateTo").val(newdateTo);
        }

        if (getid) {
            $.helper.form.clear($(".NotaReturGrid"));
        }

        //set default date searching
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        $("#dateFrom").val(day + "/" + month + "/" + year);
        $("#dateTo").val(day + "/" + month + "/" + year);

        var d = new Date();
        var currDay = d.getDate() - 1;
        var currMonth = d.getMonth() - 1;
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, currDay);

        $("#dateFrom").datepicker();
        $("#dateFrom").datepicker("setDate", startDate);
        $("#dateTo").datepicker("setDate", new Date());

    });
    function NotaReturManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },
            InitControls: function () {

            },
            InitValidation: function () {

            },

            InitHandlers: function () {
                $(".k-grid").on("click", ".k-grid-detail", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");
                    //debugger;
                    var credit_note_number = $el.data("credit_note_number");
                    var invoice_number = $el.data("invoicenumber");
                    var business_unit_id = $el.data("businessunitid");
                    var transaction_type = $el.data("transactiontype");
                    var total_amount = $el.data("totalamount");
                    var dpp = $el.data("dpp");
                    var tax = $el.data("tax");
                    var pph_no = $el.data("pphno");
                    var rate = $el.data("rate");
                    var currency = $el.data("currency");
                    var amount_pph = $el.data("amountpph");
                    var transaction_type_id = $el.data("transactiontypeid");
                    var dormitory = $el.data("dormitory");
                    var vat_dormitory = $el.data("vat");
                    //var urlstring = '@Url.Action("NotaReturDetail", "NotaRetur")?invoice_number=' + invoice_number + "&business_unit_id=" + business_unit_id

                    var urlstring = '@Url.Action("NotaReturDetail", "NotaRetur")?invoice_number=' + invoice_number + "&credit_note_number=" + credit_note_number+ "&business_unit_id=" + business_unit_id
                        + "&transaction_type=" + transaction_type + "&pph_no=" + pph_no + "&total_amount=" + total_amount
                        + "&dpp=" + dpp + "&tax=" + tax + "&rate=" + rate + "&amount_pph=" + amount_pph + "&currency=" + currency + "&transaction_type_id=" + transaction_type_id
                        + "&dormitory=" + dormitory + "&vat_dormitory=" + vat_dormitory;

                    $.ajax({
                        url: urlstring,
                        //dataType: 'html',
                        success: function (r) {
                            //$('#NotaReturDetailModal').find("div.modal-content").html(data);

                            $("#invoiceNumber").val(r.empObj.invoice_number);
                            $("#business_unit_id").val(r.empObj.business_unit_id);
                            $("#transaction_type_id").val(r.empObj.transaction_type_id);
                            $("#transactionType").val(r.empObj.transaction_type);
                            $("#dpp").val(formatMoney(r.empObj.dpp));
                            $("#tax").val(formatMoney(r.empObj.tax));
                            $("#totalAmount").val(formatMoney(r.empObj.total_amount));
                            $("#pphNo").val(r.empObj.pph_no);
                            $("#pphAmount").val(formatMoney(r.empObj.amount_pph));
                            $("#excRate").val(r.empObj.currency + ":" + formatMoney(r.empObj.rate));
                            $("#dormitory").val(formatMoney(r.empObj.dormitory));
                            $("#vat_dormitory").val(formatMoney(r.empObj.vat_dormitory));
                            $("#NotaReturDetailModal").modal("show");
                        },
                        error: function () {
                            $('#NotaReturDetailModal').modal('toggle');
                        }
                    });
                });

                 $(".k-grid").on("click", ".k-grid-detail-note", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_no = $el.data("da_no");
                    var invoice_number = $el.data("invoicenumber");
                    var credit_note_number = $el.data("credit_note_number");
                    var business_unit = $el.data("business_unit");
                     var sid = $('#sid').val();

                    //alert(da_no);
                    //alert(business_unit);

                    $.fileDownload('@Url.Action("DownloadNotaReturHyperlink", "NotaRetur")', {
                        data: {
                            ca_number: sid
                            , credit_note_number: da_no
                            , business_unit: business_unit
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', 'File Not Exist', 'warning');
                        }
                    });
                });


                 $(".k-grid").on("click", ".k-grid-downloadallnotur", function () {
                    //alert("MASUK");
                    @*var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllNotur", "NotaRetur")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', 'MV is Not Available', 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }*@

                });
               $(".k-grid").on("click", ".k-grid-exportexcel", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("Excel_Export", "NotaRetur")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });


                    //if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                               // alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                //swal('Warning', 'Export Excel Failed, Total row can not more than 3000', 'warning');
                            }
                        });
                    //} else {

                    //    swal('Warning', 'Please select filter before download all document !', 'warning');
                    //}

                });

                $(".k-grid").on("click", ".k-grid-report-nota-retur", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("ExportReportNotaRetur", "NotaRetur")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });


                    if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                               // alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                //swal('Warning', 'Export Excel Failed, Total row can not more than 3000', 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });

                    $(".k-grid").on("click", ".k-grid-download-attachment", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_code = $el.data("da_code");
                    var invoice_number = $el.data("invoice_number");

                        displayLoading('#NotaReturGrid');
                    $.fileDownload('@Url.Action("Download","Attachment")', {
                        data: {
                            id: da_code,
                            invoicenumber: invoice_number
                        },
                        successCallback: function (fn) {
                            hideLoading('#NotaReturGrid');
                            if (cekFileDownload() == "False") swal('Warning', "Invoice doesn't have attachment", 'warning');
                        },
                        failCallback: function (fn) {
                            hideLoading('#NotaReturGrid');
                            swal('Warning', "Invoice doesn't have attachment", 'warning');
                        }
                    });
                });
                $(".k-grid").on("click", ".k-grid-download-sp-attachment-notur", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var caNumber = $el.data("invoicenumber");
                    var daNumber = $el.data("da_no");

                    $.fileDownload('@Url.Action("DownloadAttachmentSparePartNotur", "Attachment")', {
                        data: {
                            caNumber: caNumber,
                            daNumber: daNumber
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', "Invoice doesn't have attachment", 'warning');
                        }
                    });
                });
                $(".k-grid").on("click", ".k-grid-download-uploaded-nota-retur", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var caNumber = $el.data("invoicenumber");

                    $.fileDownload('@Url.Action("DocumentSpNotaRetur", "AttachmentNotaRetur")', {
                        data: {
                            caNumber: caNumber
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', "Doesn't uploaded nota retur yet", 'warning');
                        }
                    });
                });
                $(".k-grid").on("click", ".k-grid-download-delivery-note", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_code = $el.data("da_code");
                    var invoice_number = $el.data("invoice_number");
                    var business_unit = $el.data("business_unit");

                    if (business_unit != 'Spare Part')
                    {
                        swal('Warning', "Invoice doesn't have PI", 'warning');
                    }
                    else
                    {
                        $.fileDownload('@Url.Action("DownloadDeliveryNoteCreditSparePart", "Attachment")', {
                            data: {
                                daNumber: invoice_number
                            },
                            successCallback: function (fn) {
                                // Nothing
                            },
                            failCallback: function (fn) {
                                swal('Warning', "Invoice doesn't have PI", 'warning');
                            }
                        });
                    }
                });
                @*$(".k-grid").on("click", ".k-grid-download-invoice", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var invoice_number = $el.data("invoice_number");

                    $.fileDownload('@Url.Action("DownloadInvoiceNotur","ScanInvoice")', {
                        data: {
                            invoicenumber: invoice_number
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', "Invoice doesn't have attachment", 'warning');
                        }
                    });
                });*@
                 $(".k-grid").on("click", ".k-grid-download-reportnotur", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_no = $el.data("da_no");
                     var business_unit = $el.data("business_unit");
                     var invoice_number = $el.data("invoicenumber");

                    $.fileDownload('@Url.Action("DownloadNotaRetur","Invoice")', {
                        data: {
                            da_number: da_no,
                            business_unit: business_unit,
                            invoicenumber: invoice_number
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', 'MV is Not Available', 'warning');
                        }
                    });
                });
                $(".k-grid").on("click", ".k-grid-download-sp-ca", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_no = $el.data("da_no");
                     var business_unit = $el.data("business_unit");
                     var invoice_number = $el.data("invoicenumber");

                    $.fileDownload('@Url.Action("DownloadSpCa", "NotaRetur")', {
                        data: {
                            ca_number: invoice_number,
                            business_unit: business_unit
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', 'CA is Not Available', 'warning');
                        }
                    });
                });
               $(".k-grid").on("click", ".k-grid-download-sp-notur", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    //kendo.ui.progress($("#NotaReturGrid"), true);
                    //var sid = $('#sid').val();

                    var da_no = $el.data("da_no");
                    var invoice_number = $el.data("invoicenumber");
                    //var credit_note_number = $el.data("credit_note_number");
                    var business_unit = $el.data("business_unit");
                    //debugger;
                    $.ajax({
                        beforeSend: function (r) {
                            kendo.ui.progress($("#NotaReturGrid"), true);
                            //$("#window").data("kendoWindow").center().open();
                        },
                        success: function (r) {
                            $.fileDownload('@Url.Action("DownloadSpNotaRetur", "NotaRetur")', {
                                data: {
                                    ca_number: invoice_number,
                                    NomorNotaRetur: da_no,
                                    business_unit: business_unit,
                                },
                                successCallback: function (fn) {
                                    //debugger;
                                    // Nothing
                                    $("#window").data("kendoWindow").center().close();
                                    kendo.ui.progress($("#NotaReturGrid"), false);
                                    // kendo.ui.progress($("#NotaReturGrid"), false);
                                },
                                failCallback: function (fn) {
                                    $("#window").data("kendoWindow").center().close();
                                    kendo.ui.progress($("#NotaReturGrid"), false);
                                    swal('Warning', 'Nota Retur is Not Available', 'warning');
                                }

                            });
                        },
                        complete: function (r) {
                            //debugger;
                            //  pb.value(response.totaldata);
                            kendo.ui.progress($("#NotaReturGrid"), false);
                            //$("#window").data("kendoWindow").center().close();
                            //  pb.value(0);
                        },
                        error: function (r) {

                            //  pb.value(response.totaldata);
                            kendo.ui.progress($("#NotaReturGrid"), false);
                            //$("#window").data("kendoWindow").center().close();
                            swal('Warning', "File Not Exist", 'warning');
                        }
                    });
               });

                 @*$(".k-grid").on("click", ".k-grid-download", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllAttachment", "NotaRetur")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });


                    if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', "Invoice doesn't have attachment", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                 });*@

                $(".k-grid").on("click", ".k-grid-download-signoff", function () {
                    //alert("k-grid-download-signoff");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_no = $el.data("da_no");
                    var business_unit = $el.data("business_unit");
                    var invoice_number = $el.data("invoice_number");
                    var status = "NoturSignOff";
                    //alert(da_no);

                    $.ajax({
                        beforeSend: function (r) {
                            kendo.ui.progress($("#NotaReturGrid"), true);
                            //$("#window").data("kendoWindow").center().open();
                        },
                        success: function (r) {
                            $.fileDownload('@Url.Action("DownloadNotaReturSignOff", "NotaRetur")', {
                                data: {
                                    da_no: da_no
                                    , business_unit: business_unit
                                    , status: status
                                },
                                successCallback: function (fn) {
                                    //debugger;
                                    // Nothing
                                    $("#window").data("kendoWindow").center().close();
                                    kendo.ui.progress($("#NotaReturGrid"), false);
                                    // kendo.ui.progress($("#NotaReturGrid"), false);
                                },
                                failCallback: function (fn) {
                                    $("#window").data("kendoWindow").center().close();
                                    kendo.ui.progress($("#NotaReturGrid"), false);
                                    swal('Warning', 'Nota Retur is Not Available', 'warning');
                                }

                            });
                        },
                        complete: function (r) {
                            //debugger;
                            //  pb.value(response.totaldata);
                            kendo.ui.progress($("#NotaReturGrid"), false);
                            //$("#window").data("kendoWindow").center().close();
                            //  pb.value(0);
                        },
                        error: function (r) {

                            //  pb.value(response.totaldata);
                            kendo.ui.progress($("#NotaReturGrid"), false);
                            //$("#window").data("kendoWindow").center().close();
                            swal('Warning', "File Not Exist", 'warning');
                        }
                    });
                });
                     $(".k-grid").on("click", ".k-grid-download-dgt", function () {
                         //alert("k-grid-download-dgt");
                         var $el = $(this),
                             $grid = $el.closest(".k-grid").data("kendoGrid")

                         var da_no = $el.data("da_no");
                         var business_unit = $el.data("business_unit");
                         var invoice_number = $el.data("invoice_number");
                         var status = "NoturDGT";
                         //alert(business_unit);
                         $.ajax({
                             beforeSend: function (r) {
                                 kendo.ui.progress($("#NotaReturGrid"), true);
                                 //$("#window").data("kendoWindow").center().open();
                             },
                             success: function (r) {
                                 $.fileDownload('@Url.Action("DownloadNotaReturSignOff", "NotaRetur")', {
                                     data: {
                                         da_no: da_no
                                         , business_unit: business_unit
                                         , status: status
                                     },
                                     successCallback: function (fn) {
                                         //debugger;
                                         // Nothing
                                         $("#window").data("kendoWindow").center().close();
                                         kendo.ui.progress($("#NotaReturGrid"), false);
                                         // kendo.ui.progress($("#NotaReturGrid"), false);
                                     },
                                     failCallback: function (fn) {
                                         $("#window").data("kendoWindow").center().close();
                                         kendo.ui.progress($("#NotaReturGrid"), false);
                                         swal('Warning', 'Nota Retur is Not Available', 'warning');
                                     }

                                 });
                             },
                             complete: function (r) {
                                 //debugger;
                                 //  pb.value(response.totaldata);
                                 kendo.ui.progress($("#NotaReturGrid"), false);
                                 //$("#window").data("kendoWindow").center().close();
                                 //  pb.value(0);
                             },
                             error: function (r) {

                                 //  pb.value(response.totaldata);
                                 kendo.ui.progress($("#NotaReturGrid"), false);
                                 //$("#window").data("kendoWindow").center().close();
                                 swal('Warning', "File Not Exist", 'warning');
                             }
                         });
                     });

                @*$(".k-grid").on("click", ".k-grid-download", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllAttachment", "NotaRetur")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });


                    if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', "Invoice doesn't have attachment", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                 });*@
                 @*$(".k-grid").on("click", ".k-grid-downloadallinvoice", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllInvoiceNotur", "ScanInvoice")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });


                    if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', "Invoice doesn't have attachment", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                 });*@

                $(".k-grid").on("click", ".k-grid-tax", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoicenumber");
                    var business_unit_id = $el.data("businessunitid");
                    var tax = $el.data("tax_invoice");
                    var urlstring = '@Url.Action("TaxNotaRetur", "NotaRetur")?tax_invoice=' + tax + "&business_unit_id=" + business_unit_id
                    + "&invoice_number=" + invoice_number;
                    //var urlstring = '@Url.Action("TaxNotaRetur", "NotaRetur")?business_unit_id=' + business_unit_id+ "&invoice_number=" + invoice_number;

                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#TaxNotaReturModal').find("div.modal-content").html(data);
                            $("#TaxNotaReturModal").modal("show");
                        },
                        error: function () {
                            swal('Warning', 'File Not Found !', 'warning');
                        }

                    });
                });

                @*$(".k-grid").on("click", ".k-grid-downloadallinvoice-notur", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("ExportZipInvoice", "NotaRetur")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        $.fileDownload('@Url.Action("ExportZipInvoice", "NotaRetur")', {
                            data: data,
                            successCallback: function (fn) {
                            },
                            failCallback: function (fn) {
                                //console.log(fn);
                                swal('Warning', 'Please select filter before download all document !', 'warning');
                            }
                        });
                    } else {
                         swal('Warning', 'Please select filter before download all document !', 'warning');
                    }
                });*@

                @*$(".k-grid").on("click", ".k-grid-downloadtax-notur", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("ExportZip", "NotaRetur")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        $.fileDownload('@Url.Action("ExportZip", "NotaRetur")', {
                            data: data,
                            successCallback: function (fn) {
                            },
                            failCallback: function (fn) {
                                //console.log(fn);
                                swal('Warning', 'File Not Found !', 'warning');
                            }
                        });
                    } else {
                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });*@

                $(".k-grid").on("click", ".k-grid-uploaddoc", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var da_no = $el.data("id");
                    var invoice_no = $el.data("invoice_no");
                    var credit_note_no = $el.data("credit_note_no");
                    var total_amount = $el.data("total_amount");
                    var currency = $el.data("currency");
                    var businessType = $el.data("business_unit");

                    if (businessType == 'Spare Part')
                        da_no = credit_note_no; // karena invoice number itu ca number, ikut variable da_no


                    urlstring = '@Url.Action("UploadFileInitial", "AttachmentNotaRetur")?reference=' + da_no + '&businessType=' + businessType;
                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#AttachmentModal').find("div.modal-content").html(data);
                            $("#AttachmentModal").modal("show");
                            $(".modal-title-attachment").text("Nota Retur: " + credit_note_no + " • " + currency + " " + formatMoney(total_amount));
                            $("#CRNumber").val(credit_note_no);
                            App.unblockUI();
                        },
                        error: function () {
                            $('#AttachmentModal').modal('toggle');
                            App.unblockUI();
                        }
                    });

                    //$(".k-grid").on("click", ".k-grid-delete-doc", function () {
                    //    console.log("delete");
                    //    var $el = $(this),
                    //        $tr = $el.closest("tr"),
                    //        $grid = $el.closest(".k-grid").data("kendoGrid"),
                    //        dataItem = $grid.dataItem($tr);

                    //    dataItem.set("Status", "Delete");
                    //});

                    //$(".k-grid").on("click", ".k-grid-undo-doc", function () {
                    //    console.log("undo");
                    //    var $el = $(this),
                    //        $tr = $el.closest("tr"),
                    //        $grid = $el.closest(".k-grid").data("kendoGrid"),
                    //        dataItem = $grid.dataItem($tr);
                    //    if (dataItem.da_no) {

                    //        dataItem.set("Status", "");
                    //    } else {
                    //        dataItem.set("Status", "New");
                    //    }
                    //});

                    function NotaReturAttachmentManagement() {
                        function allocationAsset() {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AllocationRead", "AttachmentNotaRetur")",
                                data: { id: $("#d").find(":selected").data("") },
                                dataType: 'json',
                                success: function (data) {
                                    dsAlloactionAsset = data;
                                    $('#grid-allocation').data('kendoGrid').dataSource.data(data);
                                    $('#grid-allocation').data('kendoGrid').refresh();
                                },
                                error: function () {
                                }
                            });
                        }
                    }

                });


                //Tes AD enhanc 2020
                $(".k-grid").on("click", ".k-grid-uploaddocttddgt", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var da_no = $el.data("id");
                    var invoice_no = $el.data("invoice_no");
                    var total_amount = $el.data("total_amount");
                    var currency = $el.data("currency");
                    var businessType = $el.data("business_unit");

                    if (businessType == 'Spare Part')
                    // karena invoice number itu ca number, ikut variable da_no
                        da_no = invoice_no;



                    urlstring = '@Url.Action("UploadFileInitialTTDDGT", "AttachmentNotaRetur")?reference=' + da_no + '&businessType=' + businessType;
                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#AttachmentModal').find("div.modal-content").html(data);
                            $("#AttachmentModal").modal("show");
                            $(".modal-title-attachment").text("Nota Retur Upload ");
                            App.unblockUI();
                        },
                        error: function () {
                            $('#AttachmentModal').modal('toggle');
                            App.unblockUI();
                        }
                    });


                    function NotaReturAttachmentManagement() {
                        function allocationAsset() {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AllocationRead", "AttachmentNotaRetur")",
                                data: { id: $("#d").find(":selected").data("") },
                                dataType: 'json',
                                success: function (data) {
                                    dsAlloactionAsset = data;
                                    $('#grid-allocation').data('kendoGrid').dataSource.data(data);
                                    $('#grid-allocation').data('kendoGrid').refresh();
                                },
                                error: function () {
                                }
                            });
                        }
                    }

                });
                //end

                $(".k-grid").on("click", ".k-grid-uploadscan", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoice_no");
                    var total_amount = $el.data("total_amount");
                    var currency = $el.data("currency");


                      urlstring = '@Url.Action("UploadFileInitialScan", "ScanInvoice")?invoice_number=' + invoice_number;
                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#ScanInvoiceNoturModal').find("div.modal-content").html(data);
                            $("#ScanInvoiceNoturModal").modal("show");
                            $(".modal-title-scan").text("Invoice: " + invoice_number + " • " + currency + " " + formatMoney(total_amount));
                            App.unblockUI();
                        },
                        error: function () {
                            $('#ScanInvoiceNoturModal').modal('toggle');
                            App.unblockUI();
                        }
                    });

                    function NotaReturAttachmentManagement() {
                        function scanInvoice() {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("ScanRead", "ScanInvoice")",
                                data: { id: $("#d").find(":selected").data("") },
                                dataType: 'json',
                                success: function (data) {
                                    dsAlloactionAsset = data;
                                    $('#grid-allocation').data('kendoGrid').dataSource.data(data);
                                    $('#grid-allocation').data('kendoGrid').refresh();
                                },
                                error: function () {
                                }
                            });
                        }
                    }

                });
            },
            DeleteDocumentInitial: function (e) {
                console.log("delete 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("Status", "Delete");
                dataItem.set("row_status", 1)
            },
            DeleteScanInitial: function (e) {
                console.log("delete 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("Status", "Delete");
                dataItem.set("row_status", 1)
            },
            UndoDocumentInitial: function (e) {
                console.log("undo 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                if (dataItem.attachment_notaretur_id) {
                    dataItem.set("Status", "");
                } else {
                    dataItem.set("Status", "New");
                }

                dataItem.set("row_status", 0)
            },
            UndoScanInitial: function (e) {
                console.log("undo 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                if (dataItem.attachment_invoice_notur_id) {
                    dataItem.set("Status", "");
                } else {
                    dataItem.set("Status", "New");
                }

                dataItem.set("row_status", 0)
            },
            SaveUploadDocumentInitial: function (e) {
                console.log("saving");

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                $gridDocument = $form.find("#DocumentFileGridInitial").data("kendoGrid");

                var isNewExists = false;
                var isDeleteExists = false;

                var data = $gridDocument.dataSource.data();

                for (var i = 0; i < data.toJSON().length; i++) {
                    if (data.toJSON()[i].Status == "New") {
                        isNewExists = true;
                    }

                    if (data.toJSON()[i].Status == "Delete") {
                        isDeleteExists = true;
                    }
                }

                // Fixing validation
                // Proceed if there are MANIPULATED FILE (both Add and Delete)
                //if (!isNewExists && !isDeleteExists) {
                //    swal("Error", "Upload at least 1 document", "error");
                //} else {
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                        if (val == true) {
                            var formData = $.helper.form.serializeObject($form);
                            var da = $('#reff').val();
                            var businessType = $('#business-type').val();
                            //Enhancment2020
                            var documenttype = $('#DocumentTypeUploadInitial').val();
                            //end

                            var dataToSave = {
                                reff: da,
                                businessType: businessType,
                                documenttype: documenttype,
                                Docs: $gridDocument.dataSource.data().toJSON()
                            }

                            $el.prop("disabled", true);
                            $.post("@Url.Action("SaveUploadInitial", "AttachmentNotaRetur")", dataToSave, function (d) {
                                //if (d.IsSuccess == true) {
                                //    toastr["success"]("", "Success Save Upload Attachmet Nota Retur");
                                //    $.helper.grid.refresh("NotaReturGrid");
                                //    $modal.modal("hide");
                                //}
                                //else {
                                //    swal("Error", "Failed: " + d.MessageError, "error");
                                //}
                                if (d.results.Error == 0) {
                                    //toastr["success"]("Credit Note PDF Sucessfully Upload!", d.results.NamaFile);
                                    if (isDeleteExists != true)
                                    {
                                        swal("Success", "Credit Note PDF Sucessfully Upload!", "success");
                                        $.helper.grid.refresh("NotaReturGrid");
                                        $modal.modal("hide");
                                    }
                                    else
                                    {
                                        swal("Delete", "Credit Note PDF Sucessfully Delete!", "success");
                                        $.helper.grid.refresh("NotaReturGrid");
                                        $modal.modal("hide");
                                    }

                                }
                                else {
                                    swal(`Error${d.results.Error}`, d.results.NamaFile, "error")
                                    $.helper.grid.refresh("NotaReturGrid");
                                    $modal.modal("hide");
                                }

                            }).fail(function () {
                                swal("Error", "Error when save Upload Attachmet Nota Retur", "error");
                            });
                            $el.prop("disabled", false);
                        }
                    })
                //}
            },
            //test AD
            SaveUploadDocumentInitialTTDDGT: function (e) {
                console.log("saving");

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");


                $gridDocument = $form.find("#DocumentFileGridInitial").data("kendoGrid");

                var isNewExists = false;
                var isDeleteExists = false;

                var data = $gridDocument.dataSource.data();

                for (var i = 0; i < data.toJSON().length; i++) {
                    if (data.toJSON()[i].Status == "New") {
                        isNewExists = true;
                    }

                    if (data.toJSON()[i].Status == "Delete") {
                        isDeleteExists = true;
                    }
                }

                // Fixing validation
                // Proceed if there are MANIPULATED FILE (both Add and Delete)
                //if (!isNewExists && !isDeleteExists) {
                //    swal("Error", "Upload at least 1 document", "error");
                //} else {
                //var daNum = $('#canumber').val();
                //if (daNum == '') {
                //    swal("Error", "Please Select CA Number", "error");
                //}
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                        if (val == true) {
                            var formData = $.helper.form.serializeObject($form);
                            //var da = $('#reff').val();
                            var da = $('#canumber').val();
                            var businessType = $('#business-type').val();
                            //Enhancment2020
                            var documenttype = $('#DocumentTypeUploadInitial').val();
                            //end
                            var dataToSave = {
                                reff: da,
                                businessType: businessType,
                                documenttype: documenttype,
                                Docs: $gridDocument.dataSource.data().toJSON()
                            }

                            $el.text("Saving ...").attr("disabled", true);
                            $.post("@Url.Action("SaveUploadInitialTtdDgt", "AttachmentNotaRetur")", dataToSave, function (d) {
                                // var results = JSON.parse(d.results);

                                if (d.results.Error == 0) {
                                    //toastr["success"]("", d.results);
                                    //$.helper.grid.refresh("NotaReturGrid");
                                    //$modal.modal("hide");
                                    if (isDeleteExists != true) {
                                        swal("Success", "Credit Note PDF Sucessfully Upload!", "success");
                                        $.helper.grid.refresh("NotaReturGrid");
                                        $modal.modal("hide");
                                    }
                                    else {
                                        swal("Delete", "Credit Note PDF Sucessfully Delete!", "success");
                                        $.helper.grid.refresh("NotaReturGrid");
                                        $modal.modal("hide");
                                    }
                                    $el.text("Saving").attr("disabled", false);

                                }
                                else {
                                    swal(`Error${d.results.Error}`, d.results.NamaFile, "error")
                                    $.helper.grid.refresh("NotaReturGrid");
                                    $modal.modal("hide");
                                    $el.text("Saving").attr("disabled", false);

                                }
                                //if (d.IsSuccess == true) {
                                //    toastr["success"]("", "Success Save Upload Attachmet Nota Retur");
                                //    $.helper.grid.refresh("NotaReturGrid");
                                //    $modal.modal("hide");
                                //}
                                //else {
                                //    swal("Error", "Failed: " + d.MessageError, "error");
                                //}
                            }).fail(function () {
                                swal("Error", "Error when save Upload Attachmet Nota Retur", "error");
                                $el.text("Saving").attr("disabled", false);

                            });
                        }
                    })


                //}
            },

            SaveUploadScanInitial: function (e) {
                console.log("saving");

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                $gridDocument = $form.find("#DocumentScanGridInitial").data("kendoGrid");

                var isNewExists = false;
                var isDeleteExists = false;

                var data = $gridDocument.dataSource.data();

                for (var i = 0; i < data.toJSON().length; i++) {
                    if (data.toJSON()[i].Status == "New") {
                        isNewExists = true;
                    }

                    if (data.toJSON()[i].Status == "Delete") {
                        isDeleteExists = true;
                    }
                }

                // Fixing validation
                // Proceed if there are MANIPULATED FILE (both Add and Delete)
                //if (!isNewExists && !isDeleteExists) {
                //    swal("Error", "Upload at least 1 document", "error");
                //} else {
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                        if (val == true) {
                            var formData = $.helper.form.serializeObject($form);
                            var da = $('#invoice').val();
                            var dataToSave = {
                                invoice: da,
                                Docs: $gridDocument.dataSource.data().toJSON()
                            }

                            $el.prop("disabled", true);
                            $.post("@Url.Action("SaveUploadInvoice", "ScanInvoice")", dataToSave, function (d) {
                                if (d.IsSuccess == true) {
                                    toastr["success"]("", "Success Save Upload Scan Invoice");
                                    $.helper.grid.refresh("NotaReturGrid");
                                    $modal.modal("hide");
                                }
                                else {
                                    swal("Error", "Failed: " + d.MessageError, "error");
                                }
                            }).fail(function () {
                                swal("Error", "Error when save Upload Scan Invoice", "error");
                            });
                            $el.prop("disabled", false);
                        }
                    })
                //}
            },
            SetScrollAllGrid: function () {
                $('#grid-allocation').contents().wrap('<div class="grid-scroll-container"></div>');
                $('#DocumentScanGrid').contents().wrap('<div class="grid-scroll-container"></div>');
            }
        };
    };
    function onSuccessUpload(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("#DocumentFileGrid").data("kendoGrid").dataSource.add({
                reference: null,
                filename: data.filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
                DocumentType: $("#DocumentTypeUploadInitial").val(),
                Status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };
    function onSuccessUploadScan(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("#DocumentScanGrid").data("kendoGrid").dataSource.add({
                invoice_number: null,
                filename: data.filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
                DocumentType: $("#DocumentTypeUpload").val(),
                Status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentScanGrid").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentScanGrid").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };

    function onSuccessUploadInitial(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("#DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                reference: null,
                filename: data.filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
                FileType: data.FileType,
                document_type: data.document_type,
                documenttype: $("#DocumentTypeUploadInitial").val(),
                Status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };
    function onSuccessUploadScanInitial(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("#DocumentScanGridInitial").data("kendoGrid").dataSource.add({
                invoice_number: null,
                filename: data.filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
                FileType: data.FileType,
                documenttype: $("#DocumentTypeUploadInitial").val(),
                Status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentScanGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentScanGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };
    function getDocumentParameter() {
        return {
            reff: $("#reff").val()
        }
    };
    function getInvoiceParameter() {
        return {
            invoice: $("#invoice").val()
        }
    };
    function download(da_code) {
        $.fileDownload('@Url.Action("Download","Attachment")', {
            data: { id: da_code },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', "Invoice doesn't have attachment", 'warning');
            }
        })
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
    function downloadInvoice(invoice_number) {
          $.fileDownload('@Url.Action("DownloadInvoiceNotur","ScanInvoice")', {
              data: { invoice_number: invoice_number },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', "Invoice doesn't have attachment", 'warning');
            }
        })
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
    function downloadNotur(da_no, business_unit, invoice_number) {
        $.fileDownload('@Url.Action("DownloadNotaRetur","Invoice")', {
            data: {
                da_no: da_no,
                business_unit: business_unit,
                invoice_number: invoice_number
            },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', 'MV is Not Available', 'warning');
            }
        })
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }

    function downloadNoturSignOff(da_no, business_unit, invoice_number) {
        alert("downloadNoturSignOff");
        $.fileDownload('@Url.Action("DownloadNotaRetur","Invoice")', {
            data: {
                da_no: da_no,
                business_unit: business_unit,
                invoice_number: invoice_number
            },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', 'MV is Not Available', 'warning');
            }
        })
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }

    function downloadNoturDGT(da_no, business_unit, invoice_number) {
        alert("downloadNoturDGT");
        $.fileDownload('@Url.Action("DownloadNotaRetur","Invoice")', {
            data: {
                da_no: da_no,
                business_unit: business_unit,
                invoice_number: invoice_number
            },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', 'MV is Not Available', 'warning');
            }
        })
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }

    function downloadSpCa(da_no, business_unit, invoice_number) {
        $.fileDownload('@Url.Action("DownloadSpCa","NotaRetur")', {
            data: {
                da_no: da_no,
                business_unit: business_unit,
                invoice_number: invoice_number
            },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', 'MV is Not Available', 'warning');
            }
        });
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
    function onSelectUpload(e) {
            $gridDocument = $("#DocumentFileGridInitial").data("kendoGrid");
            var data = $gridDocument.dataSource.data().toJSON();
            var documenttype = $("#DocumentTypeUploadInitial").val();
            var CreditNumber = $("#CRNumber").val();
            //var fileInfoext = getNameWithoutExt(e);
            var fileInfo = getFileInfo(e);
            if (CreditNumber == undefined) {
                $.each(data, function (index, item) {
                    if (fileInfo.length > 0) {
                        //console.log(fileInfo[0]);
                        //console.log(item.filename);
                        if (fileInfo[0] == item.filename && documenttype == item.document_type) {

                            if (documenttype == "NoturSignOff") {
                                swal("Error", "Credit Note Sign Off Already Exist", "error");
                                e.preventDefault();
                            }
                            else if (documenttype == "NoturDGT") {
                                swal("Error", "Credit Note DGT Already Exist", "error");
                                e.preventDefault();
                            }
                            //swal("Error", "Can't upload file " + item.filename + ". File is duplicate.", "error");
                            //e.preventDefault();
                        }
                    }
                });
            }
            else {
                if (CreditNumber + ".pdf" != fileInfo[0]) {
                    swal("Error", "Credit Note Number doesn't match", "error");
                    e.preventDefault();
                }
                else {
                    $.each(data, function (index, item) {
                        if (fileInfo.length > 0) {
                            //console.log(fileInfo[0]);
                            //console.log(item.filename);
                            if (fileInfo[0] == item.filename && documenttype == item.document_type) {

                                if (documenttype == "Notur") {
                                    swal("Error", "Credit Note Already Exist", "error");
                                    e.preventDefault();
                                }
                                else if (documenttype == "NoturSignOff") {
                                    swal("Error", "Credit Note Sign Off Already Exist", "error");
                                    e.preventDefault();
                                }
                                else if (documenttype == "NoturDGT") {
                                    swal("Error", "Credit Note DGT Already Exist", "error");
                                    e.preventDefault();

                                }
                            }
                        }
                    });
                }
            }
        }
    function onSelectUploadScan(e) {
        $gridDocument = $("#DocumentScanGridInitial").data("kendoGrid");
        var data = $gridDocument.dataSource.data().toJSON();
        var fileInfo = getFileInfoScan(e);

        $.each(data, function (index, item) {
            if (fileInfo.length > 0) {
                //console.log(fileInfo[0]);
                //console.log(item.filename);
                if (fileInfo[0] == item.filename) {
                    swal("Error", "Can't upload file " + item.filename + ". File is duplicate.", "error");
                    e.preventDefault();
                }
            }
        });
    }
    @*function downloadall() {
        $.fileDownload('@Url.Action("DownloadAll","Attachment")',{
            data: {
                invoice_number = invoice_number,
                business_unit_id = business_unit_id,
                transaction_type_id = transaction_type_id,
            },

            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Error', 'File Not Found', 'error');
            }
        })
        //.done(function () { swal('Info', 'File download a success!', 'success'); })
        //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }*@

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }
    function getFileInfoScan(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    function replaceString(value) {
        return value.replace("/", "-");
    }

    function downloadfiletype(type) {
        var pb = $("#progressBar").data("kendoProgressBar");
        var dataSource = $('#NotaReturGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var allchecked = $("#masterCheckBox").is(':checked');
        var $checkedRecords = $('.cbAdvisor:checked');
        var matches = [];
        if ($checkedRecords.length < 1) {

            swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
            return;
        }

        $checkedRecords.each(function () {
            matches.push(this.value);
        });
        var sid = $('#sid').val();

        //var oParam = { "filter": "", "sort": "", "page": "", "pageSize": "", "checks": "", "checkedAll": "", "sid": "", "type": "" };
        //var oParam = { "filter": "", "sort": "", "page": "", "pageSize": "", "checks": "", "checkedAll": "", "sid": "", "type": "" };
        //oParam.filter = dataSourceRequest["filter"];
        //oParam.sort = dataSourceRequest["sort"];
        //oParam.page = dataSourceRequest["page"];
        //oParam.pageSize = dataSourceRequest["pageSize"];
        //oParam.checks = matches;
        //oParam.checkedAll = allchecked;
        //oParam.sid = sid;
        //oParam.type = type;
        $.ajax({
            type: "POST",
            url: '@Url.Action("downloadFileType", "NotaRetur")?checks=' + matches + '&checkedAll=' + allchecked + '&sid=' + sid + '&type=' + type,
            data: data,
            traditional: true,
            dataType: 'json',
            beforeSend: function (response) {
                kendo.ui.progress($("#NotaReturGrid"), true);
                //$("#window").data("kendoWindow").center().open();
            },
            success: function (response) {
                //var percentage = 0;

                //var timer = setInterval(function () {
                //    percentage = percentage + 20;
                //    progress_bar_process(percentage, timer);
                //}, 1000);


                //progress();

                //pb.value(response.totaldata);




                var urlstring;
                var _Warning;
                if (type == 'excel') {
                    urlstring = '@Url.Action("Excel_Export", "NotaRetur")';
                    _Warning = "Load data too much!";
                }
                else if (type == 'ntreport') {
                    urlstring = '@Url.Action("ExportReportNotaRetur", "NotaRetur")';
                    _Warning = "Load data too much!";
                }
                else if (type == 'careport') {
                    urlstring = '@Url.Action("DownloadCAReport", "NotaRetur")';
                    _Warning = "Load data too much!";
                }
                else if (type == 'csvreport') {;
                    urlstring = '@Url.Action("DownloadCSVFile", "NotaRetur")';
                    _Warning = "Load data too much!";
                }
                else if (type == 'InvoiceQR') {
                    urlstring = '@Url.Action("ExportZipInvoice", "NotaRetur")';
                    _Warning = "File Not Found !";
                }
                else if (type == 'Invoice') {
                    urlstring = '@Url.Action("DownloadAllInvoiceNotur", "NotaRetur")';
                     _Warning = "Invoice doesn't have attachment";
                }
                else if (type == 'VatCreditNote') {
                    if (response.pdfstatus == false) {
                        console.log("file not exists");
                        swal('Warning', 'File Not Exist', 'warning');
                        $("#window").data("kendoWindow").center().close();
                        return false
                    } else {
                       urlstring = '@Url.Action("DownloadAllNotur", "NotaRetur")';
                        _Warning = "Load data too much!";
                    }
                     //_Warning = "Please select filter before download all document !";
                }
                else if (type == 'Attachment') {
                    urlstring = '@Url.Action("DownloadAllAttachment", "NotaRetur")';
                     _Warning = "Invoice doesn't have attachment";
                }
                else if (type == 'TaxInvoice') {
                    urlstring = '@Url.Action("ExportZip", "NotaRetur")';
                    _Warning = "File Not Found !";
                }

                else if (type == 'ttd') {
                    if (response.pdfstatus == false) {
                        console.log("file not exists");
                        swal('Warning', 'File Not Exist', 'warning');
                        $("#window").data("kendoWindow").center().close();
                        return false
                    } else {
                        urlstring = '@Url.Action("DownloadAllSignOff", "NotaRetur")';
                        _Warning = "Load data too much!";
                    }

                }
                else if (type == 'dgt') {
                    if (response.pdfstatus == false) {
                        console.log("file not exists");
                        swal('Warning', 'File Not Exist', 'warning');
                        $("#window").data("kendoWindow").center().close();
                        return false
                    } else {
                        urlstring = '@Url.Action("DownloadAllDGT", "NotaRetur")';
                        _Warning = "Load data too much!";
                    }

                }


                try {
                $.fileDownload(urlstring, {
                    data: { sid: sid, total: response.totaldata },
                     successCallback: function (fn) {
                         $("#window").data("kendoWindow").center().close();
                    },
                    failCallback: function (fn) {
                        $("#window").data("kendoWindow").center().close();
                        swal('Warning', _Warning, 'warning');
                    },
                    //preparingMessageHtml: function (fn) { $("#window").data("kendoWindow").center().open()},
                    //failMessageHtml: "There was a problem generating your report, please try again."
                });

                    return false;
                }
                catch (err) {
                    swal('Warning', _Warning, 'warning');
                }


               // pb.value(response.totaldata / 3);

            },
            complete: function (response) {

              //  pb.value(response.totaldata);
                kendo.ui.progress($("#NotaReturGrid"), false);
                //$("#window").data("kendoWindow").center().close();
              //  pb.value(0);
            },
            error: function (response) {

                //  pb.value(response.totaldata);
                kendo.ui.progress($("#NotaReturGrid"), false);
                //$("#window").data("kendoWindow").center().close();
                swal('Warning', "File Not Exist", 'warning');
            }
        });


    }

    function basedop(obj) {
        var val = obj.value;

        //reset
        $("#txtBsdLike").val("");
        $("#txtBsdEQ").val("");
        $("#txtBsdLT").val("");
        $("txtBsdLTE").val("");
        $("#txtBsdGT").val("");
        $("#txtBsdGTE").val("");

        if (val == "EQ") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "";
        }
        else {
            document.getElementById("divBsdLike").style.display = "";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
    }

    function amtop(obj) {
        var val = obj.value;

        //reset
        document.getElementById("txtAmtLike").value = "";
        document.getElementById("txtAmtEQ").value = "";
        document.getElementById("txtAmtLT").value = "";
        document.getElementById("txtAmtLTE").value = "";
        document.getElementById("txtAmtGT").value = "";
        document.getElementById("txtAmtGTE").value = "";

        if (val == "EQ") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "";
        }
        else {
            document.getElementById("divAmtLike").style.display = "";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
    }

    //function progress_bar_process(percentage, timer) {
    //    $('.progress-bar').css('width', percentage + '%');
    //    if (percentage > 100) {
    //        clearInterval(timer);

    //      //  $('#process').css('display', 'none');
    //        $('.progress-bar').css('width', '0%');


    //    }
    //}

    function onUpload(e) {
        var vreff = $("#reff").val();
        var vtype = $("#DocumentTypeUploadInitial").val();
        e.data = { Area: "Core", reff: vreff, typedoc: vtype };
    }

</script>
