﻿@section scripts {
    @Html.Partial("~/Areas/Core/Views/PVMonitoring/Script/_PVMonitoring.cshtml")
}

@{
    <input id="divId" value="@ViewBag.DivId" style="display:none;" />
}

<div id="PVMonitoringModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<div id="LoDModal" class="modal fade bs-modal-md" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

        </div>
    </div>
</div>

<div id="NotProperModal" class="modal fade bs-modal-sm" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="margin-right:0">
                    <div class="col-md-4 col-sm-12">
                        <label>Reason : </label>
                        <input type="hidden" id="is-single" class="form-control" value="" />
                    </div>
                </div>
                <div class="row" style="margin-right:0;margin-bottom:1em;">
                    <div class="col-md-8 col-sm-12">
                        <textarea id="reject-reason" cols="34" rows="3"></textarea>
                    </div>
                </div>
                <div class="row" style="margin-right:0">
                    <div class="col-md-12 col-sm-12">
                        <div class="btn-group btn-group-m" id="actionbuttons">
                            <button type="button" class="btn btn-xs blue" onclick="onClickNotProper()">Reject</button>
                            <button type="button" class="btn btn-xs red" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>ELVIS</span>
        </h1>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="PVMonitoringGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>PV No</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "pv_no" }' />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>PV Date</label>
                            <div class="row">
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "pv_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "pv_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Status PV</label>
                            @Html.DropDownList("status-flag", new SelectList(ViewBag.Status, "code", "name", ViewBag.StatusSelected ),
                            "All",
                            new
                            {
                                @class = "select2local form-control select2-multiple",
                                @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"status_flag\" }",
                                @id = "code"
                            })
                        </div>
                    </div>
                </div>

                <div class="row filter-div" hidden="hidden">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>No Invoice</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_no" }' />
                        </div>
                    </div>
                    @if (ViewBag.UserType == "Internal")
                    {
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Dealer</label>
                                <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "vendor_name" }' />
                            </div>
                        </div>
                    }
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Letter No</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "account_info" }' />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom:1em;">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-9">
                        @if (ViewBag.IsAllowedUploadLetterDisburs)
                        {
                            <div class="col-md-5 col-xs-12">
                                <a id="upload-letter" class="btn btn-default blue trigger">
                                    <i class="fa fa-upload"></i> <span class="hidden-xs">Upload Letter of Disbursement</span>
                                </a>
                            </div>
                            <!--
                            <div class="col-md-5 col-xs-12">
                                @@(Html.Kendo().Upload()
                                    .Name("uploadFilePVMonitoring")
                                    .HtmlAttributes(new { aria_label = "files" })
                                    .Async(a => a
                                        .SaveUrl(@@Url.Action("UploadListPVMonitoring", "PVMonitoring", new { Area = "Core" }))
                                        .AutoUpload(true)
                                    )
                                    .Events(evt =>
                                    {
                                        evt.Select("onSelectUploadLetter");
                                        evt.Upload("onUploadLetter");
                                        evt.Success("onSuccessUploadListPVMonitroing");
                                    })
                                    //.Validation(v => v.AllowedExtensions(new string[] { ".xls", ".xlsx" }))
                                    .ShowFileList(false)
                                    .Messages(m => m.Select("Upload Letter of Disbursement"))
                                )
                            </div>
                            -->
                        }
                        @if (ViewBag.IsAllowedDownloadTemplate)
                        {
                            <div class="col-md-3 col-xs-12">
                                <a class="btn btn-default blue" id="download-template">
                                    <i class="fa fa-file-excel-o"></i> <span class="hidden-xs">Download Template</span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="col-md-3">
                        <div class="row filter-action">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                            <!--
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group" style="margin-bottom: 0;">
                                    <div class="btn-group btn-group-justified">
                                        <a class="btn btn-default blue trigger">
                                            <i class="fa fa-search"></i> <span class="hidden-xs">Search</span>
                                        </a>
                                        <a class="btn btn-default clear-trigger" style="background-color:#76dade; border-color:#76dade;color:white">
                                            <i class="fa fa-refresh"></i> <span class="hidden-xs">Clear</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>

            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/PVMonitoring/Component/_PVMonitoringGrid.cshtml")

        <script>
            $(document).ready(function () {
                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))
                /*
                $("#files").kendoUpload({
                    async: {
                        saveUrl: "save",
                        removeUrl: "remove",
                        autoUpload: true
                    }
                });
                $(".k-button.k-upload-button").css("visibility", "hidden");
                */
                $('.date-picker').datepicker({
                    format: 'dd/mm/yyyy'
                }).on('changeDate', function (date) {
                    var dateFrom = $("#dateFrom");
                    var dateTo = $("#dateTo");

                    if (dateFrom.val() != null && dateTo.val() != null) {

                        dateFrom = dateFrom.data('datepicker').dates.get();
                        dateTo = dateTo.data('datepicker').dates.get();

                        //console.log("Date From: " + dateFrom);
                        //console.log("Date To: " + dateTo);

                        if (dateFrom > dateTo) {
                            swal('Warning', 'Date To must be higher than Date From.', "error");
                        }
                    }
                });

                //create AutoComplete UI component
                $("#transtipe").kendoAutoComplete({
                    dataSource: data,
                    dataTextField: "transaction_name",
                    dataValueField: "transaction_type_id",
                    // change: function () {
                    //  var tipe = this.value();
                    // console.log("selected tipe ", tipe);
                    // },
                    filter: "startswith",
                    placeholder: "Transaction Type",
                    //separator: " "
                });

                $('#uploadFilePVMonitoring').parent().addClass("btn btn-default blue").css('padding', '6px 12px').parents('.k-upload-empty').css('background-color', 'transparent');
            });
        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>

    </div>
</div>