﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.Invoice
@{
    List<BuktiPotongAttachment> listDoc = ViewBag.listDocument;
    string invoice = ViewBag.InvoiceNo;
    <input type="hidden" id="invoice" data-role="tagsinput" class="form-control" value="@ViewBag.InvoiceNo" />
    <input type="hidden" id="file" data-role="tagsinput" class="form-control" value="filename" runat="server" />
    <input type="hidden" id="docType" name="docType">

}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-attachment">Bukti Potong</h4>
</div>

<div class="modal-body">
 
        <form id="formBuktiPotongUpload">
            @*@Html.HiddenFor(x => x.da_code)*@
            @(Html.Kendo().Grid(listDoc)
                        .Name("DocumentFileGridInitial")
                        .ToolBar(t => t.Template(
                                        @<text>
                                            <div class="row" style="margin-right:0">
                                                <div id="div-ddlupload" class="col-md-4">
                                                    <select id="DocumentTypeUploadInitial" onchange="getDocumentType()" class="form-control">
                                                        @*<option value="BuktiPotong">Bukti Potong</option>*@
                                                        <option value="22">WHT Art. 22</option>
                                                        <option value="23">WHT Art.  23</option>
                                                        <option value="4 ayat 2">WHT Art. 4(2)</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    @(Html.Kendo().Upload()
                                                                .Name("files")
                                                                .HtmlAttributes(new { aria_label = "files" })
                                                                .Async(a => a
                                                                .SaveUrl(@Url.Action("Upload", "BuktiPotong"))
                                                                //.SaveUrl(@Url.Action("Upload", "BuktiPotong", new { Area = "Core", invoices = invoice, documentType = "" }))
                                                    .AutoUpload(true)
                                                    )
                                                    .Events(evt =>
                                                    {
                                                        evt.Upload("onDataUpload");
                                                        evt.Select("onSelectUpload");
                                                        evt.Success("onSuccessUploadInitial");
                                                        evt.Progress("onProgressUpload");
                                                        evt.Complete("onCompleteUpload");
                                                    })
                                                    .ShowFileList(false)
                                                    .Validation(v => v.AllowedExtensions(new string[] { ".pdf", ".xls", ".xlsx" }))
                                                    )
                                                </div>
                                                @*<div class="col-md-4">
                                                        <a class="btn btn-default blue btn-download-nota-retur-template" onclick="onClickDownloadTemplateWHT()">
                                                            <i class="fa fa-download"></i> <span class="hidden-xs">Download Template</span>
                                                        </a>
                                                    </div>*@
                                            </div>
                                        </text>
             ))
             .Columns(columns =>
             {
                 columns.Bound(f => f.filename).Title("File Name").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                             @"#if(invoice_number){#
                 <a href='" + Url.Action("Document", "BuktiPotong", new { Area = "Core" }) + @"?id=#:attachment_bukti_potong_id#'>
                 <span #if(status=='Delete'){# style='text-decoration: line-through;'#}#>
                     #:filename#
                 </span>
                 </a>
                         #}else{#
                         <a href='" + Url.Action("Temp", "BuktiPotong", new { Area = "Core" }) + @"?filename=#:server_filename#'>
                             <span #if(status=='Delete'){# style='text-decoration: line-through;'#}#>
                                 #:filename#
                             </span>
                         </a>
                             #}#"
                                                 ).Width(400);
                                             columns.Bound(f => f.DocumentTypeText).Title("Document Type").Width(75);
                                             columns.Bound(f => f.attachment_bukti_potong_id).Hidden(true);
                                             columns.Bound(c => c.invoice_number).Title("Action").Width(75).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Sortable(false).Filterable(false).ClientTemplate(
                                             @"#if(DocumentType!='Pdf'){#
                             #if(status != 'Delete'){#
                                 <a class='btn btn-xs btn-danger k-grid-delete-doc' onclick='App.BuktiPotongManagement.DeleteDocumentInitial(this)'>Delete</a>
                                 #}else{#
                                 <a class='btn btn-xs btn-success k-grid-undo-doc' onclick='App.BuktiPotongManagement.UndoDocumentInitial(this)'>Undo</a>
                             #}}#"
                                         );
             })
         .NoRecords(x => x.Template("No Documents"))
         .DataSource(dataSource => dataSource
         .Ajax()
         .PageSize(10)
         .Model(m => m.Id(f => f.invoice_number))
         .Read(read => read.Url(@Url.Action("GetListDocuments", "BuktiPotong", new { area = "Core" })).Data("getDocumentParameter"))
     )

            )
        </form>
</div>
<div class="modal-footer" id="buttons">
    <div class="btn-group btn-group-m" id="actionbuttons">

        <button type="button" class="btn green" id="btnSaveUploadScan" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Save"onclick="App.BuktiPotongManagement.SaveUploadDocumentInitial(this)">Save</button>

    </div>
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
   
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#DocumentFileGridInitial').contents().wrap('<div class="grid-scroll-container"></div>');


    });
    //$('#load1').on('click', function () {
    //    var $this = $('#load1');
    //    $this.button('loading');
    //    setTimeout(function () {
    //        $this.button('reset');
    //    }, 8000);
    //});
    function getDocumentType() {
        var e = document.getElementById("DocumentTypeUploadInitial");

        document.getElementById("docType").value = e.value;
    }

 


</script>