﻿@using Tam.Ebilling.Domain;
@{
    List<BuktiPotongAttachment> invoices = ViewBag.Invoices;

}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">List Invoice Gabungan</h4>
</div>
<div class="modal-body">
    @(Html.Kendo().Grid(invoices)
        .Name("ListInvoice")
        .Columns(columns =>
        {
            columns.Bound(f => f.invoice_number).Title("Invoice Number").Width(75);
        })
        .NoRecords(x => x.Template("No Invoice"))
        
        )
</div>
<div class="modal-footer" id="buttons">
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ListInvoiceGabunganModal').contents().wrap('<div class="grid-scroll-container"></div>');

    });
</script>