﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.Invoice
@{
    List<ViewTaxTransactionCode> listDoc = ViewBag.listDocument; ;  
} 

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-attachment">List Tax Transaction Code</h4>
</div>



<div class="modal-body">
    <form id="formBuktiPotongUpload">
        @*@Html.HiddenFor(x => x.da_code)*@
        @(Html.Kendo().Grid(listDoc)
                    .Name("TaxTransactionCodeGrid")

         .Columns(columns =>
         {
             columns.Bound(o => o.tax_transaction_code).Width(50).Title("Tax Transaction Code"); //.HtmlAttributes( new {@style="max-width:400px;width:400px" }
             columns.Bound(o => o.description).Width(200).Title("Description").HtmlAttributes(new { style = "max-width:800px;width:700px" });
         })
     .NoRecords(x => x.Template("No Documents"))
             //.Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
        .Scrollable(scrollable => scrollable.Height("300"))
        .DataSource(dataSource => dataSource
        .Ajax()

        //.PageSize(10)
        )

        )
    </form>
</div>
<div class="modal-footer" id="buttons">

    <div class="btn-group btn-group-m" id="actionbuttons">

        <button type="button" class="btn green" id="btnExportExcelTaxCode" onclick="App.BuktiPotongManagement.ExportExcelTaxCode(this)">Export To Excel</button> 

    </div>

    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#DocumentFileGridInitial').contents().wrap('<div class="grid-scroll-container"></div>');
    });  
</script> 