﻿
<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.InvoiceManagement = new InvoiceManagement();
        App.InvoiceManagement.InitManagement();

        const urlParams = new URLSearchParams(window.location.search);
        const inv = urlParams.get('invoice_no');
        console.log(inv);
        if (inv) {
            $.ajax({
                type: 'POST',
                url: '/core/invoice/getinvoice',
                data: {
                    invoice_no: inv
                },
                success: function (res) {
                    //console.log(res);

                    $("#invoiceNo").val(inv);
                    $("#business_unit_id").val(res.business_unit_id);
                    $("#transaction_type_id").val(res.transaction_type_id);
                    $("#transactionType").val(res.transaction_type);
                    $("#dpp").val(formatMoney(res.dpp));
                    $("#tax").val(formatMoney(res.tax));
                    $("#totalAmount").val(formatMoney(res.total_amount));
                    $("#pphNo").val(res.pph_no);
                    $("#pphAmount").val(formatMoney(res.amount_pph));
                    $("#excRate").val(res.currency + ":" + formatMoney(res.rate));
                    $("#dormitory").val(formatMoney(r.empObj.dormitory));
                    $("#vat_dormitory").val(formatMoney(r.empObj.vat_dormitory));

                    $("#InvoiceDetailModal").modal("show");
                }
            });
        }

        //set default date searching
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        $("#dateFrom").val(day + "/" + month + "/" + year);
        $("#dateTo").val(day + "/" + month + "/" + year);
    });

    function InvoiceManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },

            InitControls: function () {

            },

            InitValidation: function () {

            },

            InitHandlers: function () {

                $(".k-grid").on("click", ".k-grid-detail", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoicenumber");
                    var business_unit_id = $el.data("businessunitid");
                    var transaction_type = $el.data("transactiontype");
                    var total_amount = $el.data("totalamount");
                    var dpp = $el.data("dpp");
                    var tax = $el.data("tax");
                    var pph_no = $el.data("pphno").replace('#', '/');
                    var rate = $el.data("rate");
                    var currency = $el.data("currency");
                    var amount_pph = $el.data("amountpph");
                    var transaction_type_id = $el.data("transactiontypeid");
                    var dormitory = $el.data("dormitory");
                    var vat_dormitory = $el.data("vat");
                    var urlstring = '@Url.Action("InvoiceDetail", "Invoice")?invoice_number=' + invoice_number + "&business_unit_id=" + business_unit_id
                        + "&transaction_type=" + transaction_type + "&pph_no=" + pph_no + "&total_amount=" + total_amount
                        + "&dpp=" + dpp + "&tax=" + tax + "&rate=" + rate + "&amount_pph=" + amount_pph + "&currency=" + currency + "&transaction_type_id=" + transaction_type_id
                        + "&dormitory=" + dormitory + "&vat_dormitory=" + vat_dormitory;

                    $.ajax({
                        url: urlstring,
                        //dataType: 'html',
                        success: function (r) {
                            //$('#InvoiceDetailModal').find("div.modal-content").html(data);
                            //$("#InvoiceDetailModal").json("<ul><li>Invoice Number: " + data.invnumber + "</li><li>Bussiness Unit: " + data.bussinesid + "</li></ul>");

                            //ko.cleanNode($('#InvoiceDetailModal'));
                            //ko.applyBindings(self.chatMessages, $('#InvoiceDetailModal'));
                            //console.log(r.empObj);
                            $("#invoiceNo").val(r.empObj.invoice_number);
                            $("#business_unit_id").val(r.empObj.business_unit_id);
                            $("#transaction_type_id").val(r.empObj.transaction_type_id);
                            $("#transactionType").val(r.empObj.transaction_type);
                            $("#dpp").val(formatMoney(r.empObj.dpp));
                            $("#tax").val(formatMoney(r.empObj.tax));
                            $("#totalAmount").val(formatMoney(r.empObj.total_amount));
                            $("#pphNo").val(r.empObj.pph_no);
                            $("#pphAmount").val(formatMoney(r.empObj.amount_pph));
                            $("#excRate").val(r.empObj.currency + ":" + formatMoney(r.empObj.rate));
                            $("#dormitory").val(formatMoney(r.empObj.dormitory));
                            $("#vat_dormitory").val(formatMoney(r.empObj.vat_dormitory));
                            $("#InvoiceDetailModal").modal("show");
                        },
                        error: function () {
                            $('#InvoiceDetailModal').modal('toggle');
                        }
                    });

                    var element = $('#' + invoice_number.replace('/', '-').replace('/', '-'));
                    element.hide();
                });

                $(".k-grid").on("click", ".k-grid-tax", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoicenumber");
                    var business_unit_id = $el.data("businessunitid");
                    var tax = $el.data("tax_invoice");
                    var urlstring = '@Url.Action("TaxInvoice", "Invoice")?tax_invoice=' + tax + "&business_unit_id=" + business_unit_id
                        + "&invoice_number=" + invoice_number;
                    @*var urlstring = '@Url.Action("TaxInvoice", "Invoice")?business_unit_id=' + business_unit_id+ "&invoice_number=" + invoice_number;*@

                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#TaxInvoiceModal').find("div.modal-content").html(data);
                            $("#TaxInvoiceModal").modal("show");
                        },
                        error: function () {
                            swal('Warning', 'File Not Found !', 'warning');
                        }

                    });
                });

                $(".k-grid").on("click", ".k-grid-download-invoice", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllAttachment", "Invoice")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {

                        displayLoading('#InvoiceGrid');
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                hideLoading('#InvoiceGrid');
                                swal('Warning', "Invoice doesn't have attachment", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-downloadallinvoicenew", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllInvoice", "ScanInvoice")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                hideLoading('#InvoiceGrid');
                                swal('Warning', "Invoice doesn't have attachment", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-exportexcel", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("Excel_Export", "Invoice")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    displayLoading('#InvoiceGrid');
                    //if ($grid.dataSource.filter()) {
                    $.fileDownload(urlstring, {
                        data: data,
                        successCallback: function (fn) {
                            hideLoading('#InvoiceGrid');
                        },
                        failCallback: function (fn) {
                            console.log(fn);
                            hideLoading('#InvoiceGrid');
                            swal('Warning', 'Export Excel Failed, Total row can not more than 3000', 'warning');
                        }
                    });
                    //} else {

                    //    swal('Warning', 'Please select filter before download all document !', 'warning');
                    //}

                });
                $(".k-grid").on("click", ".k-grid-downloadtax", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("ExportZip", "Invoice")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload('@Url.Action("ExportZip", "Invoice")', {
                            data: data,
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                hideLoading('#InvoiceGrid');
                                swal('Warning', 'File Not Found !', 'warning');
                            }
                        });
                    } else {
                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-downloadallinvoice", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    //var urlstring = '@Url.Action("ExportZipInvoice", "Invoice")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload('@Url.Action("ExportZipInvoice", "Invoice")', {
                            data: data,
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                hideLoading('#InvoiceGrid');
                                swal('Warning', 'Please select filter before download all document !', 'warning');
                            }
                        });
                    } else {
                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }
                });

                $(".k-grid").on("click", ".k-grid-download-attachment", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")
                    //var $gridName = $(this).closest(".k-grid").attr("id");
                    //console.log($gridName);
                     
                    var da_code = $el.data("da_code");
                    var invoice_number = $el.data("invoice_number");
                    var business_unit = $el.data("business_unit");

                    if (business_unit != 'Spare Part') {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload('@Url.Action("Download","Attachment")', {
                            data: {
                                id: da_code,
                                invoicenumber: invoice_number,
                                businessUnit: business_unit
                            },
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                                if (cekFileDownload() == "False") swal('Warning', "Invoice doesn't have attachment", 'warning');

                            },
                            failCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                                swal('Warning', "Invoice doesn't have attachment", 'warning');
                            }
                        });
                    }
                    else {
                        if (invoice_number.indexOf('FDA') > -1) {
                            displayLoading('#InvoiceGrid');
                            $.fileDownload('@Url.Action("DownloadAttachmentSparePart", "Attachment")', {
                                data: {
                                    daNumber: invoice_number
                                },
                                successCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                },
                                failCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                    swal('Warning', "Invoice doesn't have attachment", 'warning');
                                }
                            });
                        } else {
                            displayLoading('#InvoiceGrid');
                            $.fileDownload('@Url.Action("DownloadAttachmentSparePartNotur", "Attachment")', {
                                data: {
                                    caNumber: invoice_number
                                },
                                successCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                },
                                failCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                    swal('Warning', "Invoice doesn't have attachment", 'warning');
                                }
                            });
                        }
                    }
                });
                $(".k-grid").on("click", ".k-grid-download-delivery-note", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_code = $el.data("da_code");
                    var invoice_number = $el.data("invoice_number");
                    var business_unit = $el.data("business_unit");

                    if (business_unit != 'Spare Part') {
                        swal('Warning', "Invoice doesn't have PI", 'warning');
                    }
                    else {
                        if (invoice_number.indexOf('FDA') > -1) {
                            displayLoading('#InvoiceGrid');
                            $.fileDownload('@Url.Action("DownloadDeliveryNoteSparePart", "Attachment")', {
                                data: {
                                    daNumber: invoice_number
                                },
                                successCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                },
                                failCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                    swal('Warning', "Invoice doesn't have PI", 'warning');
                                }
                            });
                        } else {
                            displayLoading('#InvoiceGrid');
                            $.fileDownload('@Url.Action("DownloadDeliveryNoteCreditSparePart", "Attachment")', {
                                data: {
                                    daNumber: invoice_number
                                },
                                successCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                },
                                failCallback: function (fn) {
                                    hideLoading('#InvoiceGrid');
                                    swal('Warning', "Invoice doesn't have PI", 'warning');
                                }
                            });
                        }
                    }
                });
                $(".k-grid").on("click", ".k-grid-download-all-pi", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllPI", "Attachment")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                hideLoading('#InvoiceGrid');
                                swal('Warning', "Invoice doesn't have PI", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });
                //Add new download all wht
                $(".k-grid").on("click", ".k-grid-download-allpph", function () {
                    //alert("MASUK");
                    debugger;
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;
                    var urlstring = '@Url.Action("DownloadAllPPH", "Attachment")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                hideLoading('#InvoiceGrid');
                                swal('Warning', "Withholding Tax Art 22 document is waiting for approval.", 'warning');
                            }
                        });
                    } else {

                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });

                //ADDMEW Funtion WHT PDF ROW
                $(".k-grid").on("click", ".k-grid-download-whtpdfrow", function () {
                    //alert("MASUK");
                     var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var invoice_number = $el.data("invoice_number");
                        //parameterMap = $grid.dataSource.transport.parameterMap;

                    //var urlstring = '@Url.Action("downloadWhtPDFROW", "Invoice")';

                    //var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    //if ($grid.dataSource.filter()) {
                    //    $.fileDownload(urlstring, {
                    //        data: data,
                    //        successCallback: function (fn) {
                    //            alert(data);
                    //        },
                    //        failCallback: function (fn) {
                    //            console.log(fn);
                    //            swal('Warning', 'Withholding Tax Art 22 is waiting for approval !', 'warning');
                    //        }
                    //    });
                    //} else {
                    //    swal('Warning', 'Please select filter before download all document !', 'warning');
                    //}
                    if (invoice_number != 'invoice_number')
                    {
                        displayLoading('#InvoiceGrid');
                        $.fileDownload('@Url.Action("downloadWhtPDFROW", "Invoice")', {
                            data: {
                                //id: da_code,
                                invoicenumber: invoice_number
                                //businessUnit: business_unit
                            },
                            successCallback: function (fn) {
                                
                                hideLoading('#InvoiceGrid');
                            },
                            failCallback: function (fn) {
                                hideLoading('#InvoiceGrid');
                                //swal('Warning', 'Withholding Tax Art 22 is waiting for approval !', 'warning');
                            }
                        });
                    }

                });

                //end

                 @*$(".k-grid").on("click", ".k-grid-download-scaninvoice", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                     var invoice_number = $el.data("invoice_number");
                     console.log(invoice_number);
                    $.fileDownload('@Url.Action("Download","ScanInvoice")', {
                        data: {
                            invoice_number: invoice_number
                        },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', "Invoice doesn't have attachment", 'warning');
                        }
                    });*@

                $(".k-grid").on("click", ".k-grid-uploadinvoice", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoice_no");
                    var total_amount = $el.data("total_amount");
                    var currency = $el.data("currency");


                    urlstring = '@Url.Action("UploadFileInitial", "ScanInvoice")?invoice_number=' + invoice_number;
                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#ScanInvoiceModal').find("div.modal-content").html(data);
                            $("#ScanInvoiceModal").modal("show");
                            $(".modal-title-attachment").text("Invoice: " + invoice_number + " • " + currency + " " + formatMoney(total_amount));
                            App.unblockUI();
                        },
                        error: function () {
                            $('#ScanInvoiceModal').modal('toggle');
                            App.unblockUI();
                        }
                    });



                    //$(".k-grid").on("click", ".k-grid-delete-doc", function () {
                    //    console.log("delete");
                    //    var $el = $(this),
                    //        $tr = $el.closest("tr"),
                    //        $grid = $el.closest(".k-grid").data("kendoGrid"),
                    //        dataItem = $grid.dataItem($tr);

                    //    dataItem.set("Status", "Delete");
                    //});

                    //$(".k-grid").on("click", ".k-grid-undo-doc", function () {
                    //    console.log("undo");
                    //    var $el = $(this),
                    //        $tr = $el.closest("tr"),
                    //        $grid = $el.closest(".k-grid").data("kendoGrid"),
                    //        dataItem = $grid.dataItem($tr);
                    //    if (dataItem.da_no) {

                    //        dataItem.set("Status", "");
                    //    } else {
                    //        dataItem.set("Status", "New");
                    //    }
                    //});

                    function InvoiceManagement() {
                        function allocationAsset() {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AllocationRead", "ScanInvoice")",
                                data: { id: $("#d").find(":selected").data("") },
                                dataType: 'json',
                                success: function (data) {
                                    dsAlloactionAsset = data;
                                    $('#grid-allocation').data('kendoGrid').dataSource.data(data);
                                    $('#grid-allocation').data('kendoGrid').refresh();
                                },
                                error: function () {
                                }
                            });
                        }
                    }

                });
            },
               DeleteDocumentInitial: function (e) {
                console.log("delete 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("Status", "Delete");
                dataItem.set("row_status", 1)
            },
            UndoDocumentInitial: function (e) {
                console.log("undo 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                if (dataItem.attachment_notaretur_id) {
                    dataItem.set("Status", "");
                } else {
                    dataItem.set("Status", "New");
                }

                dataItem.set("row_status", 0)
            },
            SaveUploadDocumentInitial: function (e) {
                console.log("saving");

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                $gridDocument = $form.find("#DocumentFileGridInitial").data("kendoGrid");

                var isNewExists = false;
                var isDeleteExists = false;

                var data = $gridDocument.dataSource.data();

                for (var i = 0; i < data.toJSON().length; i++) {
                    if (data.toJSON()[i].Status == "New") {
                        isNewExists = true;
                    }

                    if (data.toJSON()[i].Status == "Delete") {
                        isDeleteExists = true;
                    }
                }

                // Fixing validation
                // Proceed if there are MANIPULATED FILE (both Add and Delete)
                //if (!isNewExists && !isDeleteExists) {
                //    swal("Error", "Upload at least 1 document", "error");
                //} else {
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                        if (val == true) {
                            var formData = $.helper.form.serializeObject($form);
                            var da = $('#invoice').val();
                            var dataToSave = {
                                invoice: da,
                                Docs: $gridDocument.dataSource.data().toJSON()
                            }

                            $el.prop("disabled", true);
                            $.post("@Url.Action("SaveUploadInitial", "ScanInvoice")", dataToSave, function (d) {
                                if (d.IsSuccess == true) {
                                    toastr["success"]("", "Success Save Upload Scan Invoice");
                                    $.helper.grid.refresh("InvoiceGrid");
                                    $modal.modal("hide");
                                }
                                else {
                                    swal("Error", "Failed: " + d.MessageError, "error");
                                }
                            }).fail(function () {
                                swal("Error", "Error when save Upload Scan Invoice", "error");
                            });
                            $el.prop("disabled", false);
                        }
                    })
                //}
            },
            SetScrollAllGrid: function () {
                $('#grid-allocation').contents().wrap('<div class="grid-scroll-container"></div>');
                $('#DocumentFileGrid').contents().wrap('<div class="grid-scroll-container"></div>');
            }
        };
    };

    function onSuccessUpload(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                invoice_number: null,
                filename: data.filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
               DocumentType: $("#DocumentTypeUpload").val(),
                Status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };

    function onSuccessUploadInitial(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("#DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                invoice_number: null,
                filename: data.filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
                FileType: data.FileType,
                DocumentType: $("#DocumentTypeUploadInitial").val(),
                Status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };
    function getDocumentParameter() {
        return {
            invoice: $("#invoice").val()
        }
    };
    function downloadData(da_code) {
        displayLoading('#InvoiceGrid');
        $.fileDownload('@Url.Action("Download","Attachment")', {
            data: { id: da_code },
            successCallback: function (fn) {
                hideLoading('#InvoiceGrid');
            },
            failCallback: function (fn) {
                hideLoading('#InvoiceGrid');
                swal('Warning', "Invoice doesn't have attachment", 'warning');
            }
        })
            //.done(function () { swal('Info', 'File download a success!', 'success'); })
            //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }

    //ADDNEW
    function downloadTaxInvoice(invoicenumber) {
        var invoice_number = invoicenumber
        var invnumb = "'" + invoice_number + "'";
        $.ajax({
            //url: '/Core/Invoice/ExportPDF',
            url: '@Url.Action("ExportPDF", "Invoice", new { Area = "Core" })',
            type: 'POST',
            dataType:'json',
            data: {
                id: invnumb
            },
            success: function (data) {

                if (data.result.Result == false) {
                    swal("Warning", data.result.Message, "warning");
                } else {
                    var urldata = data.linkdata;
                    if (urldata == "")
                    {
                        //alert("File PDF Is Not Avalaible");
                    }
                    else
                    {
                        var url = "@Url.Action("DownloadPDF", "Invoice", new { Area = "Core" })?id=" + invnumb;
                        window.location.href = url;
                    }
                }

            },
            error: function ()
            {
                swal("Tax invoice document is waiting for approval.");
            }
          });
    }
    //END

    //ADDNEW DOWNLOAD WHT PDF PER ROW
    function downloadWhtPDFROW(invoicenumber) {
        var invoice_number = invoicenumber
        var invnumb = "" + invoice_number + "";
        $.ajax({
            //url: '/Core/Invoice/ExportPDF',
            url: '@Url.Action("ExportPDFWHTROW", "Invoice", new { Area = "Core" })',
            type: 'POST',
            dataType:'json',
            data: {
                id: invnumb
            },
            success: function (data) {
                if (data.result.Result == false) {
                    swal("Warning", data.result.Message, "warning");
                }
                else {
                    var urldata = data.linkdata;
                    if (urldata == "") {
                        //alert("File PDF Is Not Avalaible");
                        //swal('Warning', 'Withholding Tax Art 22 is waiting for approval !', 'warning');
                    }
                    else {
                        var url = "@Url.Action("DownloadPDFWHTROW", "Invoice", new { Area = "Core" })?id=" + invnumb;
                        window.location.href = url;
                    }
                }
                },

            error: function () {
                swal("Warning", r.result.Message, "warning");
            }

            });
    }
    //END

    function downloadScan(invoice_number) {
        displayLoading('#InvoiceGrid');
        $.fileDownload('@Url.Action("Download","ScanInvoice")', {
            data: { invoice_number: invoice_number },
            failMessageHtml: "Invoice doesn't have attachment",
            successCallback: function (responseHtml , fn) {
                hideLoading('#InvoiceGrid');

                if (cekFileDownload() == "False") swal('Warning', "Invoice doesn't have attachment", 'warning');

            },
            failCallback: function (fn) {
                hideLoading('#InvoiceGrid');
                swal('Warning', "Invoice doesn't have attachment", 'warning');
            }
        })
            //.done(function () { swal('Info', 'File download a success!', 'success'); })
            //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
    function onSelectUpload(e) {
        $gridDocument = $("#DocumentFileGridInitial").data("kendoGrid");
        var data = $gridDocument.dataSource.data().toJSON();
        var fileInfo = getFileInfo(e);

        $.each(data, function (index, item) {
            if (fileInfo.length > 0) {
                //console.log(fileInfo[0]);
                //console.log(item.filename);
                if (fileInfo[0] == item.attachment) {
                    swal("Error", "Can't upload file " + item.attachment + ". File is duplicate.", "error");
                    e.preventDefault();
                }
            }
        });
    }
    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }
    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
    function replaceString(value) {
        return value.replace("/", "-");
    }

</script>
