﻿@section styles {
    <link href="~/Content/theme/Metronic/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/Metronic/global/plugins/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    @Html.Partial("~/Areas/Core/Views/Menu/Script/_Menu.cshtml")
    
    <script type="text/javascript" src="~/Content/theme/Metronic/global/plugins/jstree/dist/jstree.min.js"></script>
    <script type="text/javascript" src="~/Content/theme/Metronic/global/plugins/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>
}

@section modals {
    @Html.Partial("~/Areas/Core/Views/Menu/Component/_MenuForm.cshtml")
}
<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Menu</span> <small>Manage menus</small>
        </h1>
    </div>
    <div class="page-toolbar pull-right">
            <a class="btn blue-madison btn-outline btn-circle pull-right" href="~/Core/Menu/RefreshMenu">Refresh Menu</a>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                @Html.DropDownList("MenuGroup", new SelectList(ViewBag.MenuGroups, "ID", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="tree"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        App.MenuManagement = new MenuManagement();
        App.MenuManagement.InitManagement();
    });
</script>