﻿
@section scripts {
    @*    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    @Html.Partial("~/Areas/Core/Views/BuktiPotong/Script/_BuktiPotong.cshtml")
    @*<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>*@
}

<div id="BuktiPotongModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="ListInvoiceGabunganModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="ViewTaxTransactionCodeModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Dealer WHT Submission</span>
        </h1>
    </div>
</div>

<!--<a id="btnTest" class="btn btn-primary">Test Button</a>-->

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="BuktiPotongGrid" data-filter="true" data-logical-operator="and" class="BuktiPotongGrid">
            <div class="inputs inputs-full-width">
                <div class="row">

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Business Unit</label>
                            <select id="business-unit" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "business_unit" }'>
                                <option value="Lexus-Workshop">Lexus-Workshop</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>

                    @if (ViewBag.UserType == "Internal")
                    {
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Customer Name</label>
                                @Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName, "customer_name", "customer_name"), new
                           {
                               @class = "select2local form-control select2-multiple",
                               @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"customer_name\" }",
                               multiple = "multiple"
                           })
                            </div>
                        </div>
                    }
                    else
                    {
                        //
                    }

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>NPWP</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "no_npwp" }' />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Invoice Number</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_number" }' />
                            <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Invoice Date</label>
                            <div class="row">
                                <div class="col-md-6 col-sm-12" style="width:49% ;margin-left:5px">
                                    <div class="input-group">
                                        <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "invoice_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 48%">
                                    <div class="input-group">
                                        <input type="text" id="dateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "invoice_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Payment Date</label>
                            <div class="row">
                                <div class="col-md-6 col-sm-12" style="width:49% ;margin-left:5px">
                                    <div class="input-group">
                                        <input type="text" id="paymentDateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/M/yyyy", "field": "tgl_payment" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 48%">
                                    <div class="input-group">
                                        <input type="text" id="paymentDateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/M/yyyy", "field": "tgl_payment" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Withholding Tax Object (Y/N)</label>
                            <select id="ddlflagPotongPajak" class="select2local form-control select2-multiple" data-filter='{"multiple": false, "operator": "eq", "field": "flag_potong_pajak" }'>
                                <option disabled selected></option>
                                <option value="N/A">N/A</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <label>WHT Submission Status</label>
                        <select id="whtprepaidstatus" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "wht_prepaid_status" }'>
                            @*<option value="" >Choose Colour</option>*@
                            <option value="yellow">Yellow</option>
                            <option value="red">Red</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                </div>

                @*Add by RG 13102020*@
                <div class="row filter-div" hidden="hidden">


                    <div class="col-md-1 col-sm-10">
                        <label>Materai&nbsp;Amount</label>
                        <div class="form-group">
                            <select id="WHTTaxAmnt" class="select2local form-control select2" onchange="materaiAmountTop(this)">
                                <option></option>
                                <option value="">(none)</option>
                                <option value="EQ">=</option>
                                <option value="LT">&lt;</option>
                                <option value="LTE">&lt;=</option>
                                <option value="GT">&gt;</option>
                                <option value="GTE">&gt;=</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-10">
                        <label>&nbsp;</label>
                        <div class="form-group" id="divAmtLike">
                            <input type="text" id="txtAmtLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "materai_amount" }' />
                        </div>
                        <div class="form-group" id="divAmtEQ" style="display:none">
                            <input type="text" id="txtAmtEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "materai_amount" }' />
                        </div>
                        <div class="form-group" id="divAmtLT" style="display:none">
                            <input type="text" id="txtAmtLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "materai_amount" }' />
                        </div>
                        <div class="form-group" id="divAmtLTE" style="display:none">
                            <input type="text" id="txtAmtLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "materai_amount" }' />
                        </div>
                        <div class="form-group" id="divAmtGT" style="display:none">
                            <input type="text" id="txtAmtGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "materai_amount" }' />
                        </div>
                        <div class="form-group" id="divAmtGTE" style="display:none">
                            <input type="text" id="txtAmtGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "materai_amount" }' />
                        </div>
                    </div>


                    @*<div class="col-md-3 col-sm-12">
                            <label>Payment Date</label>
                            <div class="input-group">
                                <input type="text" id="whtDate" class="form-control date-picker" data-provide="datepicker" placeholder="" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/M/yyyy", "field": "tgl_payment" }'>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>*@

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Withholding Tax Date</label>
                            <div class="row">
                                <div class="col-md-6 col-sm-12" style="width:49% ;margin-left:5px">
                                    <div class="input-group">
                                        <input type="text" id="dateFromTax" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/M/yyyy", "field": "tanggal_bukti_potong" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 48%">
                                    <div class="input-group">
                                        <input type="text" id="dateToTax" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/M/yyyy", "field": "tanggal_bukti_potong" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Withholding Tax Number</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "nomor_bukti_potong" }' />
                            <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Tax Period Month</label>
                            <select class="select2local form-control select2" data-filter='{"multiple": true, "operator": "equals", "field": "masa_pajak" }'>
                                <option disabled selected></option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Tax Period Year</label>
                            <select class="select2local form-control select2" id="selectElementId" data-filter='{"multiple": true, "operator": "contains", "field": "tahun_pajak" }'>
                                <option disabled selected></option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-12">
                        <div class="form-group">
                            <label>WHT&nbsp;Based&nbsp;Amount</label>
                            <select id="WHTTaxAmnt" class="select2local form-control select2" onchange="basedAmountTop(this)">
                                <option></option>
                                <option value="">(none)</option>
                                <option value="EQ">=</option>
                                <option value="LT">&lt;</option>
                                <option value="LTE">&lt;=</option>
                                <option value="GT">&gt;</option>
                                <option value="GTE">&gt;=</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <label>&nbsp;</label>
                        <div class="form-group" id="divBsdLike">
                            <input type="text" id="txtBsdLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "jumlah_dpp" }' />
                        </div>
                        <div class="form-group" id="divBsdEQ" style="display:none">
                            <input type="text" id="txtBsdEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "jumlah_dpp" }' />
                        </div>
                        <div class="form-group" id="divBsdLT" style="display:none">
                            <input type="text" id="txtBsdLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "jumlah_dpp" }' />
                        </div>
                        <div class="form-group" id="divBsdLTE" style="display:none">
                            <input type="text" id="txtBsdLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "jumlah_dpp" }' />
                        </div>
                        <div class="form-group" id="divBsdGT" style="display:none">
                            <input type="text" id="txtBsdGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "jumlah_dpp" }' />
                        </div>
                        <div class="form-group" id="divBsdGTE" style="display:none">
                            <input type="text" id="txtBsdGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "jumlah_dpp" }' />
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>WHT Tarif</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "tarif" }' />
                            <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-12">
                        <div class="form-group">
                            <label>WHT&nbsp;Amount</label>
                            <select id="WHTTaxAmnt" class="select2local form-control select2" onchange="whtAmountTop(this)">
                                <option></option>
                                <option value="">(none)</option>
                                <option value="EQ">=</option>
                                <option value="LT">&lt;</option>
                                <option value="LTE">&lt;=</option>
                                <option value="GT">&gt;</option>
                                <option value="GTE">&gt;=</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <label>&nbsp;</label>
                        <div class="form-group" id="divWhtAmtLike">
                            <input type="text" id="txtWhtAmtLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "amount_wht" }' />
                        </div>
                        <div class="form-group" id="divWhtAmtEQ" style="display:none">
                            <input type="text" id="txtWhtAmtEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "amount_wht" }' />
                        </div>
                        <div class="form-group" id="divWhtAmtLT" style="display:none">
                            <input type="text" id="txtWhtAmtLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "amount_wht" }' />
                        </div>
                        <div class="form-group" id="divWhtAmtLTE" style="display:none">
                            <input type="text" id="txtWhtAmtLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "amount_wht" }' />
                        </div>
                        <div class="form-group" id="divWhtAmtGT" style="display:none">
                            <input type="text" id="txtWhtAmtGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "amount_wht" }' />
                        </div>
                        <div class="form-group" id="divWhtAmtGTE" style="display:none">
                            <input type="text" id="txtWhtAmtGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "amount_wht" }' />
                        </div>
                    </div>

                    <!--<div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label>Tax Transaction Code</label>
                        <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "jenis_pajak" }' />-->
                    <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                    <!--</div>
                    </div>-->
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Tax Transaction Code</label>
                            @Html.DropDownList("DDLTransactionTypeCode", new SelectList(ViewBag.TransactionTypeCode, "TransaksiTypeCode", "TransaksiTypeCode"), new
                       {
                           @class = "select2local form-control select2-multiple",
                           @data_filter = "{ \"multiple\": true, \"operator\": \"contains\", \"field\": \"jenis_pajak\" }",
                           multiple = "multiple"
                       })
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Description of Transaction</label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "description" }' />
                            <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>WHT PDF Status</label>
                            <select id="ddlWHTPdfStatus" class="select2local form-control select2-multiple" data-filter='{"multiple": false, "operator": "eq", "field": "wht_pdf_status" }'>
                                <option value="">N/A</option>
                                <option value="1">Exist</option>
                                <option value="0">Not Exist</option>
                            </select>
                        </div>
                    </div>

                    @*<div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>WHT Uploaded</label>
                                <select id="ddlBuktiPotongPajak" class="select2local form-control select2-multiple" data-filter='{"multiple": false, "operator": "eq", "field": "bukti_potong_uploaded" }'>
                                    <option value="1">Yes</option>
                                    <option value="0" selected>No</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Related Invoices</label>
                                <select id="ddlCountRelatedInvoice" class="select2local form-control select2-multiple" data-filter='{"multiple": false, "operator": "eq", "field": "CountRelatedInvoice" }'>
                                    <option value="1" selected>Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>*@

                    @*@if (ViewBag.UserType == "Internal")
                        {
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group">
                                    <label>Worklist Submitted</label>
                                    <select id="ddlIsActive" class="select2local form-control select2-multiple" data-filter='{"multiple": false, "operator": "eq", "field": "is_active" }'>
                                        <option value="1">Yes</option>
                                        <option value="0" selected>No</option>
                                    </select>
                                </div>
                            </div>
                        }*@
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>

                <div class="row">
                    @*<div class="col-md-2">
                            <label>Upload Worklist Withholding Tax</label>
                        </div>*@
                    <div class="col-md-9">
                        @if (ViewBag.IsAllowedUploadWorklist)
                        {
                            <div class="col-md-5 col-xs-12">
                                @(Html.Kendo().Upload()
                                    .Name("uploadFileWorklist")
                                    .HtmlAttributes(new { aria_label = "files" })
                                    .Async(a => a
                                        .SaveUrl(@Url.Action("UploadListBuktiPotong", "BuktiPotong", new { Area = "Core" }))
                                        .AutoUpload(true)
                                    )
                                    .Events(evt =>
                                    {
                                        evt.Success("onSuccessUploadListBuktiPotong");
                                    })
                                    .Validation(v => v.AllowedExtensions(new string[] { ".xls", ".xlsx" }))
                                    .ShowFileList(false)
                                    .Messages(m => m.Select("Upload Worklist Withholding Tax"))

                                )
                            </div>
                        }
                        @if (ViewBag.IsAllowedDownloadTemplate && ViewBag.UserType == "Internal")
                        {
                            <div class="col-md-3 col-xs-12">
                                <a class="btn btn-default blue" id="download-template">
                                    <i class="fa fa-file-excel-o"></i> <span class="hidden-xs">Download Template</span>
                                </a>
                            </div>
                        }
                    </div>
                    @*<div class="col-md-3">
                            <div class="row">
                                @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                            </div>
                        </div>*@
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/BuktiPotong/Component/_BuktiPotongGrid.cshtml")
        <script>
            $(document).ready(function () {

                var min = new Date().getFullYear(),
                    max = min + 20,
                    min = min - 20,
                    select = document.getElementById('selectElementId');

                for (var i = min; i <= max; i++) {
                    var opt = document.createElement('option');
                    opt.value = i;
                    opt.innerHTML = i;
                    select.appendChild(opt);
                }

                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))

                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy',
                        orientation: 'bottom auto',
                        autoclose: true
                    }).on('changeDate', function (date) {
                        var dateFrom = $("#dateFrom");
                        var dateTo = $("#dateTo");

                        var dateFromTax = $("#dateFromTax");
                        var dateToTax = $("#dateToTax");

                        var paymentDateFrom = $("#paymentDateFrom");
                        var paymentDateTo = $("#paymentDateTo");

                        if (dateFrom.val() != null && dateTo.val() != null) {

                            dateFrom = dateFrom.data('datepicker').dates.get();
                            dateTo = dateTo.data('datepicker').dates.get();

                            console.log("Date From: " + dateFrom);
                            console.log("Date To: " + dateTo);

                            if (dateFrom > dateTo) {
                                swal('Warning', 'Date To must be higher than Date From.', "error");
                            }
                        }

                        if (dateFromTax.val() != null && dateToTax.val() != null) {

                            dateFromTax = dateFromTax.data('datepicker').dates.get();
                            dateToTax = dateToTax.data('datepicker').dates.get();

                            console.log("Date From: " + dateFromTax);
                            console.log("Date To: " + dateToTax);

                            if (dateFromTax > dateToTax) {
                                swal('Warning', 'Date To must be higher than Date From.', "error");
                            }
                        }

                        if (paymentDateFrom.val() != null && paymentDateTo.val() != null) {

                            paymentDateFrom = paymentDateFrom.data('datepicker').dates.get();
                            paymentDateTo = paymentDateTo.data('datepicker').dates.get();

                            console.log("Payment Date From: " + paymentDateFrom);
                            console.log("Payment Date To: " + paymentDateTo);

                            if (paymentDateFrom > paymentDateTo) {
                                swal('Warning', 'Payment Date To must be higher than Date From.', "error");
                            }
                        }
                    });

                //create AutoComplete UI component
                $("#transtipe").kendoAutoComplete({
                    dataSource: data,
                    dataTextField: "transaction_name",
                    dataValueField: "transaction_type_id",
                    // change: function () {
                    //  var tipe = this.value();
                    // console.log("selected tipe ", tipe);
                    // },
                    filter: "startswith",
                    placeholder: "Transaction Type",
                    //separator: " "
                });
                $('*[data-role="tagsinput"]').tagsinput({
                    delimiterRegex: ' '
                });
                $('#uploadFileWorklist').parent().addClass("btn btn-default blue").css('padding', '6px 12px').parents('.k-upload-empty').css('background-color', 'transparent');
            });

        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            /*.modal-lg {
                width : 300px;
            }*/

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>