﻿<!DOCTYPE html>
<html>
<head>
    <style>
        .right {
            /*margin-left: 580px;*/
            /*width: 45%;*/
            border: 15px;
            padding: 15px;
            background-color: #2391A3;
            color: white;
            font-size: 25px;
            border: 2px solid #2391A3;
            border-radius: 10px;
        }

        .logo {
            margin-left: 10px;
            width: 45%;
            color: white;
            font-size: 25px;
        }

        .video {
            margin-left: 300px;
            padding: 55px;
            color: black;
            float: left;
        }

        .menu {
            margin-right: 10px;
        }

        .invoice {
            margin-right: 35px;
            width: 235px;
            padding: 15px;
            color: black;
            float: left;
            border: 5px solid #2391A3;
            border-radius: 30px;
            background: none;
        }

            .invoice:hover {
                background: #2391A3;
                color: white;
            }

        .notaretur {
            border: 5px solid #2391A3;
            border-radius: 30px;
            width: 235px;
            color: black;
            padding: 20px;
            float: left;
        }

        .home-banner video {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            height: 280px;
            width: 600px;
            transition: 0.75s;
        }

        .home-banner {
            display: block;
            height: auto;
            overflow: hidden;
            position: relative;
            padding-bottom: 49.5%; /* you can change this to match the width/height proportion of the video */
        }

        .zoom {
            transition: 0.75s;
            /*max-height: 100%;
            max-width: 100%;*/
            margin: 0 auto;
            text-align: center;
        }

        .fullscreen-bg {
            position: absolute;
            /*overflow: hidden;*/
            z-index: -100;
        }

        .fullscreen-bg__video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .zoom:hover {
            -ms-transform: scale(1.2); /* IE 9 */
            -webkit-transform: scale(1.2); /* Safari 3-8 */
            transform: scale(1.5);
        }

        .notaretur:hover {
            background-color: #2391A3;
            color: white;
        }

        video {
            width: 100%;
            height: auto;
        }

        .modal.has-video h3 {
            font-size: 18px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .modal.has-video ol {
            padding: 5px 12px;
        }

        .modal.has-video .modal-body .modal-body-content {
            padding: 0 15px;
        }

        .portlet {
            margin-bottom: 15px;
        }

        .round-button {
            box-sizing: border-box;
            display: block;
            width: 64px;
            height: 64px;
            padding-top: 15px;
            padding-left: 8px;
            line-height: 1;
            /* border: 4px solid #fff; */
            border-radius: 50%;
            color: #f5f5f5;
            text-align: center;
            text-decoration: none;
            background-color: rgba(34, 30, 32, 1);
            font-size: 18px;
            font-weight: bold;
            transition: all 0.3s ease;
            margin: 0 auto;
        }

            .round-button:hover {
                /* background-color: rgba(34, 30, 32, 0.9);
            box-shadow: 0px 0px 5px rgba(148, 193, 92,1); */
                text-shadow: 0px 0px 5px rgba(148, 193, 92,1);
            }

            .round-button .fa-play {
                line-height: 1;
                color: rgba(148, 193, 92, 1);
            }

                .round-button .fa-play:hover {
                    color: rgba(148, 193, 92, 0.9);
                }

        .portlet-play .portlet-body {
            padding: 0 !important;
            height: 250px;
        }

            .portlet-play .portlet-body .round-button {
                margin-top: 100px;
            }

            .portlet-play .portlet-body .portlet-label {
                line-height: 26px;
                letter-spacing: -1;
                font-weight: 700;
                font-size: 24px;
                position: absolute;
                top: 23px;
                left: 38px;
            }

        .video-jump-to .glyphicon-play-circle {
            font-size: 24px;
            top: 5px;
        }
    </style>
</head>
<body>
    <div class="page-head">
        <div class="page-title">
            <h1>
                <span>Home</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="portlet light bordered">

                <div class="portlet-body" style="overflow:hidden">
                    <img src="/Content/img/billing-image-800x450.png" height="320" width="568">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet light bordered" style="background-color: #2391A3; color: #fff; font-size:13px">
                <div class="portlet-body">
                    <b>E-Billing</b> adalah sebuah sistem customer portal yang dapat memudahkan baik user maupun customer untuk
                    melakukan tracking dokumen apa saja yang sudah lengkap dan lead time penerimaan dokumen menjadi lebih cepat.
                    Di dalam sistem customer portal ini customer dapat melakukan download invoice, tax invoice, withholding tax,
                    dan attachment dokumen.
                    <br>
                    <br>
                    <a href="~/UserManual/User%20Manual%20-%20eBilling%20V.3.pdf" target="_blank"
                       style="background-color:#3a80d7; color:white"><b>User Manual Withholding Tax</b></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet light bordered" style="background-color: #2391A3; color: #fff; font-size:13px">
                <div class="portlet-body">
                    User Manual Enhancement E-Billing 2021:
                    <br>
                    <br>
                    <p> <a href="~/UserManual/usermanual_invoice.pdf" target="_blank" style="background-color:#3a80d7; color:white"><b>User Manual Invoice</b></a> </p>
                    <p> <a href="~/UserManual/usermanual_vat_credit_note.pdf" target="_blank" style="background-color:#3a80d7; color:white"><b>User Manual VAT Credit Note</b></a></p>
                    <p> <a href="~/UserManual/usermanual_withholding_tax.pdf" target="_blank" style="background-color:#3a80d7; color:white"><b>User Manual Withholding tax</b></a></p>
                    <p> <a href="~/UserManual/usermanual_dealer_wht_submission.pdf" target="_blank" style="background-color:#3a80d7; color:white"><b>User Manual Dealer WHT Submission</b></a></p>
                    <p> <a href="~/UserManual/usermanual_drkb.pdf" target="_blank" style="background-color:#3a80d7; color:white"><b>User Manual DRKB</b></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body" style="overflow: hidden;">
                    <button class="btn btn-xs btn-info" onclick="openFullscreen3();">
                        <img src="~/Content/img/notification-bell-svgrepo-com.png" width="27">New
                    </button>
                    <video width="450" height="260" style="text-align:center" id="myvideo3" onclick="openFullscreen3();">
                        <source src="~/Content/video/VideoTutorialEnhancement.mp4#t=2" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="portlet light bordered">

                <div class="portlet-body" style="overflow: hidden;">
                    <button class="btn btn-xs btn-info" onclick="openFullscreen();">Open Video in Fullscreen Mode</button>
                    <video width="450" height="260" style="text-align:center" id="myvideo" onclick="openFullscreen();">
                        <source src="~/Content/video/videotutorialebilling.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body" style="overflow: hidden;">
                    <button class="btn btn-xs btn-info" onclick="openFullscreen();">Open Video in Fullscreen Mode</button>
                    <video width="450" height="260" style="text-align:center" id="myvideo2" onclick="openFullscreen2();">
                        <source src="~/Content/video/videotutorialwht.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>



    </div>

    <div class="row">
        <!-- tutorial new-feature-name -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="portlet light bordered portlet-play">
                <div class="portlet-body body--new-feature-name" style="overflow: hidden;" data-video="../Content/video/invoice.mp4">
                    <div class="portlet-label">INVOICE</div>
                    <a href="#" class="round-button button--new-feature-name"><i class="fa fa-play fa-2x"></i></a>
                </div>

                <!-- <div class="portlet-body body--new-feature-name" style="overflow: hidden;" data-video="./Home_files/invoice.mp4">
                    <button class="btn btn-xs btn-info button--new-feature-name"><img src="./Home_files/notification-bell-svgrepo-com.png" width="27">New</button>
                    <video class="button--new-feature-name" width="450" height="260" style="text-align:center" id="myvideo2">
                        <source src="./Home_files/invoice.mp4" type="video/mp4">
                    </video>
                </div> -->
            </div>
        </div>

        <!-- tutorial new-feature-name-2 -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="portlet light bordered portlet-play">
                <div class="portlet-body body--new-feature-name-2" style="overflow: hidden;" data-video="../Content/video/VATCreditNote.mp4">
                    <!-- <button class="btn btn-xs btn-info button--new-feature-name-2"><img src="./Home_files/notification-bell-svgrepo-com.png" width="27">New</button>
                    <video class="button--new-feature-name-2" width="450" height="260" style="text-align:center" id="myvideo2">
                        <source src="./Home_files/VATCreditNote.mp4" type="video/mp4">
                    </video> -->
                    <div class="portlet-label">VAT CREDIT<br />NOTE</div>
                    <a href="#" class="round-button button--new-feature-name-2"><i class="fa fa-play fa-2x"></i></a>
                </div>
            </div>
        </div>
        <!-- end tutorial new-feature-name-2 -->
        <!-- tutorial new-feature-name-3 -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="portlet light bordered portlet-play">
                <div class="portlet-body body--new-feature-name-3" style="overflow: hidden;" data-video="../Content/video/wht.mp4">
                    <!-- <button class="btn btn-xs btn-info button--new-feature-name-2"><img src="./Home_files/notification-bell-svgrepo-com.png" width="27">New</button>
                    <video class="button--new-feature-name-3" width="450" height="260" style="text-align:center" id="myvideo2">
                        <source src="./Home_files/wht.mp4" type="video/mp4">
                    </video> -->
                    <div class="portlet-label">DEALER'S WHT<br />SUBMISSION</div>
                    <a href="#" class="round-button button--new-feature-name-3"><i class="fa fa-play fa-2x"></i></a>
                </div>
            </div>
        </div>
        <!-- end tutorial new-feature-name-2 -->
        <!-- tutorial new-feature-name-4 -->
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="portlet light bordered portlet-play">
                <div class="portlet-body body--new-feature-name-4" style="overflow: hidden;" data-video="../Content/video/videotutorialelvis.mp4">
                    <!-- <button class="btn btn-xs btn-info button--new-feature-name-2"><img src="./Home_files/notification-bell-svgrepo-com.png" width="27">New</button>
                    <video class="button--new-feature-name-4" width="450" height="260" style="text-align:center" id="myvideo2">
                        <source src="./Home_files/wht.mp4" type="video/mp4">
                    </video> -->
                    <div class="portlet-label">ELVIS</div>
                    <a href="#" class="round-button button--new-feature-name-4"><i class="fa fa-play fa-2x"></i></a>
                </div>
            </div>
        </div>
        <!-- end tutorial new-feature-name-4 -->
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color: #2391A3;" href="~/Core/Invoice">
            <div class="visual">
                <i><img src="~/Content/img/invoice.png" style="transform: rotate(20deg); margin-top:10px;" width="100"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">Invoice</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color: #2391A3;" href="~/Core/NotaRetur">
            <div class="visual">
                <i><img src="~/Content/img/notaretur.png" style="transform: rotate(20deg); margin-top:10px;" width="100"></i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">Nota Retur</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a class="dashboard-stat dashboard-stat-v2 blue" style="background-color: #2391A3;"
           href="~/Core/WHT">
            <div class="visual">
                <i>
                    <img src="~/Content/img/withholdingtax.png" style="transform: rotate(20deg); margin-top:10px;"
                         width="100">
                </i>
            </div>
            <div class="details">
                <div class="number">
                    <span data-counter="counterup">Withholding Tax</span>
                </div>
            </div>
        </a>
    </div>

    <!-- modal new-feature-name -->
    <div class="modal fade has-video" id="modal--new-feature-name" tabindex="-1" role="dialog" aria-labelledby="modal--new-feature-name" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Invoice</h4>
                </div>
                <div class="modal-body">
                    <video width="450" height="260" style="text-align:center" class="" id="video--new-feature-name">
                        <source src="" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="row modal-body-content">
                        <div class="col-lg-12"><h2>Summary</h2></div>
                        <div class="col-lg-12">
                            <h3>Login <a href="#" class="video-jump-to" jump-to="3"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara masuk kedalam aplikasi.<br /><br />
                            Berikut langkah langkah nya:
                            <ol>
                                <li>Ketik username</li>
                                <li>Ketik password</li>
                                <li>Klik tombol “LOGIN”.</li>
                            </ol>
                            <h3>Akses Invoice <a href="#" class="video-jump-to" jump-to="24"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara mengakses menu Invoice.<br /><br />
                            Berikut langkah langkah nya:
                            <ol>
                                <li>Klik menu Invoice pada sebelah kiri layar</li>
                                <li>Ketik password</li>
                                <li>Klik tombol “LOGIN”.</li>
                            </ol>
                            <h3>Informasi Filters <a href="#" class="video-jump-to" jump-to="31"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan beberapa filter yang ada di dalam menu Invoice
                            <br>
                            <br>Berikut beberapa filter yang ada Invoice:
                            <br>•	Business Unit
                            <br>•	Transaction Type
                            <br>•	No Invoice
                            <br>•	Date Range
                            <br>•	Approval Status


                            <h3>Advance filters <a href="#" class="video-jump-to" jump-to="48"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara mengakses filter advanced filters dan filter apa saja yang terdapat pada link Show Advanced filters .
                            <br>
                            <br>Berikut beberapa filter yang ada di Invoice:
                            <br>•	AR Status
                            <br>•	Document Status
                            <br>•	Invoice QR Status
                            <br>•	Invoice Status
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik Show advanced filters


                            <h3>Search data <a href="#" class="video-jump-to" jump-to="70"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara search data.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Isi Business Unit
                            <br>2.	Isi Transaction Type
                            <br>3.	Isi No Invoice
                            <br>4.	Isi Date Range
                            <br>5.	Isi AR Status
                            <br>6.	Isi Document Status
                            <br>7.	Isi Invoice QR Status
                            <br>8.	Isi Invoice Status
                            <br>9.	Klik “SEARCH”.


                            <h3>Clear Filter <a href="#" class="video-jump-to" jump-to="98"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara menghapus kriteria filter yang sudah diisi
                            <br>
                            <br>Berikut langkah-langkahnya:
                            <br>1.	Klik tombol “CLEAR”.

                            <h3>Detail DA No <a href="#" class="video-jump-to" jump-to="114"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara melihat detail DA No.
                            <br>
                            <br>Berikut langkah-langkahnya:
                            <br>1.	Klik link DA No

                            <h3>Message in detail DA No <a href="#" class="video-jump-to" jump-to="123"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara menuliskan pesan.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik link DA No
                            <br>2.	Isi message

                            <h3>Download Tax Invoices <a href="#" class="video-jump-to" jump-to="134"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara downlad  Tax Invoices.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik tombol “TAX INVOICES”
                            <br>2.	Pilih nomor seri yang ingin di download

                            <h3>Invoice QR Status & Invoice Status, PI Status <a href="#" class="video-jump-to" jump-to="146"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan informasi dokumen QR Status atau Invoice Status yang sudah di download dan yang belum di download.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik icon Invoice QR Status/Invoice Status/PI Status
                            <br>2.	Akan Menginformasikan dokumen mana yang sudah di download dan yang belum di download

                            <h3>Informasi Kolom Action <a href="#" class="video-jump-to" jump-to="164"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menginformasikan isi kolom action yang dapat di download yang terdiri dari:
                            <br>
                            <br>1.	Invoice QR
                            <br>2.	Attachment
                            <br>3.	Delivery Note
                            <br>4.	VAT Credit Note

                            <h3>Download EXPORT TO EXCEL <a href="#" class="video-jump-to" jump-to="179"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara download semua informasi dengan format excel.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik tombol “EXPORT TO EXCEL

                            <h3>Download VAT CREDIT NOTE REPORT <a href="#" class="video-jump-to" jump-to="187"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara download ALL
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik DOWNLOAD ALL
                            <br>2.	Pilih dokumen mana yang ingin di download.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal new-feature-name -->
    <!-- modal new-feature-name-2 -->
    <div class="modal fade has-video" id="modal--new-feature-name-2" tabindex="-1" role="dialog"
         aria-labelledby="modal--new-feature-name-2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">VAT Credit Note</h4>
                </div>
                <div class="modal-body">
                    <video width="450" height="260" style="text-align:center" class="" id="video--new-feature-name-2">
                        <source src="" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="row modal-body-content">
                        <div class="col-lg-12">
                            <h2>Summary</h2>
                        </div>
                        <div class="col-lg-12">
                            <h3>Login <a href="#" class="video-jump-to" jump-to="18"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara masuk kedalam aplikasi.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Ketik username
                            <br>2.	Ketik password
                            <br>3.	Klik tombol “LOGIN”.


                            <h3>Akses VAT Credit Note <a href="#" class="video-jump-to" jump-to="35"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara mengakses menu VAT Credit Note.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik menu VAT Credit Note pada sebelah kiri layar.


                            <h3>Informasi Filters <a href="#" class="video-jump-to" jump-to="42"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan beberapa filter yang ada di dalam menu VAT Credit Note
                            <br>
                            <br>Berikut beberapa filter yang ada di VAT Credit Note:
                            <br>•	Business Unit
                            <br>•	Transaction Type
                            <br>•	No Invoice
                            <br>•	Date Range
                            <br>•	Approval Status


                            <h3>Advance filters <a href="#" class="video-jump-to" jump-to="61"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara mengakses filter advanced filters dan filter apa saja yang terdapat pada link Show Advanced filters .
                            <br>
                            <br>Berikut beberapa filter yang ada di VAT Credit Note:
                            <br>•	AR Status
                            <br>•	Document Status
                            <br>•	Invoice QR Status
                            <br>•	Invoice Status
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik Show advanced filters


                            <h3>Search data <a href="#" class="video-jump-to" jump-to="101"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara search data.
                            Berikut langkah langkah nya:
                            1.	Isi Business Unit
                            2.	Isi Date Range
                            3.	Klik “SEARCH”.

                            <h3>Detail CA No <a href="#" class="video-jump-to" jump-to="125"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara melihat detail CA No.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik link CA No


                            <h3>Message in detail CA No <a href="#" class="video-jump-to" jump-to="135"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara menuliskan pesan.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik link CA No
                            <br>2.	Isi message


                            <h3>Download Tax Invoices <a href="#" class="video-jump-to" jump-to="145"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara downlad  Tax Invoices.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik tombol “TAX INVOICES”
                            <br>2.	Pilih nomor seri yang ingin di download

                            <h3>Invoice QR Status & Invoice Status <a href="#" class="video-jump-to" jump-to="167"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan informasi dokumen QR Status atau Invoice Status yang sudah di download dan yang belum di download.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik icon Invoice QR Status/Invoice Status
                            <br>2.	Akan Menginformasikan dokumen mana yang sudah di download dan yang belum di download

                            <h3>VAT Credit Note Approved <a href="#" class="video-jump-to" jump-to="181"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan informasi  VAT Credit Note Approved mana  yang sudah dupload.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik icon VAT Credit Note Approved
                            <br>2.	Akan Menginformasikan dokumen yang sudah diupload

                            <h3>Informasi Kolom Action <a href="#" class="video-jump-to" jump-to="194"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menginformasikan isi kolom action yang dapat di download yang terdiri dari:
                            <br>1.	Invoice QR
                            <br>2.	Attachment
                            <br>3.	Delivery Note
                            <br>4.	VAT Credit Note

                            <h3>Upload VAT Credit Note yang sudah diapprove <a href="#" class="video-jump-to" jump-to="215"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara Upload VAT Credit Note yang sudah di approve.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik Icon Upload VAT Credit Note
                            <br>2.	Select Files
                            <br>3.	Pilih dokumen yang akan diupload
                            <br>4.	Klik open
                            <br>5.	Setelah seluruh dokumen Done Klik SAVE
                            <br>6.	Klik Yes

                            <h3>Download EXPORT TO EXCEL <a href="#" class="video-jump-to" jump-to="290"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara download semua informasi dengan format excel .
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik tombol “EXPORT TO EXCEL

                            <h3>Download VAT CREDIT NOTE REPORT <a href="#" class="video-jump-to" jump-to="298"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara download VAT Credit Note Report.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik tombol “VAT CREDIT NOTE REPORT

                            <h3>Download ALL <a href="#" class="video-jump-to" jump-to="312"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara download ALL
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik DOWNLOAD ALL
                            <br>2.	Pilih dokumen mana yang ingin di download.



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal new-feature-name-2 -->
    <!-- modal new-feature-name-3 -->
    <div class="modal fade has-video" id="modal--new-feature-name-3" tabindex="-1" role="dialog"
         aria-labelledby="modal--new-feature-name-3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Dealer's WHT Submission</h4>
                </div>
                <div class="modal-body">
                    <video width="450" height="260" style="text-align:center" class="" id="video--new-feature-name-3">
                        <source src="" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="row modal-body-content">
                        <div class="col-lg-12">
                            <h2>Summary</h2>
                        </div>
                        <div class="col-lg-12">
                            <h3>Informasi Dealer's WHT Submmision <a href="#" class="video-jump-to" jump-to="17"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan informasi penting tentang Dealer's WHT Submmision.<br /><br />
                            <dl>
                                <dt>PERHATIAN</dt>
                                <dd>Upload bukti potong max n+5 setelah bulan pelaporan</dd>
                                <dt>Misal :</dt>
                                <dd>1. Pemotongan Sept</dd>
                                <dd>2. Lapor Okt</dd>
                                <dd>3. Upload bukti potong max 5 Nov</dd>
                            </dl>
                            <h3>Login <a href="#" class="video-jump-to" jump-to="38"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara masuk kedalam aplikasi.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Ketik username
                            <br>2.	Ketik password
                            <br>3.	Klik tombol “LOGIN”.


                            <h3>Akses Withholding Tax (WHT) Submission <a href="#" class="video-jump-to" jump-to="51"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara mengakses menu WHT Submission.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Klik menu WHT pada sebelah kiri layar.


                            <h3>Informasi Filters <a href="#" class="video-jump-to" jump-to="59"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan beberapa filter yang ada di dalam menu WHT Submission
                            <br>
                            <br>Berikut beberapa filter yang ada di WHT:
                            <br>•	No Invoice
                            <br>•	Invoice Date
                            <br>•	WHT Uploaded

                            <h3>Upload&Download Template <a href="#" class="video-jump-to" jump-to="108"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara upload bukti potong yang ingin di upload dan cara download Template.
                            <br>
                            <br>Berikut langkah-langkah download template:
                            <br>1.	Klik tombol “UPLOAD” pada kolom Action
                            <br>2.	Klik tombol “DOWNLOAD TEMPLATE”
                            <br>
                            <br>Berikut langkah-langkah Upload bukti potong:
                            <br>1.	Klik tombol “UPLOAD” pada kolom Action
                            <br>2.	Klik “Select Files”
                            <br>3.	Pilih file yang akan di upload
                            <br>4.	Klik “Open”.
                            <br>5.	Setelah ada informasi Done di sebelah kiri tombol “DOWNLOAD TEMPLATE” klik tombol “Save”
                            <br>6.	Klik tombol “Yes”.

                            <h3>Upload Join WHT <a href="#" class="video-jump-to" jump-to="149"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara upload bukti potong
                            <br>
                            <br>Berikut langkah-langkah nya:
                            <br>1.	Pilih invoice yang akan di upload dengan klik checkbox.
                            <br>2.	Klik tombol “UPLOAD JOIN WHT”.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal new-feature-name-4 -->
    <div class="modal fade has-video" id="modal--new-feature-name-4" tabindex="-1" role="dialog"
         aria-labelledby="modal--new-feature-name-4" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">ELVIS</h4>
                </div>
                <div class="modal-body">
                    <video width="450" height="260" style="text-align:center" class="" id="video--new-feature-name-4">
                        <source src="" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <div class="row modal-body-content">
                        <div class="col-lg-12">
                            <h2>Summary</h2>
                        </div>
                        <div class="col-lg-12">
                            <h3>ELVIS <a href="#" class="video-jump-to" jump-to="0"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan informasi jumlah reward, subsidi, dan konfirmasi reimbursement yang akan diterima oleh TAM melalui data yang telah di upload PIC TAM ke E-Billing..<br /><br />
                            <!--
                            <dl>
                                <dt>PERHATIAN</dt>
                                <dd>Upload bukti potong max n+5 setelah bulan pelaporan</dd>
                                <dt>Misal :</dt>
                                <dd>1. Pemotongan Sept</dd>
                                <dd>2. Lapor Okt</dd>
                                <dd>3. Upload bukti potong max 5 Nov</dd>
                            </dl>

                            <h3>Login <a href="#" class="video-jump-to" jump-to="38"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara masuk kedalam aplikasi.
                            <br>
                            <br>Berikut langkah langkah nya:
                            <br>1.	Ketik username
                            <br>2.	Ketik password
                            <br>3.	Klik tombol “LOGIN”.
                            -->

                            <h3>Download PV Attachment <a href="#" class="video-jump-to" jump-to="18"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara download PV Attachment.
                            <br>
                            <br>Berikut langkah-langkah download PV Attachment:
                            <br>1.	Klik link "PV No" pada Grid.
                            <br>2.	Klik link "PV Attachment".

                            <h3>Register Rekening Baru <a href="#" class="video-jump-to" jump-to="56"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara register rekening baru.
                            <br>
                            <br>Berikut langkah-langkah register rekening baru:
                            <br>1.  Siapkan terlebih dahulu surat informasi perubahan rekening yang sudah di tanda tangani penjabat yang berwenang
                            <br>2.  Pilih Bank
                            <br>3.  Input Nomor Rekening
                            <br>4.  Input Nama Rekening yang ditambahkan
                            <br>5.  Upload surat informasi perubahan rekening
                            <br>6.  Klik "SUBMIT"
                            <br>7.  Klik "YES"

                            <h3>Melengkapi Data Invoice <a href="#" class="video-jump-to" jump-to="100"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan  cara melengkapi data invoice yang sudah diterbitkan oleh dealer.
                            <br>
                            <br>1.  Input Invoice No
                            <br>2.  Input Invoice Date
                            <br>3.  Input Tax No (bila transaksi memungut PPN)
                            <br>4.  Input Tax Date (bila transaksi memungut PPN)

                            <h3>Upload Attachment <a href="#" class="video-jump-to" jump-to="127"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara upload invoice dan faktur pajak yang sudah diterbitkan.
                            <br>
                            <br>Berikut langkah-langkah nya:
                            <br>1.  Klik "Select files"
                            <br>2.  Pilih file dalam bentuk pdf
                            <br>3.  Khusus faktur pajak diawali dengan nama "FP_"

                            <h3>Submit PV <a href="#" class="video-jump-to" jump-to="150"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskan cara submit PV yang sudah dilengkapi dengan bank account, invoice dan faktur pajak.
                            <br>
                            <br>Berikut langkah-langkah nya:
                            <br>1.  Checklist PV yang akan di submit
                            <br>2.  Klik "SUBMIT"

                            <h3>Download Invoice Cover <a href="#" class="video-jump-to" jump-to="161"><i class="glyphicon glyphicon-play-circle"></i></a></h3>
                            Menjelaskakn cara download Invoice Cover.
                            <br>
                            <br>Berikut langkah-langkah mendownload invoice cover:
                            <br>1.  Klik link "PV No"
                            <br>2.  Klik button "DOWNLOAD PV COVER"
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal new-feature-name-4 -->
</body>

</html>

<script>

    (function ($) {
        //new-feature-name
        $('.button--new-feature-name').on('click', function (e) {
            $('#modal--new-feature-name').modal('show');
        });

        $('#modal--new-feature-name').on('show.bs.modal', function (e) {
            var videoSRC = $('.body--new-feature-name').attr("data-video");
            var videoSRCauto = videoSRC + "";
            var theModal = '#modal--new-feature-name ';
            $(theModal + ' source').attr('src', videoSRC);
            $(theModal + ' video').load();
            $(theModal + ' video').attr("controls", "controls");
        });

        $('#modal--new-feature-name .video-jump-to').on('click', function (e) {
            e.preventDefault();
            $("#modal--new-feature-name").scrollTop(0);

            var myvideo = document.getElementById('video--new-feature-name');
            var jumpToSecond = $(this).attr('jump-to');
            myvideo.currentTime = jumpToSecond;//detik
            myvideo.pause();
            myvideo.play();
        });

        $('#modal--new-feature-name').on('hidden.bs.modal', function (e) {
            var myvideo = document.getElementById('video--new-feature-name');
            myvideo.pause();
        });
        //new-feature-name

        //new-feature-name-2
        $('.button--new-feature-name-2').on('click', function (e) {
            $('#modal--new-feature-name-2').modal('show');
        });

        $('#modal--new-feature-name-2').on('show.bs.modal', function (e) {
            var videoSRC = $('.body--new-feature-name-2').attr("data-video");
            var videoSRCauto = videoSRC + "";
            var theModal = '#modal--new-feature-name-2 ';
            $(theModal + ' source').attr('src', videoSRC);
            $(theModal + ' video').load();
            $(theModal + ' video').attr("controls", "controls");
        });

        $('#modal--new-feature-name-2 .video-jump-to').on('click', function (e) {
            e.preventDefault();
            $("#modal--new-feature-name-2").scrollTop(0);

            var myvideo = document.getElementById('video--new-feature-name-2');
            var jumpToSecond = $(this).attr('jump-to');
            myvideo.currentTime = jumpToSecond;//detik
            myvideo.pause();
            myvideo.play();
        });

        $('#modal--new-feature-name-2').on('hidden.bs.modal', function (e) {
            var myvideo = document.getElementById('video--new-feature-name-2');
            myvideo.pause();
        });
        //end new-feature-name-2

        //new-feature-name-3
        $('.button--new-feature-name-3').on('click', function (e) {
            $('#modal--new-feature-name-3').modal('show');
        });

        $('#modal--new-feature-name-3').on('show.bs.modal', function (e) {
            var videoSRC = $('.body--new-feature-name-3').attr("data-video");
            var videoSRCauto = videoSRC + "";
            var theModal = '#modal--new-feature-name-3 ';
            $(theModal + ' source').attr('src', videoSRC);
            $(theModal + ' video').load();
            $(theModal + ' video').attr("controls", "controls");
        });

        $('#modal--new-feature-name-3 .video-jump-to').on('click', function (e) {
            e.preventDefault();
            $("#modal--new-feature-name-3").scrollTop(0);

            var myvideo = document.getElementById('video--new-feature-name-3');
            var jumpToSecond = $(this).attr('jump-to');
            myvideo.currentTime = jumpToSecond;//detik
            myvideo.pause();
            myvideo.play();
        });

        $('#modal--new-feature-name-3').on('hidden.bs.modal', function (e) {
            var myvideo = document.getElementById('video--new-feature-name-3');
            myvideo.pause();
        });
        //end new-feature-name-3

        //new-feature-name-4
        $('.button--new-feature-name-4').on('click', function (e) {
            $('#modal--new-feature-name-4').modal('show');
        });

        $('#modal--new-feature-name-4').on('show.bs.modal', function (e) {
            var videoSRC = $('.body--new-feature-name-4').attr("data-video");
            var videoSRCauto = videoSRC + "";
            var theModal = '#modal--new-feature-name-4 ';
            $(theModal + ' source').attr('src', videoSRC);
            $(theModal + ' video').load();
            $(theModal + ' video').attr("controls", "controls");
        });

        $('#modal--new-feature-name-4 .video-jump-to').on('click', function (e) {
            e.preventDefault();
            $("#modal--new-feature-name-4").scrollTop(0);

            var myvideo = document.getElementById('video--new-feature-name-4');
            var jumpToSecond = $(this).attr('jump-to');
            myvideo.currentTime = jumpToSecond;//detik
            myvideo.pause();
            myvideo.play();
        });

        $('#modal--new-feature-name-4').on('hidden.bs.modal', function (e) {
            var myvideo = document.getElementById('video--new-feature-name-4');
            myvideo.pause();
        });
        //end new-feature-name-4
    })(jQuery);
    var elem = document.getElementById("myvideo");
    var elem2 = document.getElementById("myvideo2");
    var elem3 = document.getElementById("myvideo3");
    function openFullscreen() {
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
        }
    }

    function openFullscreen2() {
        if (elem2.requestFullscreen) {
            elem2.requestFullscreen();
        } else if (elem2.mozRequestFullScreen) { /* Firefox */
            elem2.mozRequestFullScreen();
        } else if (elem2.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem2.webkitRequestFullscreen();
        } else if (elem2.msRequestFullscreen) { /* IE/Edge */
            elem2.msRequestFullscreen();
        }
    }

    function openFullscreen3() {
        if (elem3.requestFullscreen) {
            elem3.requestFullscreen();
        } else if (elem3.mozRequestFullScreen) { /* Firefox */
            elem3.mozRequestFullScreen();
        } else if (elem3.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
            elem3.webkitRequestFullscreen();
        } else if (elem3.msRequestFullscreen) { /* IE/Edge */
            elem3.msRequestFullscreen();
        }
    }
</script>
