﻿<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.PVMonitoringManagement = new PVMonitoringManagement();
        App.PVMonitoringManagement.InitManagement();

        //var a = $('#userType').val();
        //if (a != 'Internal') {
        //    $('#PVMonitoringGrid .k-header').eq(8).remove();
        //
        //    $("#PVMonitoringGrid").children('.k-grid-content').children('table').children('tbody').children('tr').each(function () {
        //        var trObj = jQuery(this);
        //        trObj.children('.budgetInternal').remove();
        //    });
        //}
    });

    function PVMonitoringManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },

            InitControls: function () {

            },

            InitValidation: function () {

            },

            InitHandlers: function () {

                $('#select-all-invoices').click(function () {

                    $("#PVMonitoringGrid tbody input:checkbox").not(":disabled").prop("checked", this.checked);

                });

                $("#download-template").click(function () {
                    var x = $('#divId').val();

                    $.fileDownload('@Url.Action("DownloadTemplate", "PVMonitoring")', {
                        data: { divId: x },
                        successCallback: function (fn) {
                        },
                        failCallback: function (fn) {
                        }
                    });
                });

                $("#btn-verified").click(function () {
                    App.blockUI({ animate: !0 });
                    var grid = $("#PVMonitoringGrid").data("kendoGrid");

                    var pvH = [];
                    var isHaveChecked = false;
                    grid.tbody.find("input:checked").map(function () {
                        var dtl = new Object();
                        
                        dtl.PROCESS_ID = $(this).attr("data-pid");
                        dtl.PV_NO = $(this).attr("data-pv-no")

                        pvH.push(dtl);
                        isHaveChecked = true;
                    });

                    pvH = JSON.stringify({ 'pvH': pvH });
                    //console.log(pvH);
                    
                    if (!isHaveChecked) {
                        App.unblockUI();
                        swal("Error", "Choose at least 1 PV", "error");
                        return;
                    }
                    
                    var x = false;
                    grid.tbody.find("input:checked").map(function () {
                        if ($(this).attr("data-stsbudget") == "NOT AVAILABLE")
                            x = true;
                    });
                    
                    if (x) {
                        App.unblockUI();
                        swal("Error", "One or more budget is not avaiable", "error");
                        return;
                    }
                    
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Verified data ?", function (val) {
                        if (val == true) {
                            $.ajax({
                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                type: "POST",
                                url: '@Url.Action("VerifiedPIC", "PVMonitoring")',
                                data: pvH,
                                success: function (data) {
                                    console.log(data);
                                    $.helper.grid.refresh("PVMonitoringGrid");
                                    App.unblockUI();
                                    if (data.IsSuccess == true && data.MessageError.length == 0) {
                                        swal('Info', 'Verified success!', 'success');
                                    }
                                    else {
                                        //toastr.error(data.MessageError, { timeOut: 3000 });
                                        swal("Error", "x", "error");
                                        $(".swal-text").html(data.MessageError.join('<br/>'));
                                        $('#x').html(data.MessageError);
                                    }
                                },
                                error: function () {
                                    App.unblockUI();
                                    swal('Error', 'Verified Failed!', 'error');
                                }
                            });
                        } else {
                            App.unblockUI();
                        }
                    });
                });

                $("#btn-delete").click(function () {
                    App.blockUI({ animate: !0 });
                    var grid = $("#PVMonitoringGrid").data("kendoGrid");

                    var proid = grid.tbody.find("input:checked").map(function () {
                        return $(this).attr("data-pid");
                    }).get().join(',');

                    if (!proid) {
                        App.unblockUI();
                        swal("Error", "Choose at least 1 PV", "error");
                        return;
                    }

                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Delete data ?", function (val) {
                        if (val == true) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Delete", "PVMonitoring")',
                                data: {
                                    pid: proid,
                                    clearDelete: 0
                                },
                                dataType: 'json',
                                success: function (data) {
                                    $.helper.grid.refresh("PVMonitoringGrid");
                                    App.unblockUI();
                                    
                                    if (data.IsSuccess == true && data.MessageError.length == 0) {
                                        swal('Info', 'Delete success!', 'success');
                                    }
                                    else {
                                        //toastr.error(data.MessageError, { timeOut: 3000 });
                                        swal("Error", "x", "error");
                                        $(".swal-text").html(data.MessageError.join('<br/>'));
                                        $('#x').html(data.MessageError);
                                    }
                                },
                                error: function () {

                                    App.unblockUI();
                                    swal('Error', 'Delete Failed!', 'error');
                                }
                            });
                        } else {
                            App.unblockUI();
                        }
                    });
                });

                $(".k-grid").on("click", ".upload-attachment", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var invoices = $el.data("invoice_no");
                    var pvno = $el.data("pv_no");
                    var pid = $el.data("pid");
                    var ischeck = $el.data("is");

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadFileInitial", "PVMonitoring")',
                        data: {
                            pvno: pvno,
                            processId: pid,
                            isCheck: ischeck
                        },
                        dataType: 'html',
                        success: function (data) {
                            $('#PVMonitoringModal').find("div.modal-content").html(data);
                            $("#PVMonitoringModal").modal("show");
                            if (ischeck == 'Y') {
                                //$('#PVMonitoringModal').removeClass('bs-modal-lg');
                                $('#PVMonitoringModal .modal-dialog').removeClass('modal-lg');
                                //$('#PVMonitoringModal').addClass('bs-modal-md');
                                $('#PVMonitoringModal .modal-dialog').addClass('modal-md');
                            }
                            else {
                                //$('#PVMonitoringModal').removeClass('bs-modal-md');
                                $('#PVMonitoringModal .modal-dialog').removeClass('modal-md');
                                //$('#PVMonitoringModal').addClass('bs-modal-lg');
                                $('#PVMonitoringModal .modal-dialog').addClass('modal-lg');
                            }
                            $(".modal-title-attachment").text("PV No: " + pvno);
                            App.unblockUI();
                        },
                        error: function () {
                            $('#PVMonitoringModal').modal('toggle');
                            App.unblockUI();
                        }
                    });
                });

                $(".k-grid").on("click", ".check-pv-no", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var proid = $el.data("pid");
                    var pvno = $el.data("pv-no");
                    var statusbudget = $el.data("sts-budget");
                    var pvbudget = $el.data("pv-budget");

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("PVHeaderInitial", "PVMonitoring")',
                        data: {
                            pid: proid,
                            pvno: pvno,
                            stsbugdet: statusbudget,
                            pvbudget: pvbudget
                        },
                        dataType: 'html',
                        success: function (data) {
                            $('#PVMonitoringModal').find("div.modal-content").html(data);
                            $('#PVMonitoringModal .modal-dialog').removeClass('modal-md');
                            $('#PVMonitoringModal .modal-dialog').addClass('modal-lg');
                            $("#PVMonitoringModal").modal("show");
                            $(".modal-title").text("PV No: " + pvno);
                            App.unblockUI();
                        },
                        error: function () {
                            $('#PVMonitoringModal').modal('toggle');
                            App.unblockUI();
                        }
                    });
                });
            },

            DeleteDocumentInitial: function (e) {
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("STATUS", "Delete");
                dataItem.set("row_status", 1)
            },

            DeleteDocumentLoDInitial: function (e) {
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("STATUS", "Delete");
                dataItem.set("row_status", 1)
            },

            UndoDocumentInitial: function (e) {
                console.log("undo 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),

                    dataItem = $grid.dataItem($tr);
                    dataItem.set("STATUS", "New");
                    dataItem.set("row_status", 0)
            },

            UndoDocumentLoDInitial: function (e) {
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),

                    dataItem = $grid.dataItem($tr);
                dataItem.set("STATUS", "New");
                dataItem.set("row_status", 0)
            },

            SaveBankRegisterInitial: function (e) {

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                if ($('#bank-account_regis').val() == '' || $('#bank-account_regis').val() == null) {
                    swal("Error", "Please choose Bank", "error");
                    return;
                }

                if ($('#bank-account').val() == '' || $('#bank-account').val() == null) {
                    swal("Error", "Bank Account should not be empty", "error");
                    return;
                }

                if ($('#beneficiaries').val() == '' || $('#beneficiaries').val() == null) {
                    swal("Error", "Beneficiaries should not be empty", "error");
                    return;
                }

                if ($("#formPVMonitoringBankRegister").find(".k-upload-status-total").text() != 'Done') {
                    swal("Error", "Must upload attahment", "error");
                    return;
                }

                $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                    if (val == true) {
                        var formData = $.helper.form.serializeObject($form);
                        var da = $('#pid').val();
                        var dataToSave = {
                            pid: da,
                            vendor: $('#vendor').val(),
                            bank: $('#bank-account_regis').val(),
                            bankAccount: $('#bank-account').val(),
                            beneficiaries: $('#beneficiaries').val(),
                        }

                        $el.prop("disabled", true);

                        $.post("@Url.Action("SaveBankAccountInitial", "PVMonitoring")", dataToSave, function (d) {
                            if (d.IsSuccess == true) {
                                //toastr["success"]("", "Success Save Bank Account");
                                swal("Info", "Success Save Bank Account","success");
                                onSuccessRegister(d);
                            }
                            else
                            {
                                swal("Error", "Failed: " + d.MessageError, "error");
                            }
                        }).fail(function () {
                            swal("Error", "Error when save bank account", "error");
                        });

                        $el.prop("disabled", false);
                    }
                })
            },

            SaveUploadDocumentInitial: function (e) {
                console.log("saving");

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                var errValidation = validationDealerUpload()

                if (errValidation != 1) {

                    $gridDocument = $form.find("#DocumentFileGridInitial").data("kendoGrid");
                    var data = $gridDocument.dataSource.data();

                    for (var i = 0; i < data.toJSON().length; i++) {
                        if (data.toJSON()[i].status == "New") {
                            isNewExists = true;
                        }

                        if (data.toJSON()[i].status == "Delete") {
                            isDeleteExists = true;
                        }
                    }

                    if (data.toJSON().length == 0) {
                        swal("Error", "Upload at least 1 document", "error");
                        return;
                    }

                    var pvDetail = [];

                    $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').each(function ()
                    {
                        var dtl = new Object();
                        var trObj = jQuery(this);

                        dtl.PV_NO = trObj.children('td').eq(0).children('input').attr('data-pv-no');
                        dtl.SEQ_NO = trObj.children('td').eq(0).children('input').attr('data-seq-no');
                        dtl.INVOICE_NO = trObj.children('td').eq(1).children('input').val();
                        dtl.INVOICE_DATE = trObj.children('td').eq(2).children('div').children('input').val();
                        dtl.TAX_NO = trObj.children('td').eq(3).children('input').val();
                        dtl.TAX_DT = trObj.children('td').eq(4).children('div').children('input').val();

                        pvDetail.push(dtl);
                    });

                    console.log(pvDetail);

                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                        if (val == true) {

                            var pid = $('#pid').val();
                            var bank_key = $('#bank_key').val();
                            
                            var dataToSave = {
                                pid: pid,
                                bank_key: bank_key,
                                docsUpload: $gridDocument.dataSource.data().toJSON(),
                                pvDtl: pvDetail,//$gridPVDtl.dataSource.data().toJSON(),
                            }

                            $el.prop("disabled", true);
                            $.post("@Url.Action("SaveUploadInitial", "PVMonitoring")", dataToSave, function (d) {
                                if (d.IsSuccess == true) {
                                    //toastr["success"]("", "Success Save Upload PV Monitoring");
                                    swal("Info", "Success Save Upload Dealer Claim","success");
                                    $.helper.grid.refresh("PVMonitoringGrid");
                                    $modal.modal("hide");
                                }
                                else {
                                    //console.log(d.MessageError);
                                    //swal("Error", "Failed: " + d.MessageError, "error");
                                    swal("Error", "x", "error");
                                    $(".swal-text").html(d.MessageError);
                                    $('#x').html(d.MessageError);
                                }
                            }).fail(function () {
                                swal("Error", "Error when save Upload Dealer Claim", "error");
                            });
                            $el.prop("disabled", false);
                        }
                    })
                }
            },

            SetScrollAllGrid: function () {
                $('#grid-allocation').contents().wrap('<div class="grid-scroll-container"></div>');
                $('#DocumentFileGrid').contents().wrap('<div class="grid-scroll-container"></div>');
            }
        };
    };

    function validationDealerUpload() {

        var flagErr = 0;

        if ($('#bank_key').val() == '' || $('#bank_key').val() == null) {
            swal("Error", "Bank account should not be empty", "error");
            return flagErr = 1
        }

        /*
        //var grid = $("#grid").data("kendoGrid");
        var xxxxxxx = $('#PVMonitoringDDealer').data("kendoGrid").dataSource.total();
        //alert(xxxxxxx);
        for (var i = 0; i < xxxxxxx; i++) {
            var invoiceNo = $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').eq(i).children('td').eq(1).children('input').val();
            var invoiceDate = $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').eq(i).eq(2).children('div').children('input').val();
            var taxNo = $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').eq(i).children('td').eq(3).children('input').val();
            var taxDate = $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').eq(i).children('td').eq(4).children('div').children('input').val();
            var ppn = $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').eq(i).children('td').eq(7).children().text();

            if (invoiceNo == null || invoiceNo == '') {
                swal("Error", "Invoice no at row " + (s + 1) +
                    " should not be empty", "error");
                return flagErr = 1
            }

            if (invoiceDate == null || invoiceDate == '') {
                swal("Error", "Invoice date at row " + (s + 1) +
                    " should not be empty", "error");
                return flagErr = 1
            }

            if (ppn != null && ppn != "") {
                if (taxNo == null || taxNo == '') {
                    swal("Error", "Tax no at row " + (s + 1) +
                        " should not be empty", "error");
                    return flagErr = 1
                }

                if (taxDate == null || taxDate == '') {
                    swal("Error", "Tax date at row " + (s + 1) +
                        " should not be empty", "error");
                    return flagErr = 1
                }
            }
        }
        */

        $("#PVMonitoringDDealer").children('.k-grid-content').children('table').children('tbody').children('tr').each(function () {
            var trObj = jQuery(this);

            var s = trObj.children('td').eq(0).children('input').attr('data-seq-no');
            var invoiceNo = trObj.children('td').eq(1).children('input').val();
            var invoiceDate = trObj.children('td').eq(2).children('div').children('input').val();
            var taxNo = trObj.children('td').eq(3).children('input').val();
            var taxDate = trObj.children('td').eq(4).children('div').children('input').val();
            var ppn = trObj.children('td').eq(7).children().text();

            if (invoiceNo == null || invoiceNo == '') {
                swal("Error", "Invoice no at row " + (s) +
                    " should not be empty", "error");
                return flagErr = 1
            }

            if (invoiceDate == null || invoiceDate == '') {
                swal("Error", "Invoice date at row " + (s) +
                    " should not be empty", "error");
                return flagErr = 1
            }

            if (ppn != null && ppn != "" && ppn != " 0.00 " && ppn != "0.00") {
                if (taxNo == null || taxNo == '') {
                    swal("Error", "Tax no at row " + (s) +
                        " should not be empty", "error");
                    return flagErr = 1
                }

                if (taxDate == null || taxDate == '') {
                    swal("Error", "Tax date at row " + (s) +
                        " should not be empty", "error");
                    return flagErr = 1
                }
            }

        });

        if (flagErr == 0) {
            var invoiceUpload = 0;

            $("#DocumentFileGridInitial").children('.grid-scroll-container').eq(1).children('table').children('tbody').children('tr').each(function () {
                var trObj = jQuery(this);
                //alert('a');
                var invoiceAttach = trObj.children('td').eq(2).text();

                if (invoiceAttach != "Y") {
                    invoiceUpload = 1;
                }
            });

            //alert(invoiceUpload);

            if (invoiceUpload == 0) {
                swal("Error", "Please kindly attach invoice that have been signed by an authorized signatory", "error");
                return flagErr = 1;
            }
        }

        return flagErr;
    }

    function onClickNotProper() {
        App.blockUI({ animate: !0 });
        var grid = $("#PVMonitoringGrid").data("kendoGrid");
        var rejectReason = $('#reject-reason').val();
        var e = $("#is-single").val();

        if (e == 0) {
            var pvNo = grid.tbody.find("input:checked").map(function () {
                return $(this).attr("data-pv-no");
            }).get().join(',');

            var pid = grid.tbody.find("input:checked").map(function () {
                return $(this).attr("data-pid");
            }).get().join(',');

            if (!pvNo) {
                App.unblockUI();
                swal("Error", "Choose at least 1 PV", "error");
                return;
            }
        }
        else {
            var pid = $("#pid").val();
            var pvNo = $("#pvno").val();
        }
        
        if (rejectReason == "" || rejectReason == null) {
            App.unblockUI();
            swal("Error", "Reason shouldn't empty!", "error");
            return;
        }

        $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Reject data ?", function (val) {
            if (val == true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("NotProper", "PVMonitoring")',
                    data: {
                        pids: pid,
                        pvNos: pvNo,
                        reason: rejectReason
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        $.helper.grid.refresh("PVMonitoringGrid");
                        App.unblockUI();
                        
                        if (data.IsSuccess == true && data.MessageError.length == 0) {
                            if (e == 0) {
                                $('#NotProperModal').modal("hide");
                            }
                            else {
                                $('#NotProperModal').modal("hide");
                                $('#PVMonitoringModal').modal("hide");
                            }
                            swal('Info', 'Reject success!', 'success');
                        }
                        else {
                            //toastr.error(data.MessageError, { timeOut: 3000 });
                            swal("Error", "x", "error");
                            $(".swal-text").html(data.MessageError.join('<br/>'));
                            $('#x').html(data.MessageError);
                        }
                    },
                    error: function () {
                        App.unblockUI();
                        swal('Error', 'Reject Failed!', 'error');
                    }
                });
            } else {
                App.unblockUI();
            }
        });
    };

    function onSuccessRegister(e) {
        console.log(e);
        if (e.MessageError == "") {
            //var grid = $("#DocumentBankAccountGridInitial").data("kendoGrid");
            //grid.dataSource.read();
            $("#DocumentBankAccountGridInitial").data("kendoGrid").dataSource.read();
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };

    function onDownloadErrTxt(e) {
        var x = $('#download-errtxt').attr('data-id') + ".txt";
        
        $.fileDownload('@Url.Action("DownloadErrTxt", "PVMonitoring")', {
            data: { filename: x },
            successCallback: function (fn) {
            },
            failCallback: function (fn) {
            }
        });
    };

    function onRegisterBank(){
        App.blockUI({ animate: !0 });

        var invoices = $("#link-register-bank").attr('data-invoice');
        var pid = $("#link-register-bank").attr('data-pid');
        var vendor = $("#link-register-bank").attr('data-vendor');
        var venName = $("#link-register-bank").attr('data-vendor-name');

        $.ajax({
            type: "POST",
            url: '@Url.Action("RegisterBankInitial", "PVMonitoring")',
            data: {
                invoice: invoices,
                processId: pid,
                vendor: vendor,
                venName: venName
            },
            dataType: 'html',
            success: function (data) {
                $('#PVMonitoringModal').find("div.modal-content").html(data);
                $("#PVMonitoringModal").modal("show");
                App.unblockUI();
            },
            error: function () {
                $('#PVMonitoringModal').modal('toggle');
                App.unblockUI();
            }
        });
    };

    $("#upload-letter").on("click", function () {
        App.blockUI({ animate: !0 });
        var divId = $("#divId").val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadLetterInitial", "PVMonitoring")',
            data: {
                divId
            },
            dataType: 'html',
            success: function (data) {
                $('#cmbbudget_no').val('').trigger('change');
                $('#LoDModal').find("div.modal-content").html(data);
                $('#LoDModal').modal({ backdrop: 'static', keyboard: false });
                App.unblockUI();
            },
            error: function () {
                $('#LoDModal').modal('toggle');
                App.unblockUI();
            }
        });
    });

    $("#btn-not-proper").click(function () {
        var grid = $("#PVMonitoringGrid").data("kendoGrid");
        var pvNos = grid.tbody.find("input:checked").map(function () {
            return $(this).attr("data-pv-no");
        }).get().join(',');
        //console.log(pvNos);
        if (!pvNos) {
            swal("Error", "Choose at least 1 PV", "error");
            return;
        }
        else {
            $("#reject-reason").val('');
            $("#NotProperModal").modal("show");
            $("#is-single").val('0');
        }
    });

    $("#btn-verified-dealer").click(function () {
        App.blockUI({ animate: !0 });
        var grid = $("#PVMonitoringGrid").data("kendoGrid");

        var pvNumbers = grid.tbody.find("input:checked").map(function () {
            return $(this).attr("data-pv-no");
        }).get().join(',');

        var proids = grid.tbody.find("input:checked").map(function () {
            return $(this).attr("data-pid");
        }).get().join(',');

        if (!pvNumbers) {
            App.unblockUI();
            swal("Error", "Choose at least 1 PV", "error");
            return;
        }

        $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Submit data ?", function (val) {
            if (val == true) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Submit", "PVMonitoring")',
                    data: {
                        pvNos: pvNumbers,
                        pids: proids,
                    },
                    dataType: 'json',
                    success: function (data) {
                        $.helper.grid.refresh("PVMonitoringGrid");
                        App.unblockUI();
                        if (data.IsSuccess == true) {
                            swal('Info', 'Submit success!', 'success');
                            $.helper.grid.refresh("PVMonitoringGrid");
                        }
                        else {
                            //toastr.error(data.MessageError, { timeOut: 3000 });
                            //console.log(data.MessageError);
                            swal("Error", "x", "error");
                            $(".swal-text").html(data.MessageError);
                            //$('#x').html(data.MessageError);
                        }
                    },
                    error: function () {
                        App.unblockUI();
                        swal('Error', 'Submit Failed!', 'error');
                    }
                });
            } else {
                App.unblockUI();
            }
        });
    });

    function onSuccessUploadBankAttach(e) {
        console.log(e);
        if (e.response.Result == true) {
            swal("Info", "Success upload attachment", "success");
        }
        else {
            swal("Error", "x", "error");
            $(".swal-text").html(e.response.MessageError.join('<br/>'));
            $('#x').html(e.response.MessageError);
        }
    };

    function onSuccessUpload(e) {
        console.log(e);
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                REFERENCE_NO: null,
                REF_SEQ_NO: null,
                PV_NO: data.PV_NO,
                FILE_NAME: data.FILE_NAME,
                ATTACH_CD: data.ATTACH_CD,
                IS_USERTAM: data.IS_USERTAM,
                STATUS: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };

    function onUpload(e) {
        var x = $("#PVMonitoringModal").is(":hidden"); 
        var xx = ""; var xz = "";
        if (x) {
            xx = $('#pidLoD').val();
            xz = "4";
        } else {
            xx = $('#pid').val();
            xz = $('#code-attachment').val();
        }
        console.log(xx);
        e.data = {
            pid: xx, attachmentType: xz, by_internal: x
        };
    };

    function onUploadLetter(e) {
        e.data = {
            divId: $('#divId').val()
        };
    };

    function onUploadBankAttach(e) {
        e.data = {
            vendor: $('#vendor').val()
        };
    };

    function onSuccessUploadInitial(e) {
        if (e.response.MessageError == "" && $('#code-attachment').val() != '') {
            var x = $("#PVMonitoringModal").is(":hidden"); 
            //console.log(x);
            if (!x) {
                var data = e.response.Result[0];

                $("#DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                    REFERENCE_NO: data.REFERENCE_NO,
                    REF_SEQ_NO: data.REF_SEQ_NO,
                    PV_NO: data.PV_NO,
                    FILE_NAME: data.FILE_NAME,
                    ATTACH_CD: $("#code-attachment").select2('data')[0].text,
                    IS_USERTAM: "N",
                    STATUS: "New"
                });
            }
            else {
                var data = e.response.Result[0];

                $("#DocumentFileGridLoDInitial").data("kendoGrid").dataSource.add({
                    REFERENCE_NO: data.REFERENCE_NO,
                    REF_SEQ_NO: data.REF_SEQ_NO,
                    PV_NO: data.PV_NO,
                    FILE_NAME: data.FILE_NAME,
                    ATTACH_CD: data.ATTACH_DESC,
                    IS_USERTAM: "N",
                    STATUS: "New"
                });

                //$('#LoDModal').modal("hide");
                //$("#files").prop("disabled", true);
                //$("#files").parent().removeClass("green");
                //$("#files").parent().addClass("grey");
                swal("Info", "Success upload attachment", "success");
                $('#isUploaded').val('1');
                //console.log('a');
                //$('#code').val('1').trigger('change');
                //$('.filter-action').find('.fa-search').click();
                //$("#PVMonitoringGrid").data("kendoGrid").dataSource.read();
            }
        }
        else {
            var x = $("#PVMonitoringModal").is(":hidden"); 

            if (!x) {
                setTimeout(function () {
                    $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                    $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
                }, 100)

                if ($('#code-attachment').val() == '' || $('#code-attachment').val() == null) {
                    swal("Error", "Failed: " + "Attachment Type should not be empty", "error");
                }
                else {
                    toastr.error(e.response.MessageError)
                }
            }
        }
    };

    function getDocumentParameter() {
        var a = $("#PVMonitoringModal").is(":hidden");

        if (a) {
            var pid = $("#pidLoD").val();
        }
        else {
            var pid = $("#pid").val();
        }

        return {
            processID: pid
        }
    };

    function getDistributionParameter() {
        return {
            pvno: $("#pvno").val()
        }
    };

    function getReadParameter() {
        return {
            statusFlag: $("#code").val()
        }
    };

    function getBankAccountParameter() {
        return {
            processID: $("#pid").val(),
            invoice: $("#pid").val(),
            vendorCode: $("#vendor").val(),
            vendorName: $("#vendor").attr("data-name")
        }
    };

    function onSelectUploadLetter(e) {
        var files = e.files
        var acceptedFiles = [".xls"]
        var isAcceptedImageFormat = ($.inArray(files[0].extension, acceptedFiles)) != -1

        if (!isAcceptedImageFormat) {
            swal("Error", "File must be .xls", "error");
            e.preventDefault();
        }
    }

    function onSelectUpload(e) {
        var x = $("#PVMonitoringModal").is(":hidden"); 
        if (!x) {
            $gridDocument = $("#DocumentFileGridInitial").data("kendoGrid");
            var data = $gridDocument.dataSource.data().toJSON();
            var fileInfo = getFileInfo(e);

            $.each(data, function (index, item) {
                if (fileInfo.length > 0) {
                    if (fileInfo[0] == item.attachment) {
                        swal("Error", "Can't upload file " + item.attachment + ". File is duplicate.", "error");
                        e.preventDefault();
                    }
                }
            });
        }
    }

    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }

    function onSuccessUploadListPVMonitroing(e) {
        console.log(e.response);
        if (e.response.IsSuccess == true) {

            if (e.response.MessageError == "") {
                $("#files").prop("disabled", false);
                $("#uploadFilePVMonitoring").prop("disabled", true);
                $("#uploadFilePVMonitoring").parent().removeClass("green");
                $("#uploadFilePVMonitoring").parent().addClass("grey");
                $("#files").parent().removeClass("grey");
                $("#files").parent().addClass("green");
                $("#pidLoD").val(e.response.Pid);
                //toastr.success("Success upload list PV Monitoring");
                swal("Info","Success Upload list Dealer Claim","success");
            }
            else {
                $("#files").prop("disabled", false);
                $("#uploadFilePVMonitoring").prop("disabled", true);
                $("#uploadFilePVMonitoring").parent().removeClass("green");
                $("#uploadFilePVMonitoring").parent().addClass("grey");
                $("#files").parent().removeClass("grey");
                $("#files").parent().addClass("green");
                $("#pidLoD").val(e.response.Pid);
                //toastr.success(e.response.MessageError.join('<br/>'), "", { timeOut: 5000 });
                swal("Info", "x", "success");
                $(".swal-text").html(e.response.MessageError.join('<br/>'));
            }
        }
        else {
            /*
            setTimeout(function () {
                $("#PVMonitoringModal").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#PVMonitoringModal").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            */
            //toastr.error(e.response.MessageError.join('<br/>'), "", { timeOut: 5000 });
            swal("Error", "x", "error");
            $(".swal-text").html(e.response.MessageError.join('<br/>'));
            $('#x').html(e.response.MessageError);
        }

        $('#uploadFilePVMonitoring').parents('.k-dropzone').find('.k-upload-status').hide();
    };
    /*
    function doRefreshBudgetNoComboBox(idParent, idChild) {

        var val = $("#" + idParent).val().split(':')[0],
            div = $("#divId").val();

            $.ajax({
            type: 'POST',
            url: '@@Url.Action("GetComboBoxBudgetNo", "PVMonitoring")',
            data: {
                transactType: val,
                divId: div
            },
            success: function (result) {

                $("#" + idChild).empty();
                $("#" + idChild).append('<option value="">Please select</option>');
                $.each(result.data, function (i, result) {
                    $("#" + idChild).append('<option value="' + result.WbsNumber + '">' + result.Description + '</option>');
                });

                if (result.budgeted != 0 && result.data.length >= 1) {
                    $("#bdgt").prop("hidden", false);
                    $("#budget-no").val('');
                }
                else {
                    $("#bdgt").prop("hidden", true);
                    $('.showRemainingDiv').prop('hidden', true);
                    $("#" + idChild).val("").change();
                }

                $("#" + idChild).change();
            },
            error: function (result) {
                swal("Error","Data error","error");
            }
        });
    }

    function doRefreshBudgetRemaining() {
        var val = $("#budget-no").val();

        if (val != null && val != '') {
            $('.showRemainingDiv').prop('hidden', false);
        }
        else {
            $('.showRemainingDiv').prop('hidden', true);
        }
    }
    */
</script>