﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.DRKB>()
            .Name("DRKBGrid")
            .Columns(columns =>
            {
                columns.Bound(o => o.Id)
                        .ClientTemplate("<input type='checkbox' name='checkedRecords' #= IsSelected ? checked='checked':'' # class='cbAdvisor' value='#= Id #'/>")
                        .HeaderTemplate("<input type='checkbox' id='masterCheckBox' class='checkbox_check' onclick='checkAll(this)'/>")
                        .Width(40)
                        .Sortable(false)
                        .Filterable(false)
                        .Title("Select All");
                columns.Bound(o => o.Id).Hidden(true).Title("ID");
                columns.Bound(o => o.BusinessUnit).Width(150).Title("<center>Business Unit</center>");
                //Change Header 10112020
                columns.Group(group => group
                       .Title("<center>Tax Invoice or Credit Note</center>")
                       .Columns(info =>
                       {
                           info.Bound(o => o.TaxNumber).Width(200).Title("<center>Tax Number</center>");
                           info.Bound(o => o.TanggalFaktur).Format("{0:dd-MM-yyyy}").Width(100).Title("<center>Tax Date</center>");
                       }));

                columns.Group(group => group
                       .Title("<center>Customer</center>")
                       .Columns(info =>
                       {
                           info.Bound(o => o.NPWPCustomer).Width(200).Title("<center>NPWP</center>");
                           info.Bound(o => o.NamaCustomer).Width(250).Title("<center>Name</center>");
                       }));
                //End



                columns.Bound(o => o.FrameNumber).Width(200).Title("<center>Frame Number</center>");
                columns.Bound(o => o.MerkOrType).Width(200).Title("<center>Merk Name</center>");
                columns.Bound(o => o.ModelType).Width(200).Title("<center>Model</center>");
                columns.Bound(o => o.Year).Width(60).Title("<center>Year</center>");

                //ChangeHeader 10112020
                columns.Group(group => group
                       .Title("<center>Vehicle Selling Price</center>")
                       .Columns(info =>
                       {
                           info.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(JumlahDPP, 'n')#</div>").Width(150).Title("<center>VAT Based Amount</center>");
                           info.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(JumlahPPN, 'n')#</div>").Width(150).Title("<center>VAT Amount</center>");
                       }));
                //End

                //columns.Bound(o => o.LuxTaxAmount).Width(60).Title("<center>Luxury Tax Amount</center>");
                columns.Bound(o => o.PrevLuxTaxAmount)
                 .ClientTemplate("<div style='text-align:right;'>#= kendo.toString(PrevLuxTaxAmount, 'n')#</div>")
                 .Width(150).Title("<center>Previous Luxury<br/>Tax Amount</center>");
                columns.Bound(o => o.Remarks).Width(250).Title("<center>Remarks</center>");

            })
            .ToolBar(toolbar =>
            {
                toolbar.Template(@<text>
                    <div class="toolbar">
                        <div class='btn-group pull-right' style="margin-right: 15px">
                            @*@if (ViewBag.IsAllowedDownload) {*@
                            <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>
                            @* } *@

                            <ul class='dropdown-menu pull-right' role='menu'>
                                @*@if (ViewBag.IsAllowedDownloadToPDF) {*@
                                <li><a class="k-grid-downloadPdf" href='javascript:;'>PDF Original Data/File</a></li>
                                @* } *@
                                @*@if (ViewBag.IsAllowedDownloadToPDF) {*@
                                <li><a class="k-grid-downloadPdfRerpot" href='javascript:;'>PDF Report</a></li>
                                @* } *@
                                <li><a class="k-grid-downloadExcel" href='javascript:;'>Excel Original Data/File</a></li>
                                @*@if (ViewBag.IsAllowedDownloadToExcelReport) {*@
                                <li><a class="k-grid-downloadExcelReport" href='javascript:;'>Excel Report</a></li>
                                @* } *@
                            </ul>
                        </div>

                        <div class='btn-group pull-right' style="margin-right: 15px">
                            <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Print<i class='fa fa-angle-down'></i></button>

                            <ul class='dropdown-menu pull-right' role='menu'>
                                <li><a class="k-grid-downloadPdf" href='javascript:;'>Print as PDF</a></li>
                                <li><a class="k-grid-downloadExcel" href='javascript:;'>Print as Excel</a></li>
                            </ul>
                        </div>

                    </div>
                    </text>);
                toolbar.Excel();
            })
            .Excel(excel => excel.FileName("DRKB.xlsx")
                                .Filterable(true)
                                .ProxyURL(Url.Action("Excel_Export_Save", "DRKB"))
                                .AllPages(true)
            )
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
            .Sortable()
            .Pageable()
            .Scrollable(scrollable => scrollable.Height("300"))
            .HtmlAttributes(new { @class = "scrollable" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Events(events => events.Error("onError"))
                .Read(read => read.Url(@Url.Action("Read", "DRKB", new { area = "Core" })))
                .Sort(s =>
                {
                    s.Add("TaxNumber").Ascending();
                    s.Add("BusinessUnit").Ascending();

                    s.Add("TanggalFaktur").Ascending();
                    s.Add("NPWPCustomer").Descending();


                })
                .Filter(filter =>
                {

                        var selectedDateObj = DateTime.Now;
                        var startOfFilterDate = new DateTime(selectedDateObj.Year - 1, selectedDateObj.Month, selectedDateObj.Day, 0, 0, 0);
                        var endOfFilterDate = new DateTime(selectedDateObj.Year, selectedDateObj.Month, selectedDateObj.Day, 23, 59, 59);
                        filter.Add(fx => fx.TanggalFaktur).IsGreaterThanOrEqualTo(startOfFilterDate).And().IsLessThanOrEqualTo(endOfFilterDate);

                })
                .PageSize(10)
            )
            .Events(e => e.DataBound("onDataBound"))

)

<script>

    function onError(e, status) {
        var checked = e.xhr.responseJSON.Message.includes("timeout");

        if (checked) {
            swal('Error', "Load too much data, please refine your filters", 'error')
        }
        else {
            swal('Error', e.xhr.responseJSON.Message, 'error')
        }

    }

    $(document).ready(function () {
        setInterval(RefreshNotification, 3000);

        $('[data-toggle="tooltip"]').tooltip()

        $("#showSelection").bind("click", function () {
            var checked = [];
            for (var i in checkedIds) {
                if (checkedIds[i]) {
                    checked.push(i);
                }
            }

            alert(checked);
        });
    });

    var checkedIds = {};

    //on click of the checkbox:
    $('#DRKBGrid').on('click', '.cbAdvisor', function () {
        var checked = this.checked,
            row = $(this).closest("tr"),
            grid = $("#DRKBGrid").data("kendoGrid"),
            dataItem = grid.dataItem(row);

        if (!checked) {
            $('#masterCheckBox').attr('checked', false); // Unchecks it
        }

        checkedIds[dataItem.DimAgentId] = checked;
        if (checked) {
            //-select the row
            row.addClass("k-state-selected");
        } else {
            //-remove selection
            row.removeClass("k-state-selected");
        }
    });

    function onDataBound(e) {
        var checkdata = true;

        if ($('input.checkbox_check').is(':checked'))
            checkdata = true;
        else
            checkdata = false;

        console.log("ondatabound");
        //console.log("e: " + e);
        //console.log(checkdata);
        var view = this.dataSource.view();
        if (checkdata == true) {
            for (var i = 0; i < view.length; i++) {
                //console.log("for");
                //console.log(i);
                if (checkedIds[view[i].DimAgentId]) {
                    //console.log(view[i].uid);
                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                        .addClass("k-state-selected")
                        .find(".cbAdvisor")
                        .attr("checked", "checked");
                }
            }
        }
    }
    function checkAll(ele) {
        console.log("cekall");
        var state = $(ele).is(':checked');
        var grid = $("#DRKBGrid").data("kendoGrid");

        checkedIds = {};

        for (var i = 0; i < grid.dataSource.total(); i++) {
            var dataRow = $("#DRKBGrid").data("kendoGrid").dataSource.data()[i];
            var elementRow = grid.table.find(".cbAdvisor")[i];
            if (elementRow != null) {
                var checked = elementRow.checked,
                    row = $(elementRow).closest("tr"),
                    dataItem = grid.dataItem(grid.tbody.find("tr").eq(i));

                if (state) {
                    checkedIds[dataItem.DimAgentId] = state;
                    //-select the row
                    elementRow.checked = true;
                    row.addClass("k-state-selected");
                    dataRow.IsSelected = true;
                } else {
                    //-remove selection
                    elementRow.checked = false;
                    row.removeClass("k-state-selected");
                    dataRow.IsSelected = false;
                }
            }

            //mark for paging
            if (dataRow != null) {
                if (state) {
                    dataRow.IsSelected = true;
                    //alert(dataRow.id);
                } else {
                    dataRow.IsSelected = false;
                }
            }
        };

        //var index = grid.dataSource.indexOf() + 1; // find where item is in data source
        //var entityGrid = $("#DRKBGrid").data("kendoGrid");
        //var data = entityGrid.dataSource.data();
        //var totalNumber = data.length;

        //grid.dataSource.pageSize(totalNumber);
    }
</script>
 