﻿@using Tam.Ebilling.Domain

@{
    List<PVMonitoring> listDtl = ViewBag.ListDetail;
    //2020-03-04 PVHeader pvHeader = ViewBag.PvHeader;
    List<PVMonitoringAttachment> listDoc = ViewBag.ListDocument;
    <input type="hidden" id="pid" data-role="tagsinput" class="form-control" value="@ViewBag.ProccesId" />
    <input type="hidden" id="pvno" data-role="tagsinput" class="form-control" value="@ViewBag.Pvno" />
    <input type="hidden" id="pvbudget" data-role="tagsinput" class="form-control" value="@ViewBag.Pvbudget" />
    <input type="hidden" id="levelcode" data-role="tagsinput" class="form-control" value="@ViewBag.LevelCode" />
}

<style>
    .bold {
        font-weight: bold;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"></h4>
</div>

<div class="modal-body">
    <form data-filter="true">
        @if (ViewBag.IsRejected == "Y")
        {
            <div class="reasonDiv">
                <div class="row" style="margin-right:0;margin-bottom:1em;">
                    <div class="col-md-8 col-sm-12">
                        <div class="col-md-3 col-sm-12">
                            <label>Status</label>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <label>: @ViewBag.StatusDesc</label>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Rejected By</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <label>: @ViewBag.RejectedBy</label>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label>Date</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <label>: @ViewBag.RejectedDt</label>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label>Rejected Reason</label>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <label>: @ViewBag.RejectedReason</label>
                        </div>
                    </div>
                </div>
            </div>
        }

        @(Html.Kendo().Grid(listDtl)
                        .Name("PVMonitoringDGrid")
                        .ToolBar(toolbar =>
                        {
                            toolbar.Template(@<text>
                                @if (ViewBag.LevelCode == "BG" || ViewBag.LevelCode == "MD")
                                {
                                    <div class="row">
                                        <div class="filter-budget-div" hidden="hidden">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <label>Budget: @ViewBag.Pvbudget<span id="budgetSpan"></span></label>
                                                    <br/><label id="budget-result"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 showRemainingDiv" style="margin-bottom:1em;" hidden="hidden">
                                            <span class="clickable-item text-muted filter-budget-trigger" style="cursor:pointer;color:blue;"><i class="fa fa-angle-down"></i> Show Remaining Budget</span>
                                        </div>
                                    </div>
                                }
                                <div class="row bank-account">
                                    <div id="div-ddlupload" class="col-md-6 col-sm-12">
                                        <div hidden>
                                            @Html.DropDownList("bank-account", new SelectList(ViewBag.BankAccount, "bank_key", "bank_name", ViewBag.BankAccountSelected),
                                            "Please select",
                                            new
                                            {
                                                @class = "select2local form-control select2-multiple",
                                                @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"bank_account\" }",
                                                @id = "bank_key"
                                            })
                                        </div>
                                        <label>Bank Account </label>
                                        <label id="label-bank-account"></label>
                                    </div>
                                </div>
                            </text>);
                            })
                                .Columns(columns =>
                                {
                            //columns.Bound(o => o.INVOICE_NO).Title("Invoice No").Width(115);
                            columns.Bound(o => o.STATUS_FLAG).Hidden(true);
                                    columns.Template(@<text></text>)
                                            .ClientTemplate(
                                                "#if(STATUS_FLAG == '4'||STATUS_FLAG == '5'||IS_USERTAM == 'N'||STATUS_FLAG.length >= 2){#" +
                                                "<div style='text-align:left'>" +
                                                    "#if(INVOICE_NO!=null){#" +
                                                        "#:INVOICE_NO#" +
                                                    "#}#" +
                                                "</div>" +
                                                "#}#"
                                            )
                                            .Title("<div style='text-align:left'>Invoice No</div>").Width(115);

                                //columns.Bound(o => o.INVOICE_DATE).Format("{0:dd-MM-yyyy}").Title("Invoice Date").Width(105);
                                columns.Template(@<text></text>)
                                    .ClientTemplate(
                                        "#if(STATUS_FLAG == '4'||STATUS_FLAG == '5'||IS_USERTAM == 'N'||STATUS_FLAG.length >= 2){#" +
                                        "<div style='text-align:left'>" +
                                            "#if(INVOICE_DATE!=null){#" +
                                                "#:INVOICE_DATE#" +
                                            "#}#" +
                                        "</div>" +
                                        "#}#"
                                    )
                                    .Title("<div style='text-align:left'>Invoice Date</div>").Width(105);

                            //columns.Bound(o => o.TAX_NO).Title("Tax No").Width(115);
                            columns.Template(@<text></text>)
                                .ClientTemplate(
                                    "#if(STATUS_FLAG == '4'||STATUS_FLAG == '5'||IS_USERTAM == 'N'||STATUS_FLAG.length >= 2){#" +
                                    "<div style='text-align:left'>" +
                                        "#if(TAX_NO!=null){#" +
                                            "#:TAX_NO#" +
                                        "#}#" +
                                    "</div>" +
                                    "#}#"
                                )
                                .Title("<div style='text-align:left'>Tax No</div>").Width(115);

                        //columns.Bound(o => o.TAX_DT).Format("{0:dd-MM-yyyy}").Title("Tax Date").Width(87);
                        columns.Template(@<text></text>)
                            .ClientTemplate(
                                "#if(STATUS_FLAG == '4'||STATUS_FLAG == '5'||IS_USERTAM == 'N'||STATUS_FLAG.length >= 2){#" +
                                "<div style='text-align:left'>" +
                                    "#if(TAX_DT!=null){#" +
                                        "#:TAX_DT#" +
                                    "#}#" +
                                "</div>" +
                                "#}#"
                            )
                            .Title("<div style='text-align:left'>Tax Date</div>").Width(115);

                    //columns.Bound(o => o.ACCOUNT_INFO).Title("No. Surat").Width(105);
                    columns.Bound(o => o.CURRENCY_CD).Title("Curr").Width(60);
                    //columns.Bound(o => o.AMOUNT_TURN_OVER).Title("Turnover").Width(100);
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_TURN_OVER != null){# #=kendo.toString(AMOUNT_TURN_OVER, 'n')# #}#</div>").Width(100).Title("Turnover");
                    //columns.Bound(o => o.AMOUNT_PPN).Title("PPN").Width(100);
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_PPN != null){# #=kendo.toString(AMOUNT_PPN, 'n')# #}#</div>").Width(100).Title("PPN");
                    //columns.Bound(o => o.DPP_AMOUNT).Title("PPH 23").Width(100);
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (DPP_AMOUNT != null){# #=kendo.toString(DPP_AMOUNT, 'n')# #}#</div>").Width(100).Title("PPH 23");
                    /*
                    columns.Bound(o => o.AMOUNT_PPh21_INTERN).Title("PPH 21 Internal").Width(100);
                    columns.Bound(o => o.AMOUNT_PPh21_EXTERN).Title("PPH 21 External").Width(100);
                    columns.Bound(o => o.AMOUNT_PPh26).Title("PPH 26").Width(100);
                    */
                    //columns.Bound(o => o.AMOUNT_PPh_FINAL).Title("PPH Final").Width(100);
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_PPh_FINAL != null){# #=kendo.toString(AMOUNT_PPh_FINAL, 'n')# #}#</div>").Width(100).Title("PPH Final");
                    //columns.Bound(o => o.AMOUNT_SEAL).Title("Materai").Width(100);
                    //columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_SEAL != null){# #=kendo.toString(AMOUNT_SEAL, 'n')# #}#</div>").Width(100).Title("Materai");
                    //columns.Bound(o => o.AMOUNT).Title("Total").Width(100);
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT != null){# #=kendo.toString(AMOUNT, 'n')# #}#</div>").Width(100).Title("Total");
                            columns.Bound(o => o.DESCRIPTION).Title("Note").Width(250);
                        })
                    .Reorderable(reorderable => reorderable.Columns(true))
                    .Resizable(resizable => resizable.Columns(true))
                    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
                    .Sortable()
                    .Pageable()
                    .Scrollable(scrollable => scrollable.Height("150"))
                    .HtmlAttributes(new { @class = "scrollable" })
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Url(@Url.Action("GetListPVMonitoring", "PVMonitoring", new { area = "Core" })).Data("getDocumentParameter"))
                    .Sort(sort => sort.Add(field => field.INVOICE_NO).Ascending())
                    .Sort(sort => sort.Add(field => field.INVOICE_DATE).Descending())
                    .PageSize(10))
        )

        @(Html.Kendo().Grid(listDoc)
                            .Name("DocumentFileGridInitial")

                            .Columns(columns =>
                            {
                                columns.Bound(f => f.FILE_NAME).Title("File Name").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                    @"<a href='" + Url.Action("Document", "PVMonitoring", new { Area = "Core" }) + @"?id=#:REFERENCE_NO#&filename=#:FILE_NAME#&pv_no=#:PV_NO#'>
                        <span #if(STATUS=='Delete'){# style='text-decoration: line-through;'#}#>
                            #:FILE_NAME#
                        </span>
                        </a>"
                                ).Width(400);
                                columns.Bound(f => f.ATTACH_CD).Title("Attachment").Width(175);
                                columns.Bound(f => f.PV_NO).Hidden(true);
                                columns.Bound(f => f.REFERENCE_NO).Hidden(true);
                                columns.Bound(f => f.REF_SEQ_NO).Hidden(true);
                            })
                                .NoRecords(x => x.Template("No Documents"))
                                .Reorderable(reorderable => reorderable.Columns(true))
                                .Resizable(resizable => resizable.Columns(true))
                                //.Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
                                .Sortable()
                                .Pageable()
                                .Scrollable(scrollable => scrollable.Height("100"))
                                .HtmlAttributes(new { @class = "scrollable" })
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(100)
                                //.Read(read => read.Url(@Url.Action("GetListDocuments", "PVMonitoring", new { area = "Core" })).Data("getDocumentParameter"))
                            )
        )

        @* 2020-03-04
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">PV Date</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.PV_DATE.Value.ToString("dd MMM yyyy")</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">PV No</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.PV_NO</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">PV Type</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.PV_TYPE</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Payment Method</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.PAYMENT_METHOD</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Activity Date</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.ACTIVITY_DATE_FROM.Value.ToString("dd MMM yyyy")</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">To</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.ACTIVITY_DATE_TO.Value.ToString("dd MMM yyyy")</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Vendor Code</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.VENDOR_CD</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Vendor</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.VENDOR_NAME</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Vendor Group</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.VENDOR_GRP</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Transaction Type</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.TRANSACTION_DESC</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-4 col-sm-12">
                        <label class="bold">Budget No</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <span>: @pvHeader.BUDGET</span>
                    </div>
                </div>
            </div>
        *@
    </form>
</div>

<div class="modal-footer" id="buttons">
    @if (ViewBag.Pvstatus == "1")
    {
        if (ViewBag.IsAllowedVerified)
        {
            <div class="btn-group btn-group-m" id="actionbuttons">
                <button class='btn green' type='button' aria-expanded='false' id="btn-verified-single"> Verify</button>
            </div>
        }
        if (ViewBag.IsAllowedNotProper)
        {
            <div class="btn-group btn-group-m" id="actionbuttons">
                <button class='btn red' type='button' aria-expanded='false' id="btn-not-proper-single"> Reject</button>
            </div>
        }
    }

    @if (ViewBag.UserType != "Internal")
    {
        if (ViewBag.Pvstatus != "3" && ViewBag.Pvstatus != "7" && ViewBag.Pvstatus != "8")
        {
            <div class="btn-group btn-group-m" id="actionbuttons">
                <button class='btn green' type='button' aria-expanded='false' id="btn-pv-cover" hidden> Download PV Cover</button>
            </div>
        }
    }
    else {
        if (ViewBag.LevelCode == "MD" 
            /*  &&
                ViewBag.Pvstatus != "3" &&
                ViewBag.Pvstatus != "7" &&
                ViewBag.Pvstatus != "8" && 
                ViewBag.Pvstatus != "6" &&
                ViewBag.Pvstatus != "2" &&
                ViewBag.Pvstatus != "1"
            */
        )
        {
            <div class="btn-group btn-group-m" id="actionbuttons">
                <button class='btn green' type='button' aria-expanded='false' id="btn-pv-cover" hidden> Download PV Cover</button>
            </div>
        }
    }
    <!--
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
    -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DocumentFileGridInitial').css('margin-top', '2.5em');
        $('#DocumentFileGridInitial').contents().wrap('<div class="grid-scroll-container"></div>');

        var budget = $('#pvbudget').val();
        if (budget != null && budget != "") {
            $('.showRemainingDiv').prop('hidden', false);
        }
        else {
            $('.showRemainingDiv').prop('hidden', true);
        }
        var lvlcode = $('#levelcode').val();
        var x = $('#bank_key option:selected').text();
        x = ': ' + x.replace(':', ' - ');
        if (x == ": Please select") {
            x = ": Dealer hasn't submitted";
            $('#PVMonitoringDGrid .bank-account').hide();
            
            if (lvlcode == "BG" || lvlcode == "MD") {
                if (budget != null && budget != "") {
                    $('#PVMonitoringDGrid .k-grid-toolbar').show();
                }
                else {
                    $('#PVMonitoringDGrid .k-grid-toolbar').hide();
                }
            }
            else {
                $('#PVMonitoringDGrid .k-grid-toolbar').hide();
            }
        }
        else {
            $('#PVMonitoringDGrid .bank-account').show();
        }

        $('#label-bank-account').html(x);
    })

    $("#btn-verified-single").click(function () {
        App.blockUI({ animate: !0 });
        var grid = $("#PVMonitoringGrid").data("kendoGrid");

        var x = false;

        if ($("#stsbudget").val() == "NOT AVAILABLE")
            x = true;

        if (x) {
            App.unblockUI();
            swal("Error", "Budget is not avaiable", "error");
            return;
        }

        var pvH = [];

        var dtl = new Object();
            dtl.PROCESS_ID = $("#pid").val();
            dtl.PV_NO = $("#pvno").val();

        pvH.push(dtl);
        pvH = JSON.stringify({ 'pvH': pvH });
        console.log(pvH);

        $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Verified data ?", function (val) {
            if (val == true) {
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: "POST",
                    url: '@Url.Action("VerifiedPIC", "PVMonitoring")',
                    data: pvH,
                    success: function (data) {
                        console.log(data);
                        $.helper.grid.refresh("PVMonitoringGrid");
                        App.unblockUI();
                        if (data.IsSuccess == true && data.MessageError.length == 0) {
                            $('#PVMonitoringModal').modal("hide");
                            swal('Info', 'Verified success!', 'success');
                        }
                        else {
                            //toastr.error(data.MessageError, { timeOut: 3000 });
                            swal("Error", "x", "error");
                            $(".swal-text").html(data.MessageError.join('<br/>'));
                            $('#x').html(data.MessageError);
                        }
                    },
                    error: function () {
                        App.unblockUI();
                        swal('Error', 'Verified Failed!', 'error');
                    }
                });
            } else {
                App.unblockUI();
            }
        });
    });

    $("#btn-not-proper-single").click(function () {
        $("#reject-reason").val('');
        $("#NotProperModal").modal("show");
        $("#is-single").val('1');
    });

    $("#btn-pv-cover").click(function () {
        var x = $('#pid').val();

        $.fileDownload('@Url.Action("PrintCover", "PVMonitoring")', {
            data: { pid: x },
            successCallback: function (fn) {

            },
            failCallback: function (fn) {

            }
        });
    });

    $('form[data-filter=true] .filter-budget-trigger').on('click', function (e) {
        var val = $("#pvbudget").val();
        var pvno = $("#pvno").val();

        var $el = $(this),
            $form = $el.closest('form'),
            divFilter = $form.find('.filter-budget-div');

        e.preventDefault();
        var x = divFilter.is(":hidden");
        //alert(x);
        if (divFilter.is(":hidden")) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBudget", "PVMonitoring")',
                data: {
                    wbs: val,
                    pvno
                },
                success: function (result) {
                    console.log(result);
                    if (result.success != false) {
                        divFilter.show();
                        $el.html("<i class='fa fa-angle-up'></i> Hide Remaining Budget");
                        $('#budget-result').html(result.data);
                    }
                    else {
                        swal("Error", result.message, "error");
                    }
                },
                error: function (result) {
                    swal("Error", "Error when call api Budget", "error");
                }
            });
        } else {
            divFilter.hide();
            $el.html("<i class='fa fa-angle-down'></i> Show Remaining Budget");
        }
    });

</script>