﻿@using Tam.Ebilling.Domain
@model Tam.Ebilling.Domain.PVMonitoring

@{
    List<PVHDistribusionStatus> listDoc = ViewBag.ListDocument;
    <input type="hidden" id="file" data-role="tagsinput" class="form-control" value="filename" runat="server" />
    <input type="hidden" id="pvno" data-role="tagsinput" class="form-control" value="@ViewBag.PvNo" />
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-attachment">PV No: @ViewBag.PvNo</h4>
</div>

<div class="modal-body">

    <form id="formPVMonitoringCheck">
        @(Html.Kendo().Grid(listDoc)
            .Name("DocumentFileGridInitial")

            .Columns(columns =>
            {
                columns.Bound(f => f.SEQ_NO).Title("No.").Width(40);
                columns.Bound(f => f.STATUS_CD).Title("Status").Width(110);
                columns.Bound(f => f.CREATED_BY).Title("Action by").Width(150);
                columns.Bound(f => f.DATE).Format("{0:dd-MM-yyyy}").Title("Date").Width(100);
                columns.Bound(f => f.REFF_NO).Hidden(true);
                columns.Bound(f => f.SEQ_NO).Hidden(true);
            })
                .NoRecords(x => x.Template("No Documents"))
                .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Url(@Url.Action("GetListDistribution", "PVMonitoring", new { area = "Core" })).Data("getDistributionParameter"))
            )
        )
    </form>
</div>
<div class="modal-footer" id="buttons"></div>
<script type="text/javascript">
    //
</script>