﻿@using Tam.Ebilling.Domain

@{
    List<PVMonitoringAttachment> listDoc = ViewBag.ListDocument;
    <input type="hidden" id="pidLoD" data-role="tagsinput" class="form-control" value="" />
    <input type="hidden" id="isUploaded" data-role="tagsinput" class="form-control" value="" />
}

<style>
    .k-upload, .k-dropzone {
        background-color: #fff;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-bank-account">Upload Letter of Disbursment</h4>
    <div id="x" hidden></div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <form data-filter="true">
                    <div class="col-md-6 col-xs-12">
                        <span style="color:#4C4647;">+Check Budget</span>
                        <div class="form-group">
                            @Html.DropDownList("budget_no", new SelectList(ViewBag.BudgetNo, "WbsNumber", "Description" ),"Please select",
                            new
                            {
                                @onchange = "doRefreshBudgetRemaining()",
                                @class = "select2local form-control select2-multiple",
                                @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"budget_no\" }",
                                @id = "cmbbudget_no"
                            })
                        </div>
                    </div>
                    <div class="col-md-5 col-xs-12">
                        <span style="color:#4C4647;">Budget Available</span>
                        <div class="form-group">
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='' id="amount-available" disabled />
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <hr style="color:#4C4647;" />
                    </div>
                    <div class="col-md-12 col-xs-12" style="margin-bottom:3.5em;">
                        <span style="color:#4C4647;">+Letter of Disbursment</span>
                        @(Html.Kendo().Upload()
                                                    .Name("uploadFilePVMonitoring")
                                                    .HtmlAttributes(new { aria_label = "files" })
                                                    .Async(a => a
                                                        .SaveUrl(@Url.Action("UploadListPVMonitoring", "PVMonitoring", new { Area = "Core" }))
                                                        .AutoUpload(true)
                                                    )
                                                    .Events(evt =>
                                                    {
                                                                //evt.Select("onSelectUploadLetter");
                                                                evt.Upload("onUploadLetter");
                                                        evt.Success("onSuccessUploadListPVMonitroing");
                                                    })
                                                    .ShowFileList(true)
                                                    .Validation(v => v.AllowedExtensions(new string[] { ".xls" }))
                                                    .Messages(m => m.Select("Upload Letter of Disbursment"))
                        )
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <span style="color:#4C4647;">+Attachment</span>
                        @(Html.Kendo().Upload()
                                                            .Name("files")
                                                            .HtmlAttributes(new { aria_label = "files" })
                                                            .Async(a => a
                                                                .SaveUrl(@Url.Action("Upload", "PVMonitoring", new { Area = "Core" }))
                                                                .AutoUpload(true)
                                                            )
                                                            .Events(evt =>
                                                            {
                                                                evt.Upload("onUpload");
                                                                evt.Select("onSelectUpload");
                                                                evt.Success("onSuccessUploadInitial");
                                                                evt.Progress("onProgressUpload");
                                                                evt.Complete("onCompleteUpload");
                                                            })
                                                            .ShowFileList(false)
                                                            .Validation(v => v.AllowedExtensions(new string[] { ".pdf", ".jpg", ".png", ".jpeg", ".gif", ".psd", ".bmp", ".esp", ".tif", ".pcx", ".pic", ".tga" }))
                                                            .Messages(m => m.Select("Upload Attachment"))
                        )

                        @(Html.Kendo().Grid(listDoc)
                                                                    .Name("DocumentFileGridLoDInitial")

                                                                    .Columns(columns =>
                                                                    {
                                                                        columns.Bound(f => f.FILE_NAME).Title("Filename").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                                                        @"<a href='" + Url.Action("Document", "PVMonitoring", new { Area = "Core" }) + @"?id=#:REFERENCE_NO#&filename=#:FILE_NAME#&pv_no=#:PV_NO#'>
                                                                                                                            <span #if(STATUS=='Delete'){# style='text-decoration: line-through;'#}#>
                                                                                                                                #:FILE_NAME#
                                                                                                                            </span>
                                                                                                                        </a>"
                                                                        ).Width(400);
                                                                        columns.Bound(f => f.ATTACH_CD).Title("Attachment").Width(175);
                                                                        columns.Bound(f => f.BY_INTERNAL).Hidden(true);
                                                                        columns.Bound(f => f.PV_NO).Hidden(true);
                                                                        columns.Bound(f => f.REFERENCE_NO).Hidden(true);
                                                                        columns.Bound(f => f.REF_SEQ_NO).Hidden(true);
                                                                        columns.Template(@<text></text>)
.ClientTemplate(
"#if(IS_USERTAM == 'N'){#" +
        "<div style='text-align:center'>" +
            @"#if(STATUS != 'Delete'){#
                                                                <a class='btn btn-xs btn-danger k-grid-delete-doc' onclick='App.PVMonitoringManagement.DeleteDocumentLoDInitial(this)'>Delete</a>
                                                            #}else{#
                                                                <a class='btn btn-xs btn-success k-grid-undo-doc' onclick='App.PVMonitoringManagement.UndoDocumentLoDInitial(this)'>Undo</a>
                                                            #}#" +
        "</div>" +
"#}#")
.Title("<div style='text-align: center'" +
"#if(IS_USERTAM == 'N'){#" +
"hidden='hidden'" +
"#}#" +
">Action</div>").Width(80);
                                                        })
.NoRecords(x => x.Template("No Documents"))
.DataSource(dataSource => dataSource
.Ajax()
.PageSize(10)
.Read(read => read.Url(@Url.Action("GetListDocuments", "PVMonitoring", new { area = "Core" })).Data("getDocumentParameter"))
)
                        )

                        @*
            @(Html.Kendo().Upload()
                        .Name("files")
                        .HtmlAttributes(new { aria_label = "files" })
                        .Async(a => a
                            .SaveUrl(@Url.Action("Upload", "PVMonitoring", new { Area = "Core" }))
                            .AutoUpload(true)
                        )
                        .Events(evt =>
                        {
                            evt.Upload("onUpload");
                            evt.Select("onSelectUpload");
                            evt.Success("onSuccessUploadInitial");
                        })
                        .ShowFileList(true)
                        .Validation(v => v.AllowedExtensions(new string[] { ".pdf", ".jpg", ".png", ".jpeg", ".gif", ".psd", ".bmp", ".esp", ".tif", ".pcx", ".pic", ".tga" }))
                        .Messages(m => m.Select("Upload Attachment"))
            )
                        *@
                    </div>
                    <!--
        <div class="demo-section k-content wide">
            <div class="wrapper">
                <div class="dropZoneElement">
                    <div class="textWrapper">
                        <p style="padding-top:.5em;color:#4C4647;"><span>+</span>Letter of Disbursment</p>
                        <p class="dropImageHereText" style="margin-top:-.5em">Click here to upload file</p>
                    </div>
                </div>
            </div>
        </div>
    -->
                    <!--
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="demo-section k-content" style="width:47em;">
            <label>+Letter of Disbursment</label>
            <input name="files" id="files" type="file" />
        </div>
    </div>
    -->

                <div class="col-md-12 col-xs-12" style="margin-left:0;margin-top:1em;">
                    <span style="color:red;"><i>*Please kindly attach supporting documents that have been<br />&nbsp;&nbsp;signed by an authorized signatory.</i></span>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div id="window"></div>
    <div class="btn-group btn-group-m" id="actionbuttons">
        <button type="button" class="btn btn-sm green" id="btnSaveUpload" onclick="SubmitUpload(this)">Submit</button>
    </div>
    <div class="btn-group btn-group-m" id="actionbuttons">
        <button type="button" class="btn btn-sm red" id="btnCancelUpload" onclick="CancelUpload()">Cancel</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#files").prop("disabled", true);
        $("#uploadFilePVMonitoring").parent().addClass("btn btn -default green trigger");
        $("#files").parent().addClass("btn btn -default grey trigger");

        $(".select2local").each(function (key, val) {
            var $this = $(val),
                //dataType = $this.data("dataType") || 'json',
                //delay = $this.data("delay") || 1500,
                //cache = typeof $this.data("cache") === 'undefined' ? false : $this.data("cache"),
                //page = $this.data("page") || 10,
                templateResult = $this.data("templateResult"),
                templateSelection = $this.data("templateSelection"),
                minimumInputLength = $this.data("minimumInputLength") || 0;

            $this.select2({
                width: "100%",
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: minimumInputLength,
                templateResult: function (repo) {
                    if (typeof window[templateResult] === 'function') {
                        window[templateResult](repo);
                    }
                    else {
                        return formatRepo(repo);
                    }
                },
                templateSelection: function (repo) {
                    if (typeof window[templateSelection] === 'function') {
                        window[templateSelection](repo);
                    }
                    else {
                        return formatRepoSelection(repo);
                    }
                }
            });
        });

        function formatRepoSelection(repo) {
            return repo.text;
        }

        function formatRepo(repo) {
            var markup = "<div>" + repo.text + "</div>";

            return markup;
        }
    });

    function CancelUpload() {
        var xpid = $('#pidLoD').val();

        $('#btnCancelUpload').prop("disabled", true);

        $('#btnCancelUpload').html(
            '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Please wait...'
        );

        if (xpid == null || xpid == "") {
            $('#LoDModal').modal("hide");
        }
        else {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "PVMonitoring")',
                data: {
                    pid: xpid,
                    clearDelete: 1
                },
                dataType: 'json',
                success: function (data)
                {
                    $('#btnCancelUpload .spinner-border').remove();
                    $('#btnCancelUpload').text('Submit');
                    $('#btnCancelUpload').prop("disabled", false);

                    $.helper.grid.refresh("PVMonitoringGrid");
                    $('#LoDModal').modal("hide");
                },
                error: function ()
                {
                    $('#btnCancelUpload .spinner-border').remove();
                    $('#btnCancelUpload').text('Submit');
                    $('#btnCancelUpload').prop("disabled", false);

                    $('#LoDModal').modal("hide");
                }
            });

        }
    }

    function SubmitUpload(e) {
        App.blockUI({ animate: !0 });
        var a = $('#isUploaded').val();

        $('#btnSaveUpload').prop("disabled", true);
        
        $('#btnSaveUpload').html(
        '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Please wait...'
        );

        var $modal = $(e).closest(".modal"),
            $form = $modal.find("form");
            $gridDocument = $form.find("#DocumentFileGridLoDInitial").data("kendoGrid");

        var docUpload = $gridDocument.dataSource.data().toJSON();

        if (a == null || a == "") {
            swal("Error", "Please kindly attach supporting documents that have been signed by an authorized signatory", "error");

            $('#btnSaveUpload .spinner-border').remove();
            $('#btnSaveUpload').text('Submit');
            $('#btnSaveUpload').prop("disabled", false);
        }
        else {
        
            var xpid = $('#pidLoD').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Submission", "PVMonitoring")',
                data: {
                    pid: xpid,
                    docsUpload: docUpload
                },
                dataType: 'json',
                success: function (data)
                {
                    console.log(data);
                    if (data.IsSuccess == true && data.MessageError.length == 0) {
                        App.unblockUI();
                        $('#btnSaveUpload .spinner-border').remove();
                        $('#btnSaveUpload').text('Submit');
                        $('#btnSaveUpload').prop("disabled", false);

                        $('#LoDModal').modal("hide");
                        swal("Info", "Submit successfully", "success");
                        $('#code').val('1').trigger('change');
                        $('.filter-action').find('.fa-search').click();
                        $("#PVMonitoringGrid").data("kendoGrid").dataSource.read();
                    }
                    else if (data.IsSuccess == true && data.MessageError.length > 0) {
                        App.unblockUI();
                        $('#btnSaveUpload .spinner-border').remove();
                        $('#btnSaveUpload').text('Submit');
                        $('#btnSaveUpload').prop("disabled", false);

                        $('#LoDModal').modal("hide");
                        swal("Info", "x", "success");
                        $(".swal-text").html(data.MessageError.join('<br />'));
                        $('#code').val('1').trigger('change');
                        $('.filter-action').find('.fa-search').click();
                        $("#PVMonitoringGrid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        App.unblockUI();
                        $('#btnSaveUpload .spinner-border').remove();
                        $('#btnSaveUpload').text('Submit');
                        $('#btnSaveUpload').prop("disabled", false);

                        swal("Error", "x", "error");
                        $(".swal-text").html(data.MessageError.join('<br/>'));
                        $('#x').html(data.MessageError);
                    }
                },
                error: function ()
                {
                    App.unblockUI();
                    $('#btnSaveUpload .spinner-border').remove();
                    $('#btnSaveUpload').text('Submit');
                    $('#btnSaveUpload').prop("disabled", false);

                    swal('Error', 'Submit Failed!', 'error');
                },
            });
        }
    }

    function doRefreshBudgetRemaining() {

        var val = $('#cmbbudget_no').val();

        if (val != '' && val != undefined) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBudget", "PVMonitoring")',
                data: {
                    wbs: val,
                    pvno: 0
                },
                success: function (result) {
                    console.log(result);
                    if (result.success != false) {                        
                        $('#amount-available').val(result.data);
                    }
                    else {
                        swal("Error", result.message, "error");
                    }
                },
                error: function (result) {
                    swal("Error", "Error when call api Budget", "error");
                }
            });   
        }
    }
</script>
@*
            if (e.response.MessageError == "") {
                $("#files").prop("disabled", false);
                $("#uploadFilePVMonitoring").prop("disabled", true);
                $("#uploadFilePVMonitoring").parent().removeClass("green");
                $("#uploadFilePVMonitoring").parent().addClass("grey");
                $("#files").parent().removeClass("grey");
                $("#files").parent().addClass("green");
                $("#pidLoD").val(e.response.Pid);
                //toastr.success("Success upload list PV Monitoring");
                swal("Info","Success upload list PV Monitoring","success");
            }
            else {
                $("#files").prop("disabled", false);
                $("#uploadFilePVMonitoring").prop("disabled", true);
                $("#uploadFilePVMonitoring").parent().removeClass("green");
                $("#uploadFilePVMonitoring").parent().addClass("grey");
                $("#files").parent().removeClass("grey");
                $("#files").parent().addClass("green");
                $("#pidLoD").val(e.response.Pid);
                //toastr.success(e.response.MessageError.join('<br />'), "", { timeOut: 5000 });
                swal("Info", "x", "success");
                $(".swal-text").html(e.response.MessageError.join('<br />'));
            }
*@
@* 07-03-2020
    <div class="modal-body">
        <form data-filter="true">
            <!--<div class="row">-->
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Vendor</label>
                    @Html.DropDownList("vendor-code", new SelectList(ViewBag.Vendor, "code", "name" ),
                    "Please select",
                    new
                    {
                        @class = "select2local form-control select2-multiple",
                        @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"vendor-cd\" }",
                        @id = "vendor-code"
                    })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label>Transaction Type</label>
                    @Html.DropDownList("transaction-type", new SelectList(ViewBag.TransactionType, "transaction_cd", "std_wording" ),
                    "Please select",
                    new
                    {
                        @onchange = "doRefreshBudgetNoComboBox('transaction-type','budget-no')",
                        @class = "select2local form-control select2-multiple",
                        @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"transaction-type\" }",
                        @id = "transaction-type"
                    })
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group" id="bdgt" hidden="hidden">
                    <label>Budget No</label>
                    @Html.DropDownList("transaction-type", new SelectList(ViewBag.BudgetNo, "WbsNumber", "Description" ),
                    "Please select",
                    new
                    {
                        @onchange = "doRefreshBudgetRemaining()",
                        @class = "select2local form-control select2-multiple",
                        @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"budget-no\" }",
                        @id = "budget-no"
                    })
                </div>
            </div>
            <div class="filter-budget-div" hidden="hidden">
                <div class="col-md-9 col-sm-12">
                    <div class="form-group">
                        <label>Budget: <span id="budgetSpan"></span></label>
                    </div>
                </div>
            </div>
            <!--<div class="row" style="margin-bottom:1em;">-->
            <div class="col-md-9 showRemainingDiv" style="margin-bottom:1em;" hidden="hidden">
                <span class="clickable-item text-muted filter-budget-trigger" style="cursor:pointer;color:blue;"><i class="fa fa-angle-down"></i> Show Remaining Budget</span>
            </div>
            <!--</div>-->
            <!--
        </div>
        <div class="row">
                -->
            <div class="col-md-6 col-xs-12">
                @(Html.Kendo().Upload()
                        .Name("uploadFilePVMonitoring")
                        .HtmlAttributes(new { aria_label = "files" })
                        .Async(a => a
                            .SaveUrl(@Url.Action("UploadListPVMonitoring", "PVMonitoring", new { Area = "Core" }))
                            .AutoUpload(true)
                        )
                        .Events(evt =>
                        {
                            evt.Select("onSelectUploadLetter");
                            evt.Upload("onUploadLetter");
                            evt.Success("onSuccessUploadListPVMonitroing");
                        })
                        //.Validation(v => v.AllowedExtensions(new string[] { ".xls", ".xlsx" }))
                        .ShowFileList(false)
                        .Messages(m => m.Select("Upload"))
                )
            </div>
            <!--</div>-->
        </form>
    </div>

    <div class="modal-footer" id="buttons">
        <!--<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>-->
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".select2local").each(function (key, val) {
                var $this = $(val),
                    dataType = $this.data("dataType") || 'json',
                    delay = $this.data("delay") || 1500,
                    cache = typeof $this.data("cache") === 'undefined' ? false : $this.data("cache"),
                    page = $this.data("page") || 10,
                    templateResult = $this.data("templateResult"),
                    templateSelection = $this.data("templateSelection"),
                    minimumInputLength = $this.data("minimumInputLength") || 0;

                $this.select2({
                    width: "100%",
                    escapeMarkup: function (markup) { return markup; },
                    minimumInputLength: minimumInputLength,
                    templateResult: function (repo) {
                        if (typeof window[templateResult] === 'function') {
                            window[templateResult](repo);
                        }
                        else {
                            return formatRepo(repo);
                        }
                    },
                    templateSelection: function (repo) {
                        if (typeof window[templateSelection] === 'function') {
                            window[templateSelection](repo);
                        }
                        else {
                            return formatRepoSelection(repo);
                        }
                    }
                });
            });
        });

        function formatRepoSelection(repo) {
            return repo.text;
        }

        function formatRepo(repo) {
            var markup = "<div>" + repo.text + "</div>";

            return markup;
        }

        $('form[data-filter=true] .filter-budget-trigger').on('click', function (e) {
            var $el = $(this),
                $form = $el.closest('form'),
                divFilter = $form.find('.filter-budget-div');

            e.preventDefault();

            if (divFilter.is(":hidden")) {
                divFilter.show();
                $el.html("<i class='fa fa-angle-up'></i> Hide Remaining Budget");
            }
            else {
                divFilter.hide();
                $el.html("<i class='fa fa-angle-down'></i> Show Remaining Budget");
            }
        });

        /*
        function doRefreshBudgetRemaining(e) {
            console.log(e);
            if (e.val != '' || e.val != undefined) {
                $('.showRemainingDiv').prop('hidden', false);
            }
            else {
                $('.showRemainingDiv').prop('hidden', true);
            }
        }
        */

        $('form[data-filter=true] .filter-budget-trigger').on('click', function (e) {
            var val = $("#budget-no").val();

            if ($('.filter-budget-div').is(':visible') == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetBudget", "PVMonitoring")',
                    data: {
                        wbs: val
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.success != false) {
                            $('#budgetSpan').html(result.data);
                        }
                        else {
                            swal("Error", result.message, "error");
                        }
                    },
                    error: function (result) {
                        swal("Error", "Error when call api Budget", "error");
                    }
                });
            }
        });
    </script>
*@