﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service

@{
    string pid = ViewBag.ProcessId;
    string invoice = ViewBag.Invoice;
    string vendor = ViewBag.Vendor;
    List<PVMonitoringBankAccount> listDoc = ViewBag.listDocProcess;

    <input type="hidden" id="invoice" data-role="tagsinput" class="form-control" value="@ViewBag.Invoice" />
    <input type="hidden" id="vendor" data-role="tagsinput" class="form-control" value="@ViewBag.Vendor" data-name="@ViewBag.VenName"/>
    <input type="hidden" id="pid" data-role="tagsinput" class="form-control" value="@ViewBag.ProcessId" />
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-bank-account">Register New Bank Account: @ViewBag.VenName</h4>
</div>

<div class="modal-body">
    <form id="formPVMonitoringBankRegister">
        @(Html.Kendo().Grid(listDoc)
                    .Name("DocumentBankAccountGridInitial")
                    .ToolBar(t => t.Template(
                    @<text>
                        <div class="row" style="margin-right:0;">
                            <div class="col-md-4 col-sm-12">
                                <label>Bank<span style='color:red;'>*</span></label>
                                @Html.DropDownList("bank-account_regis", new SelectList(ViewBag.BankAccountIn, "bank_key", "bank_name" ),
                                "Please select",
                                new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"bank_account\" }",
                                    @id = "bank-account_regis"
                                })
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Bank Account<span style='color:red;'>*</span></label>
                                <input type="text" id="bank-account" class="form-control" data-role="" data-filter='{"multiple": false,"operator": "contains", "field": "bank_account" }' />
                            </div>
                        </div>
                        <div class="row" style="margin-right:0;margin-top:1em;">
                            <div class="col-md-4 col-sm-12">
                                <label>Beneficiaries<span style='color:red;'>*</span></label>
                                <input type="text" id="beneficiaries" class="form-control" data-role="" data-filter='{"multiple": false,"operator": "contains", "field": "bank_account" }' />
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label>Attachment<span style='color:red;'>*</span></label>
                                    @(Html.Kendo().Upload()
                                        .Name("attach")
                                        .HtmlAttributes(new { aria_label = "files" })
                                        .Async(a => a
                                            .SaveUrl(@Url.Action("UploadAttachBank", "PVMonitoring", new { Area = "Core" }))
                                            .AutoUpload(true)
                                        )
                                        .Events(evt =>
                                        {
                                            evt.Upload("onUploadBankAttach");
                                            evt.Success("onSuccessUploadBankAttach");
                                        })
                                        .ShowFileList(true)
                                        .Validation(v => v.AllowedExtensions(new string[] { ".pdf", ".jpg", ".png", ".jpeg", ".gif", ".psd", ".bmp", ".esp", ".tif", ".pcx", ".pic", ".tga" }))
                                        .Messages(m => m.Select("Upload"))
                                    )
                            </div>
                        </div>
                        <div class="row" style="margin-right:0;margin-top:1em;">
                            <div class="col-md-3 col-sm-12">
                                <div class="btn-group btn-group-m" id="actionbuttons">
                                    <button type="button" class="btn blue" id="btnSaveUploadScan" onclick="App.PVMonitoringManagement.SaveBankRegisterInitial(this)">Submit</button>
                                </div>
                            </div>
                        </div>
                    </text>
                    ))
                        .Columns(columns =>
                        {
                            columns.Bound(f => f.NAME_OF_BANK).Title("Bank").Width(115);
                            columns.Bound(f => f.BANK_ACCOUNT).Title("Account").Width(115);
                            columns.Bound(f => f.BENEFICIARIES).Title("Beneficiaries").Width(115);
                            columns.Bound(f => f.FILE_NAME).Title("Attachment").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                    @"#if(FILE_NAME!=null){#" +
                                    "<a href='" + Url.Action("DocumentBankAttach", "PVMonitoring", new { Area = "Core" }) + @"?guid=#:GUID_FILENAME#&directory=#:DIRECTORY#&filename=#:FILE_NAME#'>
                                    <span>
                                        #:FILE_NAME#
                                    </span>
                                    </a>" +
                                    "#}#"
                            ).Width(115);

                            //columns.Bound(f => f.FILE_NAME).Title("Attachment").Width(115);
                            columns.Bound(f => f.GUID_FILENAME).Hidden(true);
                            columns.Bound(f => f.DIRECTORY).Hidden(true);
                            columns.Bound(f => f.STATUS_REQ).Title("Status").Width(115);
                            /*
                            columns.Bound(f => f.BANK_ACCOUNT).Hidden(true);
                            columns.Bound(c => c.BANK_ACCOUNT).Title("Action").Width(75).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Sortable(false).Filterable(false).ClientTemplate(
                                @"#if(DocumentType!='Pdf'){#
                                    #if(status != 'Delete'){#
                                        <a class='btn btn-xs btn-danger k-grid-delete-doc' onclick='App.PVMonitoringManagement.DeleteDocumentInitial(this)'>Delete</a>
                                        #}else{#
                                        <a class='btn btn-xs btn-success k-grid-undo-doc' onclick='App.PVMonitoringManagement.UndoDocumentInitial(this)'>Undo</a>
                                #}}#");
                            */
                        })
                            .NoRecords(x => x.Template("No Documents"))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Model(m => m.Id(f => f.BANK_ACCOUNT))
                            .Read(read => read.Url(@Url.Action("GetListBankAccount", "PVMonitoring", new { area = "Core" })).Data("getBankAccountParameter"))
                        )
        )
    </form>
</div>
<div class="modal-footer" id="buttons">
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#attach").parent().addClass("btn btn-default green trigger");

        $(".select2local").each(function (key, val) {
            var $this = $(val),
                dataType = $this.data("dataType") || 'json',
                delay = $this.data("delay") || 1500,
                cache = typeof $this.data("cache") === 'undefined' ? false : $this.data("cache"),
                page = $this.data("page") || 10,
                templateResult = $this.data("templateResult"),
                templateSelection = $this.data("templateSelection"),
                minimumInputLength = $this.data("minimumInputLength") || 0;

            $this.select2({
                width: "100%",
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: minimumInputLength,
                templateResult: function (repo) {
                    if (typeof window[templateResult] === 'function') {
                        window[templateResult](repo);
                    } else {
                        return formatRepo(repo);
                    }
                },
                templateSelection: function (repo) {
                    if (typeof window[templateSelection] === 'function') {
                        window[templateSelection](repo);
                    } else {
                        return formatRepoSelection(repo);
                    }
                }
            });
        });
    });

    function formatRepoSelection(repo) {
        return repo.text;
    }

    function formatRepo(repo) {
        var markup = "<div>" + repo.text + "</div>";

        return markup;
    }
</script>
