﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.PVMonitoring
@{
    List<PVMonitoringAttachment> listDoc = ViewBag.ListDocument;
    List<PVMonitoring> listDtl = ViewBag.ListDetail;

    <input type="hidden" id="pid" data-role="tagsinput" class="form-control" value="@ViewBag.ProcessId" />
    <input type="hidden" id="invoice" data-role="tagsinput" class="form-control" value="@ViewBag.Invoice" />
    <input type="hidden" id="userType" data-role="tagsinput" class="form-control" value="@ViewBag.UserType" />
    <input type="hidden" id="file" data-role="tagsinput" class="form-control" value="filename" runat="server" />
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-attachment">Letter of Disbursment:</h4>
</div>

<div class="modal-body">
    <form id="formPVMonitoringUploadByDealer">

        @(Html.Kendo().Grid(listDtl)
                    .Name("PVMonitoringDDealer")
                    .ToolBar(t => t.Template(
                    @<text>
                        <div class="row" style="margin-right:0;">
                            <div id="div-ddlupload" class="col-md-6 col-sm-12">
                                <label>Bank Account</label>
                                @Html.DropDownList("bank-account", new SelectList(ViewBag.BankAccount, "bank_key", "bank_name", ViewBag.BankAccountSelected),
                                "Please select",
                                new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"bank_account\" }",
                                    @id = "bank_key"
                                })
                            </div>
                        </div>
                        <div class="row" style="margin-right:0">
                            <div class="col-md-3 col-sm-12">
                                <a id="link-register-bank" onclick="onRegisterBank();" data-invoice="@ViewBag.Invoice" data-vendor="@ViewBag.VenCode" data-pid="@ViewBag.ProcessId" data-vendor-name="@ViewBag.VenName">Register New Account</a>
                            </div>
                        </div>
                        <div class="row" style="margin-right:0">
                            <div class="col-md-12 col-sm-12">
                                <span class="reminder" style="color:red;display:none;"><i>*Please ensure the accuracy all data required (bank account number, beneficiary name and bank name). TAM is not<br /> responsible for any effect whatsoever that may arise as a result of negligence and inaccuracy data. If there is any<br /> changes/wrong data, please contact TAM's PIC for further action.</i></span>
                            </div>
                        </div>
                    </text>
                        ))
                        .Columns(columns =>
                        {
                            columns.Template(@<text></text>)
                                        .ClientTemplate("<input type='text' class='form-control input-sm' data-pv-no='#:PV_NO#' " +
                                        "data-seq-no='#:SEQ_NO#' />")
                                    .HeaderTemplate("PV No")
                                    .HtmlAttributes(new { style = "text-align:center" })
                                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                                    .Width(150)
                                    .Hidden();

                                columns.Template(@<text></text>)
                                        .ClientTemplate("<input type='text' class='form-control input-sm' #if(INVOICE_NO!=''&&INVOICE_NO!=null){# value=#:INVOICE_NO# #}# />")
                                    .HeaderTemplate("Invoice No<span style='color:red;'>*</span>")
                                    .HtmlAttributes(new { style = "text-align:center" })
                                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                                    .Width(150);

                                    columns.Template(@<text></text>)
                                                .ClientTemplate("<div class='input-group'><input type='text' class='form-control input-sm date-picker'" +
                                                " #if(INVOICE_DATE!=''&&INVOICE_DATE!=null){# value=#:INVOICE_DATE# #}# data-provide='datepicker' />" +
                                                "<span class='input-group-addon'>" +
                                                    "<i class='fa fa-calendar'></i>" +
                                                "</span></div>")
                                            .HeaderTemplate("Invoice Date<span style='color:red;'>*</span>")
                                            .HtmlAttributes(new { style = "text-align:center" })
                                            .HeaderHtmlAttributes(new { style = "text-align:center" })
                                            .Width(150);

                                        columns.Template(@<text></text>)
                                                        .ClientTemplate("<input type='text' class='form-control input-sm' #if(TAX_NO!=''&&TAX_NO!=null){# value=#:TAX_NO# #}#" +
                                                        "onkeyup='numOnly(this)' onblur='numOnly(this)'/>")
                                                    .HeaderTemplate("Tax No")// #if(AMOUNT_PPN!=''&&AMOUNT_PPN!=null){#<span style='color:red;'>*</span>#}#")
                                                    .HtmlAttributes(new { style = "text-align:center" })
                                                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                                                    .Width(150);

                                            columns.Template(@<text></text>)
                                                        .ClientTemplate("<div class='input-group'><input type='text' class='form-control input-sm date-picker'" +
                                                        "#if(TAX_DT!=''&&TAX_DT!=null){# value=#:TAX_DT# #}# data-provide='datepicker' />" +
                                                        "<span class='input-group-addon'>" +
                                                            "<i class='fa fa-calendar'></i>" +
                                                        "</span></div>")
                                                    .HeaderTemplate("Tax Date")// #if(AMOUNT_PPN!=''&&AMOUNT_PPN!=null){#<span style='color:red;'>*</span>#}#")
                                                    .HtmlAttributes(new { style = "text-align:center" })
                                                    .HeaderHtmlAttributes(new { style = "text-align:center" })
                                                    .Width(150);

                                        //columns.Bound(o => o.ACCOUNT_INFO).Title("No. Surat").Width(105);
                                        columns.Bound(o => o.CURRENCY_CD).Title("Curr").Width(60);
                                        //columns.Bound(o => o.AMOUNT_TURN_OVER).Title("Turnover").Width(100);
                                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_TURN_OVER != null){# #=kendo.toString(AMOUNT_TURN_OVER, 'n')# #}#</div>").Width(100).Title("Turnover");
                                        //columns.Bound(o => o.AMOUNT_PPN).Title("PPN").Width(100);
                                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_PPN != null){# #=kendo.toString(AMOUNT_PPN, 'n')# #}#</div>").Width(100).Title("PPN");
                                        //columns.Bound(o => o.DPP_AMOUNT).Title("PPH 23").Width(100);
                                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (DPP_AMOUNT != null){# #=kendo.toString(DPP_AMOUNT, 'n')# #}#</div>").Width(100).Title("PPH 23");
                                        /*
                                        columns.Bound(o => o.AMOUNT_PPh21_INTERN).Title("PPH 21 Internal").Width(100);
                                        columns.Bound(o => o.AMOUNT_PPh21_EXTERN).Title("PPH 21 External").Width(100);
                                        columns.Bound(o => o.AMOUNT_PPh26).Title("PPH 26").Width(100);
                                        */
                                        //columns.Bound(o => o.AMOUNT_PPh_FINAL).Title("PPH Final").Width(100);
                                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_PPh_FINAL != null){# #=kendo.toString(AMOUNT_PPh_FINAL, 'n')# #}#</div>").Width(100).Title("PPH Final");
                                        //columns.Bound(o => o.AMOUNT_SEAL).Title("Materai").Width(100);
                                        //columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT_SEAL != null){# #=kendo.toString(AMOUNT_SEAL, 'n')# #}#</div>").Width(100).Title("Materai");
                                        //columns.Bound(o => o.AMOUNT).Title("Total").Width(100);
                                        columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT != null){# #=kendo.toString(AMOUNT, 'n')# #}#</div>").Width(100).Title("Total");
                                                columns.Bound(o => o.DESCRIPTION).Title("Note").Width(250);
                                            })
                                            .Reorderable(reorderable => reorderable.Columns(true))
                                            .Resizable(resizable => resizable.Columns(true))
                                            .Sortable()
                                            .Scrollable(scrollable => scrollable.Height("100"))
                                            .HtmlAttributes(new { @class = "scrollable" })
                                            .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Read(read => read.Url(@Url.Action("GetListPVMonitoring", "PVMonitoring", new { area = "Core" })).Data("getDocumentParameter"))
                                            .Sort(sort => sort.Add(field => field.INVOICE_NO).Ascending())
                                            .Sort(sort => sort.Add(field => field.INVOICE_DATE).Descending()))
        )

        @(Html.Kendo().Grid(listDoc)
                    .Name("DocumentFileGridInitial")
                    .ToolBar(t => t.Template(
                    @<text>
                        <div class="row" style="margin-top:1em;margin-right:0;">
                            <div class="col-md-3 col-sm-12">
                                <label>Attachment Type</label>
                                @Html.DropDownList("attachment_type", new SelectList(ViewBag.TransactionType, "code", "name", "4"),
                                "Please select",
                                new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"attachment_type\" }",
                                    @id = "code-attachment"
                                })
                            </div>
                            <div class="col-md-3 col-sm-12" style="margin-top:2em;">
                                @(Html.Kendo().Upload()
                                            .Name("files")
                                            .HtmlAttributes(new { aria_label = "files" })
                                            .Async(a => a
                                                .SaveUrl(@Url.Action("Upload", "PVMonitoring", new { Area = "Core" }))
                                                .AutoUpload(true)
                                            )
                                            .Events(evt =>
                                            {
                                                            evt.Upload("onUpload");
                                                            evt.Select("onSelectUpload");
                                                            evt.Success("onSuccessUploadInitial");
                                                            evt.Progress("onProgressUpload");
                                                            evt.Complete("onCompleteUpload");
                                                        })
                                            .ShowFileList(false)
                                            .Validation(v => v.AllowedExtensions(new string[] { ".pdf", ".jpg", ".png", ".jpeg", ".gif", ".psd", ".bmp", ".esp", ".tif", ".pcx", ".pic", ".tga" }))
                                )
                            </div>
                        </div>
                    </text>
                            ))

                            .Columns(columns =>
                            {
                                columns.Bound(f => f.FILE_NAME).Title("File Name").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                @"<a href='" + Url.Action("Document", "PVMonitoring", new { Area = "Core" }) + @"?id=#:REFERENCE_NO#&filename=#:FILE_NAME#&pv_no=#:PV_NO#'>
                            <span #if(STATUS=='Delete'){# style='text-decoration: line-through;'#}#>
                                #:FILE_NAME#
                            </span>
                        </a>"
                                ).Width(400);
                                columns.Bound(f => f.ATTACH_CD).Title("Attachment").Width(175);
                                columns.Bound(f => f.BY_INTERNAL).Hidden(true);
                                columns.Bound(f => f.PV_NO).Hidden(true);
                                columns.Bound(f => f.REFERENCE_NO).Hidden(true);
                                columns.Bound(f => f.REF_SEQ_NO).Hidden(true);
                                columns.Template(@<text></text>)
                                    .ClientTemplate(
                                        "#if(IS_USERTAM == 'N'){#" +
                                            "<div style='text-align:center'>" +
                                                @"#if(STATUS != 'Delete'){#
                                            <a class='btn btn-xs btn-danger k-grid-delete-doc' onclick='App.PVMonitoringManagement.DeleteDocumentInitial(this)'>Delete</a>
                                        #}else{#
                                            <a class='btn btn-xs btn-success k-grid-undo-doc' onclick='App.PVMonitoringManagement.UndoDocumentInitial(this)'>Undo</a>
                                        #}#" +
                                            "</div>" +
                                        "#}#")
                                        .Title("<div style='text-align: center'" +
                                        "#if(IS_USERTAM == 'N'){#" +
                                        "hidden='hidden'" +
                                        "#}#" +
                                        ">Action</div>").Width(80);
                                })
                                .NoRecords(x => x.Template("No Documents"))
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Read(read => read.Url(@Url.Action("GetListDocuments", "PVMonitoring", new { area = "Core" })).Data("getDocumentParameter"))
                            )
        )

        <div class="row" style="margin-left:0;margin-top:1em;">
            <div class="col-md-12 col-sm-12">
                <span style="color:red;"><i>*Please kindly attach invoice that have been signed by an authorized signatory and tax invoice (if any).</i></span>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer" id="buttons">
    @if (ViewBag.UserType != "Internal")
    {
        <div class="btn-group btn-group-m" id="actionbuttons">
            <button type="button" class="btn btn-sm green" id="btnSaveUploadScan" onclick="App.PVMonitoringManagement.SaveUploadDocumentInitial(this)">Save</button>
        </div>
        <div class="btn-group btn-group-m" id="actionbuttons">
            <button type="button" class="btn btn-sm red" data-dismiss="modal">Cancel</button>
        </div>
    }
</div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#DocumentFileGridInitial').contents().wrap('<div class="grid-scroll-container"></div>');

                if ($('#bank_key').val() != '' && $('#bank_key').val() != null) {
                    $('.reminder').css('display', '');
                }

                $('.date-picker').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    format: 'dd.mm.yyyy'
                });

                if ($('#userType').val() == 'Internal') {
                    $(".k-grid-top").css('background-color', '#FFFFFF');
                    var x = $('#bank_key option:selected').text();
                    x = ': ' + x.replace(':', ' - ');
                    if (x == ": Please select") {
                        x = ": Dealer hasn't submitted";
                    }

                    $('#label-bank-account').html(x);
                }

                $(".select2local").each(function (key, val) {
                    var $this = $(val),
                        //dataType = $this.data("dataType") || 'json',
                        //delay = $this.data("delay") || 1500,
                        //cache = typeof $this.data("cache") === 'undefined' ? false : $this.data("cache"),
                        //page = $this.data("page") || 10,
                        templateResult = $this.data("templateResult"),
                        templateSelection = $this.data("templateSelection"),
                        minimumInputLength = $this.data("minimumInputLength") || 0;

                    $this.select2({
                        width: "100%",
                        escapeMarkup: function (markup) { return markup; },
                        minimumInputLength: minimumInputLength,
                        templateResult: function (repo) {
                            if (typeof window[templateResult] === 'function') {
                                window[templateResult](repo);
                            }
                            else {
                                return formatRepo(repo);
                            }
                        },
                        templateSelection: function (repo) {
                            if (typeof window[templateSelection] === 'function') {
                                window[templateSelection](repo);
                            }
                            else {
                                return formatRepoSelection(repo);
                            }
                        }
                    });
                });
            });

            function numOnly(selector) {
                selector.value = selector.value.replace(/[^0-9]/g, '');
            }

            $(document).on("change", "#bank_key", function () {
                if ($('#bank_key').val() != '' && $('#bank_key').val() != null) {
                    $('.reminder').css('display', '');
                }
                else {
                    $('.reminder').css('display', 'none');
                }
            });

            function formatRepoSelection(repo) {
                return repo.text;
            }

            function formatRepo(repo) {
                var markup = "<div>" + repo.text + "</div>";

                return markup;
            }

        </script>
