﻿<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Conversation</span>
        </h1>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="invoice_number" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>No Invoice</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "MailKey" }' />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }
        </style>


    </div>
</div>

