﻿<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
         //set default date searching
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear() - 1,
            monthTo = '' + (d.getMonth() + 1),
            dayTo = '' + d.getDate(),
            yearTo = d.getFullYear();

        $("#dateFrom").val(String(day).padStart(2, '0') + "/" + String(month).padStart(2, '0') + "/" + year);
        $("#dateTo").val(String(dayTo).padStart(2, '0') + "/" + String(monthTo).padStart(2, '0') + "/" + yearTo);
    });

    $(".k-grid").on("click", ".k-grid-downloadPdf", function () {
        console.log("ini downloadPdf")

        var $checkedRecords = $('.cbAdvisor:checked');

        var matches = [];

        $checkedRecords.each(function () {
            if (this.value != "") {
                //alert(this.value);
                if ($('.checkbox_check:checked').is(':checked')) {
                    matches.push("on");
                }
                matches.push(this.value);
            }
        });

        var dataSource = $('#DRKBGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var totalRows = $("#DRKBGrid").data("kendoGrid").dataSource.total();

        var urlstring = '@Url.Action("DownloadExcel", "DRKB")?checks=' + matches;
        urlstring = urlstring + '&type=Original&dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&isPDF=true&totalRows=' + totalRows;
        console.log(urlstring);
        displayLoading('#DRKBGrid');

        if (matches.length > 0) {
            console.log("call download");

            $.fileDownload(urlstring, {
                data: data,
                successCallback: function (fn) {
                    hideLoading('#DRKBGrid');

                },
                failCallback: function (fn) {
                    fn = fn.replace(/(?:\r\n|\r|\n)/g, '<br>');
                    console.log(fn);

                    var checked = fn.toLowerCase().includes("timeout");
                    var checked2 = fn.toLowerCase().includes("more than 3000");

                    if (checked) {
                        swal('Error', "Load too much data, please refine your filters", 'error')
                    }else if (checked2) {
                        swal('Error', "Total row can not more than 3000", 'error')
                    }
                    else {
                        swal('Warning', "No Data to be downloaded", 'warning');
                    }
                    hideLoading('#DRKBGrid');


                }
            });
        } else {
            swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
            hideLoading('#DRKBGrid');


        }

    });

    $(".k-grid").on("click", ".k-grid-downloadPdfRerpot", function () {
        console.log("ini downloadPdfRerpot")

        var $checkedRecords = $('.cbAdvisor:checked');

        var matches = [];

        $checkedRecords.each(function () {
            if (this.value != "") {
                //alert(this.value);
                if ($('.checkbox_check:checked').is(':checked')) {
                    matches.push("on");
                }
                matches.push(this.value);
            }
        });

        var dataSource = $('#DRKBGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var totalRows = $("#DRKBGrid").data("kendoGrid").dataSource.total();

        var urlstring = '@Url.Action("DownloadExcel", "DRKB")?checks=' + matches;
        urlstring = urlstring + '&type=Report&dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&isPDF=true&totalRows=' + totalRows;
        console.log(urlstring);
        displayLoading('#DRKBGrid');

        if (matches.length > 0) {
            $.fileDownload(urlstring, {
                data: data,
                successCallback: function (fn) {
                    hideLoading('#DRKBGrid');

                },
                failCallback: function (fn) {
                    fn = fn.replace(/(?:\r\n|\r|\n)/g, '<br>');

                    var checked = fn.toLowerCase().includes("timeout");
                    var checked2 = fn.toLowerCase().includes("more than 3000");

                    if (checked) {
                        swal('Error', "Load too much data, please refine your filters", 'error')
                    } else if (checked2) {
                        swal('Error', "Total row can not more than 3000", 'error')
                    }
                    else {
                        swal('Warning', "No Data to be downloaded", 'warning');
                    }
                    hideLoading('#DRKBGrid');

                }
            });
        } else {
            swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
            hideLoading('#DRKBGrid');


        }

    });

    $(".k-grid").on("click", ".k-grid-downloadExcel", function () {
        console.log("ini downloadExcel")
        var $checkedRecords = $('.cbAdvisor:checked');

        var matches = [];

        $checkedRecords.each(function () {
            if (this.value != "") {
                //alert(this.value);
                if ($('.checkbox_check:checked').is(':checked')) {
                    matches.push("on");
                }
                matches.push(this.value);
            }
        });

        var dataSource = $('#DRKBGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var totalRows=$("#DRKBGrid").data("kendoGrid").dataSource.total();

        var urlstring = '@Url.Action("DownloadExcel", "DRKB")?checks=' + matches;
        urlstring = urlstring + '&type=Original&dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&isPDF=false&totalRows=' + totalRows;
        console.log(urlstring);
        displayLoading('#DRKBGrid');
        if (matches.length > 0) {
            $.fileDownload(urlstring, {
                data: data,
                successCallback: function (fn) {
                    hideLoading('#DRKBGrid');

                },
                failCallback: function (fn) {
                    fn = fn.replace(/(?:\r\n|\r|\n)/g, '<br>');

                    var checked = fn.toLowerCase().includes("timeout");
                    var checked2 = fn.toLowerCase().includes("more than 3000");

                    if (checked) {
                        swal('Error', "Load too much data, please refine your filters", 'error')
                    } else if (checked2) {
                        swal('Error', "Total row can not more than 3000", 'error')
                    }
                    else {
                        swal('Warning', "No Data to be downloaded", 'warning');
                    }
                    hideLoading('#DRKBGrid');
                }
            });
        } else {
            swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
            hideLoading('#DRKBGrid');
        }
    });

    $(".k-grid").on("click", ".k-grid-downloadExcelReport", function () {
        console.log("ini downloadExcelRerpot")
        var $checkedRecords = $('.cbAdvisor:checked');

        var matches = [];

        $checkedRecords.each(function () {
            if (this.value != "") {
                //alert(this.value);
                if ($('.checkbox_check:checked').is(':checked')) {
                    matches.push("on");
                }
                matches.push(this.value);
            }
        });

        var dataSource = $('#DRKBGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var dateFrom = $('#dateFrom').val();
        var dateTo = $('#dateTo').val();
        var totalRows = $("#DRKBGrid").data("kendoGrid").dataSource.total();

        var urlstring = '@Url.Action("DownloadExcel", "DRKB")?checks=' + matches;
        urlstring = urlstring + '&type=Report&dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&isPDF=false&totalRows=' + totalRows;
        console.log(urlstring);

        displayLoading('#DRKBGrid');

        if (matches.length > 0) {
            $.fileDownload(urlstring, {
                data: data,
                successCallback: function (fn) {
                    hideLoading('#DRKBGrid');
                },
                failCallback: function (fn) {
                    fn = fn.replace(/(?:\r\n|\r|\n)/g, '<br>');

                    var checked = fn.toLowerCase().includes("timeout");
                    var checked2 = fn.toLowerCase().includes("more than 3000");

                    if (checked) {
                        swal('Error', "Load too much data, please refine your filters", 'error')
                    } else if (checked2) {
                        swal('Error', "Total row can not more than 3000", 'error')
                    }
                    else {
                        swal('Warning', "No Data to be downloaded", 'warning');
                    }
                    hideLoading('#DRKBGrid');
                }
            });
        } else {
            swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
            hideLoading('#DRKBGrid');

        }
    });

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
    function replaceString(value) {
        return value.replace("/", "-");
    }


  
</script>
 