﻿<input type="hidden" id="sid" name="sid" value=@(Session.SessionID) />

@(Html.Kendo().Window()
    .Name("window")

    .Scrollable(false)
    .Modal(true)
    .AutoFocus(true)
    .Width(500)
    .Title("Processing ...")
    .Content(@<text>
        <div class="loading">

            @*@(Html.Kendo().ProgressBar()
              .Name("progressBar")
              .Min(0)
              .Max(100)
              .Type(ProgressBarType.Percent)
        //.Events(e => {
        //    e.Change("onChange");
        //    e.Complete("onComplete");
        //})
        )*@
               @*<div id="progressBar"></div>*@
            @*<div class="statusContainer">
            Item <span class="chunkStatus">1</span> of 4
            </div>*@

            <div class="form-group" id="process">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> </div>
        @*<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>*@

        </div>
    </div>
      </div>

    </text>)

    .Draggable()
    .Visible(false)
    .Resizable()
    .Width(600))
@(Html.Kendo().Grid<Tam.Ebilling.Domain.Invoice>()
            .Name("NotaReturGrid")
            .Columns(columns =>
            {
            columns.Bound(o => o.id)
              .ClientTemplate("<input type='checkbox' name='checkedRecords' #= IsSelected ? checked='checked':'' # class='cbAdvisor' value='#= id #'/>")
              .HeaderTemplate("<input type='checkbox' id='masterCheckBox' class='checkbox_check' onclick='checkAll()'/>")
              .Width(40)
              .Sortable(false)
              .Filterable(false)
              .Title("Select All");
            columns.Bound(o => o.business_unit).Width(140).Title("Business Unit");
            columns.Bound(o => o.transaction_type).Width(140).Title("Transaction Type");
            columns.Template(e => { }).ClientTemplate("<a class='k-grid-detail' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#'  data-transactiontype='#:transaction_type#' data-pphno='#:pph_no#' data-totalamount='#:total_amount#' data-dpp='#:dpp#' data-tax='#:tax#' data-rate='#:rate#' data-amountpph='#:amount_pph#' data-currency='#:currency#' data-transactiontypeid='#:transaction_type_id#' data-dormitory='#:dormitory#' data-vat='#:vat_dormitory#'>#:invoice_number#</a><span class='notif' id='#= kendo.toString(replaceString(replaceString(invoice_number)))#'></span>").Width(130).Title("Credit Advice<br>Number");
            columns.Bound(o => o.invoice_number).Width(140).Hidden(true).Title("Invoice Number");
            //columns.Bound(o => o.credit_note_number).Width(140).Title("Credit Note<br>Number");
            columns.Template(e => { }).ClientTemplate("" +
                "#if (credit_note_number != null){#" +
                "<a class='k-grid-detail-note' data-da_no='#=credit_note_number#' data-invoicenumber='#:invoice_number#' data-business_unit='#:business_unit#'>#:credit_note_number#</a>" +
                "#}# ").Width(130).Title("Credit Note<br>Number");
            columns.Bound(o => o.doc_date).HtmlAttributes(new { @style = "text-align:center; vertical-align:middle" }).Format("{0:dd-MM-yyyy}").Title("Credit Note<br>Date").Width(85);
            columns.Template(e => { }).ClientTemplate("" +
                //"#if (business_unit != 'Spare Part'){#" +
                " <a class='k-grid-tax' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#' data-tax_invoice='#:tax_invoice#'>#:tax_invoice#</a>" +
                //"#}else{#" +
                //"<div class='btn-group'>" +
                //"<button style='font-size:9px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Tax Invoices<i class='fa fa-angle-down'></i></button>" +
                //"<ul class='dropdown-menu pull-right' role='menu'>" +
                //"#=splitTax(tax_invoice, invoice_number, business_unit_id)#" +
                //"</ul></div>" +
                //"#}# " +
                "").Width(130).Title("Tax Invoice Number");

            columns.Bound(o => o.tax_date).HtmlAttributes(new { @style = "text-align:center; vertical-align:middle" }).Format("{0:dd-MM-yyyy}").Title("Tax Invoice<br>Date").Width(85);
            columns.Bound(o => o.da_code).HtmlAttributes(new { @style = "text-align:center; vertical-align:middle" }).Width(140).Title("Dealer Code");
            columns.Bound(o => o.customer_name).Width(140).Title("Customer Name");
            columns.Bound(o => o.due_date).HtmlAttributes(new { @style = "text-align:center; vertical-align:middle" }).Format("{0:dd-MM-yyyy}").Title("Due Date").Width(85);
            columns.Bound(o => o.currency).HtmlAttributes(new { @style = "text-align:right; vertical-align:middle" }).Width(60).Title("Currency");
            //columns.Bound(o => o.da_no).Width(130).Title("Da No");
            columns.Bound(o => o.doc_date).Format("{0:dd-MM-yyyy}").Title("Doc. Date").Width(85).Hidden(true);

            columns.Template(e => { }).ClientTemplate("" +
            "#if (business_unit != 'Spare Part'){#" +
            "<div style='text-align:right;'>#= kendo.toString(dpp, 'n')#</div>" +
            "#}else{#" +
            "<div style='text-align:right;'>#= kendo.toString(dpp, 'n')#</div>" +
            "#}# ").Width(100).Title("Return VAT<br>Based Amount");

            columns.Template(e => { }).ClientTemplate("" +
            "#if (business_unit != 'Spare Part'){#" +
            "<div style='text-align:right;'>#= kendo.toString(tax, 'n')#</div>" +
            "#}else{#" +
            "<div style='text-align:right;'>#= kendo.toString(tax, 'n')#</div>" +
            "#}# ").Width(100).Title("Return VAT<br>Amount");

            columns.Template(e => { }).ClientTemplate("" +
                "#if(ar_status=='InvStat01'){#" +
                "<div style='text-align:center;' data-toggle='#=kendo#' title='Settlement'/><img src='#:ar_status_img_url#'</img></div>" +
                "#} else if(ar_status=='InvStat02'){#" +
                "<div style='text-align:center;' data-toggle='#=kendo#' title='Outstanding Overdue'/><img src='#:ar_status_img_url#'</img></div>" +
                "#} else if(ar_status=='InvStat03'){#" +
                "<div style='text-align:center;' data-toggle='#=kendo#' title='Outstanding Range'/><img src='#:ar_status_img_url#'</img></div>" +
                "#}  else if(ar_status=='InvStat05'){#" +
                "<div style='text-align:center;' data-toggle='#=kendo#' title='DA Cancel'/><img src='#:ar_status_img_url#'</img></div>" +
                "#} else {#" +
                "<div style='text-align:center;' data-toggle='#=kendo#' title='Due Date Now'/><img src='#:ar_status_img_url#'</img></div>" +
                "#}#").Width(50).Title("<div style='text-align:center'>AR<br>Status</div>");

            columns.Bound(o => o.pph_no).Title("PPH 22 No").Width(78).Hidden(true);

            columns.Template(@<text>@Html.ActionLink(@item.invoice_number.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })</text>).ClientTemplate("#if(notur_uploaded == 1){#" +
                "<div style='text-align:center'>" +
                "<a data-tes='k-grid-download-uploaded-nota-retur' data-ca_no='#=invoice_number#'>" +
                "  <img src = '../../Content/img/ico-allinvoice.png'  />" +
                "</a></div>" +
                "#}#").Title("<div style='text-align: center'>VAT Credit Note<br>Original</div>").Width(120).Hidden(true);

            columns.Template(@<text>@Html.ActionLink(@item.invoice_number.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
                </text>).ClientTemplate("" +
                "#if(notur_uploaded == 1){#" +
                             "<div style='text-align:center'>" +
                             "<a data-tes='k-grid-download-uploaded-nota-retur' data-ca_no='#=invoice_number#'>" +
                             "  <img src = '../../Content/img/ico-allinvoice.png'  title='Exist' />" +
                             "</a></div>" +
                             "#}#").Title("<div style='text-align: center'>VAT Credit Note<br>Original</div>").Width(120);

            @*columns.Bound(o => o.da_code).Title("DA Code").Hidden(true);
                        columns.Bound(o => o.da_no).Title("DA No").Hidden(true);
                        columns.Bound(o => o.business_unit).Title("Business Unit").Hidden(true);
                        columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
                    </text>).ClientTemplate("#if(business_unit == 'Motor Vehicle'){#<img src = '../../Content/img/ico-invoice.png' data-toggle='tooltip' title='MV is Not Available' />#}else{#<a href = '" + Url.Action("DownloadNotaRetur", "Invoice", new { da_number = "#=da_no#" }) + "'><img src = '../../Content/img/ico-invoice.png' /></a>#}#").
                              Title("<a class='k-grid-downloadallnotur'><img src='../../Content/img/ico-invoice.png'/></a>").Width(40);
                columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
                    </text>).ClientTemplate("#if(inv_downloaded == 1){#<img src = '../../Content/img/ico-allinvoice.png' data-toggle='tooltip' data-toggle='downloaded_date' title='Downloaded,#= downloaded_date#,#= downloaded_by# '') />#}else{#<img src = '../../Content/img/ico-allinvoice.png' data-toggle='tooltip' title='Not Downloaded' />#}#").
                              Title("Invoice Status").Width(115);

                    columns.Template(@<text>@Html.ActionLink(@item.da_code.ToString(), "Download", "Attachment", new { da_code = @item.da_code })
                            </text>).ClientTemplate("#if(da_code < 1 ){#<img src='../../Content/img/ico-document.png' data-toggle='tooltip' title='Attachment is Not Available'/>#}" +
                                  "else{#<a href='javascript:;'><img  onclick=download(\'#:da_code#\') src='../../Content/img/ico-alldocument.png'/></a>#}#").Title("<a class='k-grid-download'> <img src='../../Content/img/ico-alldocument.png'/></a>").Width(38);
                                    columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "Download", "NotaRetur", new { daNumber = HttpUtility.UrlEncode(@item.da_no), businessUnit = item.business_unit })
                                    </text>).ClientTemplate("<a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'><img src = '../../Content/img/ico-allinvoice.png' /></a>").Title("<a class='k-grid-downloadallinvoice-notur'><img src='../../Content/img/ico-allinvoice.png'/>").Width(38);


                        })*@
            columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
        </text>).ClientTemplate("#if(inv_downloaded == 1){#<div style='text-align:center'><img src = '../../Content/img/ico-invoice.png' data-toggle='#=kendo.toString(downloaded_date,'yyyy-MM-dd')#' title='Last Downloaded on #= kendo.toString(downloaded_date,'dd-MM-yyyy')#, by #= downloaded_by# '') /></div>#}else{#<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo#' title='Not Downloaded' /></div>#}#")
            .Title("<div style='text-align: center'>Invoice QR<br>Status</div>").Width(80);
             columns.Template(@<text>@Html.ActionLink(@item.invoice_number.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
            </text>).ClientTemplate("#if(inv_scan_downloaded == 1){#<div style='text-align:center'><img src = '../../Content/img/ico-invoice.png' data-toggle='#=kendo.toString(downloadedscan_date,'yyyy-MM-dd')#' title='Last Downloaded on #= kendo.toString(downloadedscan_date,'dd-MM-yyyy')#, by #= downloadedscan_by# '') /></div>#}else{#<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo#' title='Not Downloaded' /></div>#}#")
             .Title("<div style='text-align: center'>Invoice<br>Status</div>").Width(60);

            columns.Bound(o => o.credit_note_status).Width(80).Template(@<text></text>).ClientTemplate("<div style='text-align:center;width:fit-content;margin: auto;'>" +
                "<p style='margin: auto;min-width: 10px!important;padding: 5px;background-color:#= kendo.toString(credit_note_status).split('|')[0] #;width:10px;min-height: 10px;' title='#= kendo.toString(credit_note_status).split('|')[1] #'></p>" +
                "</div>").Title("<div style='text-align: center'>VAT Credit<br>Note Status</div>").Width(80);

            columns.Template(e => { }).ClientTemplate("" +
                "#if(creditnotettd == 1){#" +
                "<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' title='Exist') /></div>" +
                "#}# ").Title("<div style='text-align: center'>VAT Credit<br>Note Sign Off</div>").Width(100);
            columns.Template(e => { }).ClientTemplate("" +
                "#if(creditnotedgt == 1){#" +
                "<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' title='Exist') /></div>" +
                "#}# ").Title("<div style='text-align: center'>VAT Credit<br>Note DGT</div>").Width(80);

            columns.Template(@<text></text>).ClientTemplate("#if( customer_group != '" + @ViewBag.Customer + "'){#<div class='btn-group'>" +
                "<button style='font-size:9px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                "<ul class='dropdown-menu pull-right' role='menu'>" +
                //"<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadInvoiceQR + "' == 'True') {if (business_unit != 'Spare Part'){#" +
                "<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice QR</a></li>" +
                "#}else{#" +
                "<li><a class='k-grid-download-sp-ca' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>Invoice QR</a></li>" +
                "#}}#" +
                "#if ('" + @ViewBag.IsAllowedDownloadInvoice + "' == 'True') {if( business_unit == 'Others'){#" +
                "<li><a class='k-grid-download-invoice' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=downloadInvoice(\'#:invoice_number#\')>Invoice</a></li>" +
                "#}}#" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadAttachment + "' == 'True') {if (business_unit != 'Spare Part'){#" +
                "<a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' href='javascript:;'>Attachment</a>" + /*onclick = download(\'#:da_code#\')*/
                "#}else{#" +
                "<a class='k-grid-download-sp-attachment-notur' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>Attachment</a>" +
                "#}}#</li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadPI + "' == 'True') {if( business_unit == 'Spare Part'){#" +
                "<li><a class='k-grid-download-delivery-note' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;'>Delivery Note</a></li>" +
                "#}}#" +
                "<li>" +
                "#if ('" + ViewBag.IsAllowedDownloadNotaRetur + "'  == 'True') {if (business_unit == 'Others'){#" +
                "<a class='k-grid-download-reportnotur' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>VAT Credit Note</a>" + /*onclick =downloadNotur(\'#:da_no#\' \'#:business_unit#\' \'#:invoice_number#\')*/
                "#}else{#" +
                "<a class='k-grid-download-sp-notur' data-da_no='#=credit_note_number#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>VAT Credit Note</a>" +
                "#}}#</li>" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadCreditNote + "' == 'True') {if (creditnotettd == 1){#" +
                "<a class='k-grid-download-signoff' data-da_no='#=credit_note_number#' data-business_unit='#=business_unit#' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=downloadNoturSignOff(\'#:da_no#\' \'#:business_unit#\' \'#:invoice_number#\')>VAT Credit Note Sign Off</a>" +
                "#}}#</li>" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadCreditNote + "' == 'True') {if (creditnotedgt == 1){#" +
                "<a class='k-grid-download-dgt' data-da_no='#=credit_note_number#' data-business_unit='#=business_unit#' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=downloadNoturDGT(\'#:da_no#\' \'#:business_unit#\' \'#:invoice_number#\')>VAT Credit Note DGT</a>" +
                "#}}#</li>" +
                //"#if(business_unit == 'Motor Vehicle'){##}else{#<li><a class='k-grid-uploaddoc' data-id='#:da_no#' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' href='javascript:;'>Upload</li>#}#" +
                // "<li><a class='k-grid-uploaddoc' data-id='#=da_no#' data-invoice_no='#=invoice_number#' data-total_amount='#=total_amount#' data-currency='#=currency#' href='javascript:;'>Upload</li>" +
                //"<li><a href ='btn btn-xs btn-primary blue k-grid-uploaddoc' data-id='#:da_no#' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' >Upload</a></li>" +
                "</ul></div>" +
                "#if ('" + @ViewBag.IsAllowedUploadInvoice + "' == 'True') {#" + //hide as requested pak Danu
                "<span style='float: center' class='hide'> <a style='font-size:9px' class='btn btn-xs btn-primary blue k-grid-uploadscan' data-loader='true' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' title='Upload Invoice' type='button' style='width:20px'>" +
                "<i class='fa fa-upload'></i></a></span>" +
                "#}#" +
                //"#if ('" + @ViewBag.IsAllowedUploadNotaRetur + "' == 'True') {#" +
                //"<span style='float: center'> <a style='font-size:9px' class='btn btn-xs btn-primary green k-grid-uploaddoc' data-loader='true' data-id='#:da_no#' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' data-business_unit='#=business_unit#' title='Upload VAT Credit Note' type='button' style='width:20px'>" +
                //"<i class='fa fa-upload'></i></span>" +
                //"#}#" +
                "#if ('" + @ViewBag.IsAllowedUploadNotaRetur + "' == 'True') {#" +
                "<span style='float: center'> <a style='font-size:9px' class='btn btn-xs btn-primary green k-grid-uploaddoc' data-loader='true' data-id='#:credit_note_number#' data-invoice_no='#:invoice_number#' data-credit_note_no='#:credit_note_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' data-business_unit='#=business_unit#' title='Upload VAT Credit Note' type='button' style='width:20px'>" +
                "<i class='fa fa-upload'></i></span>" +
                "#}#" +
                "#}else{#<div class='btn-group'>" +
                "<button style='font-size:9px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                "<ul class='dropdown-menu pull-right' role='menu'>" +
                //"<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadInvoice + "' == 'True') {if( business_unit == 'Others'){#" +
                "<li><a class='k-grid-download-invoice' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=downloadInvoice(\'#:invoice_number#\')>Invoice</a></li>" +
                "#}}#" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadInvoiceQR + "' == 'True') {if (business_unit != 'Spare Part'){#" +
                "<a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice QR</a></li>" +
                "#}else{#" +
                "<a class='k-grid-download-sp-ca' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>Invoice QR</a>" +
                "#}}#</li>" +

                "<li></li>" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadAttachment + "' == 'True') {if (business_unit != 'Spare Part'){#" +
                "<a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=download(\'#:da_code#\')>Attachment</a>" +
                "#}else{#" +
                "<a class='k-grid-download-sp-attachment-notur' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>Attachment</a>" +
                "#}}#</li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadPI + "' == 'True') {if( business_unit == 'Spare Part'){#" +
                "<li><a class='k-grid-download-delivery-note' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;'>Delivery Note</a></li>" +
                "#}}#" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadNotaRetur + "' == 'True') {if (business_unit == 'Others'){#" +
                "<a class='k-grid-download-reportnotur' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;' onclick=downloadNotur(\'#:da_no#\' \'#:business_unit#\' \'#:invoice_number#\')>VAT Credit Note</a>" +
                "#}else{#" +
                "<a class='k-grid-download-sp-notur' data-da_no='#=credit_note_number#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;'>VAT Credit Note</a>" +
                "#}}#</li>" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadCreditNote + "' == 'True') {if (creditnotettd == 1){#" +
                "<a class='k-grid-download-signoff' data-da_no='#=credit_note_number#' data-business_unit='#=business_unit#' data-invoice_number='#=invoice_number#' href='javascript:;'>VAT Credit Note Sign Off</a>" +
                "#}}#</li>" +
                "<li>" +
                "#if ('" + @ViewBag.IsAllowedDownloadCreditNote + "' == 'True') {if (creditnotedgt == 1){#" +
                "<a class='k-grid-download-dgt' data-da_no='#=credit_note_number#' data-business_unit='#=business_unit#' data-invoice_number='#=invoice_number#' href='javascript:;'>VAT Credit Note DGT</a>" +
                "#}}#</li>" +
                //"#if(business_unit == 'Motor Vehicle'){##}else{#<li><a class='k-grid-uploaddoc' data-id='#:da_no#' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' href='javascript:;'>Upload</li>#}#" +
                // "<li><a class='k-grid-uploaddoc' data-id='#=da_no#' data-invoice_no='#=invoice_number#' data-total_amount='#=total_amount#' data-currency='#=currency#' href='javascript:;'>Upload</li>" +
                //"<li><a href ='btn btn-xs btn-primary blue k-grid-uploaddoc' data-id='#:da_no#' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' >Upload</a></li>" +
                "</ul></div>" +
                "#if ('" + @ViewBag.IsAllowedUploadNotaRetur + "' == 'True') {#" +
                "<span style='float: center'> <a style='font-size:9px' class='btn btn-xs btn-primary green k-grid-uploaddoc' data-loader='true' data-id='#:credit_note_number#' data-invoice_no='#:invoice_number#' data-credit_note_no='#:credit_note_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' data-business_unit='#=business_unit#' title='Upload VAT Credit Note' type='button' style='width:20px'>" +
                "<i class='fa fa-upload'></i></a></span>#}}#").Title("<center>Action</center>").Width(160);
@*columns.Template(@<text></text>).ClientTemplate("<div class='btn-group'>" +
     "<button style='font-size:9px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
     "<ul class='dropdown-menu pull-right' role='menu'>" +
     "<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
     "<li><a class='k-grid-download-reportnotur' data-da_no='#=da_no#' data-business_unit='#=business_unit#' data-invoicenumber='#=invoice_number#' href='javascript:;' onclick=downloadNotur(\'#:da_no#\' \'#:business_unit#\' \'#:invoice_number#\')>Nota Retur</li>" +
    "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=download(\'#:da_code#\')>Attachment</li>" +
     "</ul></div>" +
     "<span style='float: center'> <a style='font-size:9px' class='btn btn-xs btn-primary blue k-grid-uploaddoc' data-loader='true' data-id='#:da_no#' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' title='Upload Nota Retur' type='button' style='width:20px'>" +
      "<i class='fa fa-upload'></i></span>").Title("<center>Action</center>").Width(160);*@
                columns.Bound(o => o.da_code).Title("DA Code").Hidden(true);
                columns.Bound(o => o.business_unit).Title("Business Unit").Hidden(true);
                columns.Bound(o => o.credit_note_number).Title("credit note number").Hidden(true);
            })
            .ToolBar(toolbar =>
            {
            toolbar.Template(@<text>
                    <div class="toolbar">
                        @*<a href="javascript:;" class="k-grid-excel btn btn-xs btn-info"><i class="fa fa-file-excel-o"></i> Export to Excel</a>*@
                        @if (ViewBag.IsAllowedExportToExcel)
                                    {
                            <a class='k-grid-exportexcel btn btn-xs btn-info' href="javascript:;" type='button' onclick="downloadfiletype('excel')"><i class="fa fa-file-excel-o"></i>Export To Excel</a>
                                    }

                        <a class='k-grid-download-ca-report btn btn-xs btn-info' href="javascript:;" type='button' onclick="downloadfiletype('careport')"><i class="fa fa-file-excel-o"></i>Download CA Report</a>
                        <a class='k-grid-report-nota-retur btn btn-xs btn-info' href="javascript:;" type='button' onclick="downloadfiletype('ntreport')"><i class="fa fa-file-excel-o"></i>VAT Credit Note Report</a>
                        <a class='k-grid-download-csv btn btn-xs btn-info' href="javascript:;" type='button' onclick="downloadfiletype('csvreport')"><i class="fa fa-file-excel-o"></i>Download Convert E-Faktur CSV File</a>

                        @*Penambahan Button Upload TTD & DGT*@
                        <div class='btn-group pull-right' style="margin-right: 10px">
                            <a class='k-grid-uploaddocttddgt btn btn-xs btn-info' href="javascript:;" type='button'>Upload Sign Off Dan DGT</a>
                        </div>
                        @*END*@

                        <div class='btn-group pull-right' style="margin-right: 15px">
                            @if (ViewBag.IsAllowedDownloadAll)
                                        {
                                <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download All<i class='fa fa-angle-down'></i></button>
                                        }

                        <ul class='dropdown-menu pull-right' role='menu'>
                            @if (ViewBag.IsAllowedDownloadInvoiceQR)
                                        {
                                <li><a class="k-grid-downloadallinvoice-notur" onclick="downloadfiletype('InvoiceQR')" href='javascript:;' >Invoice QR</a></li>
                                        }

                            @if (ViewBag.IsAllowedDownloadInvoice)
                                        {
                                <li><a class="k-grid-downloadallinvoice" onclick="downloadfiletype('Invoice')"  href='javascript:;'>Invoice</a></li>
                                        }

                            @if (ViewBag.IsAllowedDownloadNotaRetur)
                                        {
                                <li><a class="k-grid-downloadallnotur" onclick="downloadfiletype('VatCreditNote')" href='javascript:;'>VAT Credit Note</a></li>
                                        }

                            @if (ViewBag.IsAllowedDownloadAttachment)
                                        {
                                <li><a class="k-grid-download" onclick="downloadfiletype('Attachment')" href='javascript:;'>Attachment</a></li>
                                        }


                            <li><a class="k-grid-downloadtax-notur" onclick="downloadfiletype('TaxInvoice')" href='javascript:;'>Tax Invoice</a></li>
                            <li><a class="k-grid-downloadall-signoff" onclick="downloadfiletype('ttd')" href='javascript:;'>VAT Credit Note Sign Off</a></li>
                            <li><a class="k-grid-downloadall-dgt" onclick="downloadfiletype('dgt')" href='javascript:;'>VAT Credit Note DGT</a></li>
                        </ul>
                        </div>
                    </div>
</text>);
                toolbar.Excel();
            })
.Excel(excel => excel.FileName("VAT Credit Note.xlsx")
.Filterable(true)
//.ProxyURL(Url.Action("Excel_Export_Save", "Nota Retur"))
.AllPages(true)
)
.Reorderable(reorderable => reorderable.Columns(true))
.Resizable(resizable => resizable.Columns(true))
.Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
.Sortable()
.Pageable()
.Scrollable(scrollable => scrollable.Height("300"))
.HtmlAttributes(new { @class = "scrollable" })
.DataSource(dataSource => dataSource
.Ajax()
    .Events(events => events.Error("onError"))
    .Read(read => read.Url(@Url.Action("Read", "NotaRetur", new { area = "Core" }) + "?notifFilter="+ @ViewBag.NotifFilter))
    .Sort(sort => sort.Add(field => field.invoice_number))
    .Sort(sort => sort.Add(field => field.credit_note_number))
    .Filter(filter => {

        //var d = new Date();
        //var currDay = d.getDate() - 1;
        //var currMonth = d.getMonth() - 1;
        //var currYear = d.getFullYear();
        //var startDate = new Date(currYear, currMonth, currDay);

        //$("#dateFrom").datepicker();
        //$("#dateFrom").datepicker("setDate", startDate);
        //$("#dateTo").datepicker("setDate", new Date());

        if (@ViewBag.NotifFilter != "")
        {
            var selectedDateObj = DateTime.Now;
            var startOfFilterDate = new DateTime(selectedDateObj.Year, selectedDateObj.Month, selectedDateObj.Day, 0, 0, 0).AddDays(int.Parse(@ViewBag.Notif_Days) * -1);
            var endOfFilterDate = new DateTime(selectedDateObj.Year, selectedDateObj.Month, selectedDateObj.Day, 23,59,59);
            filter.Add(fx => fx.doc_date).IsGreaterThanOrEqualTo(startOfFilterDate).And().IsLessThanOrEqualTo(endOfFilterDate) ;
            //filter.Add(fx => fx.credit_note_status).IsEqualTo(@ViewBag.NotifFilter);
        }
        else if (@ViewBag.ID != "" && @ViewBag.ID != null)
        {
            filter.Add(fx => fx.invoice_number).Contains(ViewBag.ID);

        }
        else
        {
            filter.Add(f => f.is_notur_upload_done).IsEqualTo(0);
            //filter.Add(fx => fx.credit_note_status).Contains(@ViewBag.NotifFilter);
            var DateObj = DateTime.Now;
            var startFilterDate = new DateTime(DateObj.Year, DateObj.Month - 1, DateObj.Day - 1);
            var endFilterDate = new DateTime(DateObj.Year, DateObj.Month, DateObj.Day);
            filter.Add(f => f.doc_date).IsGreaterThanOrEqualTo(startFilterDate).And().IsLessThanOrEqualTo(endFilterDate);
        }

    })
    .PageSize(14)
)
.Events(e => e.DataBound("onDataBound"))
)

<script>

    function onError(e, status) {

        var checked = e.xhr.responseJSON.Message.includes("timeout");

        if (checked) {
            swal('Error', "Load too much data, please refine your filters", 'error')
        }
        else {
            swal('Error', e.xhr.responseJSON.Message, 'error')
        }
    }

    $(document).ready(function () {
        setInterval(RefreshNotification, 3000);

        $('[data-toggle="tooltip"]').tooltip()
        $("#showSelection").bind("click", function () {
            var checked = [];
            for (var i in checkedIds) {
                if (checkedIds[i]) {
                    checked.push(i);
                }
            }

            alert(checked);
        });
    });

    var checkedIds = {};
    $('#NotaReturGrid').on('click', '.cbAdvisor', function () {
        var checked = this.checked,
            row = $(this).closest("tr"),
            grid = $("#NotaReturGrid").data("kendoGrid"),
            dataItem = grid.dataItem(row);

        if (!checked) {
            $('#masterCheckBox').attr('checked', false); // Unchecks it
        }

        checkedIds[dataItem.DimAgentId] = checked;
        if (checked) {
            //-select the row
            row.addClass("k-state-selected");
        } else {
            //-remove selection
            row.removeClass("k-state-selected");
        }
    });
    function onDataBound(e) {

        checkAll();

    }
    function splitTax(taxInvoices, invoice_number, business_unit_id) {
        var stringBuilded = "";
        if (taxInvoices) {
            var splitedTaxInvoices = taxInvoices.split('#');
            for (var i = 0; i < splitedTaxInvoices.length; i++) {
                stringBuilded += "<li><a class='k-grid-tax' data-invoicenumber='" + invoice_number + "' data-businessunitid='" + business_unit_id + "' data-tax_invoice='" + splitedTaxInvoices[i] + "'>" + splitedTaxInvoices[i] + "</a></li>";
            }
        }
        return stringBuilded;
    }

    function checkAll() {
        // console.log("cekall", ele);
        var state = $("#masterCheckBox").is(':checked');
        var grid = $("#NotaReturGrid").data("kendoGrid");

        checkedIds = {};

        for (var i = 0; i < grid.dataSource.total(); i++) {
            var dataRow = $("#NotaReturGrid").data("kendoGrid").dataSource.data()[i];
            var elementRow = grid.table.find(".cbAdvisor")[i];
            if (elementRow != null) {
                var checked = elementRow.checked,
                    row = $(elementRow).closest("tr"),
                    dataItem = grid.dataItem(grid.tbody.find("tr").eq(i));

                if (state) {
                    checkedIds[dataItem.DimAgentId] = state;

                    elementRow.checked = true;
                    row.addClass("k-state-selected");
                    dataRow.IsSelected = true;
                } else {

                    elementRow.checked = false;
                    row.removeClass("k-state-selected");
                    dataRow.IsSelected = false;
                }
            }


            if (dataRow != null) {
                if (state) {
                    dataRow.IsSelected = true;

                } else {
                    dataRow.IsSelected = false;
                }
            }
        };


    }

</script>
