﻿
@section scripts {
    @*    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    @Html.Partial("~/Areas/Core/Views/SummaryInvoice/Script/_SummaryInvoice.cshtml")
    @*<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>*@
}

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Summary Invoice</span>
        </h1>
    </div>
</div>

<!--<a id="btnTest" class="btn btn-primary">Test Button</a>-->

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="InvoiceGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Date Range</label>
                            <div class="row">
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Business Type</label>
                            <select id="business-unit" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "business_unit" }'>
                                <option value="Others">Others</option>
                                <option value="Motor Vehicle">Motor Vehicle</option>
                                <option value="Spare Part">Spare Part</option>
                            </select>
                        </div>
                    </div>
                    @if (ViewBag.userType == "Internal")
                    {
                        <div class="col-md-2 col-sm-12">
                            <div class="form-group">
                                <label>Customer Name</label>
                                @Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName, "customer_group_id", "customer_group_name"),
                               "Please select",
                               new
                               {
                                   @class = "select2local form-control select2-multiple",
                                   @data_filter = "{ \"multiple\": false, \"operator\": \"eq\", \"field\": \"customer_group\" }",
                                   @id = "customer-id"
                               })
                            </div>
                        </div>
                    }
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Sign</label>
                            @Html.DropDownList("DDLSign", new SelectList(ViewBag.signs, "parameter_id", "value1"),
                               "Please select",
                                   new
                                   {
                                       @class = "select2local form-control select2-multiple",
                                       @id = "sign-by"
                                   }
                               )
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Total Amount</label>
                            @Html.DropDownList("total_amount", new SelectList(ViewBag.TotAmount, "value1", "value2"),
                                "Please select",
                                    new
                                    {
                                        @class = "select2local form-control select2-multiple",
                                        @id = "totalamount"
                                    }
                                )
                        </div>
                    </div>
                </div>

                @if (ViewBag.IsAllowedDownload)
                {
                    <div class="row">
                        <div class="col-md-2 col-xs-2">
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-default blue btn-download-summary">
                                        <i class="fa fa-download"></i> <span class="hidden-xs">Download</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/SummaryInvoice/Component/_SummaryInvoiceGrid.cshtml")
        <script>
            $(document).ready(function () {
                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))

                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy'
                    }).on('changeDate', function (date) {
                        var dateFrom = $("#dateFrom");
                        var dateTo = $("#dateTo");

                        if (dateFrom.val() != null && dateTo.val() != null) {

                            dateFrom = dateFrom.data('datepicker').dates.get();
                            dateTo = dateTo.data('datepicker').dates.get();

                            console.log("Date From: " + dateFrom);
                            console.log("Date To: " + dateTo);

                            if (dateFrom > dateTo) {
                                swal('Warning', 'Date To must be higher than Date From.', "error");
                            }
                        }
                    });
            });
        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>