﻿<script src="~/Scripts/vendor/Kendo/jszip.min.js"></script>

<script src="~/Content/theme/Metronic/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/jquery-idle-timeout/jquery.idletimeout.js?v=1" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/jquery-idle-timeout/jquery.idletimer.js?v=1" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/sweetalert.min.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/scripts/app.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/layout/scripts/layout.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/layout/scripts/quick-nav.js" type="text/javascript"></script>
<script src="~/Content/theme/Metronic/global/plugins/select2/js/select2.full.min.js"></script>
<script src="~/Content/theme/Metronic/global/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<script src="~/Content/theme/Metronic/global/plugins/jquery-validation/js/additional-methods.min.js"></script>
<script src="~/Scripts/vendor/Kendo/kendo.upload.min.js"></script>
<script src="~/Scripts/core.js?v=1.0.0.11"></script>
<script src="~/Content/theme/Metronic/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>

<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/chat.js"></script>
<script src="~/Scripts/fileDownload.js"></script>

<script type="text/javascript">
        App.setAssetsPath("@Url.Content("~/Content/theme/Metronic/")");

        var root = (function ($) {
            return {
                //switchOrganization: function () {
                //    $("#SwitchOrganizationModal").modal("show");
                //},
                //signOut: function () {
                //    $.post($.helper.resolve("~/Core/Account/LogoutAsync"), {}, function (d) {
                //        if (d.Success) {
                //            window.top.close();
                //        }
                //    });
                //},
                //proxyAs: function () {
                //    $("#ProxyAsModal").modal("show");

                //    setTimeout(function () {
                //        $('#ProxyAs').data("kendoAutoComplete").focus();
                //    }, 200);
                //},
                //submitOrganization: function (el) {
                //    var postCode = $("#UserSession_PostCode").val();
                //    $.post($.helper.resolve("~/Core/User/SwitchOrganization"), { postCode: postCode }, function (d) {
                //        if (d.Success) {
                //            window.location.reload();
                //        } else {
                //            toastr["error"]("Error when switch organization", d.Message);
                //        }
                //    });
                //},
                //submitRepresentative: function (el) {
                //    var $this = $(el),
                //        $modal = $this.closest(".modal"),
                //        $dropdownEl = $modal.find("select"),
                //        orgCode = $dropdownEl.val();

                //    $.post($.helper.resolve("~/Core/User/SwitchRepresentative"), { orgCode: orgCode }, function (d) {
                //        if (d.Success) {
                //            if (orgCode == "" || orgCode == null) {
                //                window.location.href = $.helper.resolve("~");
                //            } else {
                //                window.location.reload();
                //            }
                //        } else {
                //            toastr["error"]("Error when switch organization representative", d.Message);
                //        }
                //    });
                //},
                //becameSelfProxy: function (el) {
                //    $(el).off("click");
                //    $(el).attr("disabled", "disabled");
                //    $.post($.helper.resolve("~/Core/User/BecameSelf"), { }, function (d) {
                //        window.location.href = $.helper.resolve("~");
                //    });
                //},
                //submitProxy: function (el) {
                //    var dataItem = $("#ProxyAs").data("kendoAutoComplete").dataItem();
                //    $.post($.helper.resolve("~/Core/User/ProxyAs"), { noreg: dataItem.NoReg }, function (d) {
                //        window.location.href = $.helper.resolve("~");
                //    });
                //}
            }
    })(jQuery);


</script>