﻿<script src="~/Scripts/vendor/Kendo/kendo.color.min.js"></script>
<script src="~/Scripts/vendor/Kendo/kendo.drawing.min.js"></script>
<script src="~/Scripts/vendor/Kendo/kendo.pdf.min.js"></script>
<script src="~/Scripts/vendor/Kendo/kendo.dom.min.js"></script>
<script src="~/Scripts/vendor/Kendo/kendo.treelist.min.js"></script>