﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.SummaryInvoiceHistory>()
            .Name("ReceiptGrid")
            .Columns(columns =>
            {
                columns.Bound(o => o.id).Title("Id").Width(78);
                columns.Bound(o => o.dateFrom).Format("{0:dd-MM-yyyy}").Title("Date From").Width(150);
                columns.Bound(o => o.dateTo).Format("{0:dd-MM-yyyy}").Title("Date To").Width(150);
                columns.Template(e => { }).ClientTemplate("#if (businessType != ''){#" +
                    "<div style='text-align:center'>#:businessType#</div>" +
                    "#}else{#" +
                    "<div style='text-align:center'>All</div>" +
                    "#}# ").Width(150).Title("Business Type");
                columns.Template(e => { }).ClientTemplate("#if (customerGroup != ''){#" +
                    "<div style='text-align:center'>#:customerGroup#</div>" +
                    "#}else{#" +
                    "<div style='text-align:center'>All</div>" +
                    "#}# ").Width(150).Title("Customer Group");
                columns.Bound(o => o.created_by).Title("Download By").Width(150);
                columns.Bound(o => o.created_date).Format("{0:dd-MM-yyyy}").Title("Download Date").Width(150);
            })
            .Reorderable(reorderable => reorderable.Columns(true))
            .Resizable(resizable => resizable.Columns(true))
            .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
            .Sortable()
            .Pageable()
            .Scrollable(scrollable => scrollable.Height("300"))
            .HtmlAttributes(new { @class = "scrollable" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Url(@Url.Action("Read", "Receipt", new { area = "Core" })))
            .Sort(sort => sort.Add(field => field.id).Descending())
            .PageSize(14))
)

<script type="text/javascript">
    $(document).ready(function () {
        setInterval(RefreshNotification, 3000);
    });

    function replaceString(value) {
        return value.replace("/", "-");
    }


</script>