﻿@section scripts {
    @*    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    @Html.Partial("~/Areas/Core/Views/Customer/Script/_Customer.cshtml")
}

<div id="CustomerModal" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Customer</span>
        </h1>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="CustomerGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row" style="margin-left: -10px; margin-right: 10px">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Customer Group</label>
                            <select class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "customer_group" }'>
                                <option value="AI">AI</option>
                                <option value="AR">AR</option>
                                <option value="SH">SH</option>
                                <option value="">NULL</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Customer Code</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "customer_name" }' />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "customer_name" }' />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Business Unit</label>
                            <select class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "business_unit_id" }'>
                                <option value="2">Others</option>
                                <option value="1">Motor Vehicle</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/Customer/Component/_CustomerGrid.cshtml")

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }
        </style>
    </div>
</div>