﻿<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.BuktiPotongManagement = new BuktiPotongManagement();
        App.BuktiPotongManagement.InitManagement();
        var url_string = window.location.href
        var url = new URL(url_string);
        var notifFilter = url.searchParams.get("notifFilter");
        var getid = url.searchParams.get("id");

        var dateObjFrom = new Date();
        dateObjFrom.setDate(dateObjFrom.getDate() - @ViewBag.Notif_Days);
        var monthFrom = dateObjFrom.getUTCMonth() + 1;
        var dayFrom = dateObjFrom.getUTCDate();
        var yearFrom = dateObjFrom.getUTCFullYear();
        var newdateFrom =  dayFrom + "/" + monthFrom + "/" + yearFrom;

        var dateObjTo = new Date();
        var monthTo = dateObjTo.getUTCMonth() + 1;
        var dayTo = dateObjTo.getUTCDate();
        var yearTo = dateObjTo.getUTCFullYear();
        var newdateTo = dayTo + "/" + monthTo + "/" + yearTo;



        console.log(newdateFrom)
        console.log(newdateTo)

        if (notifFilter) {
            //console.log('masuk notiffilter')
            $.helper.form.clear($(".BuktiPotongGrid"));

            $("#dateFrom").val(newdateFrom);
            $("#dateTo").val(newdateTo);
        }
        if (getid) {
            $.helper.form.clear($(".BuktiPotongGrid"));
        }

         //set default date searching
        var d = new Date(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear() - 1,
            monthTo = '' + (d.getMonth() + 1),
            dayTo = '' + d.getDate(),
            yearTo = d.getFullYear();

        $("#dateFrom").val(day + "/" + month + "/" + year);
        $("#dateTo").val(dayTo + "/" + monthTo + "/" + yearTo);
    });

    function data1() {
        var $checkedRecords = $('.invoices-number:checked');

        var matches = [];

        $checkedRecords.each(function () {
            if (this.value != "") {
                //alert(this.value);
                if ($('.checkbox_check:checked').is(':checked')) {
                    matches.push("on");
                }
                matches.push(this.value);
            }
        });
        console.log(matches)

        var dataSource = $('#BuktiPotongGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var urlstring = '@Url.Action("DownloadBuktiPotongPdf", "BuktiPotong")?checks='+ matches

        $.fileDownload(urlstring, {
            data: data,
            successCallback: function (fn) {
                alert(data);
            },
            failCallback: function (fn) {
                console.log(fn);
                swal('Warning', 'MV is Not Available', 'warning');
            }
        });
    }

    function BuktiPotongManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },

            InitControls: function () {

            },

            InitValidation: function () {

            },

            InitHandlers: function () {
                $(".k-grid").on("click", ".show-list-upload-gabungan", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var uploadId = $el.data("upload-id");

                     $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetListInvoiceByUploadId", "BuktiPotong")',
                        data: {
                            uploadId: uploadId
                        },
                        dataType: 'html',
                        success: function (data) {
                            $('#ListInvoiceGabunganModal').find("div.modal-content").html(data);
                            $("#ListInvoiceGabunganModal").modal("show");
                            App.unblockUI();
                        },
                        error: function () {
                            $('#ListInvoiceGabunganModal').modal('toggle');
                            App.unblockUI();
                        }
                    });
                });

                $('#select-all-invoices').click(function () {
                    $("#BuktiPotongGrid tbody input:checkbox").prop("checked", this.checked);
                });

                $("#download-template").click(function () {
                    $.fileDownload('@Url.Action("DownloadTemplate", "BuktiPotong")', {
                        successCallback: function (fn) {
                            //alert(data);
                        },
                        failCallback: function (fn) {
                        }
                    });
                });

                $("#btn-upload-withholding-tax").click(function () {
                    App.blockUI({ animate: !0 });
                    var grid = $("#BuktiPotongGrid").data("kendoGrid");
                    var invoiceNumbers = grid.tbody.find("input:checked").map(function () {
                        return $(this).val();
                    }).get().join(',');

                    if (!invoiceNumbers) {
                        App.unblockUI();
                        swal("Error", "Choose at least 1 invoice", "error");
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadFileInitial", "BuktiPotong")',
                        data: {
                            invoiceNo: invoiceNumbers
                        },
                        dataType: 'html',
                        success: function (data) {
                            $('#BuktiPotongModal').find("div.modal-content").html(data);
                            $("#BuktiPotongModal").modal("show");
                            $(".modal-title-attachment").text("Invoice Number(s): " + invoiceNumbers);
                            App.unblockUI();
                        },
                        error: function () {
                            $('#BuktiPotongModal').modal('toggle');
                            App.unblockUI();
                        }
                    });
                });

                $("#btn-view-tax-transaction-code").click(function () {
                    App.blockUI({ animate: !0 });

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ViewTaxTransactionCode", "BuktiPotong")',
                        dataType: 'html',
                        success: function (data) {
                            $('#ViewTaxTransactionCodeModal').find("div.modal-content").html(data);
                            $("#ViewTaxTransactionCodeModal").modal("show");
                            App.unblockUI();
                        },
                        error: function () {
                            $('#ViewTaxTransactionCodeModal').modal('toggle');
                            App.unblockUI();
                        }
                    });
                });

                $("#btn-submit").click(function () {
                    App.blockUI({ animate: !0 });
                    var grid = $("#BuktiPotongGrid").data("kendoGrid");
                    var invoiceNumbers = grid.tbody.find("input:checked").map(function () {
                        return $(this).val();
                    }).get().join(',');

                    if (!invoiceNumbers) {
                        App.unblockUI();
                        swal("Error", "Choose at least 1 invoice", "error");
                        return;
                    }

                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Submit data ?", function (val) {
                        if (val == true) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Submit", "BuktiPotong")',
                                data: {
                                    invoices: invoiceNumbers
                                },
                                dataType: 'json',
                                success: function (data) {
                                    $.helper.grid.refresh("BuktiPotongGrid");
                                    App.unblockUI();
                                    if (data.IsSuccess == true) {
                                        if (data.IsSuccessSendEmail == true) {
                                            swal('Info', 'Submit success!', 'success');
                                        } else {
                                            swal('Warning', 'Submit success but email failed to send!', 'warning');
                                        }
                                    }
                                    else {
                                        swal('Error', 'Submit Failed! ' + data.MessageError, 'error');
                                    }
                                },
                                error: function () {

                                    App.unblockUI();
                                    swal('Error', 'Submit Failed!', 'error');
                                }
                            });
                        } else {
                            App.unblockUI();
                        }
                    });
                });

                $("#btn-delete").click(function () {
                    App.blockUI({ animate: !0 });
                    var grid = $("#BuktiPotongGrid").data("kendoGrid");
                    var invoiceNumbers = grid.tbody.find("input:checked").map(function () {
                        return $(this).val();
                    }).get().join(',');

                    if (!invoiceNumbers) {
                        App.unblockUI();
                        swal("Error", "Choose at least 1 invoice", "error");
                        return;
                    }

                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Delete data ?", function (val) {
                        if (val == true) {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("Delete", "BuktiPotong")',
                                data: {
                                    invoices: invoiceNumbers
                                },
                                dataType: 'json',
                                success: function (data) {
                                    $.helper.grid.refresh("BuktiPotongGrid");
                                    App.unblockUI();

                                    if (data.IsSuccess == true)
                                        swal('Info', 'Delete success!', 'success');
                                    else
                                        swal('Error', 'Delete Failed! ' + data.MessageError, 'error');
                                },
                                error: function () {

                                    App.unblockUI();
                                    swal('Error', 'Delete Failed!', 'error');
                                }
                            });
                        } else {
                            App.unblockUI();
                        }
                    });
                });

                $(".k-grid").on("click", ".upload-withholding-tax", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var invoiceNumbers = $el.data("invoice_no");

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UploadFileInitial", "BuktiPotong")',
                        data: {
                            invoiceNo: invoiceNumbers
                        },
                        dataType: 'html',
                        success: function (data) {
                            $('#BuktiPotongModal').find("div.modal-content").html(data);
                            $("#BuktiPotongModal").modal("show");
                            $(".modal-title-attachment").text("Invoice Number(s): " + invoiceNumbers);
                            App.unblockUI();
                        },
                        error: function () {
                            $('#BuktiPotongModal').modal('toggle');
                            App.unblockUI();
                        }
                    });
                });

                //download add by RG 18112020
                $(".k-grid").on("click", ".k-grid-downloadpdf", function () {
                    console.log("ini downloadwhtpdf2")

                    var $checkedRecords = $('.invoices-number:checked');

                    var matches = [];

                    $checkedRecords.each(function () {
                        if (this.value != "") {
                            //alert(this.value);
                            if ($('.checkbox_check:checked').is(':checked')) {
                                matches.push("on");
                            }
                            matches.push(this.value);
                        }
                    });
                    console.log(matches)

                    var dataSource = $('#BuktiPotongGrid').data('kendoGrid').dataSource;
                    var dataSourceRequest = dataSource.transport.parameterMap({
                        filter: dataSource.filter(),
                        page: dataSource.page(),
                        pageSize: dataSource.total(),
                        sort: dataSource.sort()
                    });

                    var data = "";
                    for (var key in dataSourceRequest) {
                        if (dataSourceRequest[key] !== undefined) {
                            data += key + "=" + dataSourceRequest[key] + "&";
                        }
                    }

                    //var urlstring = '@Url.Action("DownloadWhtPdf2", "BuktiPotong")?checks='+ matches
                    var urlstring2 = '@Url.Action("GetPDFFileExists", "BuktiPotong")?checks='+ matches

                    //console.log(urlstring)
                    //var $el = $(this),
                    //    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    //    parameterMap = $grid.dataSource.transport.parameterMap;

                    //var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });
                    if (matches.length > 0) {
                        $.ajax({
                            type: "post",
                            dataType: "json",

                            url: urlstring2,
                            data: data,
                            success: function (data) {
                                if (data.indexOf("No") > -1) {
                                    console.log("file not exists");
                                    swal('Warning', 'File PDF is not exists', 'warning');
                                } else {
                                    data1();
                                    //$.fileDownload(urlstring, {
                                    //    data: data,
                                    //    successCallback: function (fn) {
                                    //        alert(data);
                                    //    },
                                    //    failCallback: function (fn) {
                                    //        console.log(fn);
                                    //        swal('Warning', 'MV is Not Available', 'warning');
                                    //    }
                                    //});
                                }
                            },
                            error: function () {
                                alert("error-checktrue");
                            }
                        })
                    } else {

                        swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-exportexcel", function () {
                    console.log("ini exportpdf2")

                    var $checkedRecords = $('.invoices-number:checked');

                    var matches = [];

                    $checkedRecords.each(function () {
                        if (this.value != "") {
                            //alert(this.value);
                            if ($('.checkbox_check:checked').is(':checked')) {
                                matches.push("on");
                            }
                            matches.push(this.value);
                        }
                    });
                    console.log(matches)

                    var dataSource = $('#BuktiPotongGrid').data('kendoGrid').dataSource;
                    var dataSourceRequest = dataSource.transport.parameterMap({
                        filter: dataSource.filter(),
                        page: dataSource.page(),
                        pageSize: dataSource.total(),
                        sort: dataSource.sort()
                    });

                    var data = "";
                    for (var key in dataSourceRequest) {
                        if (dataSourceRequest[key] !== undefined) {
                            data += key + "=" + dataSourceRequest[key] + "&";
                        }
                    }

                    var urlstring = '@Url.Action("ExportToExcel", "BuktiPotong")?checks='+ matches

                    console.log(urlstring)

                    if (matches.length > 0) {
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                alert(data);
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', "No Data to be downloaded", 'warning');
                            }
                        });
                    } else {
                        swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
                    }

                });
            },
            ExportExcelTaxCode: function (e) {
                  $.fileDownload('@Url.Action("ExportToExcelTransactionCode", "BuktiPotong")', {
                    successCallback: function (fn) {
                        //alert(data);
                    },
                    failCallback: function (fn) {
                    }
                });
            },
               DeleteDocumentInitial: function (e) {
                console.log("delete 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("status", "Delete");
                dataItem.set("row_status", 1)
            },
            UndoDocumentInitial: function (e) {
                console.log("undo 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                if (dataItem.attachment_notaretur_id) {
                    dataItem.set("status", "");
                } else {
                    dataItem.set("status", "New");
                }

                dataItem.set("row_status", 0)
            },
            SaveUploadDocumentInitial: function (e) {
                console.log("saving");
               
                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                $gridDocument = $form.find("#DocumentFileGridInitial").data("kendoGrid");

                var isNewExists = false;
                var isDeleteExists = false;

                var data = $gridDocument.dataSource.data();

                for (var i = 0; i < data.toJSON().length; i++) {
                    if (data.toJSON()[i].status == "New") {
                        isNewExists = true;
                    }

                    if (data.toJSON()[i].status == "Delete") {
                        isDeleteExists = true;
                    }
                }

                if (data.toJSON().length == 0) {
                    swal("Error", "Upload at least 1 document", "error");
                    return;
                }
                // Fixing validation
                // Proceed if there are MANIPULATED FILE (both Add and Delete)
                //if (!isNewExists && !isDeleteExists) {
                //    swal("Error", "Upload at least 1 document", "error");
                //} else {
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                       
                        if (val == true) {
                            var $this = $('#btnSaveUploadScan');
                            $this.button('loading');
                            var formData = $.helper.form.serializeObject($form);
                            var da = $('#invoice').val();
                            var docType = $('#DocumentTypeUploadInitial').val();
                            var dataToSave = {
                                invoiceNumber: da,
                                documentType: docType,
                                Docs: $gridDocument.dataSource.data().toJSON()
                            }

                            $el.prop("disabled", true);
                            $.post("@Url.Action("SaveUploadInitial", "BuktiPotong")", dataToSave, function (d) {
                                if (d.IsSuccess == true) {
                                    //toastr["success"]("", "Success Save Upload Bukti Potong");
                                    $this.button('reset');
                                    swal("Success", "Success Save Upload Bukti Potong", "success");
                                    $.helper.grid.refresh("BuktiPotongGrid");
                                    $modal.modal("hide");
                                }
                                else {
                                    $this.button('reset');
                                    swal("Error", "Failed: " + d.MessageError, "error");
                                }
                            }).fail(function () {
                                $this.button('reset');
                                swal("Error", "Error when save Upload Bukti Potong", "error");
                            });
                            $el.prop("disabled", false);
                        }
                    })
                //}
            },
            SetScrollAllGrid: function () {
                $('#grid-allocation').contents().wrap('<div class="grid-scroll-container"></div>');
                $('#DocumentFileGrid').contents().wrap('<div class="grid-scroll-container"></div>');
            }
        };
    };

    function onDataUpload(e) {
        var da = $('#invoice').val();
        var doc = $('#docType').val();

        e.data = { Area : "Core", invoices : da, documentType : doc };
    };

    function onSuccessUpload(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                invoice_number: null,
                filename: data.filename,
                server_filename : data.server_filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
               DocumentType: $("#DocumentTypeUpload").val(),
                status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGrid").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            toastr.error(e.response.MessageError)
        }
    };

    function onSuccessUploadInitial(e) {
        if (e.response.MessageError == "") {
            var data = e.response.Result[0];
            $("#DocumentFileGridInitial").data("kendoGrid").dataSource.add({
                invoice_number: null,
                filename: data.filename,
                server_filename : data.server_filename,
                FileSize: data.FileSize,
                filepath: data.filepath,
                FileType: data.FileType,
                DocumentType: $("#DocumentTypeUploadInitial").val(),
                DocumentTypeText: $('#DocumentTypeUploadInitial option:selected').text(),
                status: "New"
            });
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            //toastr.error(e.response.MessageError)
             swal("Success", "Success Save Upload Bukti Potong", "success");
            swal("Error", e.response.MessageError, "error");
        }
    };
    function getDocumentParameter() {
        return {
            invoice: $("#invoice").val()
        }
    };
    function download(da_code) {
        $.fileDownload('@Url.Action("Download","Attachment")', {
            data: { id: da_code },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', "Invoice doesn't have attachment", 'warning');
            }
        })
            //.done(function () { swal('Info', 'File download a success!', 'success'); })
            //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
      function downloadScan(invoice_number) {
        $.fileDownload('@Url.Action("Download","ScanInvoice")', {
            data: { invoice_number: invoice_number },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Warning', "Invoice doesn't have attachment", 'warning');
            }
        })
            //.done(function () { swal('Info', 'File download a success!', 'success'); })
            //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
    function onSelectUpload(e) {
        $gridDocument = $("#DocumentFileGridInitial").data("kendoGrid");
        var data = $gridDocument.dataSource.data().toJSON();
        var fileInfo = getFileInfo(e);

        $.each(data, function (index, item) {
            if (fileInfo.length > 0) {
                //console.log(fileInfo[0]);
                //console.log(item.filename);
                if (fileInfo[0] == item.attachment) {
                    swal("Error", "Can't upload file " + item.attachment + ". File is duplicate.", "error");
                    e.preventDefault();
                }
            }
        });
    }
    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }
    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
    function replaceString(value) {
        return value.replace("/", "-");
    }

    function onSuccessUploadListBuktiPotong(e) {
        if (e.response.MessageError == "") {
            $.helper.grid.refresh("BuktiPotongGrid");
            //toastr.success("Success upload list bukti potong");
            swal("Success", "Success upload list bukti potong", "success");
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            //toastr.error(e.response.MessageError.join('<br/>'), "", { timeOut: 10000 });
            swal("Error", e.response.MessageError.join('<br/>'), "error");
        }

        $('#uploadFileWorklist').parents('.k-dropzone').find('.k-upload-status').hide();
    };

    function onSuccessUpdateListBuktiPotong(e) {
        if (e.response.MessageError == "") {
            $.helper.grid.refresh("BuktiPotongGrid");
            //toastr.success("Success update list bukti potong");
            swal("Success", "Success update list bukti potong", "success");
        }
        else {
            setTimeout(function () {
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
                $("#DocumentFileGridInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
            }, 100)
            //toastr.error(e.response.MessageError.join('<br/>'), "", { timeOut: 10000 });
            swal("Error", e.response.MessageError.join('<br/>'), "error");
        }

        $('#updateFileWorklist').parents('.k-dropzone').find('.k-upload-status').hide();
    };

    function onClickDownloadTemplateWHT() {
        $.fileDownload('@Url.Action("DownloadTemplateWHT", "BuktiPotong")', {
            successCallback: function (fn) {
                //alert(data);
            },
            failCallback: function (fn) {
            }
        });
    }


    function whtAmountTop(obj) {
        var val = obj.value;

        //reset
        document.getElementById("txtWhtAmtLike").value = "";
        document.getElementById("txtWhtAmtEQ").value = "";
        document.getElementById("txtWhtAmtLT").value = "";
        document.getElementById("txtWhtAmtLTE").value = "";
        document.getElementById("txtWhtAmtGT").value = "";
        document.getElementById("txtWhtAmtGTE").value = "";

        if (val == "EQ") {
            document.getElementById("divWhtAmtLike").style.display = "none";
            document.getElementById("divWhtAmtEQ").style.display = "";
            document.getElementById("divWhtAmtLT").style.display = "none";
            document.getElementById("divWhtAmtLTE").style.display = "none";
            document.getElementById("divWhtAmtGT").style.display = "none";
            document.getElementById("divWhtAmtGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divWhtAmtLike").style.display = "none";
            document.getElementById("divWhtAmtEQ").style.display = "none";
            document.getElementById("divWhtAmtLT").style.display = "";
            document.getElementById("divWhtAmtLTE").style.display = "none";
            document.getElementById("divWhtAmtGT").style.display = "none";
            document.getElementById("divWhtAmtGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divWhtAmtLike").style.display = "none";
            document.getElementById("divWhtAmtEQ").style.display = "none";
            document.getElementById("divWhtAmtLT").style.display = "none";
            document.getElementById("divWhtAmtLTE").style.display = "";
            document.getElementById("divWhtAmtGT").style.display = "none";
            document.getElementById("divWhtAmtGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divWhtAmtLike").style.display = "none";
            document.getElementById("divWhtAmtEQ").style.display = "none";
            document.getElementById("divWhtAmtLT").style.display = "none";
            document.getElementById("divWhtAmtLTE").style.display = "none";
            document.getElementById("divWhtAmtGT").style.display = "";
            document.getElementById("divWhtAmtGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divWhtAmtLike").style.display = "none";
            document.getElementById("divWhtAmtEQ").style.display = "none";
            document.getElementById("divWhtAmtLT").style.display = "none";
            document.getElementById("divWhtAmtLTE").style.display = "none";
            document.getElementById("divWhtAmtGT").style.display = "none";
            document.getElementById("divWhtAmtGTE").style.display = "";
        }
        else {
            document.getElementById("divWhtAmtLike").style.display = "";
            document.getElementById("divWhtAmtEQ").style.display = "none";
            document.getElementById("divWhtAmtLT").style.display = "none";
            document.getElementById("divWhtAmtLTE").style.display = "none";
            document.getElementById("divWhtAmtGT").style.display = "none";
            document.getElementById("divWhtAmtGTE").style.display = "none";
        }
    }

    function materaiAmountTop(obj) {
        var val = obj.value;

        //reset
        document.getElementById("txtAmtLike").value = "";
        document.getElementById("txtAmtEQ").value = "";
        document.getElementById("txtAmtLT").value = "";
        document.getElementById("txtAmtLTE").value = "";
        document.getElementById("txtAmtGT").value = "";
        document.getElementById("txtAmtGTE").value = "";

        if (val == "EQ") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "";
        }
        else {
            document.getElementById("divAmtLike").style.display = "";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
    }

    function basedAmountTop(obj) {
        var val = obj.value;

        //reset
        document.getElementById("txtBsdLike").value = "";
        document.getElementById("txtBsdEQ").value = "";
        document.getElementById("txtBsdLT").value = "";
        document.getElementById("txtBsdLTE").value = "";
        document.getElementById("txtBsdGT").value = "";
        document.getElementById("txtBsdGTE").value = "";

        if (val == "EQ") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "";
        }
        else {
            document.getElementById("divBsdLike").style.display = "";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
    }

</script>
