﻿<div class="col-md-12 col-xs-12">
    <div class="form-group" style="margin-bottom: 0;">
        <div class="btn-group btn-group-justified">
            <a class="btn btn-default blue trigger">
                <i class="fa fa-search"></i> <span class="hidden-xs">Search</span>
            </a>
            <a class="btn btn-default clear-trigger" style="background-color:#76dade; border-color:#76dade;color:white">
                <i class="fa fa-refresh"></i> <span class="hidden-xs">Clear</span>
            </a>
        </div>
    </div>
</div>
