﻿@using Toyota.Common.Web.Platform
@using Toyota.Common.Utilities
@using Toyota.Common.Utilities

<!--[if IE 8]>
<html lang="en" class="ie8 no-js">
 <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />

    @{ String controllerName = (String)ViewContext.Controller.ValueProvider.GetValue("controller").RawValue;}
    <title>@controllerName</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    @*<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />*@
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <!--begin::Web font -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
              WebFont.load({
                google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
                active: function() {
                    sessionStorage.fonts = true;
                }
              });
        </script>*@
    <!--end::Web font -->
    <!-- STYLE SECTION -->
    @Html.Partial("Styles/_Common")
    @RenderSection("styles", false)
    <!-- JQUERY & KENDO CORE SCRIPT SECTION -->
    <script src="~/Content/theme/Metronic/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/Kendo/kendo.custom.min.js?v=1.0.0.5"></script>

    <style>
        .scrollbar-notif {
            line-height: 1.2;
            overflow-x: hidden;
            overflow-y: auto;
            height: 180px;
            width: 210px;
            padding: 5px;
            font-size: 11.5px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }

            .scrollbar-notif a {
                text-decoration: underline;
            }

        p {
            margin: 0 0 10px;
        }

        .scrollbar-notif::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-color: #f5576c;
            border-radius: 0px;
        }

        .scrollbar-notif::-webkit-scrollbar {
            width: 5px;
            background-color: #f5576c;
        }

        .scrollbar-notif::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            background-image: -webkit-linear-gradient(330deg, #000000 0%, #000000 100%);
        }
        /*#wrapper {
            padding-left: 100px;
        }*/
        .notif_link {
            text-decoration: none;
            color: white;
        }

            .notif_link:hover {
                text-decoration: underline;
                color: white;
            }

        .Notifclosed {
            width: 3.2% !important;
        }

        .NotifclosedIcon img {
            width: 10px !important;
        }

        .NotifTextClosed {
            display: none;
        }


        .NotifOpendMsg::after {
            content: 'Notification';
            margin: auto;
            text-orientation: upright;
            display: block;
            writing-mode: tb-rl;
            font-size: 10px;
            padding-top: 25px;
        }
    </style>

</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">
    <!-- PAGE HEADER SECTION -->
    @Html.Partial("_PageHeader")
    <!-- CONTENT SECTION -->
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                @MenuHelpers.Sidebar()
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- PAGE FOOTER SECTION -->
    @Html.Partial("_PageFooter")
    <!-- MODAL SECTION -->
    @RenderSection("modals", false)
    <!-- SCRIPT SECTION -->
    @RenderSection("kendoscripts", false)
    @Html.Partial("Scripts/_Common")
    @RenderSection("scripts", false)
    @Html.PageScripts()
    <script src="~/Scripts/bootstrap-notify.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


            //end for metis menu
                 $.ajax({
                    type: "POST",
                     url: "@Html.Toyota().Page.BaseUrl" + "/Core/Notif/GetNotif",
                    data: {
                    },
                    beforeSend: function () {
                        $.notify({
                            icon: "/Content/img/warning48.png",
                            message: '',
                        }, {
                            icon_type: 'image',
                            template: '<div id="NotifLoading" data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" style="height:250px;padding: 10px;">' +
                                '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                                '<span id="NotifIconLoading" style="display: block;margin-left: auto;margin-right: auto;width: 25%;" data-notify="icon"></span> ' +
                                '<span data-notify="title">{1}</span> ' +
                                '<div class="scrollbar-notif" style="text-align: center;display: block;display: table-cell;vertical-align: middle;"><span data-notify="message"><img src="/Content/img/loading.gif" style="width: 100px;" id="loadingImg"/><div id="msg"></div></span><div>' +
                                '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                '</div>' +
                                '</div>',
                            type: "danger",
                            allow_dismiss: false,
                            placement: {
                                from: "bottom",
                                align: "left"
                            },
                            delay: 0,
                                offset: 20,
                                style: 'foo',
                            onShow: function () {
                                this.css({
                                    'width': 'auto',
                                    'color': 'white',
                                    'background-color': 'red'
                                });
                            }
                        });
                    },
                    success: function (result) {

                            if (result != null) {
                                var pathurl = window.location.pathname.split("/");
                                var menu = pathurl[1];
                                $('#NotifLoading').hide();

                                    $.notify({
                                        icon: "/Content/img/warning48.png",
                                        message: result,
                                    }, {
                                        icon_type: 'image',
                                            template:
                                                    '<div id="NotifPanel" data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" style="height:250px;padding: 10px;">' +
                                                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +

                                                    '<span id="NotifIcon" style="display: block;margin-left: auto;margin-right: auto;width: 25%;" data-notify="icon"></span> ' +
                                                    '<span data-notify="title">{1}</span> ' +
                                                    '<div id="scrollbar-notif-closed" class="scrollbar-notif-closed NotifClosedMsg"><span data-notify="message"></span><div>' +

                                                    '<div id="scrollbar-notif" class="scrollbar-notif"><span data-notify="message">{2}</span><div>' +
                                                    '<div class="progress" data-notify="progressbar">' +
                                                        '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                                                    '</div>' +
                                                '</div>',

                                        type: "danger",
                                        allow_dismiss: false,
                                        placement: {
                                            from: "bottom",
                                            align: "left"
                                        },
                                        delay: 0,
                                        offset: 20,
                                        onShow: function () {
                                            this.css({
                                                'width': 'auto',
                                                'color': 'white',
                                                'background-color': 'red'
                                            });
                                            $('#NotifPanel').animate({ bottom: "10", }, 100);

                                        }
                                    });

                            }
                        
                            console.log('Notif Checked');
                      

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        
                            console.log("error: " + errorThrown);
                         
                        $('#msg').text(errorThrown)
                    },
                    complete: function () {
                       
                            console.log('Check Notif Done');
                       
                        $('#loadingImg').hide()
                        $('#msg').text("Notification should be here")
                    }
                });

        });

    function toggleNotif() {
        toggle("NotifPanel","Notifclosed");
        toggle("NotifLoading","Notifclosed");
        toggle("scrollbar-notif","NotifTextClosed");
        toggle("scrollbar-notif-closed", "NotifOpendMsg");
        toggle("NotifIcon", "NotifclosedIcon");
        toggle("NotifIconLoading", "NotifclosedIcon");


    }

    function toggle(panel, className) {
        var element = document.getElementById(panel);

        if (element.classList) {
            element.classList.toggle(className);
        } else {
            // For IE9
            var classes = element.className.split(" ");
            var i = classes.indexOf(className);

            if (i >= 0)
                classes.splice(i, 1);
            else
                classes.push(className);
            element.className = classes.join(" ");
        }
    }


    function displayLoading(target) {
        var element = $(target);
        kendo.ui.progress(element, true);
        eraseCookie("fileDownloadStatus");
    }

    function hideLoading(target) {
        var element = $(target);
        kendo.ui.progress(element, false);
        eraseCookie("fileDownloadStatus");
    }


    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }

        return null;
    }
    function eraseCookie(name) {
        document.cookie = name + '=; Max-Age=0;';
    }

    function cekFileDownload() {
        return getCookie("fileDownloadStatus");
        
    }


    </script>
</body>
</html>
