﻿<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>Login to Application</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />

    <script src="~/Content/theme/Metronic/global/plugins/jquery.min.js" type="text/javascript"></script>

    <link href="~/Content/theme/Metronic/global/css/open-sans.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/Metronic/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/Metronic/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/Metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/theme/Metronic/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/theme/Metronic/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/theme/Metronic/global/css/components-md.css" rel="stylesheet" id="style_components" type="text/css">
    <link href="~/Content/theme/Metronic/global/css/plugins-md.css" rel="stylesheet" type="text/css">
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/theme/Metronic/pages/css/login.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL STYLES -->
    <style type="text/css">
        .login .content .form-control {
            background-color: rgba(0, 0, 0, 0) !important;
        }
    </style>

    @RenderSection("scripts", false)
</head>
<body class="login" style="background-size:cover; background-image: url(@Url.Content("~/Content/img/bg/bg-1.jpg")">
    @RenderBody()
</body>
</html>