﻿@using Tam.Ebilling.Infrastructure.Cache
@{ 
    string currentLogin = "";
    string currentName = "";
    try
    {
        var userSession = Tam.Ebilling.Infrastructure.Session.SessionManager.UserSession;

        currentLogin = userSession.Current;
        currentName = userSession.Name;
    }
    catch (Exception)
    {

    }

}
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="@Url.Content("~")">
                <img src="~/Content/img/new-ebilling-white.png" width="150" alt="logo" style="margin-top:15px;" class="logo-default" />
            </a>
            <div class="menu-toggler sidebar-toggler" onclick="toggleNotif()">
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse" </a>        

        <div class="page-actions" style="visibility:hidden">
            <div class="btn-group">
                <button type="button" class="btn btn-sm dropdown-toggle" style="background:#db1430; color: #FFF;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <span class="hidden-sm hidden-xs">Actions&nbsp;</span>
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink("Users", "Index", "User", new { area = "Core" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Roles", "Index", "Role", new { area = "Core" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Menus", "Index", "Menu", new { area = "Core" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Permissions", "Index", "Permission", new { area = "Core" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Settings", "Index", "Setting", new { area = "Core" }, null)
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-top">
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    

                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-on-mobile"> @Html.Raw(currentName) </span>
                            <img alt="Default Profile Picture" class="img-circle" src="~/Content/img/avatar.png" style= 'background-color:white'/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            @*<li>
                                <a href="~/Home/Profile">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>*@
                            
                            <li class="divider"></li>
                            <li>
                                <a href="~/Core/Account/Logout">
                                    <i class="icon-logout"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>