﻿<div class="page-footer">
    <div class="page-footer-inner">
        @*@(Html.Raw(TamHr.Infrastructure.Caches.ApplicationCacheManager.GetConfig<string>("FooterText")))*@
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>