﻿<div class="col-md-6 col-sm-12">
    <div class="form-group">
        <label>Start Date</label>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="input-group date">
                    <input type="text" class="form-control " placeholder="From" data-filter='{ "operator": "gt", "formatType": "date", "format": "dd/MM/yyyy", "field": "StartDate" }'>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="input-group date">
                    <input type="text" class="form-control " placeholder="To"  data-filter='{ "operator": "lt", "formatType": "date", "format": "dd/MM/yyyy", "field": "StartDate" }'>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="col-md-6 col-sm-12">
    <div class="form-group">
        <label>End Date</label>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <div class="input-group date">
                    <input type="text" class="form-control " placeholder="From"  data-filter='{ "operator": "gt", "formatType": "date", "format": "dd/MM/yyyy", "field": "EndDate" }'>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <div class="input-group date">
                    <input type="text" class="form-control " placeholder="To"  data-filter='{ "operator": "lt", "formatType": "date", "format": "dd/MM/yyyy", "field": "EndDate" }'>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.date').datepicker({
        format: 'dd/mm/yyyy',
        todayHighlight: 'TRUE',
        autoclose: true,
    });
  
</script>
