﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> 401 </div>
        <div class=" details">
            <h3>You are not authorized to access this page.</h3>
            <p>
                Please contact your administrator for further information
                <br />
            </p>
            <p>
                <a href="@Url.Content("~/")" class="btn red btn-outline"> Return home </a>
                <br>
            </p>
        </div>
    </div>
</div>
