﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> @Model.GetHttpCode() </div>
        <div class=" details">
            <h3>Oops! Something went wrong.</h3>
            <p>
                We are fixing it! Please come back in a while.
                <br />
            </p>
            <p>
                <a href="index.html" class="btn red btn-outline"> Return home </a>
                <br>
            </p>
        </div>
    </div>
</div>