﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 page-500">
        <div class="number font-red"> 500 </div>
        <div class="details">
            <h3>Oops! Something went wrong.</h3>
            <p>
                @Model.Exception.Message
                <br />
            </p>
            <p>
                <a href="@Url.Content("~/")" class="btn red btn-outline"> Return home </a>
                <br>
            </p>
        </div>
    </div>
</div>