﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.Customer>()
    .Name("CustomerGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.customer_group).Width(60).Title("Customer Group");
        columns.Bound(o => o.customer_code).Width(60).Title("Customer Code");
        columns.Bound(o => o.customer_name).Width(200).Title("Customer Name");
        columns.Bound(o => o.business_unit_id).Width(70).Title("Business Unit").Hidden(true);
        //columns.Bound(o => o.business_unit_id).Width(70).Title("Business Unit");
        columns.Template(e => { }).ClientTemplate(@"#if(business_unit_id=='1'){#Motor Vehicle#} else if(business_unit_id=='2'){#Others#}#").Width(70).Title("Business Unit");
        columns.Template(e => { }).ClientTemplate("<a class='k-grid-update btn btn-xs btn-primary blue' data-customercode='#:customer_code#' data-businessunitid='#:business_unit_id#'><i class='fa fa-edit'></i> Update</a>").Width(70).Title("Action");
    })
    .Reorderable(reorderable => reorderable.Columns(true))
    .Resizable(resizable => resizable.Columns(true))
    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
    .Sortable()
    .Scrollable(scrollable => scrollable.Height("auto"))
    .HtmlAttributes(new { @class = "scrollable" })
    .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .Read(read => read.Url(@Url.Action("Read", "Customer", new { area = "Core" })))
                                                .Sort(sort => sort.Add(field => field.customer_group).Descending())
                                                .PageSize(14)
                                                                                                                                                                                            )
)
<script type="text/javascript">
    var exportFlag = false;
    function excelExport(e) {
        if (!exportFlag) {
            e.sender.showColumn(1);
            e.sender.showColumn(12);
            e.sender.showColumn(13);
            e.sender.showColumn(14);
            e.sender.showColumn(15);
            e.sender.showColumn(16);
            e.sender.showColumn(17);
            e.preventDefault();
            exportFlag = true;
            setTimeout(function () {
                e.sender.saveAsExcel();
            });
        } else {
            e.sender.hideColumn(1);
            e.sender.hideColumn(12);
            e.sender.hideColumn(13);
            e.sender.hideColumn(14);
            e.sender.hideColumn(15);
            e.sender.hideColumn(16);
            e.sender.hideColumn(17);
            exportFlag = false;
        }
    }
</script>