﻿@*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
<!-- BS JavaScript -->
@*<script type="text/javascript" src="js/bootstrap.js"></script>*@
<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.NotaReturManagement = new NotaReturManagement();
        App.NotaReturManagement.InitManagement();

        modals = $("#NotaReturDetailModal");
    });
    function data1() {
        var $checkedRecords = $('.cbAdvisor:checked');

        var matches = [];

        $checkedRecords.each(function () {
            if (this.value != "") {
                //alert(this.value);
                if ($('.checkbox_check:checked').is(':checked')) {
                    matches.push("on");
                }
                matches.push(this.value);
            }
        }); 
        console.log(matches) 

        var dataSource = $('#WHTGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        var urlstring = '@Url.Action("DownloadWhtPdf2", "WHT")?checks='+ matches
        displayLoading('#WHTGrid');
        $.fileDownload(urlstring, {
            data: data,
            successCallback: function (fn) {
                //alert(data);
                hideLoading('#WHTGrid');
            },
            failCallback: function (fn) {
                console.log(fn);
                swal('Warning', 'MV is Not Available', 'warning');
                hideLoading('#WHTGrid');
            }
        });
    }
    function NotaReturManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },
            InitControls: function () {

            },
            InitValidation: function () {

            },

            InitHandlers: function () {
                $(".k-grid").on("click", ".k-grid-downloadwhtpdf2", function () {
                    console.log("ini downloadwhtpdf2")
                    
                    var $checkedRecords = $('.cbAdvisor:checked');

                    var matches = [];

                    $checkedRecords.each(function () {
                        if (this.value != "") {
                            //alert(this.value);
                            if ($('.checkbox_check:checked').is(':checked')) {
                                matches.push("on");
                            }
                            matches.push(this.value);
                        }
                    }); 
                    console.log(matches) 

                    var dataSource = $('#WHTGrid').data('kendoGrid').dataSource;
                    var dataSourceRequest = dataSource.transport.parameterMap({
                        filter: dataSource.filter(),
                        page: dataSource.page(),
                        pageSize: dataSource.total(),
                        sort: dataSource.sort()
                    });

                    var data = "";
                    for (var key in dataSourceRequest) {
                        if (dataSourceRequest[key] !== undefined) {
                            data += key + "=" + dataSourceRequest[key] + "&";
                        }
                    }

                    var urlstring = '@Url.Action("DownloadWhtPdf2", "WHT")?checks='+ matches
                    var urlstring2 = '@Url.Action("GetPDFFileExists", "WHT")?checks='+ matches

                    console.log(urlstring)
                    //var $el = $(this),
                    //    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    //    parameterMap = $grid.dataSource.transport.parameterMap;
                    displayLoading('#WHTGrid');
                    //var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });
                    if (matches.length > 0) {
                        $.ajax({
                            type: "post",
                            dataType: "json",

                            url: urlstring2,
                            data: data,
                            success: function (data) {
                                if (data.indexOf("No") > -1) {
                                    console.log("file not exists");
                                    swal('Warning', 'File PDF is not exists', 'warning');
                                } else {
                                    data1();
                                    //$.fileDownload(urlstring, {
                                    //    data: data,
                                    //    successCallback: function (fn) {
                                    //        alert(data);
                                    //    },
                                    //    failCallback: function (fn) {
                                    //        console.log(fn);
                                    //        swal('Warning', 'MV is Not Available', 'warning');
                                    //    }
                                    //});
                                }
                                hideLoading('#WHTGrid');
                            },
                            error: function () {
                                hideLoading('#WHTGrid');
                                alert("error-checktrue");
                            }
                        })
                    } else {

                        swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-downloadreport2", function () {
                    @*var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadReport", "WHT")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });*@
                    console.log("ini exportpdf2")
                    
                    var $checkedRecords = $('.cbAdvisor:checked');
                   
                    var matches = [];

                    $checkedRecords.each(function () {
                        if (this.value != "") {
                            //alert(this.value);
                            if ($('.checkbox_check:checked').is(':checked')) {
                                matches.push("on");
                            }
                            matches.push(this.value);
                        }
                    }); 
                    console.log(matches) 

                    var dataSource = $('#WHTGrid').data('kendoGrid').dataSource;
                    var dataSourceRequest = dataSource.transport.parameterMap({
                        filter: dataSource.filter(),
                        page: dataSource.page(),
                        pageSize: dataSource.total(),
                        sort: dataSource.sort()
                    });

                    var data = "";
                    for (var key in dataSourceRequest) {
                        if (dataSourceRequest[key] !== undefined) {
                            data += key + "=" + dataSourceRequest[key] + "&";
                        }
                    }

                    var urlstring = '@Url.Action("DownloadReport2", "WHT")?checks='+ matches

                    console.log(urlstring)

                    if (matches.length > 0) {
                        displayLoading('#WHTGrid');
                        $.fileDownload(urlstring, {
                            data: data,
                            successCallback: function (fn) {
                                //alert(data);
                                hideLoading('#WHTGrid');
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', "No Data to be downloaded", 'warning');
                                hideLoading('#WHTGrid');
                            }
                        });
                    } else {
                        swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-exportpdf2", function () {
                    console.log("ini exportpdf2")
                    
                    var $checkedRecords = $('.cbAdvisor:checked');

                    var matches = [];
               
                    $checkedRecords.each(function () {
                        if (this.value != "") {
                            //alert(this.value);
                            if ($('.checkbox_check:checked').is(':checked')) {
                                matches.push("on");
                            }
                            matches.push(this.value);
                        }
                    }); 
                    console.log(matches) 

                    var dataSource = $('#WHTGrid').data('kendoGrid').dataSource;
                    var dataSourceRequest = dataSource.transport.parameterMap({
                        filter: dataSource.filter(),
                        page: dataSource.page(),
                        pageSize: dataSource.total(),
                        sort: dataSource.sort()
                    });

                    var data = "";
                    for (var key in dataSourceRequest) {
                        if (dataSourceRequest[key] !== undefined) {
                            data += key + "=" + dataSourceRequest[key] + "&";
                        }
                    }

                    var urlstring = '@Url.Action("Readid2", "WHT")?checks='+ matches
                   
                    if (matches.length > 0) {
                        displayLoading('#WHTGrid');
                        $.ajax(urlstring, {
                        data: data,
                            success: function (data) {
                                hideLoading('#WHTGrid');
                                console.log(data);
                                if (data.indexOf("Exists") > -1) {
                                    console.log("file not exists");
                                    swal('Warning', 'File PDF is not exists', 'warning');
                                }
                                else {
                                    window.open(data);
                                    matches = [];
                                }
                            },
                            error: function () {
                                console.log(fn);
                                hideLoading('#WHTGrid');
                                swal('Warning', 'File PDF is not available', 'warning');
                                matches = [];
                            }
                        });
                    } else {

                        swal('Warning', 'Please checklist at least one item to perform this action !', 'warning');
                        matches = [];
                    }

                });
                
            },
            SetScrollAllGrid: function () {
                $('#grid-allocation').contents().wrap('<div class="grid-scroll-container"></div>');
                $('#DocumentScanGrid').contents().wrap('<div class="grid-scroll-container"></div>');
            }
        };
    };
    function getFileInfo(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }
    function getFileInfoScan(e) {
        return $.map(e.files, function (file) {
            var info = file.name;
            return info;
        });
    }

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };

    function replaceString(value) {
        return value.replace("/", "-");
    }

    function searchWHT() {
        console.log('ini search');
        if ($('input.checkbox_check').is(':checked')) {
            console.log("cek list all");
            $('input.checkbox_check').attr("checked", false);
        }
        var grid = $("#WHTGrid").data("kendoGrid");
        grid.refresh();

        @*var dataSource = $('#WHTGrid').data('kendoGrid').dataSource;
        var dataSourceRequest = dataSource.transport.parameterMap({
            filter: dataSource.filter(),
            page: dataSource.page(),
            pageSize: dataSource.total(),
            sort: dataSource.sort()
        });

        var data = "";
        for (var key in dataSourceRequest) {
            if (dataSourceRequest[key] !== undefined) {
                data += key + "=" + dataSourceRequest[key] + "&";
            }
        }

        $.ajax({
            type: "post",
            dataType: "json",

            url: '@Url.Action("Read", "WHT", new { area = "Core"} )',
            data: data,
            success: function (data) {
                console.log(data);
            },
            error: function () {
                alert("error-checktrue");
            }
        }) *@
    }
    
    function basedop(obj) {
        var val = obj.value;

        //reset
        $("#txtBsdLike").val("");
        $("#txtBsdEQ").val("");
        $("#txtBsdLT").val("");
        $("txtBsdLTE").val("");
        $("#txtBsdGT").val("");
        $("#txtBsdGTE").val("");

        if (val == "EQ") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "";
            document.getElementById("divBsdGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divBsdLike").style.display = "none";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "";
        }
        else {
            document.getElementById("divBsdLike").style.display = "";
            document.getElementById("divBsdEQ").style.display = "none";
            document.getElementById("divBsdLT").style.display = "none";
            document.getElementById("divBsdLTE").style.display = "none";
            document.getElementById("divBsdGT").style.display = "none";
            document.getElementById("divBsdGTE").style.display = "none";
        }
    }

    function tarifop(obj) {
        var val = obj.value;

        //reset
        document.getElementById("txtTrfLike").value = "";
        document.getElementById("txtTrfEQ").value = "";
        document.getElementById("txtTrfLT").value = "";
        document.getElementById("txtTrfLTE").value = "";
        document.getElementById("txtTrfGT").value = "";
        document.getElementById("txtTrfGTE").value = "";

        if (val == "EQ") {
            document.getElementById("divTrfLike").style.display = "none";
            document.getElementById("divTrfEQ").style.display = "";
            document.getElementById("divTrfLT").style.display = "none";
            document.getElementById("divTrfLTE").style.display = "none";
            document.getElementById("divTrfGT").style.display = "none";
            document.getElementById("divTrfGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divTrfLike").style.display = "none";
            document.getElementById("divTrfEQ").style.display = "none";
            document.getElementById("divTrfLT").style.display = "";
            document.getElementById("divTrfLTE").style.display = "none";
            document.getElementById("divTrfGT").style.display = "none";
            document.getElementById("divTrfGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divTrfLike").style.display = "none";
            document.getElementById("divTrfEQ").style.display = "none";
            document.getElementById("divTrfLT").style.display = "none";
            document.getElementById("divTrfLTE").style.display = "";
            document.getElementById("divTrfGT").style.display = "none";
            document.getElementById("divTrfGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divTrfLike").style.display = "none";
            document.getElementById("divTrfEQ").style.display = "none";
            document.getElementById("divTrfLT").style.display = "none";
            document.getElementById("divTrfLTE").style.display = "none";
            document.getElementById("divTrfGT").style.display = "";
            document.getElementById("divTrfGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divTrfLike").style.display = "none";
            document.getElementById("divTrfEQ").style.display = "none";
            document.getElementById("divTrfLT").style.display = "none";
            document.getElementById("divTrfLTE").style.display = "none";
            document.getElementById("divTrfGT").style.display = "none";
            document.getElementById("divTrfGTE").style.display = "";
        }
        else {
            document.getElementById("divTrfLike").style.display = "";
            document.getElementById("divTrfEQ").style.display = "none";
            document.getElementById("divTrfLT").style.display = "none";
            document.getElementById("divTrfLTE").style.display = "none";
            document.getElementById("divTrfGT").style.display = "none";
            document.getElementById("divTrfGTE").style.display = "none";
        }
    }

    function amtop(obj) {
        var val = obj.value;

        //reset
        document.getElementById("txtAmtLike").value = "";
        document.getElementById("txtAmtEQ").value = "";
        document.getElementById("txtAmtLT").value = "";
        document.getElementById("txtAmtLTE").value = "";
        document.getElementById("txtAmtGT").value = "";
        document.getElementById("txtAmtGTE").value = "";

        if (val == "EQ") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "LT") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "LTE") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "GT") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "";
            document.getElementById("divAmtGTE").style.display = "none";
        }
        else if (val == "GTE") {
            document.getElementById("divAmtLike").style.display = "none";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "";
        }
        else {
            document.getElementById("divAmtLike").style.display = "";
            document.getElementById("divAmtEQ").style.display = "none";
            document.getElementById("divAmtLT").style.display = "none";
            document.getElementById("divAmtLTE").style.display = "none";
            document.getElementById("divAmtGT").style.display = "none";
            document.getElementById("divAmtGTE").style.display = "none";
        }
    }

</script>
