﻿<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.InvoiceManagement = new InvoiceManagement();
        App.InvoiceManagement.InitManagement();
    });
    function InvoiceManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },

            InitControls: function () {

            },

            InitValidation: function () {

            },

            InitHandlers: function () {

                $(".k-grid").on("click", ".k-grid-detail", function () {
                    
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoicenumber");
                    var business_unit_id = $el.data("businessunitid");
                    var transaction_type = $el.data("transactiontype");
                    var total_amount = $el.data("totalamount");
                    var dpp = $el.data("dpp");
                    var tax = $el.data("tax");
                    var pph_no = $el.data("pphno");
                    var rate = $el.data("rate");
                    var currency = $el.data("currency");
                    var amount_pph = $el.data("amountpph");
                    var transaction_type_id = $el.data("transactiontypeid");

                    var urlstring = '@Url.Action("NotaReturDetail", "NotaRetur")?invoice_number=' + invoice_number + "&business_unit_id=" + business_unit_id
                        + "&transaction_type=" + transaction_type + "&pph_no=" + pph_no + "&total_amount=" + total_amount
                        + "&dpp=" + dpp + "&tax=" + tax + "&rate=" + rate + "&amount_pph=" + amount_pph + "&currency=" + currency + "&transaction_type_id=" + transaction_type_id

                    $.ajax({
                        url: urlstring,
                        //dataType: 'html',
                        success: function (r) {
                            //$('#NotaReturDetailModal').find("div.modal-content").html(data);
                            $("#invoiceNo").val(r.empObj.invoice_number);
                            $("#business_unit_id").val(r.empObj.business_unit_id);
                            $("#transaction_type_id").val(r.empObj.transaction_type_id);
                            $("#transactionType").val(r.empObj.transaction_type);
                            $("#dpp").val(formatMoney(r.empObj.dpp));
                            $("#tax").val(formatMoney(r.empObj.tax));
                            $("#totalAmount").val(formatMoney(r.empObj.total_amount));
                            $("#pphNo").val(r.empObj.pph_no);
                            $("#pphAmount").val(formatMoney(r.empObj.pphAmount));
                            $("#excRate").val(r.empObj.currency + ":" + formatMoney(r.empObj.rate));

                            $("#KwitansiDetailModal").modal("show");
                        },
                        error: function () {
                            $('#KwitansiDetailModal').modal('toggle');
                        }
                    });
                });

                $(".k-grid").on("click", ".k-grid-tax", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    var invoice_number = $el.data("invoicenumber");
                    var business_unit_id = $el.data("businessunitid");
                    var tax = $el.data("tax_invoice");
                    var urlstring = '@Url.Action("TaxInvoice", "Invoice")?tax_invoice=' + tax + "&business_unit_id=" + business_unit_id
                    + "&invoice_number=" + invoice_number;
                    //var urlstring = '@Url.Action("TaxInvoice", "Invoice")?business_unit_id=' + business_unit_id+ "&invoice_number=" + invoice_number;

                    $.ajax({
                        url: urlstring,
                        dataType: 'html',
                        success: function (data) {
                            $('#TaxInvoiceModal').find("div.modal-content").html(data);
                            $("#TaxInvoiceModal").modal("show");
                        },
                        error: function () {
                            swal('Error', 'File Not Found !', 'error');
                        }

                    });
                });
                  $(".k-grid").on("click", ".k-grid-download-invoice", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("DownloadAllAttachment", "Invoice")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                    $.fileDownload(urlstring, {
                            data: data,
                        successCallback: function (fn) {
                            alert(data);
                            },
                            failCallback: function (fn) {
                            console.log(fn);
                            swal('Error', 'File Not Found !', 'error');
                        }
                    });
                    } else {

                            swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });
                  $(".k-grid").on("click", ".k-grid-exportexcel", function () {
                    //alert("MASUK");
                    var $el = $(this),
                         $grid = $el.closest(".k-grid").data("kendoGrid"),
                         parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("Excel_Export", "Invoice")'

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });


                    //if ($grid.dataSource.filter()) {
                        $.fileDownload(urlstring, {
                            data: data,
                            //successCallback: function (fn) {
                            //    alert(data);
                            //},
                            //failCallback: function (fn) {
                            //    //console.log(fn);
                            //    //swal('Error', 'File Not Found', 'error');
                            //}
                        });
                    //} else {

                    //    swal('Warning', 'Please select filter before download all document !', 'warning');
                    //}

                 });
                $(".k-grid").on("click", ".k-grid-downloadtax", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    var urlstring = '@Url.Action("ExportZip", "Invoice")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                    if ($grid.dataSource.filter()) {
                        $.fileDownload('@Url.Action("ExportZip", "Invoice")', {
                            data: data,
                            successCallback: function (fn) {
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Error', 'File Not Found !', 'error');
                            }
                        });
                    } else {
                        swal('Warning', 'Please select filter before download all document !', 'warning');
                    }

                });
                $(".k-grid").on("click", ".k-grid-downloadallinvoice", function () {
                    //alert("MASUK");
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid"),
                        parameterMap = $grid.dataSource.transport.parameterMap;

                    //var urlstring = '@Url.Action("ExportZipInvoice", "Invoice")';

                    var data = parameterMap({ sort: $grid.dataSource.sort(), filter: $grid.dataSource.filter(), group: $grid.dataSource.group() });

                     if ($grid.dataSource.filter()) {
                        $.fileDownload('@Url.Action("ExportZipInvoice", "Invoice")', {
                            data: data,
                            successCallback: function (fn) {
                            },
                            failCallback: function (fn) {
                                console.log(fn);
                                swal('Warning', 'Please select filter before download all document !', 'warning');
                            }
                        });
                    } else {
                         swal('Warning', 'Please select filter before download all document !', 'warning');
                    }
                });

                $(".k-grid").on("click", ".k-grid-download-attachment", function () {
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid")

                    var da_code = $el.data("da_code");

                    $.fileDownload('@Url.Action("Download","Attachment")', {
                        data: { id: da_code },
                        successCallback: function (fn) {
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Error', 'File Not Found', 'error');
                        }
                    });
                });
                $(".k-grid").on("click", ".k-grid-uploadtransfer", function () {
                    App.blockUI({ animate: !0 });
                    var $el = $(this),
                        $grid = $el.closest(".k-grid").data("kendoGrid");

                    //var invoiceNumber= $el.data("id");


                    urlstring = '@Url.Action("UploadFileTransferInitial", "AttachmentTransfer")';
                    $.ajax({
                        url: urlstring,
                        type: 'post',
                        dataType: 'html',
                        success: function (data) {
                            $('#BuktiTransferModal').find("div.modal-content").html(data);
                            $("#BuktiTransferModal").modal("show");
                            $(".modal-title-attachment").text("Payment Confirmation");
                            App.unblockUI();
                        },
                        error: function () {
                            $('#BuktiTransferModal').modal('toggle');
                            App.unblockUI();
                        }
                    });

                    function BuktiTransferAttachmentManagement() {
                        function allocationAsset() {
                            $.ajax({
                                type: "POST",
                                url: "@Url.Action("AllocationRead", "AttachmentTransfer")",
                                data: { id: $("#d").find(":selected").data("") },
                                dataType: 'json',
                                success: function (data) {
                                    dsAlloactionAsset = data;
                                    $('#grid-allocation').data('kendoGrid').dataSource.data(data);
                                    $('#grid-allocation').data('kendoGrid').refresh();
                                },
                                error: function () {
                                }
                            });
                        }
                    }

                });
            },
               DeleteDocumentInitial: function (e) {
                console.log("delete 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                dataItem.set("Status", "Delete");
                dataItem.set("row_status", 1)
            },
            UndoDocumentInitial: function (e) {
                console.log("undo 2");
                var $el = $(e),
                    $tr = $el.closest("tr"),
                    $grid = $el.closest(".k-grid").data("kendoGrid"),
                    dataItem = $grid.dataItem($tr);

                if (dataItem.attachment_notaretur_id) {
                    dataItem.set("Status", "");
                } else {
                    dataItem.set("Status", "New");
                }

                dataItem.set("row_status", 0)
            },
            @*SaveUploadDocumentInitial: function (e) {
                console.log("saving");

                var $el = $(e),
                    $modal = $(e).closest(".modal"),
                    $form = $modal.find("form");

                $gridDocument = $form.find("#DocumentFileGridInitial").data("kendoGrid");

                var isNewExists = false;
                var isDeleteExists = false;

                var data = $gridDocument.dataSource.data();

                for (var i = 0; i < data.toJSON().length; i++) {
                    if (data.toJSON()[i].Status == "New") {
                        isNewExists = true;
                    }

                    if (data.toJSON()[i].Status == "Delete") {
                        isDeleteExists = true;
                    }
                }
                
                    $.helper.modal.confirmationDialog("Confirmation", "Are you sure want to Save data ?", function (val) {
                        if (val == true) {
                            var formData = $.helper.form.serializeObject($form);
                            var da = $('#reff').val();
                            var dataToSave = {
                                reff: da,
                                Docs: $gridDocument.dataSource.data().toJSON()
                            }

                            $el.prop("disabled", true);
                            $.post("@Url.Action("SaveUploadInitial", "AttachmentNotaRetur")", dataToSave, function (d) {
                                if (d.IsSuccess == true) {
                                    toastr["success"]("", "Success Save Upload Attachmet Nota Retur");
                                    $.helper.grid.refresh("NotaReturGrid");
                                    $modal.modal("hide");
                                }
                                else {
                                    swal("Error", "Failed: " + d.MessageError, "error");
                                }
                            }).fail(function () {
                                swal("Error", "Error when save Upload Attachmet Nota Retur", "error");
                            });
                            $el.prop("disabled", false);
                        }
                    })
                //}
            },*@
            SetScrollAllGrid: function () {
                $('#grid-allocation').contents().wrap('<div class="grid-scroll-container"></div>');
                $('#DocumentFileGrid').contents().wrap('<div class="grid-scroll-container"></div>');
            }
        };
    };

    //function onSuccessUpload(e) {
    //    if (e.response.MessageError == "") {
    //        var data = e.response.Result[0];
    //        $("DocumentFileTransferInitial").data("kendoGrid").dataSource.add({
    //            invoiceNumber: null,
    //            attachment: data.attachment,
    //            FileSize: data.FileSize,
    //            //filepath: data.filepath,
    //           // DocumentType: $("#DocumentTypeUpload").val(),
    //            Status: "New"
    //        });
    //    }
    //    else {
    //        setTimeout(function () {
    //            $("#DocumentFileTransfer").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
    //            $("#DocumentFileTransfer").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
    //        }, 100)
    //        toastr.error(e.response.MessageError)
    //    }
    //};

    //function onSuccessUploadInitial(e) {
    //    if (e.response.MessageError == "") {
    //        var data = e.response.Result[0];
    //        $("#DocumentFileTransferInitial").data("kendoGrid").dataSource.add({
    //            invoiceNumber: null,
    //            attachment: data.attachment,
    //            //FileSize: data.FileSize,
    //            //filepath: data.filepath,
    //            //FileType: data.FileType,
    //            //DocumentType: $("#DocumentTypeUploadInitial").val(),
    //            Status: "New"
    //        });
    //    }
    //    else {
    //        setTimeout(function () {
    //            $("#DocumentFileTransferInitial").find(".k-upload .k-dropzone").find(".k-upload-status").html('');
    //            $("#DocumentFileTransferInitial").find(".k-upload .k-dropzone").find(".k-upload-status").append('<span class="k-icon k-i-error"></span></strong>Failed');
    //        }, 100)
    //        toastr.error(e.response.MessageError)
    //    }
    //};
    function getDocumentParameter() {
        return {
            reff: $("#reff").val()
        }
    };
    function download(da_code) {
        $.fileDownload('@Url.Action("Download","Attachment")', {
            data: { id: da_code },
            successCallback: function (fn) {
                // Nothing
            },
            failCallback: function (fn) {
                swal('Error', 'File Not Found', 'error');
            }
        })
            //.done(function () { swal('Info', 'File download a success!', 'success'); })
            //.fail(function () { swal('Error', 'File download failed!', 'error'); });

        return false; //this is critical to stop the click event which will trigger a normal file download
    }
    //function onSelectUpload(e) {
    //    $gridDocument = $("#DocumentFileTransferInitial").data("kendoGrid");
    //    var data = $gridDocument.dataSource.data().toJSON();
    //    var fileInfo = getFileInfo(e);

    //    $.each(data, function (index, item) {
    //        if (fileInfo.length > 0) {
    //            //console.log(fileInfo[0]);
    //            //console.log(item.filename);
    //            if (fileInfo[0] == item.attachment) {
    //                swal("Error", "Can't upload file " + item.attachment + ". File is duplicate.", "error");
    //                e.preventDefault();
    //            }
    //        }
    //    });
    //}

    function formatMoney(n, c, d, t) {
        var c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
            j = (j = i.length) > 3 ? j % 3 : 0;

        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
</script>
