﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.Config>()
    .Name("ConfigGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.ID).Sortable(false).HtmlAttributes(new { @class = "text-center" }).ClientTemplate(
            @"
            <div class=""btn-group"">
                <button class='btn btn-xs btn-default trigger-edit'>Edit</button>
                <!-- <a class='btn btn-xs btn-danger k-grid-delete'>Delete</a> -->
            </div>
            "
        ).Title("Action").Width(65).MinScreenWidth(800);
        columns.Bound(o => o.ConfigText).Title("Key");
        columns.Bound(o => o.ConfigValue).Title("Value").ClientTemplate(@"
            <div # if (ConfigDataType == 'select' || ConfigDataType == 'date' || ConfigDataType == 'bool') { # data-value='#:ConfigValue#' # } # data-name='#: ConfigKey #' data-mode='inline' # if (ConfigText != null || ConfigDataType == 'bool') { # data-source='#= ConfigDataType == 'bool' ? '[""True"", ""False""]' : ConfigText #' # } # class='editable' data-type='#: ConfigDataType == 'bool' ? 'select' : ConfigDataType #' data-pk='#:ID#'>#if (ConfigDataType == 'wysihtml5') { ##=ConfigValue## } else { ##:ConfigValue## } #</div>
        ");
        //columns.Bound(o => o.ConfigText).Title("Text");
    })
    .ToolBar(toolbar => toolbar.Custom().Text("Refresh Config").HtmlAttributes(new { id = "refreshConfigBtn" }))
    .NoRecords(conf => conf.Template("No General Setting to display"))
    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 20, 100, 200 }).ButtonCount(5))
    .Sortable()
    .Resizable(o => o.Columns(true))
    .Reorderable(o => o.Columns(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Url(@Url.Action("Read", "Config", new { area = "Core" })))
        .Create(create => create.Url(@Url.Action("Create", "Config", new { area = "Core" })))
        .Update(update => update.Url(@Url.Action("Update", "Config", new { area = "Core" })))
        .Destroy(destroy => destroy.Url(@Url.Action("Delete", "Config", new { area = "Core" })))
        .PageSize(100)
        .Sort(sort => sort.Add(x => x.ConfigKey))
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
    .Group(group =>
    {
        group.Add(x => x.Module);
    })
    )
)