﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.EmailTemplate>()
    .Name("EmailTemplateGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.ID).Sortable(false).HtmlAttributes(new { @class = "text-center" }).ClientTemplate(
            @"
            <div class=""btn-group"">
                <a class='btn btn-xs btn-default k-grid-edit' data-modal='EmailTemplateModal'>Edit</a>
                <!-- <a class='btn btn-xs btn-danger k-grid-delete'>Delete</a> -->
            </div>
            "
        ).Title("Action").Width(65).MinScreenWidth(800);
        columns.Bound(o => o.MailKey).Title("Key");
        columns.Bound(o => o.Title).Title("Title");
        columns.Bound(o => o.MailFrom).Title("Mail From");
        columns.Bound(o => o.DisplayName).Title("Display Name");
        columns.Bound(o => o.Subject).Title("Subject");
    })
    .NoRecords(conf => conf.Template("No Email Template to display"))
    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 20, 100, 200 }).ButtonCount(5))
    .Sortable()
    .Resizable(o => o.Columns(true))
    .Reorderable(o => o.Columns(true))
    //.Editable(editable => editable.Mode(GridEditMode.PopUp))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Url(@Url.Action("Read", "EmailTemplate", new { area = "Core" })))
        .Create(create => create.Url(@Url.Action("Create", "EmailTemplate", new { area = "Core" })))
        .Update(update => update.Url(@Url.Action("Update", "EmailTemplate", new { area = "Core" })))
        .Destroy(destroy => destroy.Url(@Url.Action("Delete", "EmailTemplate", new { area = "Core" })))
        .PageSize(20)
        .Sort(sort => sort.Add(x => x.MailKey))
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
    //.Group(group =>
    //{
    //    group.Add(x => x.Module);
    //})
    )
)