﻿@model Tam.Ebilling.Service.EmailSettingRequest 
    
<form id = "EmailSmtpSettingsForm" >
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>From Address</label>
                @Html.TextBoxFor(x => x.FromAddress, new { @class = "form-control" })
            </div>
        </div>
         <div class="col-md-6 col-sm-12">
             <div class="form-group">
                 <label>From Display</label>
                 @Html.TextBoxFor(x => x.FromDisplay, new { @class = "form-control", @maxlength="128" })
             </div>
         </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>SMTP Host</label>
                @Html.TextBoxFor(x => x.SmtpHost, new { @class = "form-control", @maxlength = "64" })
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>SMTP Port</label>
                @Html.TextBoxFor(x => x.SmtpPort, new { @class = "form-control", @maxlength = "5", @type = "number" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @maxlength = "128" })
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label>Password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @maxlength = "128", @autocomplete="off" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="mt-checkbox-list">
            <label class="mt-checkbox">
                Enable SSL
                @Html.CheckBoxFor(m => m.EnableSSL)
                <span></span>
            </label>
            <label class="mt-checkbox">
                Use Default Credential
                @Html.CheckBoxFor(m => m.UseDefaultCredential)
                <span></span>
            </label>
        </div>
    </div>

        
    <h5>Test Email Setting</h5>
    <div class="row">
        <div class="form-group col-md-4">
            <input id="TestEmailAddressInput" type="text" class="form-control" value="">
        </div>
        <div class="form-group col-md-2">
            <button id="SendTestEmailButton" class="btn green-haze" type="button">Send Email Test</button>
        </div>
    </div>

    <div>
        <button type="button" class="btn green" id="btnSaveEmailSetting">Save</button>
    </div>
</form>