﻿<div>
    <form id="PasswordComplexitySettingsForm">
        <div class="form-group">
            <label style="font-weight:bold; font-size:16px;">Password Complexity</label>
            <div class="mt-checkbox-list">
                <label class="mt-checkbox">
                    Use Default Settings
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
                <label class="mt-checkbox">
                    Require Digit
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
                <label class="mt-checkbox">
                    Require Uppercase
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
                <label class="mt-checkbox">
                    Require Lowercase
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
                <label class="mt-checkbox">
                    Require Non Alphanumeric
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password Length</label>
                        <input type="number" name="RequiredLength" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label style="font-weight:bold; font-size:16px;">User Lockout</label>
            <div class="mt-checkbox-list">
                <label class="mt-checkbox">
                    Enable user account locking on failed login attempts
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Maximum attempt on failed login</label>
                        <input type="number" name="FailedLogin" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Account locking duration</label>
                        <input type="number" name="LockingDuration" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label style="font-weight:bold; font-size:16px;">Two Factor Login</label>
            <div class="mt-checkbox-list">
                <label class="mt-checkbox">
                    Enable two factor login
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
                <label class="mt-checkbox">
                    Enable email verification (OTP)
                    <input type="checkbox" value="1" name="test">
                    <span></span>
                </label>
            </div>
        </div>

        <div>
            <button type="button" class="btn green" id="btnSaveSecurity">Save</button>
        </div>
    </form>
</div>