﻿@model Tam.Ebilling.Domain.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="logo">
    <a href="#">
        <img src="~/Content/img/new-ebilling-white.png" width="180" alt="">
    </a>
</div>
<div class="content">

    @using (Html.BeginForm("Login", "Account", new { area = "Core" }, FormMethod.Post))
    {
        @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
        <div class="form-title">
            <span class="form-title">Welcome.</span>
            <span class="form-subtitle">Please Sign In.</span>
        </div>
        <div class="alert alert-danger" style="display: none;">
            <button class="close" data-close="alert"></button>
            <span id="errorMessage"></span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            @Html.TextBoxFor(x => x.Username, new { autocomplete = "off", @class = "form-control form-control-solid placeholder-no-fix" })
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            @Html.PasswordFor(x => x.Password, new { autocomplete = "off", @class = "form-control form-control-solid placeholder-no-fix" })
        </div>
        <div class="form-actions">
            <button type="submit" class="btn red btn-block uppercase" data-bind="click: submit, enabled: enable">
                Login
            </button>
        </div>
        <div class="login-options" style="margin-top: 0; border: 0; padding-top: 0;">
            <h4 class="pull-left" style="color: #fff!important;">Best viewed with</h4>
            <div class="pull-right">
                <ul class="list-inline">
                    <li>
                        <a data-toggle="tooltip" title="Chrome">
                            <img src="~/Content/img/chrome.svg" width="30" height="30" />
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" title="Mozilla Firefox">
                            <img src="~/Content/img/firefox.svg" width="30" height="30" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(function () {
        $("#loginform").on("submit", function (evt) {
            evt.preventDefault();

            $.post("@Url.Action("Login", "Account", new { area = "Core" })", $("form").serialize(), function (d) {
                console.log(d);
                if (d.IsError) {
            
                    $(".alert").show();
                    $("#errorMessage").text(d.ErrorMessage);

                } else {
                    window.location.href = typeof d.ReturnUrl !== 'undefined' ? d.ReturnUrl : $.helper.resolve('~');
                }
            });
        });
        $(".close").on("click", function () {
            var $this = $(this),
                closeEl = $this.data("close"),
                $el = $this.closest("." + closeEl);

            $el.hide();
        });
        $("input").on("keyup", function (e) {
            var key = e.which;

            if (key == 13) {
                $("button[type='submit']").trigger("click");
            }
        });
    });
</script>