﻿@model Tam.Ebilling.Domain.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var passportAppId = Tam.Ebilling.Infrastructure.Cache.ApplicationCacheManager.GetConfig<string>("PassportAppId");
    var passportUrl = Tam.Ebilling.Infrastructure.Cache.ApplicationCacheManager.GetConfig<string>("PassportUrl");
    var passportJs = passportUrl + "/tam-sso.js";
    var retUrl = Request["ReturnUrl"];
}
@section scripts {
    <script type="text/javascript" src="@passportJs"></script>
}
<div class="logo">
    <a href="#">
        <img src="~/Content/img/new-ebilling-white.png" width="180" alt="">
    </a>
</div>
<div class="content">

    @using (Html.BeginForm("Login", "Account", new { area = "Core" }, FormMethod.Post, new { @id = "loginform" }))
    {
        @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
        <div class="form-title">
            <span class="form-title">Welcome.</span>
            <span class="form-subtitle">Please Sign In.</span>
        </div>
        <div class="alert alert-danger" style="display: none;">
            <button class="close" data-close="alert"></button>
            <span id="errorMessage"></span>
        </div>
        @*<div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                @Html.TextBoxFor(x => x.Username, new { autocomplete = "off", @class = "form-control form-control-solid placeholder-no-fix" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                @Html.PasswordFor(x => x.Password, new { autocomplete = "off", @class = "form-control form-control-solid placeholder-no-fix" })
            </div>*@
        <div class="form-actions text-center" style="border: 0;">
            <tam-sso server="@passportUrl" app="@passportAppId" auto-submit="loginform"></tam-sso>
        </div>

        <div class="login-options" style="margin-top: 0; border: 0; padding-top: 0;">
            <h4 class="pull-left" style="color: #fff!important;">Best viewed with</h4>
            <div class="pull-right">
                <ul class="list-inline">
                    <li>
                        <a data-toggle="tooltip" title="Chrome">
                            <img src="~/Content/img/chrome.svg" width="30" height="30" />
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" title="Mozilla Firefox">
                            <img src="~/Content/img/firefox.svg" width="30" height="30" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var retUrl = "@retUrl";
    console.log(retUrl);

    if (retUrl == "/Core/Account/err1")
    {
        console.log("came from IF " + retUrl);
        $(".alert-danger").css("display", "");
        $("#errorMessage").text("User belum terdaftar di E-BIlling");
    }
    else
    {
        console.log("came from else" + retUrl);
        $(".alert-danger").css("display", "hidden");
    }
</script>
