﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.Invoice
@{
    List<udf_GetInvoiceNumber> listDoc = ViewBag.listDocument;
    string invoice = ViewBag.InvoiceNo;
    <input type="hidden" id="invoice" data-role="tagsinput" class="form-control" value="@ViewBag.InvoiceNo" />
    @(Html.Kendo().Grid<Tam.Ebilling.Domain.ScanInvoice>()
                                .Name("DocumentFileGrid")
                                .ToolBar(t => t.Template(
                                    @<text>
                                        <div class="row" style="margin-right:0">
                                            <div id="div-ddlupload" class="col-md-4">
                                                <select id="DocumentTypeUpload" class="form-control">
                                                    <option value="Pdf">Pdf</option>
                                                </select>
                                            </div>
                                            <div class="col-md-8">
                                                @(Html.Kendo().Upload()
                                                                                    .Name("files")
                                                                                    .HtmlAttributes(new { aria_label = "files" })
                                                                                    .Async(a => a
                                                                                        .SaveUrl(@Url.Action("Upload", "ScanInvoice", new { Area = "Core" }) + @"?invoice=" + @invoice)
                                                                                        .AutoUpload(true)
                                                                                    )
                                                                                    .Events(evt =>
                                                                                    {
                                                                                                        evt.Success("onSuccessUpload");
                                                                                                        evt.Progress("onProgressUpload");
                                                                                                        evt.Complete("onCompleteUpload");
                                                                                                    })
                                                                                    .ShowFileList(false)
                                                )
                                            </div>
                                        </div>
                                        <div class="row"> <div class="col-md-12">Maximum allowed file size is <strong>10MB</strong>.</div></div>
                                    </text>
                                                                ))
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(f => f.filename).HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                                                    @"#if(invoice_number){#
                        <a href='" + Url.Action("Document", "ScanInvoice", new { Area = "Core" }) + @"?id=#:invoice_number#'>
                        <span #if(Status == ""Delete""){# style=""text-decoration: line-through;"" #}#>
                        #:filename#</span>
                        </a>
                        #}else{#
                        <a href='" + Url.Action("Temp", "Download", new { Area = "Core" }) + @"?filepath=#:filepath#&filename=#:filename#'>
                        <span #if(Status == ""Delete""){# style=""text-decoration: line-through;"" #}#>
                        #:filename#</span>
                        </a>
                    #}#"
                                                                    );
                                                        // columns.Bound(f => ).Title("Doc Type").Width(100);
                                                        columns.Bound(c => c.attachment_invoice_id).Title("Action").Width(75).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Sortable(false).Filterable(false).ClientTemplate(
                                                                    @"#if(Status != ""Delete""){#
                        <a class=""btn btn-xs btn-danger k-grid-delete-doc"">Delete</a>
                        #}else{#
                        <a class=""btn btn-xs btn-success k-grid-undo-doc"">Undo</a>
                    #}#"
                                                                );
                                                                })
                                                            .NoRecords(x => x.Template("No Documents"))
                                                            .DataSource(dataSource => dataSource
                                                                .Ajax()
                                                                .PageSize(10)
                                                                .Model(m => m.Id(f => f.attachment_invoice_id))
                                                                .Read(read => read.Url(@Url.Action("GetListDocuments", "ScanInvoice", new { area = "Core" })).Data("getDocumentParameter"))
                                                            )
    )

