﻿<script type="text/javascript" src="~/Scripts/fileDownload.js"></script>
<script type="text/javascript">

    var customerGroup = '@ViewBag.Customer';
    var userType = '@ViewBag.UserType';

    $(document).ready(function () {
        App.ReceiptManagement = new ReceiptManagement();
        App.ReceiptManagement.InitManagement();
        
    });

    function ReceiptManagement() {
        return {
            InitManagement: function () {
                this.InitControls();
                this.InitValidation();
                this.InitHandlers();
            },

            InitControls: function () {

            },

            InitValidation: function () {

            },

            InitHandlers: function () {

                $(".btn-download-summary").click(function () {
                    var dateFrom = $("#dateFrom").val();
                    var dateTo = $("#dateTo").val();
                    var businessType, customerId;
                    var sign = $("#sign-by").val();
                    var totAmount = $("#totalamount").val();


                    if (!dateFrom) {
                        swal('Warning', "Date From mandatory", 'warning');
                        return;
                    } else {
                        var dateFromVal = $("#dateFrom").val().split('/');
                        dateFrom = dateFromVal[2] + "-" + dateFromVal[1] + "-" +dateFromVal[0];
                    }

                    if (!dateTo) {
                        swal('Warning', "Date To mandatory", 'warning');
                        return;
                    } else {
                        var dateToVal = $("#dateTo").val().split('/');
                        dateTo = dateToVal[2] + "-" + dateToVal[1] + "-" + dateToVal[0];
                    }

                    if (!sign) {
                        swal('Warning', "Please Select Sign", 'warning');
                        return;
                    }
                    
                    if ($("#business-unit").val()) {
                        businessType = $("#business-unit").val().join('#');
                    }

                    //if ($("#customer-id").val()) {
                    //    customerId = $("#customer-id").val().join('#');
                    //}

                    if ($("#customer-id").val()) { //change because customer not multiple
                        customerId = $("#customer-id").val();
                    }

                    if (!customerId && !customerGroup && userType == "Internal") {
                        swal('Warning', "Please Select Customer Group", 'warning');
                        return;
                    }

                    if (!totAmount) {
                        swal('Warning', "Please Select Total Amount", 'warning');
                        return;
                    }

                    $.fileDownload('@Url.Action("Download","Receipt")', {
                        data: {
                            dateFrom: dateFrom,
                            dateTo: dateTo,
                            businessType: businessType,
                            customerId: customerId,
                            signBy: sign,
                            totalamount: totAmount

                        },
                        successCallback: function (fn) {
                            $.helper.grid.refresh("ReceiptGrid");
                            // Nothing
                        },
                        failCallback: function (fn) {
                            swal('Warning', "Fail to Download Receipt " + getErrorMessageFromDefault(fn) +"", 'warning');
                        }
                    })

                    return false; //this is critical to stop the click event which will trigger a normal file download
                });
            }
        };
    };

    function getErrorMessageFromDefault(fn) {
        var el = document.createElement('html');
        el.innerHTML = fn;
        var errMessage = el.getElementsByTagName('p')[0].innerHTML;

        return errMessage.replace('<br>', '');
    }
</script>
