﻿@{
    //
}

@(Html.Kendo().Grid<Tam.Ebilling.Domain.PVHeader>()
                .Name("PVMonitoringGrid")
                .Columns(columns =>
                {

                columns.Template(@<text></text>)
                        .ClientTemplate("<input type='checkbox' class='invoices-number' data-pv-no='#:PV_NO#' data-pid='#:PROCESS_ID#' data-stsbudget='#:STATUS_BUDGET#'" +
                            //"#if(STATUS_FLAG == '6'){#" +
                            //    "disabled" +
                            //"#}# " +
                            "/>")
                    .HeaderTemplate("<input id='select-all-invoices' type='checkbox' title='select all'").Width(30)
                    .HtmlAttributes(new { style = "text-align:center" })
                    .HeaderHtmlAttributes(new { style = "text-align:center" });
                
                columns.Template(@<text></text>)
                        .ClientTemplate(
                            "#if((STATUS_FLAG == '42' || STATUS_FLAG == '3') && IS_USERTAM == 'N'){#" +
                                "<div style='text-align:center'>" +
                                    "<a class='btn-xs btn-default upload-attachment' data-invoice_no='#:INVOICE_NO#' data-pid='#:PROCESS_ID#' data-pv_no='#:PV_NO#' data-is='N' title='Upload'><i class='fa fa-upload'></i><span class='hidden-xs'></span></a> | " +
                                    "<a class='btn-xs btn-default upload-attachment' data-invoice_no='#:INVOICE_NO#' data-pid='#:PROCESS_ID#' data-pv_no='#:PV_NO#' data-is='Y' title='History'><i class='fa fa-list'></i><span class='hidden-xs'></span></a>" +
                                "</div>" +
                            "#}else{#" +
                                "<div style='text-align:center'>" +
                                    "<a class='btn-xs btn-default upload-attachment' data-invoice_no='#:INVOICE_NO#' data-pid='#:PROCESS_ID#' data-pv_no='#:PV_NO#' data-is='Y' title='History'><i class='fa fa-list'></i><span class='hidden-xs'> History</span></a>" +
                                "</div>" +
                            "#}#")
                        .Title("<div style='text-align: center'>Action</div>").Width(80);

                columns.Template(@<text></text>)
                        .ClientTemplate(
                            "<div style='text-align:left'>" +
                                "<a class='check-pv-no' data-pv-no='#:PV_NO#' data-pid='#:PROCESS_ID#' data-sts-budget='#:STATUS_BUDGET#' data-pv-budget='#:BUDGET#'>#:PV_NO#</a>" +
                            "</div>")
                        .Title("<div style='text-align: center'>PV No</div>").Width(95);

                columns.Bound(o => o.ACCOUNT_INFO).Title("Letter No").Width(125);

                columns.Bound(o => o.STATUS_DESC).Title("Status").Width(100);

                columns.Bound(o => o.VENDOR_NAME).Title("Dealer").Width(225);

                //columns.Bound(o => o.AMOUNT).Title("Amount").Width(100);
                columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#if (AMOUNT != null){# #=kendo.toString(AMOUNT, 'n')# #}#</div>").Width(100).Title("Amount");

                if (@ViewBag.UserType == "Internal")
                {
                    columns.Bound(o => o.BUDGET).Title("Budget No").Width(155);
                    columns.Bound(o => o.BUDGET_DESCRIPTION).Title("Budget Description").Width(255);
                }

                columns.Bound(o => o.TRANSACTION_DESC).Title("Transaction").Width(210);

                columns.Bound(o => o.PV_TYPE).Title("PV Type").Width(70);
                columns.Bound(o => o.PV_DATE).Format("{0:dd-MM-yyyy}").Title("PV Date").Width(87);
                columns.Template(@<text></text>)
                        .ClientTemplate(
                            "<div style='text-align:center'>" +
                            "#if(STATUS_BUDGET == 'AVAILABLE'){#" +
                                "<i class='glyphicon glyphicon-ok-sign' style='color:3A80D7;' title='#:STATUS_BUDGET#'></i>" +
                            "#}if(STATUS_BUDGET == 'NOT AVAILABLE'){#" +
                                "<i class='glyphicon glyphicon-remove-sign' style='color:E73D4A;' title='#:STATUS_BUDGET#'></i>" +
                            "#}#" +
                            "</div>"
                        )
                        .Title("<div style='text-align: center'>Budget</div>").Width(65);
                columns.Bound(o => o.VENDOR_CD).Title("Dealer Code").Width(110);
                columns.Bound(o => o.VENDOR_GRP).Title("Dealer Grp").Width(100);
                columns.Bound(o => o.PLANNING_PAYMENT_DT).Format("{0:dd-MM-yyyy}").Title("Plan Payment Date").Width(125);
                //columns.Bound(o => o.ACTUAL_PAYMENT_DT).Format("{0:dd-MM-yyyy}").Title("Actual Payment Date").Width(135);

                })
                .ToolBar(toolbar =>
                {
                    toolbar.Template(@<text>
                        <div class="toolbar">
                            @if (ViewBag.IsAllowedVerified)
                            {
                            <div class='btn-group' style="margin-right: 15px">
                                <a id="btn-verified" class="btn btn-xs btn-info">
                                    <i class="fa fa-check-square-o"></i> <span class="hidden-xs">Verify</span>
                                </a>
                                <!--<button class='btn btn-xs btn-info' type='button' aria-expanded='false' id="btn-verified"> Verify</button>-->
                            </div>
                            }
                            @if (ViewBag.IsAllowedDelete)
                            {
                                <div class='btn-group' style="margin-right: 15px">
                                    <a id="btn-delete" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash-o"></i> <span class="hidden-xs">Delete</span>
                                    </a>
                                    <!--<button class='btn btn-xs btn-danger' type='button' aria-expanded='false' id="btn-delete"> Delete</button>-->
                                </div>
                            }
                            @if (ViewBag.IsAllowedNotProper)
                            {
                                <div class='btn-group' style="margin-right: 15px">
                                    <a id="btn-not-proper" class="btn btn-xs btn-danger">
                                        <i class="fa fa-ban"></i> <span class="hidden-xs">Reject</span>
                                    </a>
                                    <!--<button class='btn btn-xs btn-danger' type='button' aria-expanded='false' id="btn-not-proper"> Reject</button>-->
                                </div>
                            }
                            @if (ViewBag.UserType != "Internal")
                            {
                                <div class='btn-group' style="margin-right: 15px">
                                    <a id="btn-verified-dealer" class="btn btn-xs btn-info">
                                        <i class="fa fa-send"></i> <span class="hidden-xs">Submit</span>
                                    </a>
                                    <!--<button class='btn btn-xs btn-info' type='button' aria-expanded='false' id="btn-verified-dealer"> Submit</button>-->
                                </div>
                            }
                        </div>
                    </text>);
                })
                .NoRecords(x => x.Template("No Documents"))
                .Reorderable(reorderable => reorderable.Columns(true))
                .Resizable(resizable => resizable.Columns(true))
                .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
                .Sortable()
                .Pageable()
                .Scrollable(scrollable => scrollable.Height("300"))
                .HtmlAttributes(new { @class = "scrollable" })
                .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Url(@Url.Action("Read", "PVMonitoring", new { area = "Core" })).Data("getReadParameter"))
                .Sort(sort => sort.Add(field => field.PV_NO).Descending())
                .Sort(sort => sort.Add(field => field.VENDOR_CD).Ascending())
                .Sort(sort => sort.Add(field => field.PV_DATE).Descending())
                .PageSize(10))
)

<script type="text/javascript">
    //
</script>