﻿@section scripts {
    @Html.Partial("~/Areas/Core/Views/NotaRetur/Script/_NotaRetur.cshtml")
    @*<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>*@
}

<div id="AttachmentModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="TaxNotaReturModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        </div>
    </div>
</div>

<div id="NotaReturDetailModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.Partial("~/Areas/Core/Views/NotaRetur/Form/NotaReturDetail.cshtml")
        </div>
    </div>
</div>
<div id="ScanInvoiceNoturModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="page-head">
    <div class="page-title">
        <h1>
            <span>VAT Credit Note</span>
        </h1>
    </div>
</div>

<!--<a id="btnTest" class="btn btn-primary">Test Button</a>-->

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="NotaReturGrid" data-filter="true" data-logical-operator="and" class="NotaReturGrid">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Business Unit</label>
                                <select id="business-unit" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "eq", "field": "business_unit" }'>
                                    <option value="Others">Others</option>
                                    <option value="Motor Vehicle">Motor Vehicle</option>
                                    @*<option value="Lexus-Motor Vehicle">Lexus-Motor Vehicle</option>*@
                                    <option value="Spare Part">Spare Part</option>
                                    @*<option value="Service Part">Service Part</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Transaction Type</label>
                               
                                @Html.DropDownList("DDLTransactionType", new SelectList(ViewBag.TransactionType, "transaction_type_id", "transaction_name"), new
                               {
                                   @class = "select2local form-control select2-multiple",
                                   @data_filter = "{ \"multiple\": true, \"operator\": \"IsEqualTo\", \"field\": \"transaction_type_id\" }",
                                   multiple = "multiple",
                                   @id = "transcation-type"
                               })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Credit Advice Number</label>
                                @*<input type="text" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_number" }' />*@
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_number" }' />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Credit Note Number</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "credit_note_number" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Credit Note Date</label>
                                <div class="row">
                                    <div class="col-md-6" style="width: 47%">
                                        <div class="input-group">
                                            <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width: 47%">
                                        <div class="input-group">
                                            <input type="text" id="dateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Tax Invoice Number</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "tax_invoice" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Tax Invoice Date</label>
                                <div class="row">
                                    <div class="col-md-6" style="width: 47%">
                                        <div class="input-group">
                                            <input type="text" id="taxDateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "tax_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width: 47%">
                                        <div class="input-group">
                                            <input type="text" id="taxDateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "tax_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Dealer Code</label>
                                @Html.DropDownList("DDLDealerCode", new SelectList(ViewBag.DealerCode, "dealer_code_id", "dealer_code_name"), new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"da_code\" }",
                                    multiple = "multiple"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Due Date</label>
                                <div class="row">
                                    <div class="col-md-6" style="width: 47%">
                                        <div class="input-group">
                                            <input type="text" id="dueDateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "due_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="width: 47%">
                                        <div class="input-group">
                                            <input type="text" id="dueDateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "due_date" }'>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Currency</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "currency" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Return VAT Based Amount</label>
                                <select id="ddlWHTTaxBasedAmnt" class="select2local form-control select2" onchange="basedop(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group" id="divBsdLike">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdLike" name="txtBsdLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "dpp" }' />
                            </div>
                            <div class="form-group" id="divBsdEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdEQ" name="txtBsdEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "dpp" }' />
                            </div>
                            <div class="form-group" id="divBsdLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdLT" name="txtBsdLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "dpp" }' />
                            </div>
                            <div class="form-group" id="divBsdLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdLTE" name="txtBsdLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "dpp" }' />
                            </div>
                            <div class="form-group" id="divBsdGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdGT" name="txtBsdGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "dpp" }' />
                            </div>
                            <div class="form-group" id="divBsdGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtBsdGTE" name="txtBsdGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "dpp" }' />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label>Return VAT Amount</label>
                                <select id="WHTTaxAmnt" class="select2local form-control select2" onchange="amtop(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group" id="divAmtLike">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "tax" }' />
                            </div>
                            <div class="form-group" id="divAmtEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "tax" }' />
                            </div>
                            <div class="form-group" id="divAmtLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "tax" }' />
                            </div>
                            <div class="form-group" id="divAmtLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "tax" }' />
                            </div>
                            <div class="form-group" id="divAmtGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "tax" }' />
                            </div>
                            <div class="form-group" id="divAmtGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="text" id="txtAmtGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "tax" }' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>VAT Credit Note Original</label>
                                <select class="select2local form-control select2-multiple" data-filter='{"multiple": false, "operator": "eq", "field": "is_notur_upload_done" }'>
                                    @*<option value="">N/A</option>*@
                                    <option value="0">Not Exist</option>
                                    <option value="1">Exist</option>
                                </select>
                            </div>
                        </div>
                        @*Filter Color*@
                        <div class="col-md-6 col-sm-12">
                            <label>VAT Credit Note Status</label>
                            <select id="credit-status" value="@ViewBag.NotifFilter" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "eq", "field": "credit_note_status" }'>
                                @*<option value="" >Choose Colour</option>*@
                                <option value="yellow">Yellow</option>
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                            </select>
                        </div>
                        @*END*@
                    </div>
                </div>



                <div class="row filter-div" hidden="hidden">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>AR Status</label>
                                @Html.DropDownList("DDLARStatus", new SelectList(ViewBag.ARStatus, "config_value", "config_text"), new
                                {
                                    @class = "select2local form-control select2-multiple",
                                    @data_filter = "{ \"multiple\": true, \"operator\": \"contains\", \"field\": \"ar_status\" }",
                                    multiple = "multiple"
                                })
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Document Status</label>
                                <select class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_tax_attc_available" }'>
                                    <option value="1">Completed</option>
                                    <option value="0">Not Completed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Invoice QR Status</label>
                                <select class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_inv_available" }'>
                                    <option value="1">Downloaded</option>
                                    <option value="0">Not Downloaded</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Invoice Status</label>
                                <select id="invo" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_inv_scan_available" }'>
                                    <option value="1">Downloaded</option>
                                    <option value="0">Not Downloaded</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>VAT Credit Note Sign Off</label>
                                <select id="invo" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "creditnotettd" }'>
                                    @*<option value="">N/A</option>*@
                                    <option value="1">Exist</option>
                                    <option value="0">Not Exist</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>VAT Credit Note DGT</label>
                                <select id="invo" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "creditnotedgt" }'>
                                    @*<option value="">N/A</option>*@
                                    <option value="1">Exist</option>
                                    <option value="0">Not Exist</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        @if (ViewBag.Customer == null)
                        {
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    @Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName, "customer_group_id", "customer_group_name"), new
                                   {
                                       @class = "select2local form-control select2-multiple",
                                       @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"customer_group\" }",
                                       multiple = "multiple"
                                   })
                                    @*@Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName, "customer_group_name", "customer_group_name"), new
                                        {
                                            @class = "select2local form-control select2-multiple",
                                            @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"customer_name\" }",
                                            multiple = "multiple"
                                        })*@
                                </div>
                            </div>}
                        else
                        {
                            @*<div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    @Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName, "customer_group_id", "customer_group_name"), new
                                    {
                                        @class = "select2local form-control select2-multiple",
                                        @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"customer_group\" }",
                                        multiple = "multiple"
                                    })
                                </div>
                            </div>*@
                            //
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/NotaRetur/Component/_NotaReturGrid.cshtml")
        <script>

            $(document).ready(function () {
                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))

                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy',
                        orientation: 'bottom auto',
                        autoclose: true
                    }).on('changeDate', function (date) {
                        var dateFrom = $("#dateFrom");
                        var dateTo = $("#dateTo");
                        var taxDateFrom = $("#taxDateFrom");
                        var taxDateTo = $("#taxDateTo");
                        var dueDateFrom = $("#dueDateFrom");
                        var dueDateTo = $("#dueDateTo");

                        if (dateFrom.val() != null && dateTo.val() != null) {

                            dateFrom = dateFrom.data('datepicker').dates.get();
                            dateTo = dateTo.data('datepicker').dates.get();

                            console.log("Credit Note Date From: " + dateFrom);
                            console.log("Credit Note Date To: " + dateTo);

                            if (dateFrom > dateTo) {
                                swal('Warning', 'Credit Note Date To must be higher than Credit Note Date From.', "error");
                            }
                        }

                        if (taxDateFrom.val() != null && taxDateTo.val() != null) {

                            taxDateFrom = taxDateFrom.data('datepicker').dates.get();
                            taxDateTo = taxDateTo.data('datepicker').dates.get();

                            console.log("Tax Invoice Date From: " + taxDateFrom);
                            console.log("Tax Invoice Date To: " + taxDateTo);

                            if (taxDateFrom > taxDateTo) {
                                swal('Warning', 'Tax Invoice Date To must be higher than Tax Invoice Date From.', "error");
                            }
                        }

                        if (dueDateFrom.val() != null && dueDateTo.val() != null) {

                            dueDateFrom = dueDateFrom.data('datepicker').dates.get();
                            dueDateTo = dueDateTo.data('datepicker').dates.get();

                            console.log("Due Date From: " + dueDateFrom);
                            console.log("Due Date To: " + dueDateTo);

                            if (dueDateFrom > dueDateTo) {
                                swal('Warning', 'Due Date To must be higher than Due Date From.', "error");
                            }
                        }
                    });

                //create AutoComplete UI component
                $("#transtipe").kendoAutoComplete({
                    dataSource: data,
                    dataTextField: "transaction_name",
                    dataValueField: "transaction_type_id",
                    // change: function () {
                    //  var tipe = this.value();
                    // console.log("selected tipe ", tipe);
                    // },
                    filter: "startswith",
                    placeholder: "Transaction Type",
                    //separator: " "
                });

                $("#business-unit").change(function () {
                    var $val = $(this).val();

                    if ($val != null) {
                        if ($val.indexOf('Spare Part') != -1) { // match
                            if ($("#transcation-type").val() == null) {
                                $("#transcation-type").val(2).trigger("change"); // sales sp value = 2
                            }
                        } else {
                            if ($("#transcation-type").val() != null) {
                                removeBussinessSparePart();
                            }
                        }
                    } else {
                        removeBussinessSparePart();
                    }
                });

                $('*[data-role="tagsinput"]').tagsinput({
                    delimiterRegex: ' '
                });
            });

            function removeBussinessSparePart() {
                if ($("#transcation-type").val() != null) {
                    var index = $("#transcation-type").val().indexOf('2'); // sales sp value = 2
                    var arrVal = $("#transcation-type").val();

                    if (index > -1) {
                        arrVal.splice(index, 1);
                        $("#transcation-type").val(arrVal).trigger("change");
                    }
                }
            }

        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }
        </style>
        <style>

            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>
