﻿@model Tam.Ebilling.Domain.Customer

@{ 
    List<string> customer_group_list = new List<string>();
    customer_group_list.Add("AI");
    customer_group_list.Add("AR");
    customer_group_list.Add("SH");
    customer_group_list.Add("NULL");
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Customer Mapping</h4>
</div>
<div class="modal-body">
    @*<div class="col-md-12 ">*@
        @*<div class="portlet light bordered" style="margin-top: 10px">*@
            @*<div class="portlet-body form">*@
                <form role="form" id="formContainer">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Customer Code</label><br />
                            <input type="text" id="customer_code" name="customer_code" class="form-control" style="text-align: right" readonly value="@Model.customer_code" />
                        </div>
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" TextMode="Multiline" id="customer_name" name="customer_name" class="form-control" style="text-align: right" readonly value="@Model.customer_name" />
                        </div>
                        <div class="form-group">
                            <label>Customer Group</label>
                            @*<input type="text" id="customer_group" class="form-control" style="text-align: right" value="@Model.customer_group" />*@
                            <select id="customer_group" name="customer_group" class="form-control select2" style="text-align: right">

                                @(Model.customer_group = Model.customer_group==""?"NULL":Model.customer_group)

                                @foreach(var group in customer_group_list)
                                {
                                    <option @(group==Model.customer_group?"selected":"") value="@group">@group</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Business Unit</label>
                            <input type="hidden" id="business_unit_id" name="business_unit_id" class="form-control" style="text-align: right" readonly value="@Model.business_unit_id" />
                            <input type="text" id="business_unit" class="form-control" style="text-align: right" readonly value="@if (Model.business_unit_id == 1) { @("MV"); } else if (Model.business_unit_id == 2) { @("Others"); } " />
                        </div>
                    </div>
                </form>
            @*</div>*@
        @*</div>*@
    @*</div>*@
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-primary" onclick="save()"><i class="fa fa-save"></i>Save</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
    </div>
</div>