﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.Invoice
@{
    List<udf_GetAttachmentNotaRetur> listDoc = ViewBag.listDocument;
    string reff = ViewBag.Reference;
    <input type="hidden" id="reff" data-role="tagsinput" class="form-control" value="@ViewBag.Reference" />
    <input type="hidden" id="typedoc" data-role="tagsinput" class="form-control" value="typededc" runat="server" />

    <input type="hidden" id="file" data-role="tagsinput" class="form-control" value="filename" runat="server" />
    <input type="hidden" id="business-type" data-role="tagsinput" class="form-control" value="@ViewBag.BusinessType" />
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-attachment">Nota Retur</h4>
</div>

<div class="modal-body">
    <form id="formNotaReturUpload">
        @Html.HiddenFor(x => x.da_code)
        @(Html.Kendo().Grid(listDoc)
                    .Name("DocumentFileGridInitial")
                    .ToolBar(t => t.Template(
                                        @<text>
                                            <div class="row" style="margin-right:0">
                                                <input type="text" id="CRNumber" name="Credit Note Number" hidden="true"/>
                                                <div id="div-ddlupload" class="col-md-4">
                                                    <select id="DocumentTypeUploadInitial" class="form-control" >
                                                        @*<option value="Notur">Nota Retur</option>*@
                                                        <option value="NoturSignOff">Credit Note Sign Off</option>
                                                        <option value="NoturDGT">Credit Note DGT</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-8">
                                                    @(Html.Kendo().Upload()

                                                                .Name("files")
                                                                .HtmlAttributes(new { aria_label = "files" })
                                                                .Async(a =>


                                                                a.SaveUrl(@Url.Action("Upload", "AttachmentNotaRetur"))
                                                                .AutoUpload(true)


                                                                )
                                                                .Events(evt =>
                                                                {
                                                                    //evt.Select("onDropdownList");
                                                                    evt.Select("onSelectUpload");
                                                                    evt.Success("onSuccessUploadInitial");
                                                                    evt.Progress("onProgressUpload");
                                                                    evt.Complete("onCompleteUpload");
                                                                    evt.Upload("onUpload");
                                                                })
                                                                .ShowFileList(false)
                                                                .Validation(v => v.AllowedExtensions(new string[] { ".pdf" }))
                                                    )
                                                </div>
                                            </div>
                                        </text>
                                                              ))
                                                             .Columns(columns =>
                                                             {
                                                                 columns.Bound(f => f.filename).Title("File Name").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                                                 @"#if(reference){#
                                     <a href='" + Url.Action("Document", "AttachmentNotaRetur", new { Area = "Core" }) + @"?id=#:attachment_notaretur_id#'>
                                        <span #if(Status=='Delete'){# style='text-decoration: line-through;'#}#>
                                          #:filename#
                                        </span>
                                     </a>
                                             #}else{#
                                                <a href='" + Url.Action("Temp", "AttachmentNotaRetur", new { Area = "Core" }) + @"?filepath=#:filepath#&filename=#:filename#'>
                                                  <span #if(Status=='Delete'){# style='text-decoration: line-through;'#}#>
                                                     #:filename#
                                                  </span>
                                               </a>
                                                #}#"
                                                                       ).Width(400);
                                                                 columns.Bound(f => f.document_type).Title("Document Type").HtmlAttributes(new { @class = "k-nowrwaptext" })
                                                                 .Width(400);
                                                                 columns.Bound(f => f.attachment_notaretur_id).Hidden(true);
                                                                 columns.Bound(c => c.reference).Title("Action").Width(75).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Sortable(false).Filterable(false).ClientTemplate(
                                                                   @"#if(DocumentType!='Pdf'){#
                                                   #if(Status != 'Delete'){#
                                                     <a class='btn btn-xs btn-danger k-grid-delete-doc' onclick='App.NotaReturManagement.DeleteDocumentInitial(this)'>Delete</a>
                                                       #}else{#
                                                       <a class='btn btn-xs btn-success k-grid-undo-doc' onclick='App.NotaReturManagement.UndoDocumentInitial(this)'>Undo</a>
                                                    #}}#"
                                                                );
                                                             })

                                                                       .NoRecords(x => x.Template("No Documents"))
                                                                        .DataSource(dataSource => dataSource
                                                                        .Ajax()
                                                                        .PageSize(10)
                                                                        .Model(m => m.Id(f => f.reference))
                                                                        .Read(read => read.Url(@Url.Action("GetListDocuments", "AttachmentNotaRetur", new { area = "Core" })).Data("getDocumentParameter"))
                                                                    )

        )
    </form>
</div>
<div class="modal-footer" id="buttons">
    <div class="btn-group btn-group-m" id="actionbuttons">
        @if (AclHelper.HasPermission("App.NotaReturManagement.AttachmentNotaRetur.Save") == true)
        {
            <button type="button" class="btn green" id="btnSaveUploadNotaRetur" onclick="App.NotaReturManagement.SaveUploadDocumentInitial(this)">Save</button>
        }
    </div>
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DocumentFileGridInitial').contents().wrap('<div class="grid-scroll-container"></div>');
    });

</script>
