﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.Invoice
@{
    List<udf_GetInvoiceNumberNotur> listDoc = ViewBag.listDocumentScan;
    string invoice = ViewBag.InvoiceNo;
    <input type="hidden" id="invoice" data-role="tagsinput" class="form-control" value="@ViewBag.InvoiceNo" />
    <input type="hidden" id="file" data-role="tagsinput" class="form-control" value="filename" runat="server" />
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-scan">Invoice</h4>
</div>

<div class="modal-body">
    <form id="formInvoiceNoturUpload">
        @*@Html.HiddenFor(x => x.da_code)*@
        @(Html.Kendo().Grid(listDoc)
                            .Name("DocumentScanGridInitial")
                            .ToolBar(t => t.Template(
                                                @<text>
                                                    <div class="row" style="margin-right:0">
                                                        <div id="div-ddlupload" class="col-md-4">
                                                            <select id="DocumentTypeUploadInitial" class="form-control">
                                                                <option value="Dokumen">Invoice</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().Upload()
                                                                                .Name("files")
                                                                                .HtmlAttributes(new { aria_label = "files" })
                                                                                .Async(a => a
                                                                                    .SaveUrl(@Url.Action("UploadScanNotur", "ScanInvoice", new { Area = "Core" }) + @"?invoice=" + @invoice)
                                                                                    .AutoUpload(true)
                                                                                )
                                                                                .Events(evt =>
                                                                                {
                                                                                                evt.Select("onSelectUploadScan");
                                                                                                evt.Success("onSuccessUploadScanInitial");
                                                                                                evt.Progress("onProgressUpload");
                                                                                                evt.Complete("onCompleteUpload");
                                                                                            })
                                                                                .ShowFileList(false)
                                                                                .Validation(v => v.AllowedExtensions(new string[] { ".pdf" }))
                                                            )
                                                        </div>
                                                    </div>
                                                </text>
                                                                          ))
                                                                         .Columns(columns =>
                                                                         {
                                                                             columns.Bound(f => f.filename).Title("File Name").HtmlAttributes(new { @class = "k-nowrwaptext" }).ClientTemplate(
                                                                             @"#if(invoice_number){#
                                         <a href='" + Url.Action("DocumentScan", "ScanInvoice", new { Area = "Core" }) + @"?id=#:attachment_invoice_notur_id#'>
                                            <span #if(Status=='Delete'){# style='text-decoration: line-through;'#}#>
                                              #:filename#
                                            </span>
                                         </a>
                                                 #}else{#
                                                   <a href='" + Url.Action("TempScan", "ScanInvoice", new { Area = "Core" }) + @"?filepath=#:filepath#&filename=#:filename#'>
                                                      <span #if(Status=='Delete'){# style='text-decoration: line-through;'#}#>
                                                         #:filename#
                                                      </span>
                                                   </a>
                                                       #}#"
                                                                                   ).Width(400);
                                                                             columns.Bound(f => f.attachment_invoice_notur_id).Hidden(true);
                                                                             columns.Bound(c => c.invoice_number).Title("Action").Width(75).HtmlAttributes(new { @class = "text-center", style = "overflow: visible;" }).Sortable(false).Filterable(false).ClientTemplate(
                                                                               @"#if(DocumentType!='Pdf'){#
                                                       #if(Status != 'Delete'){#
                                                         <a class='btn btn-xs btn-danger k-grid-delete-doc' onclick='App.NotaReturManagement.DeleteScanInitial(this)'>Delete</a>
                                                           #}else{#
                                                           <a class='btn btn-xs btn-success k-grid-undo-doc' onclick='App.NotaReturManagement.UndoScanInitial(this)'>Undo</a>
                                                        #}}#"
                                                                            );
                                                                         })
                                                                                   .NoRecords(x => x.Template("No Documents"))
                                                                                    .DataSource(dataSource => dataSource
                                                                                    .Ajax()
                                                                                    .PageSize(10)
                                                                                    .Model(m => m.Id(f => f.invoice_number))
                                                                                    .Read(read => read.Url(@Url.Action("GetListDocumentsScan", "ScanInvoice", new { area = "Core" })).Data("getInvoiceParameter"))
                                                                                )

        )
    </form>
</div>
<div class="modal-footer" id="buttons">
    <div class="btn-group btn-group-m" id="actionbuttons">
        @if (AclHelper.HasPermission("App.NotaReturManagement.ScanInvoice.Save") == true)
        {
            <button type="button" class="btn green" id="btnSaveUploadScan" onclick="App.NotaReturManagement.SaveUploadScanInitial(this)">Save</button>
        }
    </div>
    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DocumentScanGridInitial').contents().wrap('<div class="grid-scroll-container"></div>');
    });
</script>