﻿@model Tam.Ebilling.Domain.Invoice
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Tax Invoice</h4>
</div>

<div class="row" style="margin-left:0px; margin-right: 0px">
    <div class="col-md-4 ">
        <div class="portlet light bordered" style="margin-top: 10px">
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Tax</label>
                            <input type="text" id="tax" class="form-control" style="text-align: right" readonly value="@string.Format(" {0:#,0.00}",@Model.tax_invoice)" />

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="portlet light bordered" style="margin-top: 10px">
            <input type="hidden" id="invoiceNo" class="form-control" style="text-align: right" readonly value="@Model.tax_invoice" />
            <input type="button" id="buttonId" class="k-button k-primary downloadBtn" value="Download PDF" />
            <!--  <a href="C://Users/solution/Source/Workspaces/TAM - eBilling/Tam.Ebilling.Master/Tam.Ebilling/Tam.Ebilling.Web/Areas/Core/Views/Invoice/contoh.pdf" target="_blank">Download PDF </a>
       -->
            <!-- <a href="@Url.Action("DownloadPDF", "Invoice" )?Id='+@Model.tax_invoice+' " class="k-button k-primary downloadBtn">

         Download PDF

     </a>-->
        </div>
        <div class="demo-section k-content" style="margin-top: 10px">
            @*<iframe src="@Url.Action("GetPDF")?Id='+@Model.tax_invoice+' " height="500" width="500" onload="iframe_load()"></iframe>*@
            <iframe id="taxInv" height="500" width="500"></iframe>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var invoice_number = '@Model.tax_invoice';
        var invnumb = "'" + invoice_number + "'";

        $.ajax({
            //url: '/NotaRetur/ExportPDF',
             url: '@Url.Action("ExportPDF", "NotaRetur", new { Area = "Core" })',
            type: 'POST',
            dataType: 'json',
            data: {
                id: invnumb
            },
            success: function (r) {
                console.log(r);
                if (r.result.Result == false) {
                    document.getElementById('buttonId').disabled = true;
                    swal("Warning", r.result.Message, "error");
                } else {
                    document.getElementById('buttonId').disabled = false;
                    $("#taxInv").attr("src", "data:application/pdf;base64," + r.result.Url);
                }

            },
            error: function () {
                swal("Warning", "Failed to retrieve Tax Invoice", "warning");
            }
        });
    });
</script>

<script type="text/javascript">
    $('#buttonId').click(function () {
        //var invnumb = $('#invoiceNo').val();
        var invnumb = '@Model.tax_invoice'
        var invnumb = "'" + invnumb + "'";
        $.ajax({
            //url: '/NotaRetur/ExportPDF',
              url: '@Url.Action("ExportPDF", "NotaRetur", new { Area = "Core" })',
            type: 'POST',
            dataType: 'json',
            data: {
                id: invnumb
            },
            success: function (data) {
                var urldata = data.linkdata;
                if (urldata == "") {
                    //alert("File PDF Is Not Avalaible");
                }
                 else
                {
                    var url = "@Url.Action("DownloadPDF", "NotaRetur", new { Area = "Core" })?id=" + invnumb;
                                window.location.href = url;
                            }
                        },
            error: function () {
            }
        });
    });

    function iframe_load() {

    }
</script>
