﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.WHT>()
                .Name("WHTGrid")
                .Columns(columns =>
                {
                    columns.Bound(o => o.id)
                        .ClientTemplate("<input type='checkbox' name='checkedRecords' #= IsSelected ? checked='checked':'' # class='cbAdvisor' value='#= id #'/>")
                        .HeaderTemplate("<input type='checkbox' id='masterCheckBox' class='checkbox_check' onclick='checkAll(this)'/>")
                        .Width(40)
                        .Sortable(false)
                        .Filterable(false)
                        .Title("Select All");
                    columns.Bound(o => o.id).Hidden(true).Title("ID");
                    columns.Bound(o => o.tax_article).Width(60).Title("<center>Tax<br>Article</center>");
                    columns.Bound(o => o.wht_number).Width(140).Title("<center>WHT Number</center>");
                    columns.Bound(o => o.wht_date).Format("{0:dd-MM-yyyy}").Title("<center>WHT<br>Date</center>").Width(75);
                    columns.Template(e => { }).ClientTemplate("" +
                    "#if (tax_period_month.length  == '1'){#" +
                    "<div style='text-align:right;'> 0#= kendo.toString(tax_period_month, 'n')#</div>" +
                    "#}else{#" +
                    "<div style='text-align:right;'>#= kendo.toString(tax_period_month, 'n')#</div>" +
                    "#}# ").Width(100).Title("<center>Tax<br>Period<br>Month</center>");
                    columns.Bound(o => o.tax_period_year).Width(60).Title("<center>Tax<br>Period<br>Year</center>");
                    columns.Bound(o => o.dealer_name).Width(250).Title("<center>Dealer Name</center>");
                    columns.Bound(o => o.original_dealer_name).Width(300).Title("<center>Original Dealer Name</center>");
                    columns.Bound(o => o.dealer_npwp).Width(130).Title("<center>Dealer NPWP</center>");
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(wht_based_amount, 'n')#</div>").Width(150).Title("<center>WHT Based Amount</center>");
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(wht_tarif, 'n')# %</div>").Width(80).Title("<center>WHT<br>Tarif</center>");
                    columns.Template(e => { }).ClientTemplate("<div style='text-align:right;'>#= kendo.toString(wht_amount, 'n')#</div>").Width(150).Title("<center>WHT Amount</center>");
                    columns.Bound(o => o.wht_description).Width(300).Title("<center>Description</center>");
                    columns.Bound(o => o.invoice_number).Width(150).Title("<center>Invoice Number</center>");
                    columns.Bound(o => o.invoice_date).Format("{0:dd-MM-yyyy}").Title("<center>Invoice<br>Date</center>").Width(75);
                    columns.Bound(o => o.map_code).Width(80).Title("<center>MAP Code</center>");
                    columns.Bound(o => o.trans_type_desc).Width(300).Title("<center>Tax Type Description</center>");
                    columns.Template(e => { }).ClientTemplate(@"#if(pdf_wht_status=='1'){#
                    <div style='text-align:center;' data-toggle='#=kendo#' title='Exist'/><img src='../../Content/img/icon-pdf.png' width='50%' height='50%'></img></div>
                    #} else {#
                    <div style='text-align:center;' data-toggle='#=kendo#' title='Not Exist'/></div>
                    #}#").Width(80).Title("<div style='text-align:center'>PDF<br>Withholding<br>Status</div>");
                })
                .ToolBar(toolbar =>
                {
                    toolbar.Template(@<text>
<div class="toolbar">
    <a class='k-grid-exportpdf2 btn btn-xs btn-info' href="javascript:;" type='button'><i class="fa fa-file-excel-o"></i>Print Withholding PDF</a>
    <div class='btn-group pull-right' style="margin-right: 15px">
        <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>
        <ul class='dropdown-menu pull-right' role='menu'>
            <li>
                <a class="k-grid-downloadwhtpdf2" href='javascript:;'>Withholding PDF</a>
            </li>
            <li>
                <a class="k-grid-downloadreport2" href='javascript:;'>Report</a>
            </li>
        </ul>
    </div>
</div>
                    </text>);
                    toolbar.Excel();
                })
                                .Excel(excel => excel.FileName("WHT.xlsx")
                                    .Filterable(true)
                                    .AllPages(true)
                                )
                                .Reorderable(reorderable => reorderable.Columns(true))
                                .Resizable(resizable => resizable.Columns(true))
                                .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
                                .Sortable()
                                .Pageable()
                                .Scrollable(scrollable => scrollable.Height("300"))
                                .HtmlAttributes(new { @class = "scrollable" })
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Read(read => read.Url(@Url.Action("Read", "WHT", new { area = "Core" })))
                                    //.Filter(filter => filter.Add(field => field.wht_date).IsGreaterThanOrEqualTo(DateTime.Now.Date))
                                    //.Filter(filter => filter.Add(field => field.wht_date).IsLessThanOrEqualTo(DateTime.Now.Date))
                                    .Sort(sort => sort.Add(field => field.wht_date).Descending())
                                    .PageSize(14)
                                )
.Events(e => e.DataBound("onDataBound"))
)

<script>
    $(document).ready(function () {
        setInterval(RefreshNotification, 3000);

        $('[data-toggle="tooltip"]').tooltip()

        $("#showSelection").bind("click", function () {
            var checked = [];
            for (var i in checkedIds) {
                if (checkedIds[i]) {
                    checked.push(i);
                }
            }

            alert(checked);
        });
    });

    var checkedIds = {};

    //on click of the checkbox:
    $('#WHTGrid').on('click', '.cbAdvisor', function () {
        var checked = this.checked,
            row = $(this).closest("tr"),
            grid = $("#WHTGrid").data("kendoGrid"),
            dataItem = grid.dataItem(row);

        if (!checked) {
            $('#masterCheckBox').attr('checked', false); // Unchecks it
        }

        checkedIds[dataItem.DimAgentId] = checked;
        if (checked) {
            //-select the row
            row.addClass("k-state-selected");
        } else {
            //-remove selection
            row.removeClass("k-state-selected");
        }
    });

    //on dataBound event restore previous selected rows:
    function onDataBound(e) {
        var checkdata = true;

        if ($('input.checkbox_check').is(':checked'))
            checkdata = true;
        else
            checkdata = false;

        console.log("ondatabound");
        //console.log("e: " + e);
        //console.log(checkdata);
        var view = this.dataSource.view();
        if (checkdata == true) {
            for (var i = 0; i < view.length; i++) {
                //console.log("for");
                //console.log(i);
                if (checkedIds[view[i].DimAgentId]) {
                    //console.log(view[i].uid);
                    this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                        .addClass("k-state-selected")
                        .find(".cbAdvisor")
                        .attr("checked", "checked");
                }
            }
        }
        //var masterCbChecked = $("#masterCheckBox").is(':checked');
        //var grid = $("#WHTGrid").data("kendoGrid");

        //if(!masterCbChecked)
        //{
        //    checkedIds = {};
        //}
        //if (masterCbChecked) {
        //    for (var i = 0; i < grid.dataSource.total(); i++) {
        //        var dataRow = $("#WHTGrid").data("kendoGrid").dataSource.data()[i];
        //        var elementRow = grid.table.find(".cbAdvisor")[i];
        //        if (elementRow != null) {
        //            var checked = elementRow.checked,
        //                row = $(elementRow).closest("tr"),
        //                dataItem = grid.dataItem(grid.tbody.find("tr").eq(i));
        //            if (masterCbChecked) {
        //                checkedIds[dataItem.DimAgentId] = masterCbChecked;
        //                //-select the row
        //                elementRow.checked = true;
        //                row.addClass("k-state-selected");
        //                dataRow.IsSelected = true;
        //            } else {
        //                //-remove selection
        //                elementRow.checked = false;
        //                row.removeClass("k-state-selected");
        //                dataRow.IsSelected = false;
        //            }
        //        }
        //    }
        //}
    }

    function checkAll(ele) {
        console.log("cekall");
        var state = $(ele).is(':checked');
        var grid = $("#WHTGrid").data("kendoGrid");
        //grid.dataSource.pageSize(grid.dataSource.total());

        //  var displayedData = $("#WHTGrid").data().kendoGrid.dataSource.view()

        // grid.dataSource.read();
        //var data2= grid.dataSource.read();
        //var displayedData = grid.dataSource.data()

        //var displayedDataAsJSON = JSON.stringify(displayedData);
        //alert(displayedDataAsJSON);
        //grid.refresh();
        checkedIds = {};

        for (var i = 0; i < grid.dataSource.total(); i++) {
            var dataRow = $("#WHTGrid").data("kendoGrid").dataSource.data()[i];
            var elementRow = grid.table.find(".cbAdvisor")[i];
            if (elementRow != null) {
                var checked = elementRow.checked,
                    row = $(elementRow).closest("tr"),
                    dataItem = grid.dataItem(grid.tbody.find("tr").eq(i));

                if (state) {
                    checkedIds[dataItem.DimAgentId] = state;
                    //-select the row
                    elementRow.checked = true;
                    row.addClass("k-state-selected");
                    dataRow.IsSelected = true;
                } else {
                    //-remove selection
                    elementRow.checked = false;
                    row.removeClass("k-state-selected");
                    dataRow.IsSelected = false;
                }
            }

            //mark for paging
            if (dataRow != null) {
                if (state) {
                    dataRow.IsSelected = true;
                    //alert(dataRow.id);
                } else {
                    dataRow.IsSelected = false;
                }
            }
        };

        ////var index = grid.dataSource.indexOf() + 1; // find where item is in data source
        //var entityGrid = $("#WHTGrid").data("kendoGrid");
        //var data = entityGrid.dataSource.data();
        //var totalNumber = data.length;

        //grid.dataSource.pageSize(totalNumber);
    }
</script>
