﻿@section scripts {
    @*    <script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

    @Html.Partial("~/Areas/Core/Views/Kwitansi/Script/_Kwitansi.cshtml")
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
}

<div id="InvoiceDetailModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div id="TaxInvoiceModal" class="modal fade bs-modal-lg" abindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Kwitansi</span>
        </h1>
    </div>
</div>

<!--<a id="btnTest" class="btn btn-primary">Test Button</a>-->

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="KwitansiGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Business Unit</label>
                            <select class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "business_unit" }'>
                                <option value="Others">Others</option>
                                <option value="Motor Vehicle">Motor Vehicle</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Transaction Type</label>
                            @*<input class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "transaction_type_id" }' />*@

                            @Html.DropDownList("DDLTransactionType", new SelectList(ViewBag.TransactionType, "transaction_type_id", "transaction_name"), new
                          {
                              @class = "select2local form-control select2-multiple",
                              @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"transaction_type_id\" }",
                              multiple = "multiple"
                          })
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>No Invoice</label>
                            <input type="text" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "invoice_number" }' />
                            <!--<input type="text" data-role="tagsinput" class="form-control" />-->
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="form-group">
                            <label>Month</label>
                            <select id="docdate" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "doc_date" }'>
                                <option value="-01-">January</option>
                                <option value="-02-">February</option>
                                <option value="-03-">March</option>
                                <option value="-04-">April</option>
                                <option value="-05-">May</option>
                                <option value="-06-">June</option>
                                <option value="-07-">July</option>
                                <option value="-08-">August</option>
                                <option value="-09-">September</option>
                                <option value="-10-">October</option>
                                <option value="-11-">November</option>
                                <option value="-12-">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group">
                            <label>Document Status</label>
                            <select id="docstatus" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_tax_attc_available" }'>
                                <option value="1">Completed</option>
                                <option value="0">Not Completed</option>
                            </select>
                        </div>
                    </div>
                    @*<div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label>Month</label>
                <div class="row">
                        <div class="input-group">
                            <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "doc_date" }'>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label>Document Status</label>
                <select id="docstatus" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "contains", "field": "is_tax_attc_available" }'>
                    <option value="1">Completed</option>
                    <option value="0">Not Completed</option>
                </select>
            </div>
        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-9">
                        @*<span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> </span>*@
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/Kwitansi/Component/_KwitansiGrid.cshtml")
        <script>
            $(document).ready(function () {
                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))

                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy'
                    }).on('changeDate', function (date) {
                        var dateFrom = $("#dateFrom");
                        var dateTo = $("#dateTo");

                        if (dateFrom.val() != null && dateTo.val() != null) {

                            dateFrom = dateFrom.data('datepicker').dates.get();
                            dateTo = dateTo.data('datepicker').dates.get();

                            console.log("Date From: " + dateFrom);
                            console.log("Date To: " + dateTo);

                            if (dateFrom > dateTo) {
                                swal('Warning', 'Date To must be higher than Date From.', "error");
                            }
                        }
                    });

                //create AutoComplete UI component
                $("#transtipe").kendoAutoComplete({
                    dataSource: data,
                    dataTextField: "transaction_name",
                    dataValueField: "transaction_type_id",
                    // change: function () {
                    //  var tipe = this.value();
                    // console.log("selected tipe ", tipe);
                    // },
                    filter: "startswith",
                    placeholder: "Transaction Type",
                    //separator: " "
                });
            });
        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>