﻿@(Html.Kendo().Grid<Tam.Ebilling.Domain.Invoice>()
            .Name("InvoiceGrid")
            .Events(x => x.ExcelExport("excelExport"))
            .Columns(columns =>
            {
            //columns.Template(e => { }).ClientTemplate("<a onclick='clearNotif(this)' class='k-grid-detail' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#'  data-transactiontype='#:transaction_type#' " +
            //    "data-pphno='#:pph_no#' data-totalamount='#:total_amount#' data-dpp='#:dpp#' data-tax='#:tax#' data-rate='#:rate#' " +
            //    "data-amountpph='#:amount_pph#' data-currency='#:currency#' data-transactiontypeid='#:transaction_type_id#'>#:invoice_number#</a> + " +
            //    "&nbsp;<span class='notif' id='#= kendo.toString(replaceString(replaceString(invoice_number)))#'></span>").Width(130).Title("Invoice No");
            columns.Template(e => { }).ClientTemplate("<a class='k-grid-detail' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#'  data-transactiontype='#:transaction_type#' data-pphno='#:pph_no#' data-totalamount='#:total_amount#' data-dpp='#:dpp#' data-tax='#:tax#' data-rate='#:rate#' data-amountpph='#:amount_pph#' data-currency='#:currency#' data-transactiontypeid='#:transaction_type_id#' data-dormitory='#:dormitory#' data-vat='#:vat_dormitory#'>#:invoice_number#</a><span class='notif' id='#= kendo.toString(replaceString(replaceString(invoice_number)))#'></span>").Width(130).Title("DA No");
            columns.Bound(o => o.transaction_type).Width(140).Title("Transaction Type");
            columns.Bound(o => o.doc_date).Format("{0:dd-MM-yyyy}").Title("Doc. Date").Width(75);
            columns.Bound(o => o.due_date).Format("{0:dd-MM-yyyy}").Title("Due Date").Width(75);
            columns.Bound(o => o.currency).Width(60).Title("Curr.");
            //columns.Bound(o => o.total).Width(60).Title("Total");
            columns.Template(e => { }).ClientTemplate("" +
                "#if (is_retur && business_unit != 'Spare Part'){#" +
                    //"<div style='text-align:right;'>#= kendo.toString(total_amount * -1, 'n')#</div>" +
                    "<div style='text-align:right;'>#= kendo.toString(total_amount, 'n')#</div>" +
                "#}else{#" +
                    "<div style='text-align:right;'>#= kendo.toString(total_amount, 'n')#</div>" +
                "#}# ").Width(100).Title("Total Amount");
            //columns.Template(e => { }).ClientTemplate(@"#if(business_unit == 'Others') {#<div style='text-align:right;'>#= kendo.toString(total_amount, 'n')#</div>#}
            //else if(business_unit=='Motor Vehicle') {#
            //<div style='text-align:right;'>#= kendo.toString(total, 'n')#</div>#}#").Width(100).Title("Total Amount");
            columns.Template(e => { }).ClientTemplate(@"#if(ar_status=='InvStat01'){#
<div style='text-align:center;' data-toggle='#=kendo#' title='Settlement'/><img src='#:ar_status_img_url#'</img></div>
#} else if(ar_status=='InvStat02'){#
<div style='text-align:center;' data-toggle='#=kendo#' title='Outstanding Overdue'/><img src='#:ar_status_img_url#'</img></div>
#} else if(ar_status=='InvStat03'){#
<div style='text-align:center;' data-toggle='#=kendo#' title='Outstanding Range'/><img src='#:ar_status_img_url#'</img></div>
#}  else if(ar_status=='InvStat05'){#
<div style='text-align:center;' data-toggle='#=kendo#' title='DA Cancel'/><img src='#:ar_status_img_url#'</img></div>
#} else {#
<div style='text-align:center;' data-toggle='#=kendo#' title='Due Date Now'/><img src='#:ar_status_img_url#'</img></div>
#}#").Width(60).Title("<div style='text-align: center'>AR<br>Status</div>");
            columns.Template(e => { }).ClientTemplate("" +
            "#if (business_unit != 'Spare Part'){#" +
            " <a class='k-grid-tax' data-invoicenumber='#:invoice_number#' data-businessunitid='#:business_unit_id#' data-tax_invoice='#:tax_invoice#'>#:tax_invoice#</a>" +
            "#}else{#" +
            "<div class='btn-group'>" +
            "<button style='font-size:9px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Tax Invoices<i class='fa fa-angle-down'></i></button>" +
            "<ul class='dropdown-menu pull-right' role='menu'>" +
            "#=splitTax(tax_invoice, invoice_number, business_unit_id)#" +
            "</ul></div>" +
            "#}# ").Width(130).Title("Tax Invoice");
            columns.Bound(o => o.pph_no).Title("PPH 22 No").Hidden(true).Width(78);
            columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
                </text>).ClientTemplate("#if(inv_downloaded == 1){#" +
                     "<div style='text-align:center'><img src = '../../Content/img/ico-invoice.png' data-toggle='#=kendo.toString(downloaded_date,'yyyy-MM-dd')#' title='Last Downloaded on #= kendo.toString(downloaded_date,'dd-MM-yyyy')#, by #= downloaded_by# '') /></div>" +
                     "#}else{#" +
                     "<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo#' title='Not Downloaded' /></div>" +
                     "#}#")
                             .Title("<div style='text-align: center'>Invoice QR<br>Status</div>").Width(60);
                columns.Template(@<text>@Html.ActionLink(@item.invoice_number.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
                        </text>).ClientTemplate("#if(inv_scan_downloaded == 1){#<div style='text-align:center'><img src = '../../Content/img/ico-invoice.png' data-toggle='#=kendo.toString(downloadedscan_date,'yyyy-MM-dd')#' title='Last Downloaded on #= kendo.toString(downloadedscan_date,'dd-MM-yyyy')#, by #= downloadedscan_by# '') /></div>#}else{#<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo#' title='Not Downloaded' /></div>#}#")
                                     .Title("<div style='text-align: center'>Invoice<br>Status</div>").Width(60);
                columns.Template(@<text>@Html.ActionLink(@item.da_no.ToString(), "DownloadNotaRetur", "Invoice", new { da_number = HttpUtility.UrlEncode(@item.da_no) })
                </text>).ClientTemplate("#if(pi_downloaded == 1){#" +
                        "<div style='text-align:center'><img src = '../../Content/img/ico-invoice.png' data-toggle='#=kendo.toString(pi_downloaded_date,'yyyy-MM-dd')#' title='Last Downloaded on #= kendo.toString(pi_downloaded_date,'dd-MM-yyyy')#, by #= pi_downloaded_by# '') /></div>" +
                        "#}else{#" +
                        "<div style='text-align:center'><img src = '../../Content/img/ico-allinvoice.png' data-toggle='#=kendo#' title='Not Downloaded' /></div>" +
                        "#}#")
                .Title("<div style='text-align: center'>PI<br>Status</div>").Width(60);
                //addnew
                columns.Bound(o => o.ApprovalStatus).Title("Approval Status").Hidden(true).Width(78);
                columns.Bound(o => o.PDFWithholding).Title("Pdf_Holding").Hidden(true).Width(78);
                columns.Bound(o => o.pdf_wht_fname).Title("Pdf_wht_fname").Hidden(true).Width(78);

                    @*columns.Template(@<text></text>).ClientTemplate("#if( customer_group != '"+ @ViewBag.Customer +"'){#<div class='btn-group'>" +
                        "<button style='font-size:10px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                        "<ul class='dropdown-menu pull-right' role='menu'>" +
                        "<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
                        "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' href='javascript:;' >Attachment</li>" +
                        "</ul></div>" +
                        "<span style='float: center'> <a style='font-size:9px' class='btn btn-xs btn-primary blue k-grid-uploadinvoice' data-loader='true' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' title='Upload Scan Invoice' type='button' style='width:20px'>" +
                                        "<i class='fa fa-upload'></i></span>#}else{#<div class='btn-group'>" +
                        "<button style='font-size:10px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                        "<ul class='dropdown-menu pull-right' role='menu'>" +
                        "<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
                        "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' href='javascript:;' >Attachment</li>" +
                        "</ul></div>#}#").Title(" <center>Action</center>").Width(140);*@
columns.Bound(o => o.da_code).Title("DA Code").Hidden(true);
columns.Bound(o => o.business_unit).Title("Business Unit").Hidden(true);
columns.Template(@<text></text>).ClientTemplate("#if( customer_group != '" + @ViewBag.Customer + "'){#<div class='btn-group'>" +
                                "<button style='font-size:10px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                                "<ul class='dropdown-menu pull-right' role='menu'>" +
                                "<li>" +
                                "#if ('" + @ViewBag.IsAllowedDownloadInvoiceQR + "' == 'True') {if( business_unit != 'Spare Part'){#" +
                                "<a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice QR</a>" +
                                "#}else{#" +
                                "<a href = '" + Url.Action("DownloadInvoiceSparepart", "Invoice", new { daNumber = "#=invoice_number#" }) + "'>Invoice QR</a>" +
                                "#}}#</li>" +
                                "#if ('" + @ViewBag.IsAllowedDownloadInvoice + "' == 'True') {if( business_unit == 'Others'){#" +
                                "<li><a class='k-grid-download-scaninvoice' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=downloadScan(\'#:invoice_number#\')>Invoice</li>" +
                                "#}}#" +
                                "#if ('" + @ViewBag.IsAllowedDownloadAttachment + "' == 'True') {if( business_unit != 'Motor Vehicle'){#" +
                                "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;' >Attachment</li>" +
                                "#}}#" +
                                "#if ('" + @ViewBag.IsAllowedDownloadPI + "' == 'True') {if( business_unit == 'Spare Part'){#" +
                                "<li><a class='k-grid-download-delivery-note' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;'>Delivery Note</a></li>" +
                                "#}}#" +
                                //ADDNEW
                                //"#if ('" + @ViewBag.IsAllowedDownloadInvoiceQR + "' == 'True') {if( business_unit != 'Spare Part'){#" +
                                //"<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;' onclick=downloadTaxInvoice(\'#=invoice_number#\')>TAX Invoice</li>" +
                                //"#}}#" +
                                "#if ('" + @ViewBag.IsAllowedDownloadTaxInvoice + "' == 'True') {if( business_unit != 'Spare Part'){#" +
                                "<li><a data-da_code='#=da_code#' data-tax_invoice='#=tax_invoice#' data-business_unit='#:business_unit#' href='javascript:;' onclick=downloadTaxInvoice(\'#=tax_invoice#\')>Tax Invoice</li>" +
                                "#}}#" +
                                "#if ('" + @ViewBag.IsAllowedDownloadWhtPDF + "' == 'True') {if( business_unit == 'Motor Vehicle'){#" +
                                "<li><a data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;' onclick=downloadWhtPDFROW(\'#=invoice_number#\')>Withholding Tax Art 22</li>" +
                                "#}}#" +

                                //OLD
                                //"#if ('" + @ViewBag.IsAllowedDownloadWhtPDF + "' == 'True') {if( business_unit != 'Spare Part'){#" +
                                //"<li><a class='k-grid-download-whtpdfrow' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;' onclick=downloadWhtPDFROW(\'#=invoice_number#\')>Withholding Tax Art 22</li>" +
                                //"#}}#" +
                                //END

                                //END

                                "</ul></div>" +
                                "#if ('" + @ViewBag.IsAllowedUploadInvoice + "' == 'True') {#" +
                                "<span style='float: center'> <a style='font-size:9px' class='btn btn-xs btn-primary blue k-grid-uploadinvoice' data-loader='true' data-invoice_no='#:invoice_number#' data-total_amount='#:total_amount#' data-currency='#:currency#' data-toggle='#=kendo#' title='Upload Invoice' type='button' style='width:20px'>" +
                                                "<i class='fa fa-upload'></i></a></span>" +
                                "#}# "+
                                "#}else{#<div class='btn-group'>" +
                                "<button style='font-size:10px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                                "<ul class='dropdown-menu pull-right' role='menu'>" +
                                "<li>" +
                                "#if ('" + @ViewBag.IsAllowedDownloadInvoiceQR + "' == 'True') {if( business_unit != 'Spare Part'){#" +
                                "<a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice QR</a>" +
                                "#}else{#" +
                                "<a href = '" + Url.Action("DownloadInvoiceSparepart", "Invoice", new { daNumber = "#=invoice_number#" }) + "'>Invoice QR</a>" +
                                "#}}#</li>" +
                                "#if ('" + @ViewBag.IsAllowedDownloadInvoice + "' == 'True') {if( business_unit == 'Others'){#" +
                                "<li><a class='k-grid-download-scaninvoice' data-invoice_number='#=invoice_number#' href='javascript:;' onclick=downloadScan(\'#:invoice_number#\')>Invoice</a></li>" +
                                "#}}#" +
                                "#if ('" + @ViewBag.IsAllowedDownloadAttachment + "' == 'True') {if( business_unit != 'Motor Vehicle'){#" +
                                "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;' >Attachment</a></li>" +
                                "#}}#" +
                                "#if ('" + @ViewBag.IsAllowedDownloadPI + "' == 'True') {if( business_unit == 'Spare Part'){#" +
                                "<li><a class='k-grid-download-delivery-note' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;'>Delivery Note</a></li>" +
                                "#}}#" +

                                "#if ('" + @ViewBag.IsAllowedDownloadWhtPDF + "' == 'True') {if( business_unit == 'Motor Vehicle'){#" +
                                "<li><a data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' data-business_unit='#:business_unit#' href='javascript:;' onclick=downloadWhtPDFROW(\'#=invoice_number#\')>Withholding Tax Art 22</li>" +
                                "#}}#" +

                                "</ul></div>#}#").Title(" <center>Action</center>").Width(140);
                                columns.Bound(o => o.keyword).Width(140).Title("Keyword");
                            @*columns.Template(@<text></text>).ClientTemplate("<div class='btn-group'>" +
                                "<button style='font-size:10px' class='btn btn-xs green dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download<i class='fa fa-angle-down'></i></button>" +
                                "<ul class='dropdown-menu pull-right' role='menu'>" +
                                "<li><a href = '" + Url.Action("Download", "NotaRetur", new { daNumber = "#=da_no#", businessUnit = "#:business_unit#" }) + "'>Invoice</a></li>" +
                                "<li><a class='k-grid-download-attachment' data-da_code='#=da_code#' data-invoice_number='#=invoice_number#' href='javascript:;' >Attachment</li>" +
                                "</ul></div>").Title(" <center>Action</center>").Width(140);*@
                                    })
                                                    .ToolBar(toolbar =>
                                                    {
                                                        toolbar.Template(@<text>
                                                            <div class="toolbar">
                                                                @if (ViewBag.IsAllowedExportToExcel) {
                                                                <a class='k-grid-exportexcel btn btn-xs btn-info' href="javascript:;" type='button'><i class="fa fa-file-excel-o"></i>Export To Excel</a>
                                                                }

                                                                <div class='btn-group pull-right' style="margin-right: 15px">
                                                                    @if (ViewBag.IsAllowedDownloadAll) {
                                                                    <button class='btn btn-xs btn-info dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='false'> Download All<i class='fa fa-angle-down'></i></button>
                                                                    }

                                                                    <ul class='dropdown-menu pull-right' role='menu'>
                                                                        @if (ViewBag.IsAllowedDownloadInvoiceQR) {
                                                                        <li><a class="k-grid-downloadallinvoice" href='javascript:;'>Invoice QR</a></li>
                                                                        }
                                                                        @if (ViewBag.IsAllowedDownloadInvoice) {
                                                                        <li><a class="k-grid-downloadallinvoicenew" href='javascript:;'>Invoice</a></li>
                                                                        }
                                                                        @if (ViewBag.IsAllowedDownloadAttachment) {
                                                                        <li><a class="k-grid-download-invoice" href='javascript:;'>Attachment</a></li>
                                                                        }
                                                                        <li><a class="k-grid-downloadtax" href='javascript:;'>Tax Invoice</a></li>
                                                                        @if (ViewBag.IsAllowedDownloadPI) {
                                                                        <li><a class="k-grid-download-all-pi" href='javascript:;'>Delivery Note</a></li>
                                                                        }
                                                                        @*ADDNEW*@
                                                                        @if (ViewBag.IsAllowedDownloadPPH2) {
                                                                        <li><a class="k-grid-download-allpph" href='javascript:;'>Withholding Tax Art 22</a></li>
                                                                        }
                                                                        @*END*@
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </text>);
                                                                toolbar.Excel();
                                                            })
                                                                    .Excel(excel => excel.FileName("Invoice.xlsx")
                                                                                        .Filterable(true)
                                                                                        .ProxyURL(Url.Action("Excel_Export_Save", "Invoice"))
                                                                                        .AllPages(true)
                                                                    )
                                                                    .Reorderable(reorderable => reorderable.Columns(true))
                                                                    .Resizable(resizable => resizable.Columns(true))
                                                                    .Pageable(pageable => pageable.PageSizes(new[] { 5, 10, 25, 50, 100, 200 }).ButtonCount(5))
                                                                    .Sortable()
                                                                    .Pageable()
                                                                    .Scrollable(scrollable => scrollable.Height("300"))
                                                                    .HtmlAttributes(new { @class = "scrollable" })
                                                                    .DataSource(dataSource => dataSource
                                                                    .Ajax()
                                                                    .Read(read => read.Url(@Url.Action("Read", "Invoice", new { area = "Core" })))
                                                                    .Sort(sort => sort.Add(field => field.doc_date).Descending())
                                                                    .Filter(filter => filter.Add(field => field.doc_date).IsGreaterThanOrEqualTo(DateTime.Now.Date))
                                                                    .Filter(filter => filter.Add(field => field.doc_date).IsLessThanOrEqualTo(DateTime.Now.Date))
                                                                    .PageSize(14))
)

<script type="text/javascript">
    $(document).ready(function () {
        setInterval(RefreshNotification, 3000);
    });

    var exportFlag = false;
    function excelExport(e) {

        if (!exportFlag) {
            e.sender.showColumn(1);
            e.sender.showColumn(9);
            e.sender.showColumn(12);
            e.sender.showColumn(13);
            e.sender.showColumn(14);
            e.sender.showColumn(15);
            e.sender.showColumn(16);
            e.sender.showColumn(17);
            e.preventDefault();
            exportFlag = true;
            setTimeout(function () {
                e.sender.saveAsExcel();
            });
        } else {
            e.sender.hideColumn(1);
            e.sender.hideColumn(9);
            e.sender.hideColumn(12);
            e.sender.hideColumn(13);
            e.sender.hideColumn(14);
            e.sender.hideColumn(15);
            e.sender.hideColumn(16);
            e.sender.showColumn(17);
            exportFlag = false;
        }
    }

    function replaceString(value) {
        return value.replace("/", "-");
    }

    function splitTax(taxInvoices, invoice_number, business_unit_id) {
        var stringBuilded = "";
        if (taxInvoices) {
            var splitedTaxInvoices = taxInvoices.split('#');
            for (var i = 0; i < splitedTaxInvoices.length; i++) {
                stringBuilded += "<li><a class='k-grid-tax' data-invoicenumber='" + invoice_number + "' data-businessunitid='" + business_unit_id + "' data-tax_invoice='" + splitedTaxInvoices[i] + "'>" + splitedTaxInvoices[i] + "</a></li>";
            }
        }
        return stringBuilded;
    }

    function contain(base, searchString) {
        if (base.indexOf(searchString) > -1) { // returns `-1` if it is not present.
            return true // display this
        } else {
            return false
        }
    }
</script>
