﻿<div class="row">
    <div class="col-md-12">
        <form data-grid="EmailTemplateGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Module</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "Module" }' />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Key</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "MailKey" }' />
                        </div>
                    </div>
                </div>
                <div class="filter-div" hidden="hidden">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "Title" }' />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Mail From</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "MailFrom" }' />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true, "operator": "contains", "field": "Subject" }' />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Display Name</label>
                                <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true, "operator": "contains", "field": "DisplayName" }' />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </form>
        @Html.Partial("~/Areas/Core/Views/Setting/Component/_EmailTemplateGrid.cshtml")
    </div>
</div>
