﻿<div class="row">
    <div class="col-md-12">
        <form data-grid="configGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Module</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "Module" }' />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Key</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "ConfigKey" }' />
                        </div>
                    </div>
                </div>
                <div class="row filter-div" hidden="hidden">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Value</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "ConfigValue" }' />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Text</label>
                            <input type="text" data-role="tagsinput" class="form-control" data-filter='{"multiple": true,"operator": "contains", "field": "ConfigText" }' />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @Html.Partial("~/Areas/Core/Views/Setting/Component/_ConfigGrid.cshtml")
        
    </div>
</div>
<script type="text/javascript">
    var generalSettingModule = (function($) {
        return {
            init: function() {
                $("#ConfigGrid").on("click", ".trigger-edit", function(evt) {
                    var $el = $(this),
                        $editEl = $(this).closest("tr").find(".editable");

                    evt.stopPropagation();
                    //$("#ConfigGrid").find("button.trigger-edit").prop("disa");
                    $el.attr("disabled", "disabled");
                    $editEl.editable({ url: $.helper.resolveApi("~/api/config/updateconfig"), toggle: 'manual' });
                    $editEl.editable('toggle');
                });

                $(document).on('click', '.editable-cancel, .editable-submit', function(){
                    $('.trigger-edit').removeAttr("disabled");
                })

                $("#refreshConfigBtn").on("click", function (e) {
                    e.preventDefault();
                    $.post($.helper.resolve("~/Setting/ResetConfigs"), {}, function (d) {
                        toastr["success"]("", "Success reset setting's cache");
                    });
                });
            }
        };
    })(jQuery);

    $(function () {
        generalSettingModule.init();
    });
</script>