﻿@*@section modals {
    @Html.Partial("~/Areas/Core/Views/Setting/EditorTemplates/EmailTemplate.cshtml")
    @Html.Partial("~/Areas/Core/Views/Setting/EditorTemplates/Config.cshtml")
}*@
@section styles{
    <link href="~/Content/theme/Metronic/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/theme/Metronic/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/theme/Metronic/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Content/theme/Metronic/global/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js"></script>
    <script src="~/Content/theme/Metronic/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/Content/theme/Metronic/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script src="~/Content/theme/Metronic/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="~/Content/theme/Metronic/global/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js"></script>

    @Html.Partial("~/Areas/Core/Views/Setting/Script/_Setting.cshtml")
}

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Setting</span> <small>Show and change application settings</small>
        </h1>
    </div>
</div>

<div class="portlet light margin-bottom-0 setting">
    <div class="portlet-body">
        <div class="tab-container tabbable-line">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_general" data-toggle="tab">Config</a>
                </li>
                <li>
                    <a href="#tab_email_templates" data-toggle="tab">Email Templates</a>
                </li>
                <li>
                    <a href="#tab_security" data-toggle="tab">Security</a>
                </li>
                <li>
                    <a href="#tab_smtp" data-toggle="tab">Email (SMTP)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_general">
                    @Html.Partial("~/Areas/Core/Views/Setting/_GeneralSetting.cshtml")
                </div>
                <div class="tab-pane" id="tab_email_templates">
                    @Html.Partial("~/Areas/Core/Views/Setting/_EmailTemplateSetting.cshtml")
                </div>
                <div class="tab-pane" id="tab_security">
                    @Html.Partial("~/Areas/Core/Views/Setting/Component/_SecurityForm.cshtml")
                </div>
                <div class="tab-pane" id="tab_smtp">
                    @Html.Partial("~/Areas/Core/Views/Setting/Component/_EmailSettingForm.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        App.SettingManagement = new SettingManagement();
        App.SettingManagement.InitManagement();
    })
</script>
