﻿
@section scripts {
    @Html.Partial("~/Areas/Core/Views/DRKB/Script/_DRKB.cshtml")
}
 

<div class="page-head">
    <div class="page-title">
        <h1>
            <span>Daftar Rincian Kendaraan Bermotor</span>
        </h1>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-body">
        <form data-grid="DRKBGrid" data-filter="true" data-logical-operator="and">
            <div class="inputs inputs-full-width">

                <div class="row filter-div" hidden="hidden">

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Tax Number
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "TaxNumber" }' />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 filter-div" hidden="hidden">
                        <div class="form-group">
                            <label>
                                Frame Number
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "FrameNumber" }' />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Business Unit</label>
                            <select id="business-unit" class="select2local form-control select2-multiple" multiple="multiple" data-filter='{"multiple": true, "operator": "eq", "field": "BusinessUnit" }'>
                                <option value="Lexus-Motor Vehicle">Lexus-Motor Vehicle</option> 
                                <option value="Motor Vehicle">Motor Vehicle</option> 
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group" style="padding-left: 5px;padding-right: 5px;">
                            <label>Tax Date</label>
                            <div class="row">
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateFrom" class="form-control date-picker" data-provide="datepicker" placeholder="From" data-filter='{ "operator": "gte", "formatType": "date", "format": "dd/MM/yyyy", "field": "TanggalFaktur" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 47%">
                                    <div class="input-group">
                                        <input type="text" id="dateTo" class="form-control date-picker" data-provide="datepicker" placeholder="To" data-filter='{ "operator": "lte", "formatType": "date", "format": "dd/MM/yyyy", "field": "TanggalFaktur" }'>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12 filter-div" hidden="hidden">
                        <div class="form-group">
                            <label>
                                Merk Name
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "MerkOrType" }' />
                        </div>
                    </div>

                    
                    <div class="col-md-4 col-sm-12 filter-div" hidden="hidden">
                        <div class="col-md-5 col-sm-12">
                            <div class="form-group">
                                <div style=" width: 500px;">VAT Based Amount</div>
                                <select id="JumlahDPPOP" class="select2local form-control select2" onchange="jumlahDPPOP(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12" style="top:-5px;">
                            <div class="form-group" id="divJumlahDPPLike">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahDPPLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "JumlahDPP" }' />
                            </div>
                            <div class="form-group" id="divJumlahDPPEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahDPPEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "JumlahDPP" }' />
                            </div>
                            <div class="form-group" id="divJumlahDPPLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahDPPLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "JumlahDPP" }' />
                            </div>
                            <div class="form-group" id="divJumlahDPPLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahDPPLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "JumlahDPP" }' />
                            </div>
                            <div class="form-group" id="divJumlahDPPGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahDPPGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "JumlahDPP" }' />
                            </div>
                            <div class="form-group" id="divJumlahDPPGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahDPPGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "JumlahDPP" }' />
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row filter-div" hidden="hidden">

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Customer NPWP
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "NPWPCustomer" }' />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Model
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "ModelType" }' />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 filter-div" hidden="hidden">

                        <div class="col-md-5 col-sm-12" >
                            <div class="form-group">
                                <div style=" width: 500px;">VAT Amount</div>
                                <select id="JumlahPPNOP" class="select2local form-control select2" onchange="jumlahPPNOP(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12" style="top:-5px;">
                            <div class="form-group" id="divJumlahPPNLike">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahPPNLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "JumlahPPN" }' />
                            </div>
                            <div class="form-group" id="divJumlahPPNEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahPPNEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "JumlahPPN" }' />
                            </div>
                            <div class="form-group" id="divJumlahPPNLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahPPNLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "JumlahPPN" }' />
                            </div>
                            <div class="form-group" id="divJumlahPPNLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahPPNLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "JumlahPPN" }' />
                            </div>
                            <div class="form-group" id="divJumlahPPNGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahPPNGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "JumlahPPN" }' />
                            </div>
                            <div class="form-group" id="divJumlahPPNGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtJumlahPPNGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "JumlahPPN" }' />
                            </div>
                        </div>

                    </div>


                </div>
                <div class="row filter-div" hidden="hidden">
                    <div class="col-md-4 col-sm-12">
                        @*<div class="form-group">
                            <label>
                                Customer Name
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "NamaCustomer" }' />
                        </div>*@
                        @if (ViewBag.Customer == null)
                        {
                            <div class="col-md-14 col-sm-13">
                                <div class="form-group">
                                    <label>Customer Name</label>
                                    @Html.DropDownList("DDLCustomerName", new SelectList(ViewBag.CustomerName, "customer_group_id", "customer_group_name"), new
                                   {
                                       @class = "select2local form-control select2-multiple",
                                       @data_filter = "{ \"multiple\": true, \"operator\": \"eq\", \"field\": \"customer_group\" }",
                                       multiple = "multiple"
                                   })
                                </div>
                            </div>
                        }
                        else
                        {
                        }
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Year
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "eq", "field": "year" }' />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 filter-div" hidden="hidden">

                        <div class="col-md-5 col-sm-12">
                            <div class="form-group">
                                <div style=" width: 500px;">Previous Luxury Tax Amount</div>
                                <select id="PrevLuxTaxAmountOP" class="select2local form-control select2" onchange="prevLuxTaxAmountOP(this)">
                                    <option></option>
                                    <option value="">(none)</option>
                                    <option value="EQ">=</option>
                                    <option value="LT">&lt;</option>
                                    <option value="LTE">&lt;=</option>
                                    <option value="GT">&gt;</option>
                                    <option value="GTE">&gt;=</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12" style="top:-5px;">
                            <div class="form-group" id="divPrevLuxTaxAmountLike">
                                <label>&nbsp;</label>
                                <input type="number" id="txtPrevLuxTaxAmountLike" class="form-control" data-filter='{"multiple": false,"operator": "Contains", "field": "PrevLuxTaxAmount" }' />
                            </div>
                            <div class="form-group" id="divPrevLuxTaxAmountEQ" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtPrevLuxTaxAmountEQ" class="form-control" data-filter='{"multiple": false,"operator": "IsEqualTo", "field": "PrevLuxTaxAmount" }' />
                            </div>
                            <div class="form-group" id="divPrevLuxTaxAmountLT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtPrevLuxTaxAmountLT" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThan", "field": "PrevLuxTaxAmount" }' />
                            </div>
                            <div class="form-group" id="divPrevLuxTaxAmountLTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtPrevLuxTaxAmountLTE" class="form-control" data-filter='{"multiple": false,"operator": "IsLessThanOrEqualTo", "field": "PrevLuxTaxAmount" }' />
                            </div>
                            <div class="form-group" id="divPrevLuxTaxAmountGT" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtPrevLuxTaxAmountGT" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThan", "field": "PrevLuxTaxAmount" }' />
                            </div>
                            <div class="form-group" id="divPrevLuxTaxAmountGTE" style="display:none">
                                <label>&nbsp;</label>
                                <input type="number" id="txtPrevLuxTaxAmountGTE" class="form-control" data-filter='{"multiple": false,"operator": "IsGreaterThanOrEqualTo", "field": "PrevLuxTaxAmount" }' />
                            </div>
                        </div>
                        

                    </div>
                </div>
                <div class="row filter-div" hidden="hidden">
                    @*<div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Frame Number
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "FrameNumber" }' />
                        </div>
                    </div>*@
                    @*<div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Luxury Tax Amount
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "LuxTaxAmount" }' />
                        </div>
                    </div>*@
                     <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>
                                Remarks
                            </label>
                            <input type="text" class="form-control" data-role="tagsinput" data-filter='{"multiple": true,"operator": "contains", "field": "Remarks" }' />
                        </div>
                    </div>

                </div>
               
                <div class="row">
                    <div class="col-md-9">
                        <span class="clickable-item text-muted filter-trigger" style="cursor:pointer"><i class="fa fa-angle-down"></i> Show advanced filters</span>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/_FilterAction.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br />
        @Html.Partial("~/Areas/Core/Views/DRKB/Component/_DRKBGrid.cshtml")
        <script>
            $(document).ready(function () {
                var data = @Html.Raw(Json.Encode(@ViewBag.TransactionType))

                    $('.date-picker').datepicker({
                        format: 'dd/mm/yyyy',
                        orientation: "bottom"
                    }).on('changeDate', function (date) {
                        var dateFrom = $("#dateFrom");
                        var dateTo = $("#dateTo");

                        if (dateFrom.val() != null && dateTo.val() != null) {

                            dateFrom = dateFrom.data('datepicker').dates.get();
                            dateTo = dateTo.data('datepicker').dates.get();

                            console.log("Date From: " + dateFrom);
                            console.log("Date To: " + dateTo);

                            if (dateFrom > dateTo) {
                                swal('Warning', 'Date To must be higher than Date From.', "error");
                            }
                        }
                    });

                $('*[data-role="tagsinput"]').tagsinput({
                    delimiterRegex: ' '
                });
            });


            function jumlahDPPOP(obj) {
                var val = obj.value;

                //reset
                document.getElementById("txtJumlahDPPLike").value = "";
                document.getElementById("txtJumlahDPPEQ").value = "";
                document.getElementById("txtJumlahDPPLT").value = "";
                document.getElementById("txtJumlahDPPLTE").value = "";
                document.getElementById("txtJumlahDPPGT").value = "";
                document.getElementById("txtJumlahDPPGTE").value = "";

                if (val == "EQ") {
                    document.getElementById("divJumlahDPPLike").style.display = "none";
                    document.getElementById("divJumlahDPPEQ").style.display = "";
                    document.getElementById("divJumlahDPPLT").style.display = "none";
                    document.getElementById("divJumlahDPPLTE").style.display = "none";
                    document.getElementById("divJumlahDPPGT").style.display = "none";
                    document.getElementById("divJumlahDPPGTE").style.display = "none";
                }
                else if (val == "LT") {
                    document.getElementById("divJumlahDPPLike").style.display = "none";
                    document.getElementById("divJumlahDPPEQ").style.display = "none";
                    document.getElementById("divJumlahDPPLT").style.display = "";
                    document.getElementById("divJumlahDPPLTE").style.display = "none";
                    document.getElementById("divJumlahDPPGT").style.display = "none";
                    document.getElementById("divJumlahDPPGTE").style.display = "none";
                }
                else if (val == "LTE") {
                    document.getElementById("divJumlahDPPLike").style.display = "none";
                    document.getElementById("divJumlahDPPEQ").style.display = "none";
                    document.getElementById("divJumlahDPPLT").style.display = "none";
                    document.getElementById("divJumlahDPPLTE").style.display = "";
                    document.getElementById("divJumlahDPPGT").style.display = "none";
                    document.getElementById("divJumlahDPPGTE").style.display = "none";
                }
                else if (val == "GT") {
                    document.getElementById("divJumlahDPPLike").style.display = "none";
                    document.getElementById("divJumlahDPPEQ").style.display = "none";
                    document.getElementById("divJumlahDPPLT").style.display = "none";
                    document.getElementById("divJumlahDPPLTE").style.display = "none";
                    document.getElementById("divJumlahDPPGT").style.display = "";
                    document.getElementById("divJumlahDPPGTE").style.display = "none";
                }
                else if (val == "GTE") {
                    document.getElementById("divJumlahDPPLike").style.display = "none";
                    document.getElementById("divJumlahDPPEQ").style.display = "none";
                    document.getElementById("divJumlahDPPLT").style.display = "none";
                    document.getElementById("divJumlahDPPLTE").style.display = "none";
                    document.getElementById("divJumlahDPPGT").style.display = "none";
                    document.getElementById("divJumlahDPPGTE").style.display = "";
                }
                else {
                    document.getElementById("divJumlahDPPLike").style.display = "";
                    document.getElementById("divJumlahDPPEQ").style.display = "none";
                    document.getElementById("divJumlahDPPLT").style.display = "none";
                    document.getElementById("divJumlahDPPLTE").style.display = "none";
                    document.getElementById("divJumlahDPPGT").style.display = "none";
                    document.getElementById("divJumlahDPPGTE").style.display = "none";
                }
            }

            function jumlahPPNOP(obj) {
                var val = obj.value;

                //reset
                document.getElementById("txtJumlahPPNLike").value = "";
                document.getElementById("txtJumlahPPNEQ").value = "";
                document.getElementById("txtJumlahPPNLT").value = "";
                document.getElementById("txtJumlahPPNLTE").value = "";
                document.getElementById("txtJumlahPPNGT").value = "";
                document.getElementById("txtJumlahPPNGTE").value = "";

                if (val == "EQ") {
                    document.getElementById("divJumlahPPNLike").style.display = "none";
                    document.getElementById("divJumlahPPNEQ").style.display = "";
                    document.getElementById("divJumlahPPNLT").style.display = "none";
                    document.getElementById("divJumlahPPNLTE").style.display = "none";
                    document.getElementById("divJumlahPPNGT").style.display = "none";
                    document.getElementById("divJumlahPPNGTE").style.display = "none";
                }
                else if (val == "LT") {
                    document.getElementById("divJumlahPPNLike").style.display = "none";
                    document.getElementById("divJumlahPPNEQ").style.display = "none";
                    document.getElementById("divJumlahPPNLT").style.display = "";
                    document.getElementById("divJumlahPPNLTE").style.display = "none";
                    document.getElementById("divJumlahPPNGT").style.display = "none";
                    document.getElementById("divJumlahPPNGTE").style.display = "none";
                }
                else if (val == "LTE") {
                    document.getElementById("divJumlahPPNLike").style.display = "none";
                    document.getElementById("divJumlahPPNEQ").style.display = "none";
                    document.getElementById("divJumlahPPNLT").style.display = "none";
                    document.getElementById("divJumlahPPNLTE").style.display = "";
                    document.getElementById("divJumlahPPNGT").style.display = "none";
                    document.getElementById("divJumlahPPNGTE").style.display = "none";
                }
                else if (val == "GT") {
                    document.getElementById("divJumlahPPNLike").style.display = "none";
                    document.getElementById("divJumlahPPNEQ").style.display = "none";
                    document.getElementById("divJumlahPPNLT").style.display = "none";
                    document.getElementById("divJumlahPPNLTE").style.display = "none";
                    document.getElementById("divJumlahPPNGT").style.display = "";
                    document.getElementById("divJumlahPPNGTE").style.display = "none";
                }
                else if (val == "GTE") {
                    document.getElementById("divJumlahPPNLike").style.display = "none";
                    document.getElementById("divJumlahPPNEQ").style.display = "none";
                    document.getElementById("divJumlahPPNLT").style.display = "none";
                    document.getElementById("divJumlahPPNLTE").style.display = "none";
                    document.getElementById("divJumlahPPNGT").style.display = "none";
                    document.getElementById("divJumlahPPNGTE").style.display = "";
                }
                else {
                    document.getElementById("divJumlahPPNLike").style.display = "";
                    document.getElementById("divJumlahPPNEQ").style.display = "none";
                    document.getElementById("divJumlahPPNLT").style.display = "none";
                    document.getElementById("divJumlahPPNLTE").style.display = "none";
                    document.getElementById("divJumlahPPNGT").style.display = "none";
                    document.getElementById("divJumlahPPNGTE").style.display = "none";
                }
            }

            function prevLuxTaxAmountOP(obj) {
                var val = obj.value;

                //reset
                document.getElementById("txtPrevLuxTaxAmountLike").value = "";
                document.getElementById("txtPrevLuxTaxAmountEQ").value = "";
                document.getElementById("txtPrevLuxTaxAmountLT").value = "";
                document.getElementById("txtPrevLuxTaxAmountLTE").value = "";
                document.getElementById("txtPrevLuxTaxAmountGT").value = "";
                document.getElementById("txtPrevLuxTaxAmountGTE").value = "";

                if (val == "EQ") {
                    document.getElementById("divPrevLuxTaxAmountLike").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountEQ").style.display = "";
                    document.getElementById("divPrevLuxTaxAmountLT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLTE").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGTE").style.display = "none";
                }
                else if (val == "LT") {
                    document.getElementById("divPrevLuxTaxAmountLike").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountEQ").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLT").style.display = "";
                    document.getElementById("divPrevLuxTaxAmountLTE").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGTE").style.display = "none";
                }
                else if (val == "LTE") {
                    document.getElementById("divPrevLuxTaxAmountLike").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountEQ").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLTE").style.display = "";
                    document.getElementById("divPrevLuxTaxAmountGT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGTE").style.display = "none";
                }
                else if (val == "GT") {
                    document.getElementById("divPrevLuxTaxAmountLike").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountEQ").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLTE").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGT").style.display = "";
                    document.getElementById("divPrevLuxTaxAmountGTE").style.display = "none";
                }
                else if (val == "GTE") {
                    document.getElementById("divPrevLuxTaxAmountLike").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountEQ").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLTE").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGTE").style.display = "";
                }
                else {
                    document.getElementById("divPrevLuxTaxAmountLike").style.display = "";
                    document.getElementById("divPrevLuxTaxAmountEQ").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountLTE").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGT").style.display = "none";
                    document.getElementById("divPrevLuxTaxAmountGTE").style.display = "none";
                }
            } 
        </script>

        <style>
            .k-grid td {
                border-style: solid;
                border-width: 0 0 0 1px;
                padding: .4em .6em;
                overflow: hidden;
                line-height: 1.6em;
                vertical-align: top;
                text-overflow: ellipsis;
            }

            .k-grid .k-grid-content {
                max-height: 4000px;
            }

            .k-grid tbody td {
                overflow: visible;
            }
        </style>
    </div>
</div>
