﻿@using Tam.Ebilling.Domain
@using Tam.Ebilling.Service
@model Tam.Ebilling.Domain.Invoice
<style>
    .k-upload, .k-dropzone {
        background-color: #fff;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title-attachment">Payment Confirmation</h4>
</div>
<div class="modal-body" style="min-height:300px">
    <div class="col-md-12">
        <div class="coll-md-12">
            @(Html.Kendo().Upload()
            .Name("files")
            .HtmlAttributes(new { aria_label = "files" })
            .Async(a => a
                .SaveUrl(@Url.Action("Upload", "AttachmentTransfer", new { Area = "Core" }))
                .AutoUpload(true)
            )
            .Events(evt =>
            {
                evt.Select("onSelectUpload");
                evt.Success("onSuccessUploadInitial");
                evt.Progress("onProgressUpload");
                evt.Complete("onCompleteUpload");
            })
            .ShowFileList(false)
            .Validation(v => v.AllowedExtensions(new string[] { ".pdf" }))
            )
        </div>
        <div class="col-md-6" style="margin-left:-10px">
            <form id="formInvoiceUpload">
                @(Html.Kendo().Grid<Invoice>()
            .Name("DocumentFileTransferInitial")
            .Columns(columns =>
            {
                columns.Bound(f => f.invoice_number).Title("Invoice Number").Width(150);
                columns.Bound(f => f.currency).Title("Curr").Width(80);
                columns.Bound(f => f.total_amount).Title("Amount").Width(150).ClientFooterTemplate("Summary: #=summary#");
            })
            .NoRecords(x => x.Template("No Documents"))
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Model(m => m.Id(f => f.amount_pph))
            .Read(read => read.Url(@Url.Action("GetListDocuments", "AttachmentNotaRetur", new { area = "Core" })).Data("getDocumentParameter"))
            )

                )
            </form>
        </div>
        <div class="col-md-6">
            <div class="form-body">
                <div class="form-group col-md-12" style="padding:0">
                    <label class="col-md-3 control-label" style="margin-top:5px">Payment Date</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                
                <div class="form-group col-md-12" style="padding:0">
                    <label class="col-md-3 control-label" style="margin-top:5px">Total Payment</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="border-top: 1px solid #e5e5e5 !important">
    
        <button type="button" class="btn green" id="btnSave">Save</button>
        <button type="button" class="btn green" id="btnApprove">Approve</button>
        <button type="button" class="btn red" id="btnReject">Reject</button>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DocumentFileTransferInitial').contents().wrap('<div class="grid-scroll-container"></div>');
    });
</script>
