﻿<style>
    .chat-body {
        /*position: absolute;*/
        border-bottom: 1px solid #eee;
        width: 100%;
        padding: 10px 0;
        top: 40px;
        bottom: 50px;
        background: white;
        float: left;
        height:670px;
        overflow-y: scroll;
    }

        .chat-body ul {
            list-style: none;
            margin: 0;
            padding: 0;
            float: left;
            width: 100%;
        }

            .chat-body ul li {
                float: left;
                width: 100%;
            }

        .chat-body .chat-message {
            margin: 10px;
            min-width: 200px;
        }

            .chat-body .chat-message .message-avatar {
                width: 40px;
                height: 40px;
                float: left;
                margin-right: 10px;
                border-radius: 21px;
            }

            .chat-body .chat-message .message-content {
                background: #f5f5f5;
                padding: 3px 8px;
                border: 1px solid #eee;
                border-radius: 2px;
                color: #777;
                display: table-cell;
                min-width: 220px;
                max-width: 500px;
            }

                .chat-body .chat-message .message-content span {
                    color: #777;
                }

                .chat-body .chat-message .message-content .author {
                    color: #1a6baa;
                    font-size: 12px;
                    font-weight: bold;
                }

                .chat-body .chat-message .message-content .content {
                    display: block;
                    padding: 2px 0;
                }

                .chat-body .chat-message .message-content .timestamp {
                    font-size: 10px;
                    color: #999;
                    float: right;
                    line-height: 21px;
                }

        .chat-body .ismine .left-side {
            float: right;
            margin-right: 0;
            margin-left: 10px;
        }

        .chat-body .ismine .message-content {
            float: right;
            background: #8abde6;
        }

            .chat-body .ismine .message-content .author,
            .chat-body .ismine .message-content .timestamp,
            .chat-body .ismine .message-content .timestamp span,
            .chat-body .ismine .message-content .content {
                color: white;
            }

            .chat-body .ismine .message-content span.timestamp {
                float: left;
            }

            .chat-body .ismine .message-content span.author {
                float: right;
                padding-top: 2px;
            }

            .chat-body .ismine .message-content span.content {
                clear: left;
            }

    .chat-input {
        width: 100%;
        height: 50px;
        padding: 0;
        margin: 0;
        line-height: 50px;
        bottom: 0;
    }

        .chat-input .glyphicon {
            position: absolute;
            right: 20px;
            line-height: 48px;
            color: #aaa;
            font-size: 18px;
        }

        .chat-input .emoticon-container {
            width: 145px;
            background: white;
            height: 60px;
            border: 1px solid #ccc;
            position: absolute;
            right: 54px;
            bottom: 32px;
            padding: 5px 7px;
            line-height: 20px;
        }

            .chat-input .emoticon-container a {
                float: left;
                height: 24px;
                margin-left: 4px;
            }

        .chat-input .actions {
            position: absolute;
            right: 45px;
        }

            .chat-input .actions img {
                margin: 0 2px;
            }

        .chat-input input {
            float: left;
            width: 100%;
            height: 50px;
            border: none;
            text-indent: 10px;
            background: #f2f2f2;
        }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Invoice Detail</h4>
</div>
<div class="row" style="margin-left:0px; margin-right: 10px">
    <div class="col-md-4 ">
        <div class="portlet light bordered" style="margin-top: 10px">
            <div class="portlet-body form">
                <form role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Invoice No</label><br />
                            <input type="text" id="invoiceNo" class="form-control" style="text-align: right" readonly value="" />
                            <input type="hidden" id="business_unit_id" value="" />
                            <input type="hidden" id="transaction_type_id" value="" />
                        </div>
                        <div class="form-group">
                            <label>Transaction Type</label>
                            <input type="text" TextMode="Multiline" id="transactionType" class="form-control" style="text-align: right" readonly value="" />

                        </div>
                        <div class="form-group">
                            <label>Dasar Pengenaan Pajak (DPP)</label>
                            <input type="text" id="dpp" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>Tax</label>
                            <input type="text" id="tax" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>Total Amount</label>
                            <input type="text" id="totalAmount" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>PPH 22 No.</label>
                            <input type="text" id="pphNo" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>PPH 22 Amount</label>
                            <input type="text" id="pphAmount" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>Dormitory</label>
                            <input type="text" id="dormitory" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>VAT Dormitory</label>
                            <input type="text" id="vat_dormitory" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                        <div class="form-group">
                            <label>Exc. Rate</label>
                            <input type="text" id="excRate" class="form-control" style="text-align: right" readonly value="" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @*<div class="chat-header ">
            <h5 id="joinedRoom">Lobby</h5>
            <button data-toggle="modal" data-target="#remove-room-modal" class="btnDeleteRoom glyphicon glyphicon-remove"></button>
        </div>*@
        <div class="chat-body better-scrollbar portlet light bordered" style="margin-top: 10px; background-color: #f2f6f9">
            <ul data-bind="foreach: chatMessages">
                <li style="list-style: none; padding: 0">
                    <div class="chat-message" data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                        <div class="left-side"> 
                            <img src="~/Content/img/avatar.png" width="40" height="40" class="message-avatar" @*data-bind="attr: { src: $data.avatar }"*@ />
                        </div>
                        <div class="message-content">
                            <span class="author" data-bind="text:$data.from"></span>
                            <span class="timestamp">
                                <i class="glyphicon glyphicon-time"></i>
                                <span data-bind="text:$data.timestamp"></span>
                            </span>
                            <span class="content" data-bind="html:$data.content"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-input">
            <input class="form-control" id="chat-message" type="text" value="" data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnterOk }" placeholder="Type a message..." />
        </div>

    </div>
</div>

@*<div class="alert alert-dismissible alert-warning hidden" id="errorAlert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p data-bind="text:serverInfoMessage"></p>
</div>*@
