.tse-scrollable{
	position:relative;
	width:200px;
	height:300px;
	overflow:hidden
}

.tse-scrollable .tse-scroll-content{
	overflow:hidden;
	overflow-y:scroll
}

.tse-scrollable .tse-scroll-content::-webkit-scrollbar{
	width:0;
	height:0
}

.tse-scrollbar{
	position:absolute;
	top:0;
	right:0;
	height:100%;
	width:11px
}

.tse-scrollbar .drag-handle{
	position:absolute;
	right:2px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	min-height:10px;
	width:7px;
	opacity:0;
	-webkit-transition:opacity 0.2s linear;
	-moz-transition:opacity 0.2s linear;
	-o-transition:opacity 0.2s linear;
	-ms-transition:opacity 0.2s linear;
	transition:opacity 0.2s linear;
	background:#6c6e71;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding
}

.tse-scrollbar:hover .drag-handle{
	opacity:0.7;
	-webkit-transition:opacity 0 linear;
	-moz-transition:opacity 0 linear;
	-o-transition:opacity 0 linear;
	-ms-transition:opacity 0 linear;
	transition:opacity 0 linear
}

.tse-scrollbar .drag-handle.visible{
	opacity:0.7
}

.scrollbar-width-tester::-webkit-scrollbar{
	width:0;
	height:0
}

.tse-scrollable.horizontal .tse-scroll-content{
	overflow-x:scroll;
	overflow-y:hidden
}

.tse-scrollable.horizontal .tse-scroll-content::-webkit-scrollbar,
.tse-scrollable.horizontal .tse-scroll-content::scrollbar{
	width:auto;
	height:0
}

.tse-scrollable.horizontal .tse-scrollbar{
	top:auto;
	left:0;
	width:auto;
	height:11px
}

.tse-scrollable.horizontal .tse-scrollbar .drag-handle{
	right:auto;
	top:2px;
	height:7px;
	min-height:0;
	min-width:10px;
	width:auto
}

.rainbow{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

.rainbowize{
	position:absolute;
	height:100%;
	top:0;
	left:0
}

.rainbowize-color{
	position:absolute;
	top:0;
	left:0;
	height:200%;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	transform-origin:50% 50%
}

.tpd-tooltip{
	position:absolute
}

.tpd-tooltip,
.tpd-tooltip [class^="tpd-"]{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}

.tpd-content-wrapper{
	position:absolute;
	top:0;
	left:0;
	float:left;
	width:100%;
	height:100%;
	overflow:hidden
}

.tpd-content-spacer,.tpd-content-relative,.tpd-content-relative-padder{
	float:left;
	position:relative
}

.tpd-content-relative{
	width:100%
}

.tpd-content{
	float:left;
	clear:both;
	position:relative;
	padding:10px;
	font-size:11px;
	line-height:16px;
	color:#fff
}

.tpd-has-inner-close .tpd-content-relative .tpd-content{
	padding-right:0 !important
}

.tpd-tooltip .tpd-content-no-padding{
	padding:0
!important
}

.tpd-title-wrapper{
	float:left;
	position:relative;
	overflow:hidden
}

.tpd-title-spacer{
	float:left
}

.tpd-title-relative,.tpd-title-relative-padder{
	float:left;
	position:relative
}

.tpd-title-relative{
	width:100%
}

.tpd-title{
	float:left;
	position:relative;
	font-size:11px;
	line-height:16px;
	padding:10px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff
}

.tpd-has-title-close .tpd-title{
	padding-right:0 !important
}

.tpd-close{
	position:absolute;
	top:0;
	right:0;
	width:28px;
	height:28px;
	cursor:pointer;
	overflow:hidden;
	color:#fff
}

.tpd-close-icon{
	float:left;
	font-family:Arial,Baskerville,monospace;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	width:28px;
	height:28px;
	font-size:28px;
	line-height:28px;
	text-align:center
}

.tpd-skin{
	position:absolute;
	top:0;
	left:0
}

.tpd-frames{
	position:absolute;
	top:0;
	left:0
}

.tpd-frames .tpd-frame{
	float:left;
	width:100%;
	height:100%;
	clear:both
}

.tpd-backgrounds{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transform-origin:0% 0%;
	transform-origin:0% 0%
}

.tpd-background-shadow{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:transparent;
	pointer-events:none
}

.tpd-no-shadow .tpd-skin .tpd-background-shadow{
	box-shadow:none !important
}

.tpd-background-box{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	overflow:hidden
}

.tpd-background-box-shift,.tpd-background-box-shift-further{
	position:relative;
	float:left;
	width:100%;
	height:100%
}

.tpd-background{
	border-radius:10px;
	float:left;
	clear:both;
	background:none;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border-style:solid;
	border-width:1px;
	border-color:#282828;
	border-color:rgba(255,255,255,.1)
}

.tpd-no-radius .tpd-skin .tpd-frames .tpd-frame .tpd-backgrounds .tpd-background{
	border-radius:0
}

.tpd-background-title{
	float:left;
	clear:both;
	width:100%;
	background-color:#282828
}

.tpd-background-content{
	float:left;
	clear:both;
	width:100%;
	background-color:#282828
}

.tpd-background-border-hack{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-style:solid
}

.tpd-background-box-top{
	top:0
}

.tpd-background-box-bottom{
	bottom:0
}

.tpd-background-box-left{
	left:0
}

.tpd-background-box-right{
	right:0
}

.tpd-iframeshim{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	zoom:1;
	filter:alpha(opacity=0);
	opacity:0
}

.tpd-shift-stem{
	position:absolute;
	top:0;
	left:0;
	overflow:hidden
}

.tpd-shift-stem-side{
	position:absolute
}

.tpd-frame-top .tpd-shift-stem-side,
.tpd-frame-bottom .tpd-shift-stem-side{
	width:100%
}

.tpd-frame-left .tpd-shift-stem-side,
.tpd-frame-right .tpd-shift-stem-side{
	height:100%
}

.tpd-stem{
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	width:16px;
	height:8px;
	margin-left:3px;
	margin-top:3px;
	-webkit-transform-origin:0% 0%;
	transform-origin:0% 0%
}

.tpd-tooltip .tpd-skin .tpd-frames .tpd-frame .tpd-shift-stem .tpd-stem-reset{
	margin:0
!important
}

.tpd-stem-spacer{
	float:left;
	position:relative;
	width:100%;
	height:100%
}

.tpd-stem-reset .tpd-stem-spacer{
	margin-top:0
}

.tpd-stem-point{
	width:100px;
	position:absolute;
	top:0;
	left:50%
}

.tpd-stem-downscale,.tpd-stem-transform{
	float:left;
	width:100%;
	height:100%;
	-webkit-transform-origin:0% 0%;
	transform-origin:0% 0%;
	position:relative
}

.tpd-stem-side{
	width:50%;
	height:100%;
	float:left;
	position:relative;
	overflow:hidden
}

.tpd-stem-side-inversed{
	-webkit-transform:scale(-1,1);
	transform:scale(-1,1)
}

.tpd-stem-triangle{
	width:0;
	height:0;
	border-bottom-style:solid;
	border-left-color:transparent;
	border-left-style:solid;
	position:absolute;
	top:0;
	left:0
}

.tpd-stem-border{
	width:20px;
	height:100%;
	position:absolute;
	top:0;
	left:50%;
	background-color:#fff;
	border-right-color:#fff;
	border-right-style:solid;
	border-right-width:0
}

.tpd-stem-border-corner{
	position:absolute;
	top:0;
	left:50%;
	height:100%;
	border-right-style:solid;
	border-right-width:0
}

.tpd-stem
*{
	z-index:0;
	zoom:1
}

.tpd-stem-border-center-offset,.tpd-stem-border-center-offset-inverse{
	float:left;
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden
}

.tpd-stem-notransform{
	float:left;
	width:100%;
	height:100%;
	position:relative
}

.tpd-stem-notransform .tpd-stem-border{
	height:100%;
	position:relative;
	float:left;
	top:0;
	left:0;
	margin:0
}

.tpd-stem-notransform .tpd-stem-border-center{
	position:absolute
}

.tpd-stem-notransform .tpd-stem-border-corner{
	background:#fff;
	border:0;
	top:auto;
	left:auto
}

.tpd-stem-notransform .tpd-stem-border-center,
.tpd-stem-notransform .tpd-stem-triangle{
	height:0;
	border:0;
	left:50%
}

.tpd-stem-transform-left{
	-webkit-transform:rotate(-90deg) scale(-1,1);
	transform:rotate(-90deg) scale(-1,1)
}

.tpd-stem-transform-right{
	-webkit-transform:rotate(90deg) translate(0, -100%);
	transform:rotate(90deg) translate(0,-100%)
}

.tpd-stem-transform-bottom{
	-webkit-transform:scale(1,-1) translate(0, -100%);
	transform:scale(1,-1) translate(0,-100%)
}

.tpd-loading-icon{
	position:absolute;
	width:42px;
	height:42px;
	display:none
}

.tpd-loading-line{
	z-index:12;
	height:3px;
	width:2px;
	margin-bottom:5px
}

.tpd-spinner{
	margin-left:50%;
	margin-top:50%
}

.tpd-is-loading .tpd-loading-icon{
	display:block
}

.tpd-is-loading .tpd-content-wrapper,
.tpd-is-loading .tpd-title-wrapper{
	display:none
}

@-moz-keyframes tpd-spin{
	100%{
		-moz-transform:rotate(360deg)
	}

}

@-webkit-keyframes tpd-spin{
	100%{
		-webkit-transform:rotate(360deg)
	}

}

@keyframes tpd-spin{
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}

}

.tpd-spin{
	position:absolute;
	top:50%;
	left:50%
}

.tpd-spin-rotate,.tpd-spin-frame{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

.tpd-spin-line{
	position:absolute;
	top:0;
	left:50%
}

.tpd-tooltip-measuring{
	top:0;
	left:0;
	position:absolute;
	max-width:100%;
	width:100%
}

.tpd-tooltip-measuring .tpd-skin,
.tpd-tooltip-measuring .tpd-loading-icon{
	display:none
}

.tpd-tooltip a,
.tpd-tooltip a:hover{
	color:#8e8e8e;
	text-decoration:none
}

.tpd-tooltip a:hover{
	text-decoration:underline
}

.tpd-size-x-small .tpd-content,
.tpd-size-x-small .tpd-title{
	padding:7px
8px;
	font-size:10px;
	line-height:15px
}

.tpd-size-x-small .tpd-background{
	border-radius:5px
}

.tpd-size-x-small .tpd-stem{
	width:12px;
	height:6px;
	margin-left:4px;
	margin-top:2px
}

.tpd-size-x-small.tpd-no-radius .tpd-stem{
	margin-left:7px
}

.tpd-size-x-small .tpd-loading-icon{
	width:32px;
	height:32px
}

.tpd-size-x-small .tpd-loading-line{
	z-index:12;
	margin-bottom:4px;
	height:3px;
	width:2px
}

.tpd-size-x-small .tpd-close{
	margin-bottom:1px
}

.tpd-size-small .tpd-content,
.tpd-size-small .tpd-title{
	padding:8px;
	font-size:10px;
	line-height:16px
}

.tpd-size-small .tpd-background{
	border-radius:6px
}

.tpd-size-small .tpd-stem{
	width:14px;
	height:7px;
	margin-left:5px;
	margin-top:2px
}

.tpd-size-small.tpd-no-radius .tpd-stem{
	margin-left:8px
}

.tpd-size-small .tpd-loading-icon{
	width:34px;
	height:34px
}

.tpd-size-small .tpd-loading-line{
	z-index:12;
	margin-bottom:4px;
	height:3px;
	width:2px
}

.tpd-size-small .tpd-close{
	margin:2px
1px
}

.tpd-size-medium .tpd-content,
.tpd-size-medium .tpd-title{
	padding:10px;
	font-size:11px;
	line-height:16px
}

.tpd-size-medium .tpd-background{
	border-radius:8px
}

.tpd-size-medium .tpd-stem{
	width:16px;
	height:8px;
	margin-left:6px;
	margin-top:2px
}

.tpd-size-medium.tpd-no-radius .tpd-stem{
	margin-left:10px
}

.tpd-size-medium .tpd-loading-icon{
	width:42px;
	height:42px
}

.tpd-size-medium .tpd-loading-line{
	z-index:12;
	margin-bottom:5px;
	height:4px;
	width:2px
}

.tpd-size-medium .tpd-close{
	margin:4px
2px
}

.tpd-size-large .tpd-content,
.tpd-size-large .tpd-title{
	padding:10px;
	font-size:13px;
	line-height:18px
}

.tpd-size-large .tpd-background{
	border-radius:8px
}

.tpd-size-large .tpd-stem{
	width:18px;
	height:9px;
	margin-left:7px;
	margin-top:2px
}

.tpd-size-large.tpd-no-radius .tpd-stem{
	margin-left:10px
}

.tpd-size-large .tpd-loading-icon{
	width:50px;
	height:50px
}

.tpd-size-large .tpd-loading-line{
	z-index:12;
	margin-bottom:5px;
	height:5px;
	width:2px
}

.tpd-size-large .tpd-close{
	margin:5px
2px 5px 2px
}

.tpd-skin-dark .tpd-content,
.tpd-skin-dark .tpd-title,
.tpd-skin-dark .tpd-close{
	color:#fff
}

.tpd-skin-dark .tpd-background-content,
.tpd-skin-dark .tpd-background-title{
	background-color:#282828
}

.tpd-skin-dark .tpd-background{
	border-width:1px;
	border-color:#282828;
	border-color:rgba(255,255,255,.1)
}

.tpd-skin-dark .tpd-title-wrapper{
	border-bottom:1px solid #404040
}

.tpd-skin-dark a,
.tpd-skin-dark a:hover{
	color:#ccc
}

.tpd-skin-light .tpd-content,
.tpd-skin-light .tpd-title,
.tpd-skin-light .tpd-close{
	color:#333
}

.tpd-skin-light .tpd-background-content{
	background-color:#fff
}

.tpd-skin-light .tpd-background{
	border-width:1px;
	border-color:#838383;
	border-color:rgba(0,0,0,.3)
}

.tpd-skin-light .tpd-background-title{
	background-color:#f7f7f7
}

.tpd-skin-light .tpd-title-wrapper{
	border-bottom:1px solid #c0c0c0
}

.tpd-skin-light .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}

.tpd-skin-light.tpd-no-shadow .tpd-background{
	border-color:#acacac;
	border-color:rgba(100,100,100,.3)
}

.tpd-skin-gray .tpd-content,
.tpd-skin-gray .tpd-title,
.tpd-skin-gray .tpd-close{
	color:#fff
}

.tpd-skin-gray .tpd-background-content,
.tpd-skin-gray .tpd-background-title{
	background-color:#727272
}

.tpd-skin-gray .tpd-background{
	border-width:1px;
	border-color:#727272;
	border-color:rgba(255,255,255,.1)
}

.tpd-skin-gray .tpd-title-wrapper{
	border-bottom:1px solid #505050
}

.tpd-skin-gray a,
.tpd-skin-gray a:hover{
	color:#ccc
}

.tpd-skin-red .tpd-content,
.tpd-skin-red .tpd-title,
.tpd-skin-red .tpd-close{
	color:#fff
}

.tpd-skin-red .tpd-background-content{
	background-color:#e13c37
}

.tpd-skin-red .tpd-background{
	border-width:1px;
	border-color:#a30500;
	border-color:rgba(12,0,0,.6)
}

.tpd-skin-red .tpd-background-title{
	background-color:#e13c37
}

.tpd-skin-red .tpd-title-wrapper{
	border-bottom:1px solid #a30500
}

.tpd-skin-red .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}

.tpd-skin-red a,
.tpd-skin-red a:hover{
	color:#ccc
}

.tpd-skin-green .tpd-content,
.tpd-skin-green .tpd-title,
.tpd-skin-green .tpd-close{
	color:#fff
}

.tpd-skin-green .tpd-background-content{
	background-color:#4aab3a
}

.tpd-skin-green .tpd-background{
	border-width:1px;
	border-color:#127c00;
	border-color:rgba(0,12,0,.6)
}

.tpd-skin-green .tpd-background-title{
	background-color:#4aab3a
}

.tpd-skin-green .tpd-title-wrapper{
	border-bottom:1px solid #127c00
}

.tpd-skin-green .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}

.tpd-skin-green a,
.tpd-skin-green a:hover{
	color:#ccc
}

.tpd-skin-blue .tpd-content,
.tpd-skin-blue .tpd-title,
.tpd-skin-blue .tpd-close{
	color:#fff
}

.tpd-skin-blue .tpd-background-content{
	background-color:#45a3e3
}

.tpd-skin-blue .tpd-background{
	border-width:1px;
	border-color:#1674b4;
	border-color:rgba(0,0,12,.6)
}

.tpd-skin-blue .tpd-background-title{
	background-color:#45a3e3
}

.tpd-skin-blue .tpd-title-wrapper{
	border-bottom:1px solid #1674b4
}

.tpd-skin-blue .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}

.tpd-skin-blue a,
.tpd-skin-blue a:hover{
	color:#ccc
}

.tpd-skin-lightyellow .tpd-content,
.tpd-skin-lightyellow .tpd-title,
.tpd-skin-lightyellow .tpd-close{
	color:#333
}

.tpd-skin-lightyellow .tpd-background-content{
	background-color:#ffffa9
}

.tpd-skin-lightyellow .tpd-background{
	border-width:1px;
	border-color:#9d9c8c;
	border-color:rgba(8,8,0,.35)
}

.tpd-skin-lightyellow .tpd-background-title{
	background-color:#ffffa9
}

.tpd-skin-lightyellow .tpd-title-wrapper{
	border-bottom:1px solid #a7a697
}

.tpd-skin-lightyellow .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}

.tpd-skin-lightblue .tpd-content,
.tpd-skin-lightblue .tpd-title,
.tpd-skin-lightblue .tpd-close{
	color:#333
}

.tpd-skin-lightblue .tpd-background-content{
	background-color:#bce5ff
}

.tpd-skin-lightblue .tpd-background{
	border-width:1px;
	border-color:#7c868a;
	border-color:rgba(0,0,8,.35)
}

.tpd-skin-lightblue .tpd-background-title{
	background-color:#bce5ff
}

.tpd-skin-lightblue .tpd-title-wrapper{
	border-bottom:1px solid #909b9f
}

.tpd-skin-lightblue .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}

.tpd-skin-lightpink .tpd-content,
.tpd-skin-lightpink .tpd-title,
.tpd-skin-lightpink .tpd-close{
	color:#333
}

.tpd-skin-lightpink .tpd-background-content{
	background-color:#ffc4bf
}

.tpd-skin-lightpink .tpd-background{
	border-width:1px;
	border-color:#8d817c;
	border-color:rgba(8,0,0,.35)
}

.tpd-skin-lightpink .tpd-background-title{
	background-color:#ffc4bf
}

.tpd-skin-lightpink .tpd-title-wrapper{
	border-bottom:1px solid #a08f8f
}

.tpd-skin-lightpink .tpd-background-shadow{
	box-shadow:0 0 8px rgba(0,0,0,.15)
}
